<template>
    <div>
        <div class="widthraws-create">

            <div class="a-content__title">
                <div class="flex-title">
                    <div class="wrap-top__title">
                        <span>Заявка </span>
                        <span class="title-num a-all__text--pink">№9379992</span>
                    </div>
                    <div class="top-title__status">
                        <span class="a-all__text--weight">Статус:</span>
                        <span>На расмотрении</span>
                    </div>
                </div>
                <div class="wrap-top__btn">
                    <div class="a-btn a-btn__black">
                        Анулировать
                    </div>
                    <div class="a-btn a-btn__green">
                        Одобрить
                    </div>
                </div>
            </div>
            <div class="a-table__wrap--scroll">
                <div class="a-table a-table__wc">
                    <div class="a-table__header">
                        <span class="a-table__title--header">
                            Информация позаявке
                        </span>
                    </div>
                    <div class="a-table__body">
                        <div class="a-table__row">
                            <div class="a-table__col">
                                <span>Ф.И.О агента:</span>
                            </div>
                            <div class="a-table__col">
                                <span>Иванов Иван Иванович</span>
                            </div>
                        </div>
                        <div class="a-table__row">
                            <div class="a-table__col">
                                <span>Дата/время заявки:</span>
                            </div>
                            <div class="a-table__col">
                                <span>19.10.2018, 00:10:00</span>
                            </div>
                        </div>
                        <div class="a-table__row">
                            <div class="a-table__col">
                                <span>Баланс агента:</span>
                            </div>
                            <div class="a-table__col">
                                <span class="a-all__text--dark">5 000р.</span>
                            </div>
                        </div>
                        <div class="a-table__row">
                            <div class="a-table__col">
                                <span>Запрашиваемая сумма:</span>
                            </div>
                            <div class="a-table__col">
                                <span class="a-all__text--pink">-5 000р.</span>
                            </div>
                        </div>
                        <div class="a-table__row">
                            <div class="a-table__col">
                                <span>Способ вывода:</span>
                            </div>
                            <div class="a-table__col">
                                <span>ЯД № 59075122215462</span>
                            </div>
                        </div>
                        <div class="a-table__row">
                            <div class="a-table__col">
                                <span>Статус :</span>
                            </div>
                            <div class="a-table__col">
                                <span>
                                    <span class="a-all__text--green">
                                        одобрена
                                    </span>
                                    <span>(19.10.2018, 00:10:00)</span>
                                </span>
                            </div>
                        </div>
                        <div class="a-table__row">
                            <div class="a-table__col">
                                <span>Примечание:</span>
                            </div>
                            <div class="a-table__col">
                                <span class="more-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                    culpa qui officia deserunt mollit anim id est laborum. Sed ut
                                    perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                    inventore veritatis et quasi architecto beatae vitae dicta sunt
                                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                                    aut odit aut fugit, sed quia consequuntur magni dolores eos qui
                                    ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                                    dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                                    sed quia non numquam eius modi tempora incidunt ut labore et
                                    dolore magnam aliquam quaerat voluptatem.</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "widthraws-create"
    }

</script>

