<template>
    <div>
        <div class="widthraws-create">

            <div class="a-content__title">
                <div class="flex-title">
                    <div class="wrap-top__title">
                        <span>Заявка </span>
                        <span class="title-num a-all__text--pink">№{{ withdraw.id }}</span>
                    </div>
                    <div class="top-title__status">
                        <span class="a-all__text--weight">Статус:</span>
                        <span>{{ getWithdrawStatus() }}</span>
                    </div>
                </div>
                <div class="wrap-top__btn">
                    <div
                        class="a-btn a-btn__black"
                        v-on:click="onChangeStatus('canceled')"
                    >
                        Анулировать
                    </div>
                    <div
                        class="a-btn a-btn__green"
                        v-on:click="onChangeStatus('approved')"
                    >
                        Одобрить
                    </div>
                </div>
            </div>
            <div class="a-table__wrap--scroll">
                <div class="a-table a-table__wc">
                    <div class="a-table__header">
                        <span class="a-table__title--header">
                            Информация позаявке
                        </span>
                    </div>
                    <div class="a-table__body">
                        <div class="a-table__row">
                            <div class="a-table__col">
                                <span>Ф.И.О агента:</span>
                            </div>
                            <div class="a-table__col">
                                <span>{{ withdraw.user_name }} {{ withdraw.user_last_name }}</span>
                            </div>
                        </div>
                        <div class="a-table__row">
                            <div class="a-table__col">
                                <span>Дата/время заявки:</span>
                            </div>
                            <div class="a-table__col">
                                <span>{{ withdraw.date }}</span>
                            </div>
                        </div>
                        <div class="a-table__row">
                            <div class="a-table__col">
                                <span>Баланс агента:</span>
                            </div>
                            <div class="a-table__col">
                                <span class="a-all__text--dark">{{ withdraw.balance }}р.</span>
                            </div>
                        </div>
                        <div class="a-table__row">
                            <div class="a-table__col">
                                <span>Запрашиваемая сумма:</span>
                            </div>
                            <div class="a-table__col">
                                <span class="a-all__text--pink">{{ withdraw.amount > 0 ? '-' + withdraw.amount : withdraw.amount }}р.</span>
                            </div>
                        </div>
                        <div class="a-table__row">
                            <div class="a-table__col">
                                <span>Способ вывода:</span>
                            </div>
                            <div class="a-table__col">
                                <span>{{ getPaymentMethod(withdraw.type) }} № {{ withdraw.card_number }}</span>
                            </div>
                        </div>
                        <div class="a-table__row">
                            <div class="a-table__col">
                                <span>Статус :</span>
                            </div>
                            <div class="a-table__col">
                                <span>
                                    <span class="a-all__text--green" v-text="getWithdrawStatus()"></span>
                                    <span>({{ withdraw.updated }})</span>
                                </span>
                            </div>
                        </div>
                        <!-- <div class="a-table__row">
                            <div class="a-table__col">
                                <span>Примечание:</span>
                            </div>
                            <div class="a-table__col">
                                <span class="more-text">{{ withdraw.text }}</span>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import Vue from 'vue';

    export default {
        name: "widthraws-create",
        data: function () {
            return {
                withdraw: {},

                changeStatusUrl: null,

                filter: {
                    agents: [],
                    transaction_id: null,
                    from: null,
                    to: null,
                    payment_method: null,
                    statuses: [],
                },
            }
        },
        methods: {
            onChangeStatus: function(status) {
                axios.post(this.changeStatusUrl, {
                    status: status,
                    id: this.withdraw.id,
                }).then(response => {
                    this.withdraw = response.data.withdraw;
                });
            },
            getPaymentMethod: function(method) {
                if (this.paymentMethods == null) {
                    return '';
                }

                for (var index = 0; index <= (this.paymentMethods.length - 1); index ++) {
                    if (this.paymentMethods[index]['code'] == method) {
                        return this.paymentMethods[index]['name'];
                    }
                }

                return '';
            },
            getWithdrawStatus: function() {
                if (this.statuses == null) {
                    return '';
                }

                for (var index = 0; index <= (this.statuses.length - 1); index ++) {
                    if (this.statuses[index]['code'] == this.withdraw.status) {
                        return this.statuses[index]['name'];
                    }
                }

                return '';
            },
            filtered(page = 1) {
                Vue.http.headers.common['X-CSRF-TOKEN'] = document.querySelector('[name="csrf-token"]').getAttribute('content');

                var getDataUrl = document.querySelector('#withdraw-edit-route').getAttribute('data-withdraw-edit-route');

                axios.post(getDataUrl, this.filter).then(response => {
                    this.loadData(response);
                });
            },
            loadData: function (response) {
                this.withdraw = response.data.withdraw;
                this.agents = response.data.agents;
                this.paymentMethods = response.data.paymentMethods;
                this.statuses = response.data.statuses;

                this.changeStatusUrl = response.data.changeStatusUrl;
            },
        },
        created: function () {
            this.filtered();
        }
    }

</script>
