<template>
    <div>
        <div class="a-table__wrap">
            <div class="a-table__wrap--scroll">
                <div class="a-table a-table__filter a-table__filter--widthraws">
                    <div
                            class="a-table__header table-header__js"
                            v-bind:class="{'body-collaps' : collapsed }"
                            v-on:click=" collapsed = !collapsed"
                    >
                        <span class="a-table__title--header">Фильтр</span>
                        <i class="fas fa-caret-down"></i>
                    </div>
                    <div
                            class="a-table__body a-table__body--filter table-body__js"
                            v-bind:class="{'is-collapsed' : collapsed }"
                    >
                        <div class="a-table__wrap--container">
                            <div class="flex-row">
                                <div class="a-table__field">
                                    <div class="a-field__label">ID транзакции</div>
                                    <input
                                            v-model="filter.transaction_id"
                                            placeholder="Начните вводить ID"
                                            type="text"
                                            class="a-input w-286"
                                    >
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">Ф.И.О агента</div>
                                    <div class="w-246">
                                        <multiselect
                                                :multiple="true"
                                                :taggable="true"
                                                v-model="filter.agents"
                                                placeholder="Все"
                                                label="name"
                                                track-by="name"
                                                :clear-on-select="false"
                                                :options="agents"
                                                :close-on-select="false"
                                                tag-placeholder
                                                :searchable="false"
                                                deselectLabel=""
                                                selectLabel=""
                                                selectedLabel=""
                                        >
                                        </multiselect>
                                    </div>
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">Период</div>
                                    <div class="wrap-flatpickr">
                                        <flat-pickr
                                                class="a-input a-select__date w-126 datepickerVue"
                                                data-max-date="today"
                                                :config="configPicker"
                                                v-model="filter.from"
                                                placeholder="В-те дату"
                                        ></flat-pickr>
                                        <i class="fas flat-down fa-caret-down"></i>
                                    </div>
                                </div>
                                <div class="a-table__field">
                                    <div class="wrap-flatpickr wrap-flatpickr__last">
                                        <flat-pickr
                                                class="a-input a-select__date w-126 a-select__date--last datepickerVue"
                                                data-max-date="today"
                                                :config="configPicker"
                                                v-model="filter.to"
                                                placeholder="В-те дату"
                                        ></flat-pickr>
                                        <i class="fas flat-down fa-caret-down"></i>
                                    </div>
                                </div>

                                <div class="a-table__field">
                                    <div class="wrap-flatpickr">
                                        <div class="a-field__label">Баланс агента</div>
                                        <input
                                                v-model="filter.balance_agent_from"
                                                placeholder="5 000р."
                                                type="text"
                                                class="a-input w-126"
                                        >
                                    </div>
                                </div>
                                <div class="a-table__field">
                                    <div class="wrap-flatpickr wrap-flatpickr__last">
                                        <input
                                                v-model="filter.balance_agent_to"
                                                placeholder="5 000р."
                                                type="text"
                                                class="a-input w-126"
                                        >
                                    </div>
                                </div>

                                <div class="a-table__field">
                                    <div class="wrap-flatpickr">
                                        <div class="a-field__label">Запрашиваемая сумма</div>
                                        <input
                                                v-model="filter.get_summ_from"
                                                placeholder="5 000р."
                                                type="text"
                                                class="a-input w-126"
                                        >
                                    </div>
                                </div>
                                <div class="a-table__field">
                                    <div class="wrap-flatpickr wrap-flatpickr__last">
                                        <input
                                                v-model="filter.get_summ_to"
                                                placeholder="5 000р."
                                                type="text"
                                                class="a-input w-126"
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="flex-row">
                                <div class="wrap-field">
                                    <div class="a-table__field">
                                        <div class="a-field__label">Способ вывода</div>
                                        <div class="w-286">
                                            <multiselect
                                                    :multiple="true"
                                                    :taggable="true"
                                                    v-model="filter.payment_method"
                                                    placeholder="Все"
                                                    label="name"
                                                    track-by="name"
                                                    deselectLabel=""
                                                    selectLabel=""
                                                    selectedLabel=""
                                                    :clear-on-select="false"
                                                    :options="paymentMethods"
                                                    :close-on-select="false"
                                                    tag-placeholder
                                                    :searchable="false"
                                            >
                                            </multiselect>
                                        </div>
                                    </div>
                                    <div class="a-table__field">
                                        <div class="a-field__label">Статус заявки</div>
                                        <div class="w-246">
                                            <multiselect
                                                    :multiple="true"
                                                    :taggable="true"
                                                    v-model="filter.statuses"
                                                    placeholder="Все"
                                                    label="name"
                                                    track-by="name"
                                                    :clear-on-select="false"
                                                    :options="statuses"
                                                    deselectLabel=""
                                                    selectLabel=""
                                                    selectedLabel=""
                                                    :close-on-select="false"
                                                    tag-placeholder
                                                    :searchable="false"
                                            >
                                            </multiselect>
                                        </div>
                                    </div>
                                </div>

                                <div class="wrap-field">
                                    <div class="a-table__field">
                                        <a class="a-btn a-btn__pink" v-on:click="filtered()">
                                            <i class="fas fa-check"></i>Применить
                                        </a>
                                    </div>
                                    <div class="a-table__field">
                                        <a class="a-btn a-btn__filter" @click="resetFilter()">
                                            <i class="far fa-trash-alt"></i>Сбросить фильтр
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="a-table__wrap" v-if="payments.length">
            <h2>Платежи</h2>
            <div class="a-table__wrap--scroll">
                <div class="a-table a-table__all a-table__widthraws">
                    <div class="a-table__header">
                        <div class="table-col table-col__1" style="min-width: 40px;">№</div>
                        <div class="table-col">Ф.И.О агента</div>
                        <div class="table-col">Дата/время заявки</div>
                        <div class="table-col">Сумма</div>
                        <div class="table-col">Статус</div>
                        <div class="table-col"></div>
                    </div>
                    <div class="a-table__body">
                        <div class="a-table__wrap--row" v-for="payment, key in payments">
                            <div class="a-table__row a-table__row--parent a-table__row--flex">
                                <div class="table-col table-col__1" style="min-width: 40px;">
                                    <span>{{ payment.id }}</span>
                                </div>
                                <div class="table-col">
                                    <span class="a-table__text--weight">{{ payment.policy.user.name }} {{ payment.policy.user.last_name }}</span>
                                </div>
                                <div class="table-col">
                                    <span class="a-table__text--grey">{{ payment.created_at }}</span>
                                </div>
                                <div class="table-col">
                                    <span>{{ payment.policy.premium }} p</span>
                                </div>
                                <div class="table-col">
                                    <div class="c-select printTypeDiv drop-icon">
                                        <sui-dropdown
                                                :class="{'a-select__actions': true, 'status-done': payment.status === 3,'status-progress':payment.status === 2,'status-new':payment.status === 1}"
                                                placeholder="Действия"
                                                selection
                                                :options="paymentStatuses"
                                                @click.prevent="changeStatus(payment)"
                                                v-model="payment.status"
                                        >
                                        </sui-dropdown>
                                    </div>
                                </div>
                                <div class="table-col">
                                    <sui-dropdown
                                            class="a-select__input w-170 a-select__do "
                                            placeholder="Действия"
                                            selection
                                    >
                                        <sui-dropdown-menu>
                                            <sui-dropdown-item>
                                                <a :href="payment.formUrl">Оплатить</a>
                                            </sui-dropdown-item>
                                        </sui-dropdown-menu>
                                    </sui-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="a-table__wrap">
            <h2>Выплаты</h2>
            <div class="wrap-pagination">
                <div class="sort-polices">
                    <span class="sort-polices__text">Показать</span>
                    <div class="wrap-input__sort">
                        <input class="number-sort c-input"  type="number" v-model="showPolices" v-on:keypress.enter.prevent="filtered()">
                        <div class="btn-add__count">
                            <i class="fas fa-caret-up" v-on:click="showPolices += 10"></i>
                            <i class="fas fa-caret-down" v-on:click="showPolices > 0 ? showPolices -= 10 : showPolices = 0"></i>
                        </div>
                    </div>

                    <span class="sort-polices__text">{{ currentItems }}</span> <span class="sort-polices__text">из</span> <span class="sort-polices__text">{{ totalItems }}</span>
                </div>
                <pagination
                        :data="withdraws"
                        :show-disabled="true"
                        :limit="1"
                        @pagination-change-page="getResults"
                >
                    <span slot="prev-nav"><i class="fas fa-caret-left"></i></span>
                    <span slot="next-nav"><i class="fas fa-caret-right"></i></span>
                </pagination>
            </div>
            <div class="a-table__wrap--scroll">
                <div class="a-table a-table__all a-table__widthraws">
                    <div class="a-table__header">
                        <div class="table-col table-col__1">
                            <span class="a-choice a-choice--checkbox a-choice--checkbox__table">
                                <input
                                        id="user_get_all"
                                        @click="selectAll"
                                        type="checkbox"
                                        class="input-tag a-choice__input a-choice__input--table">
                                <label for="user_get_all" class="opt a-choice__label"></label>
                            </span>
                        </div>
                        <div class="table-col table-col__1">№</div>
                        <div class="table-col">ID транзакции</div>
                        <div class="table-col">Ф.И.О агента</div>
                        <div class="table-col">Дата/время заявки</div>
                        <div class="table-col">Баланс агента</div>
                        <div class="table-col">Запрашиваемая
                            <br>сумма
                        </div>
                        <div class="table-col">Способ вывода</div>
                        <div class="table-col">Статус</div>
                        <div class="table-col">
                            <sui-dropdown
                                    class="a-select__input w-170 a-select__do a-select__do--custom"
                                    placeholder="Смена статуса"
                                    selection
                                    :options="singleStatuses"
                                    v-model="filter.singleStatus"
                                    v-if="selectedUsers.length > 0"
                            ></sui-dropdown>
                        </div>
                    </div>
                    <div class="a-table__body">
                        <div class="a-table__wrap--row a-table__wrap--other">
                            <div class="a-table__row a-table__row--parent a-table__row--flex a-table__row--other">
                                <div class="table-col table-col__1 table-col__other"></div>
                                <div class="table-col table-col__1 table-col__other"></div>
                                <div class="table-col table-col__other"></div>
                                <div class="table-col table-col__other"></div>
                                <div class="table-col table-col__other table-col__all">
                                    <span class="a-table__text--weight">Всего:</span>
                                </div>
                                <div class="table-col table-col__other">
                                    <span class="a-table__text--weight">10 000 000р.</span>
                                </div>
                                <div class="table-col table-col__other">
                                    <span class="a-table__text--pink">-5 000 000р.</span>
                                </div>
                                <div class="table-col table-col__other"></div>
                                <div class="table-col table-col__other"></div>
                                <div class="table-col table-col__other"></div>
                            </div>
                        </div>
                        <div class="a-table__wrap--row" v-for="withdraw, key in withdraws.data">
                            <div class="a-table__row a-table__row--parent a-table__row--flex">
                                <div class="table-col table-col__1">
                                    <span class="a-choice a-choice--checkbox">
                                        <input
                                            v-bind:id="withdraw.id"
                                            v-model="selectedUsers"
                                            :value="withdraw.id"
                                            @click="select"
                                            type="checkbox"
                                            class="input-tag a-choice__input">
                                        <label v-bind:for="withdraw.id" class="opt a-choice__label"></label>
                                  </span>
                                </div>
                                <div class="table-col table-col__1">
                                    <span class="a-table__text--weight">{{ key + 1 }}</span>
                                </div>
                                <div class="table-col">
                                    <span>{{ withdraw.id }}</span>
                                </div>
                                <div class="table-col">
                                    <span
                                            class="a-table__text--weight"
                                    >{{ withdraw.user.name }} {{ withdraw.user.last_name }}</span>
                                </div>
                                <div class="table-col">
                                    <span class="a-table__text--grey">{{ withdraw.created_at }}</span>
                                </div>
                                <div class="table-col">
                                    <span>{{ withdraw.current_balance }} p</span>
                                </div>
                                <div class="table-col">
                                    <!--if need other color-->
                                    <!--a-table__text--weight-->
                                    <!--a-table__text--green-->
                                    <span class="a-table__text--pink">{{ withdraw.amount }} p</span>
                                </div>
                                <div class="table-col">
                                    <span>{{ getPaymentMethod(withdraw.type) }}</span>
                                </div>
                                <div class="table-col">
                                    <!--if need other color-->
                                    <!--a-table__text--weight-->
                                    <!--a-table__text--green-->
                                    <!--a-table__text--pink-->
                                    <span
                                            v-bind:class="{ 'a-table__text--green' : withdraw.status == 'approved', 'a-table__text--pink' : withdraw.status == 'canceled', 'a-table__text--weight' : withdraw.status == 'in_progress' }"
                                    >{{ getWithdrawStatus(withdraw.status) }}</span>
                                </div>
                                <div class="table-col">
                                    <sui-dropdown
                                            class="a-select__input w-170 a-select__do "
                                            placeholder="Действия"
                                            selection
                                            :options="actions"
                                            v-model="filter.actions"
                                    >
                                        <sui-dropdown-menu>
                                            <sui-dropdown-item>
                                                <a :href="'/admin/withdraws/edit/'+withdraw.id">Редактировать</a>
                                            </sui-dropdown-item>
                                        </sui-dropdown-menu>
                                    </sui-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-pagination">
                <div class="sort-polices">
                    <span class="sort-polices__text">Показать</span>
                    <div class="wrap-input__sort">
                        <input class="number-sort c-input"  type="number" v-model="showPolices" v-on:keypress.enter.prevent="filtered()">
                        <div class="btn-add__count">
                            <i class="fas fa-caret-up" v-on:click="showPolices += 10"></i>
                            <i class="fas fa-caret-down" v-on:click="showPolices > 0 ? showPolices -= 10 : showPolices = 0"></i>
                        </div>
                    </div>

                    <span class="sort-polices__text">{{ currentItems }}</span> <span class="sort-polices__text">из</span> <span class="sort-polices__text">{{ totalItems }}</span>
                </div>
                <pagination
                        :data="withdraws"
                        :show-disabled="true"
                        :limit="1"
                        @pagination-change-page="getResults"
                >
                    <span slot="prev-nav"><i class="fas fa-caret-left"></i></span>
                    <span slot="next-nav"><i class="fas fa-caret-right"></i></span>
                </pagination>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from "vue";
    import flatPickr from "vue-flatpickr-component";
    import "flatpickr/dist/flatpickr.css";
    import Multiselect from "vue-multiselect";
    import pagination from "laravel-vue-pagination";

    export default {
        name: "widthraws",
        components: {
            flatPickr,
            Multiselect,
            pagination
        },
        props: {
            apiStatusUrl: {
                type: String,
                default: ''
            },
        },
        data: function () {
            return {
                totalItems: 0,
                currentItems: '',
                showPolices: 50,
                withdraws: {},
                payments: [],
                agents: [],
                paymentMethods: [],
                singleStatuses: [],
                statuses: [],
                paymentStatuses: [],
                selectedUsers: [],
                collapsed: false,
                allSelected: false,
                userIds: [],
                changeStatusUrl: null,
                configPicker: {
                    enableTime: true,
                    allowInput: true,
                    dateFormat: "Y-m-d H:i:s",
                    time_24hr: true,
                    enableSeconds: true
                },
                withdraws2: [
                    {
                        num: 1,
                        id: 1455451233,
                        name: "Иванов Иван Иванович",
                        date: "19.10.2018, 00:10:00",
                        balance: 5000,
                        needSumm: -5000,
                        widMethod: "ЯД (№5907512...)",
                        status: "на рассмотрении"
                    },
                    {
                        num: 2,
                        id: 165199233,
                        name: "Иванов Иван Иванович",
                        date: "19.12.3018, 02:10:12",
                        balance: 5000,
                        needSumm: -5000,
                        widMethod: "Карта",
                        status: "на рассмотрении"
                    }
                ],
                actions: [
                    {
                        key: 1,
                        text: "Редактировать",
                        value: "1"
                    }
                ],
                filter: {
                    agents: [],
                    transaction_id: null,
                    balance_agent_from: null,
                    balance_agent_to: null,
                    get_summ_from: null,
                    get_summ_to: null,
                    from: null,
                    to: null,
                    payment_method: null,
                    statuses: [],
                    singleStatus: null,
                    status: null,
                    withdraws: {},
                    is_many: true,
                }
            };
        },
        watch: {
            showPolices: function() {
                if(this.showPolices > 500) {
                    this.showPolices = 500;
                }
            }
        },
        methods: {
            changeStatus: function(item) {
                axios.post(this.apiStatusUrl+'/'+item.id, {status: item.status}).then(response => {
                    //this.collection = response.data;
                });
            },
            selectAll: function (e) {
                this.selectedUsers = [];

                if (e.target.checked === true) {
                    for (let withdraw of this.withdraws.data) {
                        this.selectedUsers.push(withdraw.id);
                    }
                }
            },
            select: function () {
                this.allSelected = false;
            },
            getPaymentMethod: function (method) {
                for (var index = 0; index <= this.paymentMethods.length - 1; index++) {
                    if (this.paymentMethods[index]["code"] == method) {
                        return this.paymentMethods[index]["name"];
                    }
                }

                return "";
            },
            getWithdrawStatus: function (statuse) {
                for (var index = 0; index <= this.statuses.length - 1; index++) {
                    if (this.statuses[index]["code"] == statuse) {
                        return this.statuses[index]["name"];
                    }
                }

                return "";
            },
            filtered(page = 1) {
                Vue.http.headers.common["X-CSRF-TOKEN"] = document
                    .querySelector('[name="csrf-token"]')
                    .getAttribute("content");

                var getDataUrl = document
                    .querySelector("#withdraw-load-route")
                    .getAttribute("data-withdraw-route");

                this.filter.perPage = this.showPolices;

                axios.post(getDataUrl + "?page=" + page, this.filter).then(response => {
                    this.loadData(response);
                });
            },
            loadData: function (response) {
                this.payments = response.data.payments;
                this.withdraws = response.data.withdraws;
                this.agents = response.data.agents;
                this.paymentMethods = response.data.paymentMethods;
                this.statuses = response.data.statuses;
                this.paymentStatuses = response.data.paymentStatuses;

                this.changeStatusUrl = response.data.changeStatusUrl;
                this.singleStatuses = response.data.singleStatuses;
                this.currentItems = response.data.currentItems;
                this.totalItems = response.data.totalItems;
            },
            getResults: function (page = 1) {
                this.filtered(page);
            },
            resetFilter: function () {
                this.filter = {};
                this.filtered();
            },
            addTag(newTag) {
                console.log(newTag);
                const tag = {
                    name: newTag,
                    code: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000)
                };
                // this.options.push(tag)
                this.value.push(tag);
            }
        },
        mounted: function () {
            this.$watch('filter.singleStatus', function (value, oldvalue) {
                if (this.filter.singleStatus) {

                    this.filter.status = this.filter.singleStatus;
                    this.filter.withdraws = this.selectedUsers;

                    axios.post(this.changeStatusUrl, this.filter).then(response => {
                        this.withdraws = response.data.withdraws;
                    });
                }
            });
        },
        created: function () {
            this.filtered();
        }
    };
</script>
