<template>
    <div >
        <div class="home-container payments-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="c-content">
                        <h3 class="c-content__h3">Выплаты</h3>
                    </div>
                    <div class="statistics-table__filter payments-table_filter">
                        <h4 class="c-card__statistics--thead js-hideshow">Фильтр<i class="fas fa-caret-up arrow-insurance"></i></h4>
                        <div class="c-card__statistics--tbody bgc-b">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col" v-if="user && user.parent_user_id == null">
                                        <div class="c-field">
                                            <label class="c-field__label  opacity-0">Страховая компания</label>
                                            <div class="c-choice c-choice--checkbox">
                                                <input v-model="filter.yoursPayment" type="checkbox" id="yours_payment" name="yours_payment" class="c-choice__input">
                                                <label for="yours_payment" class="c-choice__label">Ваши выплаты</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="c-field">
                                            <label class="c-field__label">Страховая компания</label>
                                            <div class="c-select">
                                                <sui-dropdown
                                                        class="c-select__input"
                                                        placeholder="Все"
                                                        v-model="filter.insurance"
                                                        selection
                                                        search
                                                        :options="insurances"
                                                ></sui-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col" v-if="user && user.parent_user_id == null">
                                        <div class="c-field">
                                            <label class="c-field__label">Субагенты</label>
                                            <div class="c-select">
                                                <sui-dropdown
                                                        class="c-select__input"
                                                        placeholder="Все"
                                                        v-model="filter.agents"
                                                        selection
                                                        search
                                                        :options="subagents"
                                                ></sui-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="col col-mw">
                                        <label class="c-field__label">Период</label>
                                        <div class="c-select">
                                            <flat-pickr
                                                    placeholder="В-те дату" class="c-input c-select__input datepickerVue" data-max-date="today"  :config="configPicker" v-model="filter.from"
                                            ></flat-pickr>
                                        </div>
                                    </div>
                                    <div class="line-none"> -</div>-->
                                    <div class="col col-mw">
                                        <label class="c-field__label">Период</label>
                                        <div class="c-select">
                                            <!--<flat-pickr
                                                    placeholder="В-те дату" class="c-input c-select__input datepickerVue" data-max-date="today"  :config="configPicker" v-model="filter.to"
                                            ></flat-pickr>-->
                                            <el-date-picker
                                                    v-model="filter.date"
                                                    type="daterange"
                                                    class="c-select__input"
                                                    align="center"
                                                    unlink-panels
                                                    range-separator="—"
                                                    start-placeholder="Начало"
                                                    end-placeholder="Конец"
                                                    :picker-options="pickerOptions2">
                                            </el-date-picker>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <a class="c-btn c-btn__pink u-mt-medium btn-export__exel" @click="filtered()">
                                            <i class="fas fa-check"></i>Применить</a>
                                    </div>
                                    <div class="col">
                                        <label class="c-field__label  opacity-0">Страховая компания</label>
                                        <a class="c-btn c-btn--secondary" @click="resetFilter()">Сбросить фильтр</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="payment-title__flex">
                        <h3 class="u-inline-flex pl-20 c-pink">Вы</h3>
                        <div class="child-title">(Альфастрахование, <span>12.11.2018</span>-<span>12.11.2018</span>  )</div>
                    </div>
                    <div class="wrap-scroll__table">
                        <div class="statistics-table__statistics payments-table_your ">
                            <div class="c-card__statistics--thead js-hideshow" >

                                <div class="row align-items-center">
                                    <div class="col col-number">№</div>
                                    <div class="col">Наименование</div>
                                    <div class="col col-262">Источник</div>
                                    <div class="col col-262">Дата и время</div>
                                    <div class="col col-262">Баланс</div>
                                    <div class="col col-262 ">Списание</div>
                                    <div class="col">Статус</div>
                                    <div class="col">Начисление</div>
                                </div>
                                <i class="fas fa-caret-up arrow-insurance"></i>
                            </div>
                            <div class="c-card__statistics--tbody">
                                <div class="container">
                                    <div class="row c-card__statistics__row payments-first__row">
                                        <div class="offset-m"></div>
                                        <div class="col mw-258"><span>Всего:</span></div>
                                        <div class="col mw-258"> <span class="bold pr-15">{{ user ? user.balance : '0.00' }}р.</span></div>
                                        <div class="col col-262 min-400"><span class="money-down bold">{{ totalPaidout }}р.</span></div>
                                        <div class="col tac"><span class="money-up bold">{{ totalAccrued }}р.</span></div>
                                    </div>
                                    <div class="wrap-row" v-for="(userList, key) in userLists">
                                        <div class="row c-card__statistics__row statistic-other__row "  >
                                            <div class="col col-number bold">{{ key + 1 }}</div>
                                            <div class="col ">{{ userList.is_accrued ? 'Запрос на вывод средств' : 'Начисление' }} (№{{ userList.id }})</div>
                                            <div class="col col-262"><span class="c-grey">{{ userList.type_name }}</span></div>
                                            <div class="col col-262 "><span class="c-grey">{{ userList.date }}</span></div>
                                            <div class="col col-262 ">{{ user ? userList.balance : '0.00' }}р.</div>
                                            <div class="col col-262 "><span class="money-down">{{ userList.paidout }}р.</span></div>
                                            <div class="col">
                                                <!--if status Одобрено money-up-->
                                                <!--if status Анулирован money-down-->
                                                <!--if status В обработке c-grey-->

                                                <span
                                                    v-bind:class="{ 'money-up' : userList.status == 'approved', 'money-down' : userList.status == 'canceled', 'c-grey' : userList.status == 'in_progress' }"
                                                >{{ getWithdrawStatus(userList.status) }}</span>
                                            </div>
                                            <div class="col"><span class="money-up">{{ userList.accrueds }}р.</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div v-for="(agent, key) in agents">
                        <div class="payment-title__flex">
                            <h3 class="u-inline-flex pl-20 c-pink">{{ agent.name }} {{ agent.last_name }}</h3>
                            <div class="child-title">(Альфастрахование, <span>12.11.2018</span>-<span>12.11.2018</span>  )</div>
                        </div>
                        <div class="wrap-scroll__table">
                            <div class="statistics-table__statistics payments-table_your">
                                <div class="c-card__statistics--thead js-hideshow">
                                    <div class="row align-items-center">
                                        <div class="col col-number">№</div>
                                        <div class="col">Наименование</div>
                                        <div class="col">Источник</div>
                                        <div class="col">Дата и время</div>
                                        <div class="col">Баланс</div>
                                        <div class="col">Списание</div>
                                        <div class="col">Начисление</div>
                                    </div>
                                    <i class="fas fa-caret-up arrow-insurance"></i>
                                </div>
                                <div class="c-card__statistics--tbody">
                                    <div class="container">
                                        <div class="wrap-row">
                                            <div class="row c-card__statistics__row payments-first__row" >
                                                <div class="offset-m"></div>
                                                <div class="col"><span>Всего:</span></div>
                                                <div class="col"> <span class="bold pr-15">{{ agent ? agent.balance : '0.00' }}р.</span></div>
                                                <div class="col"><span class="money-down">{{ agent.totalPaidout > 0 ? agent.totalPaidout : '0.00' }}р.</span></div>
                                                <div class="col"><span class="money-up">{{ agent.totalAccrued > 0 ? agent.totalAccrued : '0.00' }}р.</span></div>
                                            </div>
                                        </div>

                                        <div class="wrap-row">
                                            <div class="row c-card__statistics__row statistic-other__row "  v-for="(userList, key) in agent.wuthdraw.userLists">
                                                <div class="col col-number">{{ key + 1 }}</div>
                                                <div class="col">Начисление (№{{ userList.id }})</div>
                                                <div class="col"><span class="c-grey">{{ userList.type_name }}</span></div>
                                                <div class="col"><span class="c-grey">{{ userList.date }}</span></div>
                                                <div class="col">{{ userList ? userList.balance : '0.00' }}р.</div>
                                                <div class="col"><span class="money-down">{{ userList.paidout }}р.</span></div>
                                                <div class="col"><span class="money-up">{{ userList.accrueds }}р.</span></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a :href="url_params" class="c-btn c-btn--success btn-export__exel"><i class="far fa-file-excel"></i>Экспорт в excel</a>
                </div>
            </div>
        </div>


    </div>
</template>

<script>
    import Vue from 'vue';
      import flatPickr from 'vue-flatpickr-component';
      import 'flatpickr/dist/flatpickr.css';
      import rus from 'flatpickr/dist/l10n/ru';
      import moment from 'moment';
      import pagination from 'laravel-vue-pagination';
      import axios from 'axios';

      Vue.config.devtools = true;
      Vue.config.debug = true;
      

      export default {
          components: {
              flatPickr
          },
          data: function () {
            return {
                pickerOptions2: {
                    shortcuts: [{
                        text: 'Сегодня',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime());
                            picker.$emit('pick', [start, end]);
                        }
                    },{
                        text: 'Вчера',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 );
                            picker.$emit('pick', [start, end]);
                        }
                    },
                        {
                            text: '7 дней',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', [start, end]);
                            }
                        }, {
                            text: '30 дней',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                                picker.$emit('pick', [start, end]);
                            }
                        }]
                },
                subagents: [],
                insurances: [],
                paidouts: null,
                accrueds: null,
                userLists: null,
                listInsurances: null,
                totalAccrued: 0,
                totalPaidout: 0,
                totalBalance: 0,
                agents: null,
                url_params: '',
                user: null,
                statuses: [],
                sortDate: [
                    {
                        key:123,
                        text:'По дате',
                        value:123
                    },
                    {
                        key:567,
                        text:'По буквам',
                        value:567
                    },
                ],
                firstSubAgent: null,
                statusesNames: null,
                configPicker: {
                    allowInput: true,
                    dateFormat: "d-m-Y",
                    locale: rus
                },
                filter: {
                    insuranceCompany:null,
                    subAgents:null,
                    periodStart: null,
                    periodEnd: null,
                    yoursPayment: null,
                    from: null,
                    to: null,
                    date: null
                },
            };
          },
          filters: {
              formatDate(value) {
                  if (value) {
                      return moment(String(value)).format('DD-MM-YYYY');
                  }
              },
              formatTime(value) {
                  if (value) {
                      return moment(String(value)).format('hh:mm:ss');
                  }
              },
              dateMask() {
                let im = new Inputmask("99-99-9999");
              },
          },
          methods: {
              submit() {
                  this.filtered();
              },
              setFilters() {
                  this.filters.insurance = document.querySelector('.policy-insurances').value;
                  this.filters.statuses = document.querySelector('.policy-statuses').value;
                  this.filters.agents = document.querySelector('.policy-subagents').value;
                  this.filters.from = document.querySelector('[name="from"]').value;
                  this.filters.to = document.querySelector('[name="to"]').value;

                  console.log(this.filters);
              },
              filtered() {
                  this.apiUrl = document.querySelector('.vue-component').getAttribute('data-url');
                  Vue.http.headers.common['X-CSRF-TOKEN'] = document.querySelector('[name="csrf-token"]').getAttribute('content');

                  if(this.filter.date.length) {
                      this.filter.from = this.filter.date[0];
                      this.filter.to = this.filter.date[1];
                  }

                  axios.post(this.apiUrl, this.filter).then(response => {
                      this.loadData(response);
                  });
              },
              sortable() {
                  this.setFilters();
              },
              recount(id) {
                  Vue.http.headers.common['X-CSRF-TOKEN'] = document.querySelector('[name="csrf-token"]').getAttribute('content');

                  axios.post('withdraws/recount', {
                      insurance: document.querySelector('[data-policyId="'+id+'"]').value,
                      id: id,
                  }).then(response => {
                      alert('пересчет');
                  });
              },
              resetFilter() {
                  this.filter = {};

                  axios.post(this.apiUrl, this.filters).then(response => {
                      this.loadData(response);
                  });
              },
              loadData: function (response) {
                  this.subagents = response.data.subagents;
                  this.insurances = response.data.insurances;

                  this.paidouts = response.data.paidouts;
                  this.accrueds = response.data.accrueds;

                  this.userLists = response.data.userLists;
                  this.listInsurances = response.data.listInsurances;
                  this.totalAccrued = response.data.totalAccrued;
                  this.totalPaidout = response.data.totalPaidout;
                  this.totalBalance = response.data.totalBalance;
                  this.agents = response.data.agents;
                  this.url_params = response.data.url_params;
                  this.user = response.data.user;
                  this.statuses = response.data.statuses;
              },
              sortBy: function(sortKey) {
                this.reverse = (this.sortKey == sortKey) ? ! this.reverse : false;

                this.sortKey = sortKey;
              },
              statusName(status) {
                  return this.statusesNames[status];
              },
              getResults(page = 1) {
                  axios.post(this.apiUrl + '?page=' + page).then(response => {
                      this.loadData(response);
                  });
              },
              getWithdrawStatus: function (statuse) {
                for (var index = 0; index <= this.statuses.length - 1; index++) {
                    if (this.statuses[index]["code"] == statuse) {
                        return this.statuses[index]["name"];
                    }
                }

                return "";
            },
          },
          computed: {
              var: function () {
              }
          },
          mounted: function () {

              this.$watch('filter.status', function () {

              });

              this.apiUrl = document.querySelector('.vue-component').getAttribute('data-url');
              Vue.http.headers.common['X-CSRF-TOKEN'] = document.querySelector('[name="csrf-token"]').getAttribute('content');

              axios.post(this.apiUrl, this.filters).then(response => {
                  this.loadData(response);
              });
          },
          created () {
              //window.addEventListener('resize', this.handleResize);
          },
          destroyed () {
              //window.removeEventListener('resize', this.handleResize);
          }
      }
</script>
