<template>
    <div>
        <!--<div>{{ filter }}</div>-->
        <!--<div>-->
            <!--<label class="typo__label">Simple select / dropdown</label>-->
            <!--<multiselect v-model="filter.status" :options="statuses" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Pick some" label="name" track-by="name" :preselect-first="true">-->
                <!--<template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} options selected</span></template>-->
            <!--</multiselect>-->
            <!--<pre class="language-json"><code>{{ value  }}</code></pre>-->
        <!--</div>-->
        <div class="c-sidebar-row__flex">
            <div class="c-sidebar__item">
                <div class="c-state-card c-state-card--success">
                    <span class="c-state-card__number">{{ statistic.allAgents }}</span>
                    <h4 class="c-state-card__title" v-if="!selectedAgents.length">Всего агентов</h4>
                    <h4 class="c-state-card__title" v-if="selectedAgents.length">Количество субагентов</h4>
                </div>
            </div>
            <div class="c-sidebar__item">
                <div class="c-state-card c-state-card--info">
                    <span class="c-state-card__number">{{ statistic.allPolices }}</span>
                    <h4 class="c-state-card__title">Количество оформленных полисов</h4>
                </div>
            </div>
            <div class="c-sidebar__item">
                <div class="c-state-card c-state-card--success">
          <span
                  class="c-state-card__number c-state-card__money"
          >{{ statistic.allPolicesSumPremium }} ₽</span>
                    <h4 class="c-state-card__title">Общая сумма страховых премий</h4>
                </div>
            </div>
            <div class="c-sidebar__item">
                <div class="c-state-card c-state-card--info">
                    <span class="c-state-card__number c-state-card__money">{{ statistic.avgPolicesPremium }} ₽</span>
                    <h4 class="c-state-card__title">Средняя цена полиса</h4>
                </div>
            </div>
        </div>

        <div class="a-table__wrap--scroll">
            <div class="a-table a-table__filter">
                <div
                        class="a-table__header table-header__js"
                        v-bind:class="{'body-collaps' : collapsed }"
                        v-on:click=" collapsed = !collapsed"
                >
                    <span class="a-table__title--header">Фильтр</span>
                    <i class="fas fa-caret-down"></i>
                </div>
                <div
                        class="a-table__body a-table__body--filter table-body__js"
                        v-bind:class="{'is-collapsed' : collapsed }"
                >
                    <div class="a-table__wrap--container">
                        <div class="a-table__field">
                            <div class="a-field__label">Страховая компания</div>
                            <div class="w-286">
                                <multiselect
                                        :multiple="true"
                                        :taggable="true"
                                        deselectLabel=""
                                        selectLabel=""
                                        selectedLabel=""
                                        v-model="filter.insurances"
                                        placeholder="Все"
                                        label="name"
                                        track-by="name"
                                        :clear-on-select="false"
                                        :options="insurances"
                                        :close-on-select="false"
                                        :searchable="false"
                                >
                                </multiselect>
                            </div>
                        </div>
                        <div class="a-table__field">
                            <div class="a-field__label">Номер полиса</div>
                            <input v-model="filter.number" placeholder="123456" class="a-input w-369" type="tell">
                        </div>
                        <div class="a-table__field">
                            <div class="a-field__label">Города и населенные пункты</div>
                            <div class="w-419">
                                <multiselect
                                        :multiple="true"
                                        :taggable="true"
                                        deselectLabel=""
                                        selectLabel=""
                                        selectedLabel=""
                                        v-model="filter.ownercities"
                                        placeholder="Выберите города и населенные пункты"
                                        label="name"
                                        track-by="name"
                                        :clear-on-select="false"
                                        :options="cities"
                                        :close-on-select="false"
                                        :searchable="true"
                                >
                                </multiselect>
                            </div>
                        </div>
                        <div class="a-table__field">
                            <a class="a-btn a-btn__pink" @click="filtered()">
                                <i class="fas fa-check"></i>
                                Применить
                            </a>
                        </div>
                        <div class="a-table__field">
                            <a class="a-btn a-btn__filter" @click="resetFilter()">
                                <i class="far fa-trash-alt"></i>
                                Сбросить фильтр
                            </a>
                        </div>
                    </div>

                    <div class="a-table__wrap--container">
                        <div class="a-table__field">
                            <div class="a-field__label">Статус</div>
                            <div class="w-286">
                                <multiselect
                                        deselectLabel=""
                                        selectLabel=""
                                        selectedLabel=""
                                        :multiple="true"
                                        :taggable="true"
                                        v-model="filter.statuses"
                                        placeholder="Все"
                                        label="name"
                                        track-by="name"
                                        :clear-on-select="false"
                                        :options="statuses"
                                        :close-on-select="false"
                                        tag-placeholder
                                        :searchable="true"
                                >
                                   <!--<template slot="option" slot-scope="status">-->
                    <!--<span class="a-choice a-choice&#45;&#45;checkbox">-->
                      <!--<input-->
                              <!--class="input-tag a-choice__input"-->
                              <!--:id="status.option.code"-->
                              <!--type="checkbox"-->
                      <!--&gt;-->
                      <!--<label-->
                              <!--class="opt a-choice__label"-->
                              <!--:for="status.option.code"-->
                      <!--&gt;{{ status.option.name }}</label>-->
                    <!--</span>-->
                                    <!--</template>-->
                                </multiselect>
                            </div>
                        </div>
                        <div class="a-table__field">
                            <div class="a-field__label">Агенты или субагенты</div>
                            <div class="w-369">
                                <multiselect
                                        :value="selectedAgents"
                                        @input="updateValueAgents"
                                        deselectLabel=""
                                        selectLabel=""
                                        selectedLabel=""
                                        :multiple="true"
                                        :taggable="true"
                                        v-model="filter.agents"
                                        placeholder="Выберите агентов и субагентов"
                                        label="name"
                                        track-by="name"
                                        :clear-on-select="false"
                                        :options="agents"
                                        :close-on-select="false"
                                        tag-placeholder
                                        :searchable="true"
                                >
                                    <!--<template slot="option" slot-scope="agent">-->
                    <!--<span class="a-choice a-choice&#45;&#45;checkbox">-->
                      <!--<input-->
                              <!--class="input-tag a-choice__input"-->
                              <!--:id="'agent-' + agent.option.code"-->
                              <!--type="checkbox"-->

                              <!--:checked="checkAgents(agent.option.code)"-->
                      <!--&gt;-->
                      <!--<label-->
                              <!--class="opt a-choice__label"-->
                              <!--:for="'agent-' + agent.option.code"-->
                              <!--v-if="agent.option.level == 1"-->
                      <!--&gt;{{ agent.option.name }}</label>-->
                      <!---->
                      <!--<label-->
                              <!--class="opt a-choice__label"-->
                              <!--:style="'margin-left: ' + (10 + (agent.option.level * 10)) + 'px'"-->
                              <!--:for="'agent-' + agent.option.code"-->
                              <!--v-if="agent.option.level >= 2"-->
                      <!--&gt;{{ agent.option.name }}</label>-->
                    <!--</span>-->
                                    <!--</template>-->
                                </multiselect>
                            </div>
                        </div>
                        <div class="a-table__field" v-if="!isCurator">
                            <div class="a-field__label">Кураторы</div>
                            <div class="w-369">
                                <multiselect
                                        deselectLabel=""
                                        selectLabel=""
                                        selectedLabel=""
                                        :multiple="true"
                                        :taggable="true"
                                        v-model="filter.curators"
                                        placeholder="Выберите куратора"
                                        label="name"
                                        track-by="name"
                                        :clear-on-select="false"
                                        :options="curators"
                                        :close-on-select="false"
                                        tag-placeholder
                                        :searchable="true"
                                >
                                    <!--<template slot="option" slot-scope="curator">-->
                    <!--<span class="a-choice a-choice&#45;&#45;checkbox">-->
                      <!--<input-->
                              <!--class="input-tag a-choice__input"-->
                              <!--:id="'curator-' + curator.option.code"-->
                              <!--type="checkbox"-->
                      <!--&gt;-->
                      <!--<label-->
                              <!--class="opt a-choice__label"-->
                              <!--:for="'curator-' + curator.option.code"-->
                      <!--&gt;{{ curator.option.name }}</label>-->
                    <!--</span>-->
                                    <!--</template>-->
                                </multiselect>
                            </div>
                        </div>
                        <div class="a-table__field">
                            <div class="a-field__label">Период</div>
                            <div class="wrap-flatpickr">
                                <flat-pickr
                                        class="a-input a-select__date datepickerVue"
                                        :config="configPicker"
                                        v-model="filter.from"
                                        placeholder="В-те дату"
                                ></flat-pickr>
                                <i class="fas flat-down fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="a-table__field">
                            <div class="wrap-flatpickr wrap-flatpickr__last">
                                <flat-pickr
                                        class="a-input a-select__date a-select__date--last datepickerVue"
                                        :config="configPicker"
                                        v-model="filter.to"
                                        placeholder="В-те дату"
                                ></flat-pickr>
                                <i class="fas flat-down fa-caret-down"></i>
                            </div>
                        </div>

                    </div>
                    <div class="a-table__wrap--container">
                        <div class="a-table__field">
                            <a :href="exportUrl" class="a-btn a-btn__export">
                                <i class="far fa-file-excel"></i>
                                Экспорт в excel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="a-table__wrap" v-if="polices.data">
            <div class="a-table__title">Список полисов</div>
            <div class="wrap-pagination">
                <div class="sort-polices">
                    <span class="sort-polices__text">Показать</span>
                    <div class="wrap-input__sort">
                        <input class="number-sort c-input" type="number" v-model="showPolices" v-on:keypress.enter.prevent="filtered()">
                        <div class="btn-add__count">
                            <i class="fas fa-caret-up" v-on:click="showPolices += 10"></i>
                            <i class="fas fa-caret-down" v-on:click="showPolices > 0 ? showPolices -= 10 : showPolices = 0"></i>
                        </div>
                    </div>

                    <span class="sort-polices__text">{{ currentItems }}</span> <span class="sort-polices__text">из</span> <span class="sort-polices__text">{{ totalItems }}</span>
                </div>
                <pagination
                        :data="polices"
                        :show-disabled="true"
                        :limit="1"
                        @pagination-change-page="getResults"
                >
                    <span slot="prev-nav"><i class="fas fa-caret-left"></i></span>
                    <span slot="next-nav"><i class="fas fa-caret-right"></i></span>
                </pagination>
            </div>

            <div class="a-table__wrap--scroll">
                <div class="a-table a-table__all a-table__main--page">
                    <div class="a-table__header">
                        <div class="table-col table-col__1">№</div>
                        <div class="table-col table-col__2">Страховая компания</div>
                        <div class="table-col table-col__3">Номер полиса</div>
                        <div class="table-col table-col__4">ID полиса</div>
                        <div class="table-col table-col__5">Дата оформления</div>
                        <div class="table-col table-col__6">Статус</div>
                        <div class="table-col table-col__7">Дата</div>
                        <div class="table-col table-col__8">Собственник</div>
                        <div class="table-col table-col__9">Премия ({{ premiumSum }} р.)</div>
                        <div class="table-col table-col__10">Агент/субагент</div>
                        <div class="table-col table-col__11">Куратор</div>
                        <div class="table-col table-col__12">Город</div>
                    </div>

                    <div class="a-table__body">
                        <div class="a-table__row a-table__row--flex" v-for="policy in polices.data">
                            <div class="table-col table-col__1">
                                <a :href="'/admin/policy/show/' + policy.id">
                                    <span class="a-table__text--weight">{{ policy.id }}</span>
                                </a>
                            </div>
                            <div class="table-col table-col__2">
                <!--<span v-tooltip="{html: getInsuranceName(policy.insurance) }" class="wrap-img">-->
                <span class="wrap-img">
                  <a :href="'/admin/policy/show/' + policy.id">
                    <img
                            v-if="policy.insurance"
                            :src="'/img/'+policy.insurance+'_avatar.jpg'"
                            alt="Jessica Alba"
                    >
                  </a>
                </span>
                            </div>
                            <div class="table-col table-col__3">
                                <span class="table-col__num--polices">{{ policy.insurance_number }}</span>
                            </div>
                            <div class="table-col table-col__4">
                                <span class>{{ policy.insurance_id }}</span>
                            </div>
                            <div class="table-col table-col__5">
                                <span class="a-table__text--grey">{{ policy.created_at }}</span>
                            </div>
                            <div class="table-col table-col__6">
                                <span class="a-table__text--weight">{{ getStatusName(policy.status) }}</span>
                            </div>
                            <div class="table-col table-col__7">
                                <span class="a-table__text--grey">{{ policy.policy_start_date }}</span>
                            </div>
                            <div class="table-col table-col__8">
                <span
                        class="table-col__owner"
                >{{ policy.owner.first_name }} {{ policy.owner.last_name }}</span>
                            </div>
                            <div class="table-col table-col__9">
                                <span class="a-table__text--pink">{{ policy.premium }} ₽</span>
                            </div>
                            <div class="table-col table-col__10">
                                <span class>{{ policy.user.name ? policy.user.name : '' }} {{ policy.user.last_name }}</span>
                            </div>
                            <div class="table-col table-col__11">
                                <span class="table-col__curator">{{ policy.user.curators|fullName }}</span>
                            </div>
                            <div class="table-col table-col__12">
                                <span class>{{ policy.city_name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrap-pagination">
                <div class="sort-polices">
                    <span class="sort-polices__text">Показать</span>
                    <div class="wrap-input__sort">
                        <input class="number-sort c-input" type="number" v-model="showPolices" v-on:keypress.enter.prevent="filtered()">
                        <div class="btn-add__count">
                            <i class="fas fa-caret-up" v-on:click="showPolices += 10"></i>
                            <i class="fas fa-caret-down" v-on:click="showPolices > 0 ? showPolices -= 10 : showPolices = 0"></i>
                        </div>
                    </div>

                    <span class="sort-polices__text">{{ currentItems }}</span> <span class="sort-polices__text">из</span> <span class="sort-polices__text">{{ totalItems }}</span>
                </div>
                <pagination
                        :data="polices"
                        :show-disabled="true"
                        :limit="1"
                        @pagination-change-page="getResults"
                >
                    <span slot="prev-nav"><i class="fas fa-caret-left"></i></span>
                    <span slot="next-nav"><i class="fas fa-caret-right"></i></span>
                </pagination>
            </div>
        </div>
        <div id="tooltipContent-rgs" class="tooltipContent hidden">
            <p class="toltip-title">Страховая компания:</p>
            <p class="toltip-text">Росгострах</p>
        </div>
        <div id="tooltipContent-nasko" class="tooltipContent hidden">
            <p class="toltip-title">Страховая компания:</p>
            <p class="toltip-text">Наско</p>
        </div>
        <div id="tooltipContent-alpha" class="tooltipContent hidden">
            <p class="toltip-title">Страховая компания:</p>
            <p class="toltip-text">Альфа</p>
        </div>
    </div>
</template>

<script>
    import Vue from "vue";
    import flatPickr from "vue-flatpickr-component";
    import "flatpickr/dist/flatpickr.css";
    import pagination from "laravel-vue-pagination";
    import moment from "moment";
    import Multiselect from "vue-multiselect";

    export default {
        name: "hello",
        props: {
          isCurator: {
              type: Boolean,
              default: false
          }
        },
        components: {
            flatPickr,
            Multiselect,
            pagination
        },
        data: function () {
            return {
                value: [],
                options: [
                    { name: 'Vue.js', language: 'JavaScript' },
                    { name: 'Adonis', language: 'JavaScript' },
                    { name: 'Rails', language: 'Ruby' },
                    { name: 'Sinatra', language: 'Ruby' },
                    { name: 'Laravel', language: 'PHP' },
                    { name: 'Phoenix', language: 'Elixir' }
                ],
                polices: {},
                filters: [],
                collapsed: false,
                totalItems: 0,
                currentItems: '',
                showPolices: 50,
                insurances: [],
                statistic: [],
                premiumSum: [],
                exportUrl: [],
                cities: [],
                agents: [],
                statuses: [],
                curators: [],
                selectedAgents: [],
                configPicker: {
                    allowInput: true,
                    dateFormat: "d-m-Y"
                },
                filter: {
                    insurances: null,
                    policy: null,
                    ownercities: [],
                    agents: [],
                    from: null,
                    to: null,
                    statuses: [],
                    number: null,
                    curators: [],
                }
            };
        },
        filters: {
            formatDate(value) {
                if (value) {
                    return moment(String(value)).format("YYYY-MM-DD HH:MM:SS");
                }
            },
            fullName(curators) {
                let lists = [];
                for (let curator of curators) {
                    lists[curator.id] = curator.first_name + " " + curator.last_name;
                }

                return lists
                    .filter(function (value) {
                        return value != "";
                    })
                    .join(", ");
            }
        },
        computed: {},
        watch: {
            showPolices: function() {
                if(this.showPolices > 500) {
                    this.showPolices = 500;
                }
            }
        },
        methods: {
            updateValueAgents: function (value) {
                this.selectedAgents = value;
            },
            checkAgents: function (agent) {

                for (var index = 0; index <= (this.selectedAgents.length - 1); index++) {
                    if (this.selectedAgents[index]['code'] == agent) {
                        return 'checked';
                    }
                }

                return '';
            },
            resetFilter: function () {
                this.filter = {};

                history.pushState('', 'New Page Title', location.protocol + '//' + location.host + location.pathname);

                this.filtered();
            },
            loadData: function (response) {
                this.polices = response.data.polices;
                this.insurances = response.data.insurances;
                this.statuses = response.data.statuses;
                this.agents = response.data.agents;
                //this.selectedAgents = response.data.selectedAgents;

                this.cities = response.data.cities;
                this.statistic = response.data.statistic;
                this.premiumSum = response.data.premiumSum;
                this.exportUrl = response.data.exportUrl;
                this.curators = response.data.curators;
                this.currentItems = response.data.currentItems;
                this.totalItems = response.data.totalItems;

                window.preloader();
            },
            getInsuranceName: function (insurance) {
                for (let insuranceItem of this.insurances) {
                    if (insuranceItem.code === insurance) {
                        return insuranceItem.name;
                    }
                }

                return null;
            },
            filtered(page = 1) {
                window.preloader();

                Vue.http.headers.common["X-CSRF-TOKEN"] = document
                    .querySelector('[name="csrf-token"]')
                    .getAttribute("content");

                this.filter.perPage = this.showPolices;

                axios.post("dashboard/info?page=" + page, this.filter).then(response => {
                    this.loadData(response);
                });
            },
            getStatusName: function (status) {
                for (let item of this.statuses) {
                    if (item.name && item.code === status) {
                        return item.name;
                    }
                }

                return "";
            },
            getResults: function (page = 1) {
                this.filtered(page);
            },
            addTag(newTag) {
                console.log(newTag);
                const tag = {
                    name: newTag,
                    code: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000)
                };
                // this.options.push(tag)
                this.value.push(tag);
            }
        },
        created: function () {
            this.filtered();

            if (document.location.href.match(/([^\/home/agent=]*)\/*$/)[1]) {
                this.filter.agents = [document.location.href.match(/([^\/home/agent=]*)\/*$/)[1]];
            }
        },
        mounted: function () {
            window.preloader();

            this.$watch('selectedAgents', function () {
                this.filter.agents = this.selectedAgents;
            });
        }
    };
</script>