<template>

    <div>
        <div class="a-table__wrap--scroll">
            <div id="tabs" class="agetns-create__container">

                <div class="tabs">
                    <a
                            v-bind:class="{ 'active': currentTab === tab.key}"
                            v-for="tab in tabs"
                            @click="currentTab = tab.key"
                            href="#" class="tab"
                    >
                        <img class="agents-tab__img" :src="currentTab === tab.key ? tab.imageActive : tab.image">
                        <span>{{ tab.name }}</span>
                    </a>
                </div>

                <div class="agents-tab__content">

                    <div v-show="currentTab === 'tab_1'">
                        <div class="flex-row flex-tab__row">
                            <div class="a-table__field">
                                <div class="a-field__label">
                                    Имя
                                </div>
                                <input
                                        v-model="filter.name"
                                        placeholder="Имя"
                                        class="a-input w-369"
                                        type="text"
                                        :set="filter.name = agent.name"
                                >
                            </div>
                            <div class="a-table__field">
                                <div class="a-field__label">
                                    Фамилия
                                </div>
                                <input
                                        v-model="filter.last_name"
                                        placeholder="Фамилия"
                                        class="a-input w-369"
                                        type="text"
                                        :set="filter.last_name = agent.last_name"
                                >
                            </div>
                            <div class="a-table__field">
                                <div class="a-field__label">
                                    Телефон
                                </div>
                                <masked-input
                                        placeholder="+7-___-___-__-__"
                                        class="a-input w-369"
                                        v-model="filter.phone" mask="\+\7-111-111-11-11"
                                        :set="filter.phone = agent.phone"
                                />
                            </div>
                            <div class="a-table__field">
                                <div class="a-field__label">
                                    Город
                                </div>
                                <sui-dropdown
                                        class="a-select__input w-369"
                                        placeholder="Выберите город"
                                        selection
                                        search
                                        :options="cities"
                                        v-model="filter.city_id = agent.city_id"
                                ></sui-dropdown>
                            </div>
                        </div>
                        <div class="flex-row flex-tab__row">
                            <div class="a-table__field">
                                <div class="a-field__label">
                                    Статус
                                </div>
                                <sui-dropdown
                                        class="a-select__input w-369"
                                        placeholder="Выберите статус"
                                        selection
                                        :options="statuses"
                                        v-model="filter.status = agent.status"
                                ></sui-dropdown>
                            </div>
                            <div class="a-table__field">
                                <div class="a-field__label">
                                    Новый пароль
                                </div>
                                <input
                                        type="password"
                                        v-model="filter.password"
                                        placeholder="Пароль"
                                        class="a-input w-369"
                                >
                            </div>
                            <div class="a-table__field">
                                <div class="a-field__label">
                                    Период
                                </div>
                                <div class="wrap-flatpickr">
                                    <flat-pickr
                                            class="a-input a-select__date w-170 datepickerVue"

                                            :config="configPicker"
                                            v-model="filter.worktime_from"
                                            placeholder="В-те дату"
                                    ></flat-pickr>
                                    <i class="fas flat-down fa-caret-down"></i>
                                </div>
                            </div>
                            <div class="a-table__field">
                                <div class="wrap-flatpickr wrap-flatpickr__last">
                                    <flat-pickr
                                            class="a-input a-select__date w-170 a-select__date--last datepickerVue"

                                            :config="configPicker"
                                            v-model="filter.worktime_to"
                                            placeholder="В-те дату"
                                    ></flat-pickr>
                                    <i class="fas flat-down fa-caret-down"></i>
                                </div>
                            </div>
                            <div class="a-table__field">
                                <div class="a-field__label">
                                    Страховые компании
                                </div>
                                <div class="w-369">
                                    <multiselect
                                            :value="agentInsurances"
                                            @input="updateValueInsurance"

                                            :multiple="true"
                                            :taggable="true"
                                            placeholder="Все"
                                            label="name"
                                            track-by="name"
                                            :clear-on-select="false"
                                            :options="insurances"
                                            :close-on-select="false"
                                            tag-placeholder=""
                                            :searchable="false"
                                    >
                                        <template
                                                slot="option"
                                                slot-scope="agentProp"
                                        >
                                        <span class="a-choice a-choice--checkbox">
                                            <input
                                                    class="input-tag a-choice__input" :id="'insurance-' + agentProp.option.code"
                                                    type="checkbox"

                                                    :checked="checkAgentInsurances(agentProp.option.code)"
                                            >
                                            <label
                                                    class="opt a-choice__label"
                                                    :for="'insurance-' + agentProp.option.code"
                                            >{{ agentProp.option.name }}</label>
                                        </span>

                                        </template>
                                    </multiselect>
                                </div>
                            </div>
                        </div>
                        <div class="flex-row flex-row__checkbox">
                            <div class="a-table__field">
                                <div class="a-choice a-choice--checkbox a-tab__checkbox">
                                    <input
                                            type="checkbox"
                                            id="create-agent__important"
                                            name="create-agent__important"
                                            class="a-choice__input"
                                            v-model="filter.is_important"
                                            :set="filter.is_important = agent.is_important"
                                    >
                                    <label for="create-agent__important" class="a-choice__label">Важный</label>
                                </div>
                            </div>
                            <div class="a-table__field">
                                <div class="a-choice a-choice--checkbox a-tab__checkbox">
                                    <input
                                            type="checkbox"
                                            id="create-agent__polices"
                                            name="create-agent__polices"
                                            class="a-choice__input"
                                            v-model="filter.is_policy_subagents"
                                            :set="filter.is_policy_subagents = agent.is_policy_subagents"
                                    >
                                    <label for="create-agent__polices" class="a-choice__label">Учитывать полисы субагентов</label>
                                </div>
                            </div>
                        </div>
                        <div class="flex-row flex-tab__row">
                            <div class="a-table__field">
                                <div class="a-field__label">
                                    Ставки
                                </div>
                                <div class="w-369">
                                    <multiselect
                                            :value="agentRatesIds"
                                            @input="updateValueRates"

                                            :multiple="true"
                                            :taggable="true"
                                            placeholder="Выберите ставки"
                                            label="name"
                                            track-by="name"
                                            :clear-on-select="false"
                                            :options="rateInsurance"
                                            :close-on-select="false"
                                            tag-placeholder=""
                                            :searchable="false"
                                    >
                                        <template
                                                slot="option"
                                                slot-scope="props"
                                        >
                                        <span
                                                class="a-choice a-choice--checkbox"
                                        >
                                            <input
                                                    class="input-tag a-choice__input"
                                                    :id="'rate-' + props.option.code"
                                                    type="checkbox"

                                                    :checked="checkAgentInsuranceRates(props.option.code)"
                                            >
                                            <label
                                                    class="opt a-choice__label"
                                                    :for="'rate-' + props.option.code"
                                            >{{ props.option.name }}</label>
                                        </span>

                                        </template>
                                    </multiselect>
                                </div>
                            </div>
                            <div class="a-table__field">
                                <div class="a-field__label">
                                    Кураторы
                                </div>
                                <div class="w-369">
                                    <multiselect
                                            :value="selectedCurators"
                                            @input="updateValueAction"

                                            :multiple="true"
                                            :taggable="true"

                                            placeholder="Все"
                                            label="name"
                                            track-by="name"
                                            :clear-on-select="false"
                                            :options="curators"
                                            :close-on-select="false"
                                            tag-placeholder=""
                                            :searchable="false"
                                    >
                                        <template slot="option" slot-scope="props" >
                                        <span class="a-choice a-choice--checkbox">
                                            <input
                                                    class="input-tag a-choice__input"
                                                    :id="props.option.code"
                                                    type="checkbox"

                                                    :checked="checkAgentCurators(props.option.code)"
                                            >
                                            <label class="opt a-choice__label" :for="props.option.code">{{ props.option.name }}</label>
                                        </span>

                                        </template>
                                    </multiselect>
                                </div>
                            </div>
                        </div>
                        <div class="flex-row flex-tab__row">
                            <div class="a-table__field">
                                <a
                                        class="a-btn a-btn__pink"
                                        @click="onUpdate();"
                                >
                                    <i class="fas fa-check"></i>
                                    Применить
                                </a>
                            </div>
                        </div>

                    </div>
                    <div v-show="currentTab === 'tab_2'">
                        <!--Буде замінятись коли немає запису-->
                        <!--<div class="row-no__records">-->
                        <!--<span>Нет записей</span>-->
                        <!--</div>-->
                        <!--Буде замінятись коли немає запису-->
                        <div class="a-table a-table__tab2">
                            <div class="a-table__header a-table__tab--header">
                                <div class="table-col table-col__1">
                                    #
                                </div>
                                <div class="table-col">Дата поступления заявки</div>
                                <div class="table-col">Дата одобрения заявки</div>
                                <div class="table-col">Сумма</div>
                                <div class="table-col">Статус</div>
                                <div class="table-col">Источник</div>
                                <div class="table-col table-col__7">Действия</div>
                            </div>
                            <div class="a-table__row a-table__row--flex " v-for="paid in paidUp">
                                <div class="table-col table-col__1">
                                    <span class="a-table__text--weight">{{paid.numberId}}</span></div>
                                <div class="table-col ">
                                    <span class="a-table__text--grey">{{paid.receiptDate}}</span>
                                </div>
                                <div class="table-col">
                                    <span class="a-table__text--grey">{{paid.acceptDate}}</span>
                                </div>
                                <div class="table-col">
                                    <span class="a-table__text--weight">{{paid.padSumm}} p.</span>
                                </div>
                                <div class="table-col">
                                    <!--Добавить один із класів (на рассмотрении)"a-table__text--weight", (отменена)"a-table__text--pink", (одобрена)"a-table__text--green" -->
                                    <span class="a-table__text--pink">{{paid.status}}</span>
                                </div>
                                <div class="table-col table-col__6">
                                    <span> <img :src="paid.image" alt="">{{paid.origin}}</span>
                                </div>
                                <div class="table-col table-col__7">
                                    <sui-dropdown
                                            class="a-select__input w-170 a-select__do"
                                            placeholder="Действия"
                                            selection
                                            :options="actions"
                                            v-model="filter.actions"
                                    ></sui-dropdown>
                                </div>
                            </div>
                            <!--Під питанням чи будуть ці кнопки-->
                            <div class="flex-row flex-tab__row flex-row__btn">
                                <div class="a-table__field">
                                    <sui-dropdown
                                            class="a-select__input w-160"
                                            placeholder="Действия"
                                            selection
                                            :options="actions"
                                            v-model="filter.actions"
                                    ></sui-dropdown>

                                </div>
                            </div>
                        </div>

                        <!--Під питанням чи будуть ці кнопки-->

                    </div>
                    <div v-show="currentTab === 'tab_3'">
                        <!--Буде замінятись коли немає запису-->
                        <!--<div class="row-no__records">-->
                        <!--<span>Нет записей</span>-->
                        <!--</div>-->
                        <!--Буде замінятись коли немає запису-->
                        <div class="a-table a-table__tab3">
                            <div class="a-table__header a-table__tab--header">
                                <div class="table-col table-col__1">
                                    #
                                </div>
                                <div class="table-col">Дата</div>
                                <div class="table-col">Сумма</div>
                                <div class="table-col">Документ</div>
                                <div class="table-col">Статус</div>
                                <div class="table-col table-col__7">Действие</div>
                            </div>
                            <div class="a-table__row a-table__row--flex " v-for="paid in paidOut">
                                <div class="table-col table-col__1">
                                    <span class="a-table__text--weight">{{paid.numberId}}</span></div>
                                <div class="table-col ">
                                    <span class="a-table__text--grey">{{paid.date}}</span>
                                </div>
                                <div class="table-col">
                                    <span class="a-table__text--weight">{{paid.padSumm}} p.</span>
                                </div>
                                <div class="table-col">
                                <span>
                                    <!--icons-->
                                    <a href="#" class="a-btn__download">Скачать</a>
                                </span>
                                </div>
                                <div class="table-col">
                                    <!--Добавить один із класів (на рассмотрении)"a-table__text--weight", (отменена)"a-table__text--pink", (одобрена)"a-table__text--green" -->
                                    <span class="a-table__text--pink">{{paid.status}}</span>
                                </div>
                                <div class="table-col table-col__7">
                                    <sui-dropdown
                                            class="a-select__input w-170 a-select__do"
                                            placeholder="Действия"
                                            selection
                                            :options="actions"
                                            v-model="filter.actions"
                                    ></sui-dropdown>
                                </div>
                            </div>
                            <div class="flex-row flex-tab__row flex-row__btn">
                                <div class="a-table__field">
                                    <sui-dropdown
                                            class="a-select__input w-160"
                                            placeholder="Действия"
                                            selection
                                            :options="actions"
                                            v-model="filter.actions"
                                    ></sui-dropdown>
                                </div>
                                <div class="a-table__field">
                                    <a
                                            class="a-btn a-btn__pink"
                                            @click="onUpdate();"
                                    ><i class="fas fa-check"></i>Применить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-show="currentTab === 'tab_4'">
                        <div class="billing-info__wrap" >
                            <div class="billing-info__item" v-for="billing in billingItem">
                                <div class="billing-info__item--row">
                                    <span class="billing-info__item--title">{{billing.title}}</span>
                                    <img class="agents-tab__img" :src="billing.image">
                                </div>
                                <div class="billing-info__item--row">
                                    <span class="number-card"><span class="number-card__title">{{billing.cardTitle}}</span>{{billing.cardNumber}}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="a-table__wrap--scroll" v-if="logs.length > 0">
            <div class="a-admin__info">
                <ul class="a-admin__info--list">
                    <li v-for="log in logs">
                        <span>{{ log.description }} - {{ log.created_at_format }}</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</template>

<script>

    import Vue from 'vue';
    import MaskedInput from 'vue-masked-input';
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import Multiselect from 'vue-multiselect';

    export default {
        components: {
            flatPickr,
            MaskedInput,
            Multiselect,
        },
        data: function () {
            return {
                agent: {},
                cities: [],
                logs: {},
                rateInsurance: [],
                curators: [],
                statuses: [],
                insurances: [],
                agentInsurances: [],
                agentRatesIds: [],
                selectedCurators: [],
                selectedInsurance: [],

                saveAgentUrl: null,

                configPicker: {
                    enableTime: true,
                    noCalendar: true,
                    dateFormat: "H:i",
                },

                value1: [],
                value2: [],
                value3: [],
                currentTab: 'tab_1',
                isActive: undefined,
                tabs: [
                    {
                        name: 'Информация',
                        key: 'tab_1',
                        image: '/img/icons/agents-info-b.svg',
                        imageActive: '/img/icons/agents-info.svg',
                    },
                    {
                        name: 'Выплачено',
                        key: 'tab_2',
                        image: '/img/icons/agents-w-done-b.svg',
                        imageActive: '/img/icons/agents-w-done.svg',
                    },
                    {
                        name: 'Начислено',
                        key: 'tab_3',
                        image: '/img/icons/agents-n-done-b.svg',
                        imageActive: '/img/icons/agents-n-done.svg',

                    },
                    {
                        name: 'Платежная информация',
                        key: 'tab_4',
                        image: '/img/icons/agents-card-b.svg',
                        imageActive: '/img/icons/agents-card.svg',
                    }
                ],
                optionsBets: [
                    {
                        name: 'Альфа (10-15)',
                        code: 3 ,
                    },
                    {
                        name: 'Наско (11-13)',
                        code: 4,
                    },

                ],
                optionsCurators: [
                    {
                        name: 'Николай Семакин',
                        code: 5 ,
                    },
                    {
                        name: 'Олександр Тартачник',
                        code: 6,
                    },

                ],
                filter: {
                    name: null,
                    last_name: null,
                    phone: null,
                    city_id: null,
                    status: '',
                    password: null,
                    worktime_from: null,
                    worktime_to: null,
                    bets: null,
                    curators: [],
                    actions: null,
                    numberRequest: null,
                    insurance: [],
                    is_important: false,
                    is_policy_subagents: false,
                    rates: [],
                },
                billingItem: [
                    {
                        title: 'Банковская карта',
                        image: '/img/icons/icon-card.svg',
                        cardTitle: 'Номер карты:',
                        cardNumber: '1234-5555-1234-6666'
                    },
                    {
                        title: 'Яндекс деньги',
                        image: '/img/icons/icon-ym.svg',
                        cardTitle: 'Номер карты:',
                        cardNumber: '1234 5555 1234 6666'
                    },
                    {
                        title: 'Реквизиты ИП / Юр. лица',
                        image: '/img/icons/icon-yr.svg',
                        cardTitle: 'реквизиты ИП / Юр. лица:',
                    },
                ],
                paidUp: [
                    {
                        numberId: 1,
                        receiptDate: '19.10.2018 00:10:00',
                        acceptDate: '20.10.2028 02:10:10',
                        padSumm: 88494494494,
                        status: 'Отменена',
                        image: '/img/icons/icon-card.svg',
                        origin: '1234-5555-1234-6666',
                    },
                    {
                        numberId: 2,
                        receiptDate: '19.10.2018 00:10:00',
                        acceptDate: '20.10.2028 02:10:10',
                        padSumm: 4494,
                        status: 'Отменена',
                        image: '/img/icons/icon-ym.svg',
                        origin: '1234 5555 1234 6666',
                    },
                    {
                        numberId: 3,
                        receiptDate: '19.10.1990 04:20:50',
                        acceptDate: '20.10.1995 01:13:30',
                        padSumm: 449544,
                        status: 'Отменена',
                        image: '/img/icons/icon-yr.svg',
                        origin: '1234-5555-1234-6666',
                    }

                ],
                paidOut: [
                    {
                        numberId: 1,
                        date: '19.10.2018 00:10:00',
                        padSumm: 88494494494,
                        status: 'Отменена',
                    },
                    {
                        numberId: 2,
                        date: '19.10.2018 00:10:00',
                        padSumm: 4494,
                        status: 'Отменена',
                    },
                    {
                        numberId: 3,
                        date: '19.10.1990 04:20:50',
                        padSumm: 449544,
                        status: 'Отменена',
                    }

                ],
                numberRequest: [
                    {
                        key: 1,
                        text: '1',
                        value: '1'
                    },
                    {
                        key: 2,
                        text: '2',
                        value: '2'
                    }
                ],
                actions: [
                    {
                        key: 1,
                        text: 'Редактировать',
                        value: '1'
                    }
                ],
                bets: [
                    {
                        key: 1,
                        text: '10%',
                        value: '1'
                    },
                    {
                        key: 2,
                        text: '20%',
                        value: '2'
                    }
                ],
                curators: [
                    {
                        key: 1,
                        text: 'Куратор 1',
                        value: '1'
                    },
                    {
                        key: 2,
                        text: 'Куратор 2',
                        value: '2'
                    }
                ],
                company: [
                    {
                        key: 1,
                        text: 'Наско',
                        value: '1'
                    },
                    {
                        key: 2,
                        text: 'Наско2',
                        value: '2'
                    }
                ],
                city: [
                    {
                        key: 1,
                        text: 'Абаза',
                        value: '1'
                    },
                    {
                        key: 2,
                        text: 'Астрахань',
                        value: '2'
                    },
                ],
                status: [
                    {
                        key: 1,
                        text: 'Статус 1',
                        value: '1'
                    },
                    {
                        key: 2,
                        text: 'Статус 2',
                        value: '2'
                    }
                ],
                filter: {

                },
            }
        },

        methods: {
            updateValueAction: function(value) {
                this.selectedCurators = value;
            },
            updateValueRates: function(value) {
                this.agentRatesIds = value;
            },
            updateValueInsurance: function(value) {
                this.agentInsurances = value;
            },
            onUpdate: function() {
                var getDataUrl = document.querySelector('#agent-update-route').getAttribute('data-agent-route');

                axios.post(this.saveAgentUrl, this.filter).then(response => {

                });
            },
            getAgentData: function() {
                var getDataUrl = document.querySelector('#agent-update-route').getAttribute('data-agent-route');

                axios.post(getDataUrl, this.data).then(response => {
                    this.loadData(response);
                });
            },
            loadData: function (response) {
                this.agent = response.data.agent;
                this.cities = response.data.cities;
                this.statuses = response.data.statuses;
                this.insurances = response.data.insurances;
                this.rateInsurance = response.data.rateInsurance;
                this.curators = response.data.curators;
                this.agentInsurances = response.data.agentInsurances;
                this.logs = response.data.logs;
                this.agentRatesIds = response.data.agentRatesIds;

                this.filter.worktime_from = this.agent.fromTime;
                this.filter.worktime_to = this.agent.toTime;

                this.saveAgentUrl = response.data.saveAgentUrl;
                this.selectedCurators = response.data.selectedCurators;
            },
            checkAgentCurators: function(rateInsurance) {
                for (var index = 0; index <= (this.selectedCurators.length - 1); index++) {
                    if (this.selectedCurators[index]['code'] == rateInsurance) {
                        return 'checked';
                    }
                }

                return '';
            },
            checkAgentInsurances: function(rateInsurance) {
                for (var index = 0; index <= (this.agentInsurances.length - 1); index++) {
                    if (this.agentInsurances[index]['code'] == rateInsurance) {
                        return 'checked';
                    }
                }

                return '';
            },
            checkAgentInsuranceRates: function(rate) {
                for (var index = 0; index <= (this.agentRatesIds.length - 1); index++) {
                    if (this.agentRatesIds[index]['code'] == rate) {
                        return 'checked';
                    }
                }

                return '';
            },
            addTag (newTag) {
                const tag = {
                    name: newTag,
                    code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                };
                // this.options.push(tag)
                this.value.push(tag)
            }
        },
        created: function () {
            this.getAgentData();
        },
        mounted: function () {
            this.$watch('selectedCurators', function () {
                this.filter.curators = this.selectedCurators;
            });

            this.$watch('agentRatesIds', function () {
                this.filter.rates = this.agentRatesIds;
            });

            this.$watch('agentInsurances', function () {
                this.filter.insurance = this.agentInsurances;
            });
        },
    }
</script>

