<template>

    <div>
        <div class="a-table__wrap--scroll">
            <div id="tabs" class="agetns-create__container">

            <div class="tabs">
                <a
                    v-bind:class="{ 'active': currentTab === tab.key}"
                    v-for="tab in tabs"
                    @click="currentTab = tab.key"
                    href="#" class="tab"
                >
                    <img class="agents-tab__img" :src="currentTab === tab.key ? tab.imageActive : tab.image">
                    <span>{{ tab.name }}</span>
                </a>
            </div>

            <div class="agents-tab__content">

                <div v-show="currentTab === 'tab_1'">
                    <div class="flex-row flex-tab__row">
                        <div class="a-table__field">
                            <div class="a-field__label">
                                Имя
                            </div>
                            <input
                                v-model="filter.name = agent.name"
                                placeholder="Имя"
                                class="a-input w-369"
                            >
                            <span v-if="allerros.name" :class="['label label-danger']">{{ allerros.name[0] }}</span>
                        </div>
                        <div class="a-table__field">
                            <div class="a-field__label">

                                Фамилия
                            </div>
                            <input
                                v-model="filter.last_name = agent.last_name"
                                placeholder="Фамилия"
                                class="a-input w-369"
                                type="text"
                            >
                            <span v-if="allerros.last_name" :class="['label label-danger']">{{ allerros.last_name[0] }}</span>
                        </div>
                        <div class="a-table__field">
                            <div class="a-field__label">
                                Телефон
                            </div>
                            <masked-input
                                placeholder="+7-___-___-__-__"
                                class="a-input w-369"
                                v-model="filter.phone = agent.phone"
                                mask="\+\7-111-111-11-11"
                            />
                            <span v-if="allerros.phone" :class="['label label-danger']">{{ allerros.phone[0] }}</span>
                        </div>
                        <div class="a-table__field">
                            <div class="a-field__label">
                                Город
                            </div>
                            <sui-dropdown
                                class="a-select__input w-369"
                                placeholder="Выберите город"
                                selection
                                :options="cities"
                                v-model="filter.city_id = agent.city_id"
                            ></sui-dropdown>
                            <span v-if="allerros.city_id" :class="['label label-danger']">{{ allerros.city_id[0] }}</span>
                        </div>
                    </div>
                    <div class="flex-row flex-tab__row">
                        <div class="a-table__field">
                            <div class="a-field__label">
                                Статус
                            </div>
                            <sui-dropdown
                                class="a-select__input w-369"
                                placeholder="Выберите статус"
                                selection
                                :options="statuses"
                                v-model="filter.status = agent.status"
                            ></sui-dropdown>
                            <span v-if="allerros.status" :class="['label label-danger']">{{ allerros.status[0] }}</span>
                        </div>
                        <div class="a-table__field">
                            <div class="a-field__label">
                                Новый пароль
                            </div>
                            <input
                                type="password"
                                v-model="filter.password"
                                placeholder="Пароль"
                                class="a-input w-369"
                            >
                            <span v-if="allerros.password" :class="['label label-danger']">{{ allerros.password[0] }}</span>
                        </div>
                        <div class="a-table__field">
                            <div class="a-field__label">
                                Период
                            </div>
                            <div class="wrap-flatpickr">
                                <flat-pickr
                                    class="a-input a-select__date w-170 datepickerVue"
                                    
                                    :config="configPicker"
                                    v-model="filter.worktime_from"
                                    placeholder="В-те дату"
                                ></flat-pickr>
                                <i class="fas flat-down fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="a-table__field">
                            <div class="wrap-flatpickr wrap-flatpickr__last">
                                <flat-pickr
                                    class="a-input a-select__date w-170 a-select__date--last datepickerVue"
                                    
                                    :config="configPicker"
                                    v-model="filter.worktime_to"
                                    placeholder="В-те дату"
                                ></flat-pickr>
                                <i class="fas flat-down fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="a-table__field">
                            <div class="a-field__label">
                                Страховые компании
                            </div>
                            <div class="w-369">
                                <multiselect
                                    :value="agentInsurances"
                                    @input="updateValueInsurance"

                                    :multiple="true"
                                    :taggable="true"
                                    placeholder="Все"
                                    label="name"
                                    track-by="name"
                                    :clear-on-select="false"
                                    :options="insurances"
                                    :close-on-select="false"
                                    tag-placeholder=""
                                    :searchable="false"
                                >
                                    <template
                                        slot="option"
                                        slot-scope="agentProp"
                                    >
                                        <span class="a-choice a-choice--checkbox">
                                            <input
                                                class="input-tag a-choice__input" :id="'insurance-' + agentProp.option.code"
                                                type="checkbox"

                                                :checked="checkAgentInsurances(agentProp.option.code)"
                                            >
                                            <label
                                                class="opt a-choice__label"
                                                :for="'insurance-' + agentProp.option.code"
                                            >{{ agentProp.option.name }}</label>
                                        </span>

                                    </template>
                                </multiselect>
                                <span v-if="allerros.insurance" :class="['label label-danger']">{{ allerros.insurance[0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex-row flex-row__checkbox">
                        <div class="a-table__field">
                            <div class="a-choice a-choice--checkbox a-tab__checkbox">
                                <input
                                    type="checkbox"
                                    id="create-agent__important"
                                    name="create-agent__important"
                                    class="a-choice__input"
                                    v-model="filter.is_important = agent.is_important"
                                >
                                <label for="create-agent__important" class="a-choice__label">Важный</label>
                            </div>
                        </div>
                        <div class="a-table__field">
                            <div class="a-choice a-choice--checkbox a-tab__checkbox">
                                <input
                                    type="checkbox"
                                    id="create-agent__polices"
                                    name="create-agent__polices"
                                    class="a-choice__input"
                                    v-model="filter.is_policy_subagents = agent.is_policy_subagents"
                                >
                                <label for="create-agent__polices" class="a-choice__label">Учитывать полисы субагентов</label>
                            </div>
                        </div>
                    </div>
                    <div class="flex-row flex-tab__row">
                        <div class="a-table__field">
                            <div class="a-field__label">
                                Ставки
                            </div>
                            <div class="w-369">
                                <multiselect
                                    :value="agentRatesIds"
                                    @input="updateValueRates"

                                    :multiple="true"
                                    :taggable="true"

                                    placeholder="Выберите ставки"
                                    label="name"
                                    track-by="name"
                                    :clear-on-select="false"
                                    :options="rateInsurance"
                                    :close-on-select="false"
                                    tag-placeholder=""
                                    :searchable="false"
                                >
                                    <template
                                        slot="option"
                                        slot-scope="props"
                                    >
                                        <span
                                            class="a-choice a-choice--checkbox"
                                        >
                                            <input
                                                class="input-tag a-choice__input"
                                                :id="'rate-'+props.option.code"
                                                type="checkbox"

                                                :checked="checkAgentInsuranceRates(props.option.code)"
                                            >
                                            <label
                                                class="opt a-choice__label"
                                                :for="'rate-'+props.option.code"
                                            >{{ props.option.name }}</label>
                                        </span>

                                    </template>
                                </multiselect>
                            </div>
                        </div>
                        <div class="a-table__field">
                            <div class="a-field__label">
                                Кураторы
                            </div>
                            <div class="w-369">
                                <multiselect
                                    :value="selectedCurators"
                                    @input="updateValueAction"

                                    :multiple="true"
                                    :taggable="true"
                                    
                                    placeholder="Все"
                                    label="name"
                                    track-by="name"
                                    :clear-on-select="false"
                                    :options="curators"
                                    :close-on-select="false"
                                    tag-placeholder=""
                                    :searchable="false"
                                >
                                    <template slot="option" slot-scope="props" >
                                        <span class="a-choice a-choice--checkbox">
                                            <input
                                                class="input-tag a-choice__input"
                                                :id="'curator-'+props.option.code"
                                                type="checkbox"

                                                :checked="checkAgentCurators(props.option.code)"
                                            >
                                            <label class="opt a-choice__label" :for="'curator-'+props.option.code">{{ props.option.name }}</label>
                                        </span>

                                    </template>
                                </multiselect>
                            </div>
                        </div>
                    </div>
                    <div class="flex-row flex-tab__row">
                        <div class="a-table__field">
                            <a
                                class="a-btn a-btn__pink"
                                @click="onUpdate();"
                            >
                                <i class="fas fa-check"></i>
                                Применить
                            </a>
                        </div>
                    </div>

                </div>
                <div v-show="currentTab === 'tab_2'">
                    <div class="row-no__records" v-if="withdraws.length == 0">
                        <span>Нет записей</span>
                    </div>

                    <div
                        class="a-table a-table__tab2"
                        v-if="withdraws.length > 0"
                    >
                        <div class="a-table__header a-table__tab--header">
                            <div class="table-col table-col__1">
                                #
                            </div>
                            <div class="table-col">Дата поступления заявки</div>
                            <div class="table-col">Дата одобрения заявки</div>
                            <div class="table-col">Сумма</div>
                            <div class="table-col">Статус</div>
                            <div class="table-col">Источник</div>
                            <div class="table-col table-col__7">Действия</div>
                        </div>
                        <div
                            class="a-table__row a-table__row--flex"
                            v-for="withdraw, key in withdraws"
                        >
                            <div class="table-col table-col__1">
                                <span class="a-table__text--weight">{{ key + 1 }}</span>
                            </div>
                            <div class="table-col ">
                                <span class="a-table__text--grey">{{ withdraw.created_at }}</span>
                            </div>
                            <div class="table-col">
                                <span class="a-table__text--grey">{{ withdraw.updated_at }}</span>
                            </div>
                            <div class="table-col">
                                <span class="a-table__text--weight">{{ withdraw.amount }} p.</span>
                            </div>
                            <div class="table-col">
                                <!--Добавить один із класів (на рассмотрении)"a-table__text--weight", (отменена)"a-table__text--pink", (одобрена)"a-table__text--green" -->

                                <sui-dropdown
                                    class="a-select__input w-170 a-select__do"
                                    placeholder="Действия"
                                    selection
                                    :options="withdrawStatuses"
                                    v-model="withdraw.status"
                                    v-if="filter.withdraw[withdraw.id]"
                                >
                                    <sui-dropdown-menu>
                                        <sui-dropdown-item
                                            :selected="withdraw.status == 'in_progress'"
                                            v-on:click="searchObjectBySelected(withdraw, 'in_progress', key)"

                                        >В обработке</sui-dropdown-item>

                                        <sui-dropdown-item
                                            :selected="withdraw.status == 'paid'"
                                            v-on:click="searchObjectBySelected(withdraw, 'paid', key)"
                                        >Выплачено</sui-dropdown-item>

                                        <sui-dropdown-item
                                            :selected="withdraw.status == 'reject'"
                                            v-on:click="searchObjectBySelected(withdraw, 'reject', key)"
                                        >Отклонено</sui-dropdown-item>
                                    </sui-dropdown-menu>
                                </sui-dropdown>
                                <span
                                    :class="getAgentWithdrawStatusClass(withdraw)"
                                    v-if="!filter.withdraw[withdraw.id]"
                                >{{ withdraw.status_name }}</span>
                            </div>
                            <div class="table-col table-col__6">
                                <span>
                                    <img
                                        :src="withdraw.icon"
                                        :alt="withdraw.type_name"
                                        :title="withdraw.type_name"
                                    >
                                    {{ withdraw.card_number_mask }}
                                </span>
                            </div>
                            <div class="table-col table-col__7">
                                <sui-dropdown
                                    class="a-select__input w-170 a-select__do"
                                    placeholder="Действия"
                                    selection
                                    :options="actions"
                                    v-model="filter.withdraw[withdraw.id]"
                                ></sui-dropdown>
                            </div>
                        </div>
                        
                    </div>
                    <!--Під питанням чи будуть ці кнопки-->
                </div>


                <div v-show="currentTab === 'tab_3'">
                    <div class="row-no__records" v-if="accrueds.length == 0">
                        <span>Нет записей</span>
                    </div>
                    <div class="a-table a-table__tab3">
                        <div class="a-table__header a-table__tab--header" v-if="accrueds.length > 0">
                            <div class="table-col table-col__1">
                                #
                            </div>
                            <div class="table-col">Дата</div>
                            <div class="table-col">Сумма</div>
                            <div class="table-col">Документ</div>
                            <div class="table-col">Статус</div>
                            <div class="table-col table-col__7">Действие</div>
                        </div>
                        <div
                            class="a-table__row a-table__row--flex"
                            v-for="accrued, key in accrueds"
                            v-if="accrueds.length > 0"
                        >
                            <div class="table-col table-col__1">
                                <span class="a-table__text--weight">{{ key + 1 }}</span>
                            </div>
                            <div class="table-col ">
                                <span class="a-table__text--grey">{{ accrued.date }}</span>
                            </div>
                            <div class="table-col">
                                <span class="a-table__text--weight">{{ accrued.sum }} p.</span>
                            </div>
                            <div class="table-col">
                                <span v-if="accrued.file">
                                    <!--icons-->
                                    <a
                                        :href="'/storage/app/'+accrued.file"
                                        target="_blank"
                                        class="a-btn__download"
                                    >Скачать</a>
                                </span>
                            </div>
                            <div class="table-col">
                                <!--Добавить один із класів (на рассмотрении)"a-table__text--weight", (отменена)"a-table__text--pink", (одобрена)"a-table__text--green" -->
                                <span class="a-table__text--pink">{{ getStatus(accrued.status) }}</span>
                            </div>
                            <div class="table-col table-col__7">
                                <sui-dropdown
                                    class="a-select__input w-170 a-select__do"
                                    placeholder="Действия"
                                    selection
                                    :options="actions"
                                    
                                >
                                    <sui-dropdown-menu>
                                        <sui-dropdown-item
                                            v-on:click="editAccruedItem(accrued, key)"
                                        >Редавктировать</sui-dropdown-item>
                                    </sui-dropdown-menu>
                                </sui-dropdown>
                            </div>
                        </div>


                        <div
                            v-if="filter.isShowEditAccrued"
                        >
                        <div class="flex-row flex-tab__row">
                            <div class="a-table__field">
                                <div class="a-field__label">
                                    Дата
                                </div>
                                <flat-pickr
                                    class="a-input a-select__date w-170 datepickerVue"
                                    :config="configPickerAccrued"
                                    v-model="filter.tab_date"
                                    placeholder="В-те дату"
                                ></flat-pickr>
                            </div>
                            <div class="a-table__field">
                                <div class="a-field__label">
                                    Сумма
                                </div>
                                <input
                                    v-model="filter.tab_sum"
                                    placeholder="Сумма"
                                    class="a-input w-369"
                                    type="number"
                                >
                            </div>
                            <div class="a-table__field">
                                <div class="a-field__label">
                                    Документ
                                </div>
                                <input
                                    class="a-input w-369"
                                    type="file"
                                    id="file"
                                    ref="file"
                                    v-on:change="handleFileUpload()"
                                >
                            </div>
                            <div class="a-table__field">
                                <div class="a-field__label">
                                    Статус
                                </div>
                                <sui-dropdown
                                    class="a-select__input w-369"
                                    placeholder="Выберите статус"
                                    selection
                                    search
                                    :options="withdrawStatuses"
                                    v-model="filter.tab_status"
                                ></sui-dropdown>
                            </div>
                        </div>
                        </div>


                        <div class="flex-row flex-tab__row flex-row__btn">
                            <div class="a-table__field">
                                <sui-dropdown
                                    class="a-select__input w-160"
                                    placeholder="Действия"
                                    selection
                                    :options="actionAccrued"
                                    v-model="filter.actionAccrued"
                                ></sui-dropdown>
                            </div>
                            <div class="a-table__field" v-if="filter.isShowEditAccrued">
                                <a
                                    class="a-btn a-btn__pink"
                                    @click="onAccrued();"
                                ><i class="fas fa-check"></i>Применить</a>
                            </div>
                        </div>

                    </div>
                </div>


                <div v-show="currentTab === 'tab_4'">
                    <div class="row-no__records" v-if="billingItem.length == 0">
                        <span>Нет записей</span>
                    </div>
                    <div class="billing-info__wrap" >
                        <div
                            class="billing-info__item"
                            v-for="billing in billingItem"
                        >
                            <div class="billing-info__item--row">
                                <span class="billing-info__item--title">{{billing.title}}</span>
                                <img class="agents-tab__img" :src="billing.image">
                            </div>
                            <div v-if="billing.type == 'requisites'">
                                <div v-for="value in billing.values">
                                    <span class="number-card__title">{{ getRequisiteType(value.field) }}: </span>
                                    <span>{{ value.value }}</span>
                                </div>
                            </div>
                            <div class="billing-info__item--row" v-if="billing.type != 'requisites'">
                                <span class="number-card">
                                    <span class="number-card__title">{{ billing.cardTitle }}</span>
                                    {{ billing.cardNumber }}
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        </div>
        <div class="a-table__wrap--scroll" v-if="logs.length > 0">
            <div class="a-admin__info">
                <ul class="a-admin__info--list">
                    <li v-for="log in logs">
                        <span>{{ log.description }} - {{ log.created_at_format }}</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</template>

<script>

    import Vue from 'vue';
    import MaskedInput from 'vue-masked-input';
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import Multiselect from 'vue-multiselect';

    export default {
        components: {
            flatPickr,
            MaskedInput,
            Multiselect,
        },
        data: function () {
            return {
                agent: {},
                cities: [],
                logs: {},
                withdraws: {},
                rateInsurance: [],
                curators: [],
                statuses: [],
                insurances: [],
                agentInsurances: [],
                agentRatesIds: [],
                selectedCurators: [],
                selectedInsurance: [],
                withdrawStatuses: {},
                accrueds: {},
                paymentInfo: [],
                accruedStatuse: [],

                allerros: [],
                requisiteTypes: [],

                saveAgentUrl: null,
                saveAgentWithdrawUrl: null,

                configPicker: {
                    enableTime: true,
                    noCalendar: true,
                    dateFormat: "H:i",
                },
                configPickerAccrued: {
                    dateFormat: "Y-m-d",
                },

                value1: [],
                value2: [],
                value3: [],
                currentTab: 'tab_1',
                isActive: undefined,
                tabs: [
                    {
                        name: 'Информация',
                        key: 'tab_1',
                        image: '/img/icons/agents-info-b.svg',
                        imageActive: '/img/icons/agents-info.svg',
                    },
                    {
                        name: 'Выплачено',
                        key: 'tab_2',
                        image: '/img/icons/agents-w-done-b.svg',
                        imageActive: '/img/icons/agents-w-done.svg',
                    },
                    {
                        name: 'Начислено',
                        key: 'tab_3',
                        image: '/img/icons/agents-n-done-b.svg',
                        imageActive: '/img/icons/agents-n-done.svg',

                    },
                    {
                        name: 'Платежная информация',
                        key: 'tab_4',
                        image: '/img/icons/agents-card-b.svg',
                        imageActive: '/img/icons/agents-card.svg',
                    }
                ],
                filter: {
                    name: null,
                    last_name: null,
                    phone: null,
                    city_id: null,
                    status: '',
                    password: null,
                    worktime_from: null,
                    worktime_to: null,
                    curators: [],
                    actions: null,
                    insurance: [],
                    is_important: false,
                    is_policy_subagents: false,
                    rates: [],
                    withdraw: [],
                    withdrawStatus: [],
                    accrued: [],
                    accrued: [],
                    actionAccrued: null,
                    isShowEditAccrued: false,

                    tab_date: null,
                    tab_sum: 0,
                    tab_file: null,
                    tab_status: null,
                    tab_type: 'accrued',
                    tab_id: 0,
                },
                billingItem: [],
                paidUp: [
                    {
                        numberId: 1,
                        receiptDate: '19.10.2018 00:10:00',
                        acceptDate: '20.10.2028 02:10:10',
                        padSumm: 88494494494,
                        status: 'Отменена',
                        image: '/img/icons/icon-card.svg',
                        origin: '1234-5555-1234-6666',
                    },
                    {
                        numberId: 2,
                        receiptDate: '19.10.2018 00:10:00',
                        acceptDate: '20.10.2028 02:10:10',
                        padSumm: 4494,
                        status: 'Отменена',
                        image: '/img/icons/icon-ym.svg',
                        origin: '1234 5555 1234 6666',
                    },
                    {
                        numberId: 3,
                        receiptDate: '19.10.1990 04:20:50',
                        acceptDate: '20.10.1995 01:13:30',
                        padSumm: 449544,
                        status: 'Отменена',
                        image: '/img/icons/icon-yr.svg',
                        origin: '1234-5555-1234-6666',
                    }

                ],
                paidOut: [
                    {
                        numberId: 1,
                        date: '19.10.2018 00:10:00',
                        padSumm: 88494494494,
                        status: 'Отменена',
                    },
                    {
                        numberId: 2,
                        date: '19.10.2018 00:10:00',
                        padSumm: 4494,
                        status: 'Отменена',
                    },
                    {
                        numberId: 3,
                        date: '19.10.1990 04:20:50',
                        padSumm: 449544,
                        status: 'Отменена',
                    }

                ],
                actionAccrued: [
                    {
                        key: 1,
                        text: 'Добавить',
                        value: '1'
                    }
                ],
                actions: [
                    {
                        key: 1,
                        text: 'Редактировать',
                        value: '1'
                    }
                ],
            }
        },

        methods: {
            handleFileUpload() {
                this.filter.tab_file = this.$refs.file.files[0];
            },
            editAccruedItem: function(accrued, key) {
                this.filter.isShowEditAccrued = true;

                this.filter.tab_date = accrued.date;
                this.filter.tab_sum = accrued.sum;
                this.filter.tab_file = accrued.file;
                this.filter.tab_status = accrued.status;
                this.filter.tab_id = accrued.id;
                this.filter.accrued_key = key;
            },
            getRequisiteType: function(type) {
                return this.requisiteTypes[type];
            },
            getStatus: function(status) {
                return this.accruedStatuse[status];
            },
            searchObjectBySelected: function(withdraw, status, key) {
                if (status == '') {
                    return;
                }

                axios.post(this.saveAgentWithdrawUrl, {
                    status: status,
                    id: withdraw.id,
                }).then(response => {
                    // withdraw.status = response.data.status;

                    this.withdraws[key].status = response.data.status.key;
                });
            },
            getAgentWithdrawStatusClass: function(withdraw) {
                if (withdraw.status == 'reject') {
                    return 'a-table__text--pink';
                }

                if (withdraw.status == 'paid') {
                    return 'a-table__text--green';
                }

                return 'a-table__text--weight';
            },
            updateValueAction: function(value) {
                this.selectedCurators = value;
            },
            updateValueRates: function(value) {
                this.agentRatesIds = value;
            },
            updateValueInsurance: function(value) {
                this.agentInsurances = value;
            },
            onUpdate: function() {
                var getDataUrl = document.querySelector('#agent-update-route').getAttribute('data-agent-route');

                axios.post(this.saveAgentUrl, this.filter).then(response => {
                    this.allerros = {};
                }).catch((error) => {
                    this.allerros = error.response.data.errors;
                    this.success = false;
                });

            },
            onAccrued: function() {
                var getDataUrl = document.querySelector('#agent-update-route').getAttribute('data-agent-route');

                let formData = new FormData();

                if (this.filter.tab_file != null) {
                    formData.append('tab_file', this.filter.tab_file);
                }

                for (var filter in this.filter) {
                    if( this.filter.hasOwnProperty(filter) && this.filter[filter] != null) {
                        if (Array.isArray(this.filter[filter])) {
                            formData.append(filter, 
                                JSON.stringify(this.filter[filter], null, 3)
                            );

                            ;
                        } else {
                            formData.append(filter, this.filter[filter]);
                        }

                    }
                }

                formData.append('is_json', true);

                axios.post(this.saveAgentUrl, 
                    formData,
                      {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                      }
                ).then(response => {
                    this.accrueds = response.data.accrueds;

                    this.filter.isShowEditAccrued = false;
                    this.filter.actionAccrued = 0;
                }).catch((error) => {
                    this.allerros = error.response.data.errors;
                    this.success = false;
                });

            },
            getAgentData: function() {
                var getDataUrl = document.querySelector('#agent-update-route').getAttribute('data-agent-route');

                axios.post(getDataUrl, this.data).then(response => {
                    this.loadData(response);
                }).catch((error) => {
                    
                })
            },
            loadData: function (response) {
                this.agent = response.data.agent;
                this.cities = response.data.cities;
                this.statuses = response.data.statuses;
                this.insurances = response.data.insurances;
                this.rateInsurance = response.data.rateInsurance;
                this.curators = response.data.curators;
                this.agentInsurances = response.data.agentInsurances;
                this.logs = response.data.logs;
                this.agentRatesIds = response.data.agentRatesIds;
                this.requisiteTypes = response.data.requisiteTypes;
                this.accruedStatuse = response.data.accruedStatuse;

                this.withdraws = response.data.withdraws;
                this.accrueds = response.data.accrueds;
                this.paymentInfo = response.data.paymentInfo;

                this.withdrawStatuses = response.data.withdrawStatuses;

                this.filter.worktime_from = this.agent.fromTime;
                this.filter.worktime_to = this.agent.toTime;

                this.saveAgentUrl = response.data.saveAgentUrl;
                this.saveAgentWithdrawUrl = response.data.saveAgentWithdrawUrl;
                this.selectedCurators = response.data.selectedCurators;

                if (this.paymentInfo.bank) {
                    this.billingItem.push({
                        title: 'Банковская карта',
                        image: '/img/icons/icon-card.svg',
                        cardTitle: 'Номер карты:',
                        cardNumber: this.paymentInfo.bank.value,
                    });
                }
                if (this.paymentInfo.yandex) {
                    this.billingItem.push({
                        title: 'Яндекс деньги',
                        image: '/img/icons/icon-ym.svg',
                        cardTitle: 'Номер карты:',
                        cardNumber: this.paymentInfo.yandex.value,
                    });
                }
                if (this.paymentInfo.requisites) {
                    this.billingItem.push({
                        title: 'Реквизиты ИП / Юр. лица',
                        image: '/img/icons/icon-yr.svg',
                        values: this.paymentInfo.requisites,
                        type: 'requisites',
                    });
                }
            },
            checkAgentCurators: function(rateInsurance) {
                for (var index = 0; index <= (this.selectedCurators.length - 1); index++) {
                    if (this.selectedCurators[index]['code'] == rateInsurance) {
                        return 'checked';
                    }
                }

                return '';
            },
            checkAgentInsurances: function(rateInsurance) {
                for (var index = 0; index <= (this.agentInsurances.length - 1); index++) {
                    if (this.agentInsurances[index]['code'] == rateInsurance) {
                        return 'checked';
                    }
                }

                return '';
            },
            checkAgentInsuranceRates: function(rate) {
                for (var index = 0; index <= (this.agentRatesIds.length - 1); index++) {
                    if (this.agentRatesIds[index]['code'] == rate) {
                        return 'checked';
                    }
                }

                return '';
            },
            addTag (newTag) {
                const tag = {
                    name: newTag,
                    code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                };
                // this.options.push(tag)
                this.value.push(tag)
            }
        },
        created: function () {
            this.getAgentData();
        },
        mounted: function () {
            this.$watch('selectedCurators', function () {
                this.filter.curators = this.selectedCurators;
            });

            this.$watch('agentRatesIds', function () {
                this.filter.rates = this.agentRatesIds;
            });

            this.$watch('agentInsurances', function () {
                this.filter.insurance = this.agentInsurances;
            });

            this.$watch('filter.actionAccrued', function () {
                if (this.filter.actionAccrued == 1) {
                    this.filter.isShowEditAccrued = true;
                }
            });
        },
    }
</script>

