<template>
    <div>
        <div class="a-table__wrap">
            <div class="a-table__wrap--scroll">
                <div class="a-table a-table__filter a-table__filter--agents">
                    <div class="a-table__header table-header__js">
                        <span class="a-table__title--header">
                            Фильтр
                        </span>
                        <i class="fas fa-caret-down"></i>
                    </div>
                    <div class="a-table__body a-table__body--filter table-body__js">
                        <div class="a-table__wrap--container">
                            <div class="a-table__field">
                                <div class="a-field__label">
                                    Имя Фамилия
                                </div>
                                <input v-model="filter.nameLastName" placeholder="Имя Фамилия" type="text"
                                       class="a-input w-286">
                            </div>
                            <div class="a-table__field">
                                <div class="a-field__label">
                                    Дата регистрации
                                </div>
                                <div class="wrap-flatpickr">
                                    <flat-pickr
                                            class="a-input a-select__date a-select__date--register datepickerVue w-286"
                                            data-max-date="today"
                                            :config="configPicker"
                                            v-model="filter.date"
                                            placeholder="2010-01-01 00:00:00"
                                    ></flat-pickr>
                                    <i class="fas flat-down fa-caret-down"></i>
                                </div>

                            </div>
                            <div class="a-table__field">
                                <div class="a-field__label">
                                    Город
                                </div>
                                <div class="w-286">
                                    <multiselect
                                            :multiple="true"
                                            :taggable="true"
                                            v-model="filter.cities"
                                            deselectLabel=""
                                            selectLabel=""
                                            selectedLabel=""
                                            placeholder="Город"
                                            label="name"
                                            track-by="name"
                                            :clear-on-select="false"
                                            :options="cities"
                                            :close-on-select="false"
                                            tag-placeholder=""
                                            :searchable="true"
                                    >
                                    </multiselect>
                                </div>
                            </div>
                            <div class="a-table__field">
                                <a
                                        class="a-btn a-btn__pink"
                                        @click="filtered()"
                                ><i class="fas fa-check"></i>Применить</a>
                            </div>
                            <div class="a-table__field">
                                <a class="a-btn a-btn__filter" @click="resetFilter()"><i class="far fa-trash-alt"></i>Сбросить
                                    фильтр</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="a-table__wrap">
            <div class="wrap-pagination">
                <div class="sort-polices">
                    <span class="sort-polices__text">Показать</span>
                    <div class="wrap-input__sort">
                        <input class="number-sort c-input"  type="number" v-model="showPolices" v-on:keypress.enter.prevent="filtered()">
                        <div class="btn-add__count">
                            <i class="fas fa-caret-up" v-on:click="showPolices += 10"></i>
                            <i class="fas fa-caret-down" v-on:click="showPolices > 0 ? showPolices -= 10 : showPolices = 0"></i>
                        </div>
                    </div>

                    <span class="sort-polices__text">{{ currentItems }}</span> <span class="sort-polices__text">из</span> <span class="sort-polices__text">{{ totalItems }}</span>
                </div>
                <pagination
                        :data="agents"
                        :show-disabled="true"
                        :limit="1"
                        @pagination-change-page="getResults"
                >
                    <span slot="prev-nav"><i class="fas fa-caret-left"></i></span>
                    <span slot="next-nav"><i class="fas fa-caret-right"></i></span>
                </pagination>
            </div>
            <div class="a-table__wrap--scroll">
                <div class="a-table a-table__all a-table__agents">
                    <div class="a-table__header">
                        <div class="table-col table-col__1">U-ID</div>
                        <div class="table-col table-col__2">Агент</div>
                        <div class="table-col table-col__3">Имя<br>Фамилия</div>
                        <div class="table-col table-col__4">Город</div>
                        <div class="table-col table-col__5">Контакты</div>
                        <div class="table-col table-col__6">Полисы</div>
                        <div class="table-col table-col__7">Статус</div>
                        <div class="table-col table-col__8">Зарегистрирован</div>
                        <div class="table-col table-col__9">Выплачено</div>
                        <div class="table-col table-col__10">Начислено</div>
                        <div class="table-col table-col__11">Всего</div>
                        <div class="table-col table-col__12"></div>
                        <div class="table-col table-col__13">Субагенты</div>
                    </div>
                    <div class="a-table__body">
                        <div
                                class="a-table__wrap--row a-table__wrap--toggle" v-for="agent in agents.data"
                        >
                            <div class="a-table__row a-table__row--parent a-table__row--flex">
                                <div class="table-col table-col__1">
                                    <span class="a-table__text--weight">{{ agent.id }}</span>
                                </div>
                                <div class="table-col table-col__2">
                                    <span
                                            class="agent-well__green"
                                    ><i
                                            class="fas"
                                            v-bind:class="checkIsAgent(agent)"
                                    ></i></span>
                                </div>
                                <!--if need minus for col Agent, use this span and icon-->
                                <!--<span class="agent-not__done&#45;&#45;black"><i class="fas fa-minus"></i></span>-->
                                <a
                                        :href="agent.statisticUrl"
                                        class="table-col table-col__3"
                                >
                                    <span class="a-table__text--weight">{{ agent.name }} {{ agent.last_name }}</span>
                                </a>
                                <div class="table-col table-col__4">{{ agent.city_name }}</div>
                                <div class="table-col table-col__5 table-col__flex--5">
                                    <div class="a-table__text--grey" v-tooltip="agent.email">
                                        {{ agent.email }}
                                    </div>
                                    <div class="a-table__text--grey">
                                        {{ agent.phone }}
                                    </div>
                                </div>
                                <div class="table-col table-col__6">
                                    {{ agent.policesCount }}
                                </div>
                                <div class="table-col table-col__7">
                                    <span class="a-table__text--weight">
                                        {{ getStatusName(agent.status) }}
                                    </span>
                                </div>
                                <div class="table-col table-col__8">
                                    <span class="a-table__text--grey">
                                        {{ agent.created_at }}
                                </span>
                                </div>
                                <div class="table-col table-col__9">
                                    <span class="a-table__text--pink">
                                        {{ agent.formated_paidouts }} р.
                                    </span>
                                </div>
                                <div class="table-col table-col__10">
                                    <span class="agent-well__green">
                                        {{ agent.formated_accrued }} р.
                                    </span>
                                </div>
                                <div class="table-col table-col__11">
                                    <span class="a-table__text--weight">
                                        {{ agent.formated_balance > 0 ? agent.formated_balance : '0.00' }} р.
                                    </span>
                                </div>
                                <div class="table-col table-col__12">
                                    <sui-dropdown
                                            class="a-select__input w-148 a-select__do"
                                            placeholder="Действия"
                                            selection
                                            :options="actionsParent"
                                            v-model="filter.actionsParent[agent.id]"
                                    >
                                        <sui-dropdown-menu>
                                            <sui-dropdown-item>
                                                <a :href="'/admin/agents/edit/'+agent.id">Редактировать</a>
                                            </sui-dropdown-item>
                                        </sui-dropdown-menu>
                                    </sui-dropdown>
                                </div>
                                <div
                                        class="table-col table-col__13"
                                >
                                    <div
                                            v-if="agent.count_agents > 0"
                                            v-on:click="
                                            agent.show = !agent.show
                                        "
                                            class="agents-pseudo__dropdown a-input a-select__input--green"
                                    >
                                        <span class="a-sum__sub">
                                            {{ agent.count_agents }}
                                        </span>
                                        <i class="fas fa-caret-down"></i>
                                    </div>
                                </div>
                            </div>

                            <tree v-if="agent.show" :tree-data="agent" :statuses="statuses"></tree>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-pagination">
                <div class="sort-polices">
                    <span class="sort-polices__text">Показать</span>
                    <div class="wrap-input__sort">
                        <input class="number-sort c-input"  type="number" v-model="showPolices" v-on:keypress.enter.prevent="filtered()">
                        <div class="btn-add__count">
                            <i class="fas fa-caret-up" v-on:click="showPolices += 10"></i>
                            <i class="fas fa-caret-down" v-on:click="showPolices > 0 ? showPolices -= 10 : showPolices = 0"></i>
                        </div>
                    </div>

                    <span class="sort-polices__text">{{ currentItems }}</span> <span class="sort-polices__text">из</span> <span class="sort-polices__text">{{ totalItems }}</span>
                </div>
                <pagination
                        :data="agents"
                        :show-disabled="true"
                        :limit="1"
                        @pagination-change-page="getResults"
                >
                    <span slot="prev-nav"><i class="fas fa-caret-left"></i></span>
                    <span slot="next-nav"><i class="fas fa-caret-right"></i></span>
                </pagination>
            </div>
        </div>
    </div>
</template>

<script>

    import Vue from 'vue';
    import flatPickr from 'vue-flatpickr-component';
    import pagination from 'laravel-vue-pagination';
    import 'flatpickr/dist/flatpickr.css';
    import Multiselect from 'vue-multiselect';
    import Tree from "./Tree.vue";

    export default {
        name: "agents",
        components: {
            flatPickr,
            Multiselect,
            Tree,
            pagination
        },
        data: function () {
            return {
                agents: {},
                cities: [],
                statuses: [],
                statisticAgentUrl: null,
                totalItems: 0,
                currentItems: '',
                showPolices: 50,
                actionsParent: [
                    {
                        key: 1,
                        text: 'Редактировать',
                        value: '1'
                    },
                ],
                configPicker: {
                    enableTime: true,
                    allowInput: true,
                    dateFormat: "Y-m-d H:i:s",
                    time_24hr: true,
                    enableSeconds: true
                },
                value: [],
                optionsCity: [
                    {
                        name: 'Астрахань',
                        code: 1,
                    },
                    {
                        name: 'Москва',
                        code: 2,
                    },

                ],
                none: false,
                filter: {
                    cities: null,
                    full_name: null,
                    date: null,
                    actionsParent: []
                },
            }
        },
        watch: {
            showPolices: function() {
                if(this.showPolices > 500) {
                    this.showPolices = 500;
                }
            }
        },
        methods: {
            filtered(page = 1) {
                window.preloader();

                Vue.http.headers.common['X-CSRF-TOKEN'] = document.querySelector('[name="csrf-token"]').getAttribute('content');

                this.filter.perPage = this.showPolices;

                axios.post('agents?page=' + page, this.filter).then(response => {
                    this.loadData(response);
                });
            },
            loadData: function (response) {
                this.agents = response.data.agents;
                this.cities = response.data.cities;
                this.statuses = response.data.statuses;
                this.statisticAgentUrl = response.data.statisticAgentUrl;
                this.currentItems = response.data.currentItems;
                this.totalItems = response.data.totalItems;
console.log(this.agents);
                window.preloader();
            },
            resetFilter: function () {
                this.filter = {};

                this.filtered();
            },
            getResults: function (page = 1) {
                this.filtered(page);
            },
            checkIsAgent(agent) {
                return {
                    'fa-check': agent.parent_user_id == null,
                    'fa-minus': agent.parent_user_id != null,
                }
            },
            getStatusName: function (status) {
                for (let item of this.statuses) {
                    if (item.code === status) {
                        return item.name;
                    }
                }

                return '';
            },
            editAgent: function (id) {
                let list = document.querySelector('[data-agent-id="2"]');

                console.log(list.getAttribute('value'));
            },
            addTag(newTag) {
                const tag = {
                    name: newTag,
                    code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                };
                // this.options.push(tag)
                this.value.push(tag)
            }
        },
        mounted: function () {
            window.preloader();

            this.$watch('actionsParent', function (value, oldvalue) {
                console.log(value);
                console.log(oldvalue);
            });
        },
        created: function () {
            this.filtered();
        }
    }
</script>