<template>
    <div>
    <div class="table-col table-col__1">
        <span class="a-table__text--weight"></span>
    </div>
    <div class="table-col table-col__2">
        <span class="agent-not__done--black"><i class="fas fa-minus"></i></span>
    </div>
    <div class="table-col table-col__3">
        <span class="a-table__text--weight">
            {{ subagent.name }} {{ subagent.last_name }}
        </span>
    </div>
    <div class="table-col table-col__4">Абаза</div>
    <div class="table-col table-col__5">
        <span class="a-table__text--grey">
            {{ subagent.email }} {{ subagent.phone }}
        </span>
    </div>
    <div class="table-col table-col__6">5</div>
    <div class="table-col table-col__7">
        <span class="a-table__text--weight">
            {{ getStatusName(subagent.status) }}
        </span>
    </div>
    <div class="table-col table-col__8">
        <span class="a-table__text--grey">
            {{ subagent.created_at }}
        </span>
    </div>
    <div class="table-col table-col__9">
        <span class="a-table__text--pink">
            {{ subagent.formated_paidouts }} р.
        </span>
    </div>
    <div class="table-col table-col__10">
        <span class="agent-well__green">
            {{ subagent.formated_accrued }} р.
        </span>
    </div>
    <div class="table-col table-col__11">
        <span class="a-table__text--weight">
            {{ subagent.formated_balance > 0 ? subagent.formated_balance : '0.00' }} р.
        </span>
    </div>
    <div class="table-col table-col__12">
        <sui-dropdown
            class="a-select__input w-148 a-select__do"
            placeholder="Действия"
            selection
            :options="actionsParent"
            v-model="filter.actionsParent[agent.id]"
        >
            <sui-dropdown-menu>
                <sui-dropdown-item>
                    <router-link>
                        <a :href="'/admin/agents/edit/'+subagent.id">Редактировать</a>
                    </router-link>
                </sui-dropdown-item>
            </sui-dropdown-menu>
        </sui-dropdown>
    </div>
    <div
        class="table-col table-col__13"
    >
        <div
            v-if="subagent.count_agents > 0"
            v-on:click="
                subagent.show = !subagent.show
            "
            class="agents-pseudo__dropdown a-input a-select__input--green"
        >
            <span class="a-sum__sub">
                {{ subagent.count_agents }}
            </span>
            <i class="fas fa-caret-down"></i>
        </div>
    </div>
    </div>
</template>

<script>
    export default {
        props: ['subagent'],
        data: function () {
            return {
                
            }
        },
        methods: {

        },
    }
</script>
