<template>
    <div>
        <div class="a-table__row a-table__row--child a-table__row--flex">
            <div class="table-col table-col__1">
                <span class="a-table__text--weight"></span>
            </div>
            <div class="table-col table-col__2">
                <span class="agent-not__done--black"><i class="fas fa-minus"></i></span>
            </div>
            <div class="table-col table-col__3">
                <span class="a-table__text--weight">
                    {{ node.name }} {{ node.last_name }}
                </span>
            </div>
            <div class="table-col table-col__4">Абаза</div>
            <div class="table-col table-col__5">
                <span class="a-table__text--grey">
                    {{ node.email }} {{ node.phone }}
                </span>
            </div>
            <div class="table-col table-col__6">5</div>
            <div class="table-col table-col__7">
                <span class="a-table__text--weight">
                    {{ status }}
                </span>
            </div>
            <div class="table-col table-col__8">
                <span class="a-table__text--grey">
                    {{ node.created_at }}
                </span>
            </div>
            <div class="table-col table-col__9">
                <span class="a-table__text--pink">
                    {{ node.formated_paidouts }} р.
                </span>
            </div>
            <div class="table-col table-col__10">
                <span class="agent-well__green">
                    {{ node.formated_accrued }} р.
                </span>
            </div>
            <div class="table-col table-col__11">
                <span class="a-table__text--weight">
                    {{ node.formated_balance > 0 ? node.formated_balance : '0.00' }} р.
                </span>
            </div>
            <div class="table-col table-col__12">
                <sui-dropdown
                    class="a-select__input w-148 a-select__do"
                    placeholder="Действия"
                    selection

                >
                    <sui-dropdown-menu>
                        <sui-dropdown-item>
                            <a :href="'/admin/agents/edit/'+node.id">Редактировать</a>
                        </sui-dropdown-item>
                    </sui-dropdown-menu>
                </sui-dropdown>
            </div>
            <div
                class="table-col table-col__13"
            >
                <div
                    v-if="node.count_agents > 0"
                    v-on:click="
                        node.show = !node.show
                    "
                    class="agents-pseudo__dropdown a-input a-select__input--green"
                >
                    <span class="a-sum__sub">
                        {{ node.count_agents }}
                    </span>
                    <i class="fas fa-caret-down"></i>
                </div>
            </div>
        </div>

        <div v-if="node.subAgents && node.subAgents.length && node.show">
            <node v-for="child in node.subAgents" :node="child" v-bind:key="child.id" :status="getStatusName(child.status)" :statuses="statuses"></node>
        </div>
    </div>
</template>

<script>
    export default {
        name: "node",
        props: {
            node: Object,
            status: String,
            statuses: Array
        },
        methods: {
            getStatusName: function (status) {

                for (let item of this.statuses) {
                    if (item.code === status) {
                        return item.name;
                    }
                }

                return status;
            }
        }
    };
</script>