<template>
    <div>
        <div v-for="item in treeData.subAgents">
            <node-tree :node="item" :status="getStatusName(item.status)" :statuses="statuses"></node-tree>
        </div>
    </div>
</template>

<script>
    import NodeTree from "./NodeTree";

    export default {
        props: {
            treeData: Object,
            statuses: Array
        },
        components: {
            NodeTree
        },
        methods: {
            getStatusName: function (status) {

                for (let item of this.statuses) {
                    if (item.code === status) {
                        return item.name;
                    }
                }

                return status;
            }
        }
    };
</script>