<template>

    <div>
        <div class="car-step home-container">


            <div class="row u-mb-medium">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div v-if="errorBanner" class="c-alert c-alert--danger u-mb-small">
                        <span class="c-alert__icon">
                          <i class="feather icon-slash"></i>
                        </span>

                        <div class="c-alert__content">
                            <h4 class="c-alert__title">Ошибка!</h4>
                            <p>Исправьте ошибки в форме и повторите попытку</p>
                        </div>
                    </div>

                    <div v-if="Object.keys(errorInsurance).length" class="c-alert c-alert--danger u-mb-small">
                        <span class="c-alert__icon">
                          <i class="feather icon-slash"></i>
                        </span>

                        <div class="c-alert__content">
                            <h4 class="c-alert__title">Ошибка!</h4>
                            <p>{{ errorInsurance.text }}</p>
                        </div>
                    </div>

                    <div class="c-card c-card__change" v-show="activeStep !== 'final'">
                        <div class="ui four top attached steps mini steps-change">
                            <div @click="goToStep(step)" class="step"
                                 :style="{'z-index':(steps.length - index + 5)}"
                                 v-bind:class="[{active: isStepActive(step), disabled: isStepDisabled(step)}]" v-for="(step, index) in steps">
                                <div class="step-plus"></div>
                                <img :src="step.img" :alt="step.name">
                                <div class="content">
                                    <div class="title" >{{ step.name }}</div>
                                </div>
                            </div>
                        </div>

                        <form onsubmit="return false;" class="ui attached segment ui-form__change" id="formPolicy" method="POST">


                            <car-step v-show="activeStep === 'car'" :form-data="formData" :errors="errors" @submit="submitStep()"></car-step>

                            <div class="step" v-show="activeStep === 'drivers'">

                                <div class="row o-line">
                                    <div class="col-md-5 c-choice c-choice--radio" v-for="type in driversCount">

                                        <input class="c-choice__input"
                                               :id="'driver_count1_' + type.value"
                                               :value="type.value"
                                               name="driver_count"
                                               type="radio"
                                               v-model="formData.driver_count">

                                        <label class="c-choice__label" :for="'driver_count1_' + type.value">{{ type.name }}</label>
                                    </div>
                                </div>


                                <div v-show="formData.driver_count === 'specified'">
                                    <div class="c-card c-card__change u-p-small u-mr-small" v-for="(driver, driverIndex) in formData.drivers">
                                       <div class="remove-driver__step">
                                           <h3 class="u-inline-flex c-pink step-change__pl">Водитель №{{ driverIndex + 1 }}</h3>

                                           <a class="c-close u-color-primary u-flex u-justify-end" v-if="driverIndex !== 0"
                                              @click="removeDriver(key)"><i style="color: red; font-size: 24px!important; " class="fas fa-times"></i></a>
                                       </div>


                                        <div class="row mb-30">

                                            <div class="col-md-3">
                                                <div class="c-field">
                                                    <label class="c-field__label">Фамилия</label>

                                                    <input placeholder="Иванов" class="c-input u-mb-small driversRusName cpt"
                                                           v-bind:class="{ 'error-input': haveError('drivers.' + driverIndex + '.last_name') }"
                                                           name="last_name" v-model="formData.drivers[driverIndex].last_name">
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="c-field">
                                                    <label class="c-field__label">Имя</label>

                                                    <input placeholder="Иван" v-bind:class="{ 'error-input': haveError('drivers.' + driverIndex + '.first_name') }"
                                                           class="c-input u-mb-small driversRusName cpt"
                                                           v-model="formData.drivers[driverIndex].first_name">
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="c-field">
                                                    <label  class="c-field__label">Отчество</label>

                                                    <input placeholder="Иванович" v-bind:class="{ 'error-input': haveError('drivers.' + driverIndex + '.middle_name') }"
                                                           class="c-input u-mb-small driversRusName cpt" name="middle_name"
                                                           v-model="formData.drivers[driverIndex].middle_name">
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="c-field">
                                                    <label class="c-field__label">Дата рождения</label>
                                                    <cleave  v-bind:class="{ 'error-input': haveError('drivers.' + driverIndex + '.dob') }" class="c-input" v-model="formData.drivers[driverIndex].dob" name="dob" :raw="false" :options="dateCleave" placeholder="В-те дату"></cleave>

                                                </div>
                                            </div>

                                        </div>

                                        <h5 class="c-blue step-change__pl">Водительское удостоверение</h5>
                                        <!--<div class="row-pl__padding">-->
                                            <!--<div class="c-field">-->
                                                <!--<div class="c-choice c-choice&#45;&#45;checkbox">-->
                                                    <!--<input type="checkbox"-->
                                                           <!--class="c-choice__input"-->
                                                           <!--id="foreign_dc"-->
                                                           <!--@click="isOpen = !isOpen"-->
                                                           <!--name="foreign_dc"-->
                                                           <!--v-model="formData.foreign_dc">-->

                                                    <!--<label class="c-choice__label" for="foreign_dc">Иностранное ВУ</label>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <div v-show="isOpen === true" class="row">
                                            <div class="col-md-3">
                                                <div class="c-field">
                                                    <label class="c-field__label">Иностранная серия</label>

                                                    <input v-bind:class="{ 'error-input': haveError('drivers.' + driverIndex + '.document_serial_foregin') }"
                                                           class="c-input u-mb-small latinDrivePass ttu"
                                                           :name="'drivers.' + driverIndex + '.document_serial_foregin'" placeholder="XXXX"
                                                           maxlength="4" v-model="formData.drivers[driverIndex].document_serial_foregin">
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="c-field">
                                                    <label class="c-field__label">Иностранный номер</label>

                                                    <input type="text"
                                                           v-bind:class="{ 'error-input': haveError('drivers.' + driverIndex + '.document_number_foregin') }"
                                                           class="c-input u-mb-small latinDriveNumber ttu   " name="drivers.0.document_number_foregin"
                                                           placeholder="123456"
                                                           onKeyDown="if (this.value.length === 10 && event.keyCode !== 8) return false;"
                                                           v-model="formData.drivers[driverIndex].document_number_foregin">

                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="c-field">
                                                    <label class="c-field__label">Стаж с</label>
                                                    <cleave  v-bind:class="{ 'error-input': haveError('drivers.' + driverIndex + '.start_date') }" class="c-input" v-model="formData.drivers[driverIndex].start_date" name="dob" :raw="false" :options="dateCleave" placeholder="В-те дату"></cleave>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-show="isOpen === false" class="row">
                                            <div class="col-md-3">
                                                <div class="c-field">
                                                    <label class="c-field__label">Серия</label>

                                                    <input v-bind:class="{ 'error-input': haveError('drivers.' + driverIndex + '.document_serial') }"
                                                           class="c-input u-mb-small vehicleDocumentTypesSerial ttu"
                                                           :name="'drivers.' + driverIndex + '.document_serial'" placeholder="XXXX"
                                                           maxlength="4" v-model="formData.drivers[driverIndex].document_serial">
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="c-field">
                                                    <label class="c-field__label">Номер</label>

                                                    <input type="number"
                                                           v-bind:class="{ 'error-input': haveError('drivers.' + driverIndex + '.document_number') }"
                                                           class="c-input u-mb-small" name="drivers.0.document_number"
                                                           placeholder="123456"
                                                           tabindex="-1"
                                                           onKeyDown="if (this.value.length === 6 && event.keyCode !== 8) return false;"
                                                           v-model="formData.drivers[driverIndex].document_number">

                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="c-field">
                                                    <label class="c-field__label">Стаж с</label>
                                                    <cleave  v-bind:class="{ 'error-input': haveError('drivers.' + driverIndex + '.start_date') }" class="c-input" v-model="formData.drivers[driverIndex].start_date" name="dob" :raw="false" :options="dateCleave" placeholder="В-те дату"></cleave>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <a class="c-btn c-btn__pink mb-30 add-driver-btn" v-if="formData.drivers.length < 5"
                                       @click="addDriver()">Добавить водителя</a>
                                </div>

                                <a class="c-btn c-btn__back" @click="backStep()">Назад</a>
                                <a class="c-btn c-btn--success c-btn--large" @click="submitStep()">Продолжить</a>
                            </div>

                            <div class="step" v-show="activeStep === 'owner'">

                                <div v-if="formData.driver_count === 'unlimited'">
                                    <div class="row o-line">
                                        <div class="col-md-5 c-choice c-choice--radio" v-for="type in driversCount">

                                            <input class="c-choice__input"
                                                   :id="'driver_count_' + type.value"
                                                   :value="type.value"
                                                   name="driver_count"
                                                   type="radio"
                                                   v-model="formData.driver_count">

                                            <label class="c-choice__label" :for="'driver_count_' + type.value">{{ type.name }}</label>
                                        </div>
                                    </div>

                                    <span class="c-divider u-mv-medium"></span>
                                </div>
                                <div v-else>
                                    <div class="row o-line">
                                        <div class="col-md-12 c-choice c-choice--checkbox">
                                            <input type="checkbox"
                                                   class="c-choice__input"
                                                   id="driver_owner_same"
                                                   name="driver_owner_same"
                                                   v-model="driver_owner_same"
                                                   @change="copyDriverToOwner"
                                            >
                                            <label class="c-choice__label" for="driver_owner_same">Собственник и первый водитель совпадают</label>
                                        </div>
                                    </div>
                                </div>

                                <h3 class="u-inline-flex c-pink">Собственник</h3>

                                <person-fieldset :data="formData.owner" :dataKey="'owner'" :errors="errors"></person-fieldset>

                                <a class="c-btn c-btn__back" @click="backStep()">Назад</a>
                                <a class="c-btn c-btn--success c-btn--large" @click="submitStep()">Продолжить</a>
                            </div>

                            <div class="step" v-show="activeStep === 'insurer'">

                                <h3 class="u-inline-flex step-change__pl c-blue">Страхователь</h3>

                                <div class="row o-line">
                                    <div class="col-md-4 c-choice c-choice--radio">

                                        <input class="c-choice__input"
                                               id="insurer_and_owner_same_1"
                                               value="1"
                                               name="insurer_and_owner_same"
                                               type="radio"
                                               v-model="formData.insurer_and_owner_same">

                                        <label class="c-choice__label" :for="'insurer_and_owner_same_1'">Страхователь и собственник
                                            совпадают</label>
                                    </div>

                                    <div class="col-md-5 c-choice c-choice--radio">

                                        <input class="c-choice__input"
                                               id="insurer_and_owner_same_0"
                                               value="0"
                                               name="insurer_and_owner_same"
                                               type="radio"
                                               v-model="formData.insurer_and_owner_same">

                                        <label class="c-choice__label" :for="'insurer_and_owner_same_0'">Другой</label>
                                    </div>
                                </div>

                                <person-fieldset v-show="formData.insurer_and_owner_same == 0" :data="formData.insurer"
                                                 :dataKey="'insurer'" :errors="errors"></person-fieldset>

                                <h3 class="u-inline-flex step-change__pl c-blue">Сведения о полисе</h3>

                                <div class="row">
                                    <div class="col-md-3 min-wz">
                                        <div class="c-field">
                                            <label class="c-field__label">Дата начала действия полиса</label>
                                            <cleave  v-bind:class="{ 'error-input': haveError('policy_start_date') }" class="c-input" v-model="formData.policy_start_date" name="dob" :raw="false" :options="dateCleave" placeholder="В-те дату"></cleave>
                                        </div>
                                        <!--<span v-if="Object.keys(errors).length" v-bind:class="{ 'error-arr ': haveError('policy_start_date') }"  class="error-text">Полис не может начинаться больше 60 дней от текущей даты</span>-->
                                    </div>
                                    <div class="col-md-3 min-wz">
                                        <div class="c-field">
                                            <label class="c-field__label">Номер телефона</label>
                                            <the-mask placeholder="+7-___-___-__-__" class="c-input u-mb-small c-select__input" v-model="formData.phone" :mask="['+7-###-###-##-##']" v-bind:class="{ 'error-input': haveError('phone') }" />
                                        </div>
                                    </div>
                                    <!--<div class="col-md-4 min-wz">-->
                                    <!--<div v-if="code.real_code == null" class="c-field">-->
                                    <!--<label class="label-transparent">Дата начала действия полиса</label>-->
                                    <!--<div class="c-choice">-->
                                    <!--<span @click="sendMessage()"-->
                                    <!--class="c-btn c-btn__pink ">Отправить код подтверждения:</span>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <div class="col-md-12" v-if="code.real_code != null && code.success === false">
                                        <div class="c-field">
                                            <label class="c-field__label">Код: </label>
                                            <input @change="submitCode" v-model="code.code"  class="c-input u-mb-small" name="phone">
                                        </div>
                                    </div>
                                </div>
                                <div class="c-field row-pl__padding">
                                    <div class="c-choice c-choice--checkbox">
                                        <input type="checkbox"
                                               class="c-choice__input"
                                               id="is_electronic"
                                               name="is_electronic"
                                               v-model="formData.is_electronic"
                                               onclick="return false;"
                                        >
                                        <label class="c-choice__label" for="is_electronic">Электронный полис</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="c-field" v-if="formData.is_electronic">
                                            <label class="c-field__label">E-Mail</label>
                                            <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" placeholder="mail@gmail.com" v-bind:class="{ 'error-input': haveError('email') }" class="c-input u-mb-small validateEmail"
                                                   name="formData.email" v-model="formData.email">
                                        </div>
                                    </div>
                                </div>
                                <div class="c-field" v-if="!formData.is_electronic">
                                    <label class="c-field__label">Серии и номера полиса</label>
                                    <input v-bind:class="{ 'error-input': haveError('policy_number_series') }"
                                           class="c-input u-mb-small" name="policy_number_series"
                                           v-model="formData.policy_number_series">
                                </div>

                                <a class="c-btn c-btn__back" @click="backStep()">Назад</a>
                                <span class="c-btn c-btn--success" @click="submitFinalStep()">Рассчитать</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <final-step-insurances @goBack="activeStep = 'insurer'" v-if="activeStep === 'final'" :formData="formData"></final-step-insurances>
        </div>
    </div>
</template>

<script>

    import PersonFieldset from './PolicyCreateForm/PersonFieldset.vue'
    import FinalStepInsurances from './PolicyCreateForm/FinalStepInsurances.vue'
    import CarStep from './PolicyCreateForm/CarStep.vue'
    import MaskedInput from 'vue-masked-input'
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import Cleave from 'vue-cleave-component';
    import rus from 'flatpickr/dist/l10n/ru';

    export default {
        props: ['user', 'min-date-start-police'],
        components: {
            PersonFieldset,
            CarStep,
            MaskedInput,
            flatPickr,
            FinalStepInsurances,
            Cleave
        },
        data: function () {
            return {
                canBackStep: '',
                configPicker: {
                    allowInput: true,
                    dateFormat: "d-m-Y",
                    locale: rus
                },
                isOpen: false,
                minDateStartPolices:{},
                data_min_start: null,
                errors: {
                    vehicle_plate_number: false,
                    vehicle_plate_region: false
                },
                errorInsurance: {},
                active_modal:null,
                processPolicy:false,
                save: false,
                driver_owner_same: true,
                isCopyDriverToOwner: false,
                code: {
                    code: null,
                    real_code: null,
                    success: true
                },
                cleaveForm: {
                    date: null
                },
                dateCleave: {
                    date: true,
                    datePattern: ['d', 'm', 'Y'],
                    delimiter: '-',
                },
                formData: {
                    user_id: this.user,
                    make_id: null,
                    foreign_dc: null,
                    model_id: null,
                    vehicle_registration_year: null,
                    policy_start_date: null,
                    vehicle_id_type: 'vin',
                    vehicle_document_type: 'sts',
                    driver_count: 'specified',
                    drivers: [
                        {
                            last_name: '',
                            first_name: '',
                            middle_name: '',
                            dob: ''
                        },
                    ],
                    owner: {
                        address2: '-',
                        last_name: '',
                        first_name: '',
                        middle_name: '',
                        dob: ''
                    },
                    insurer: {
                        address2: '-'
                    },
                    insurer_and_owner_same: 1,
                    is_electronic: 1,
                    email: null,
                    policy_number_series: null,
                    insurance: null,
                    is_vehicle_use_trailer: false,
                    type: 6,
                    purpose: 3,
                    vehicle_document_date: '',
                    diagnostic_until_date: '',
                    vehicle_registration_year: '',
                    vehicle_plate_number: '',
                    vehicle_plate_region: ''
                },
                driversCount: [
                    {
                        name: '1 и более водитилей',
                        value: 'specified'
                    },
                    {
                        name: 'Неограниченное количество',
                        value: 'unlimited'
                    }
                ],
                activeStep: 'car',
                completedSteps: [],
                steps: [
                    {
                        key: 'car',
                        name: 'Автомобиль',
                        img: '/img/car.png'
                    },
                    {
                        key: 'drivers',
                        name: 'Водители',
                        img: '/img/drivers.png'
                    },
                    {
                        key: 'owner',
                        name: 'Собственник',
                        img: '/img/owner.png'
                    },
                    {
                        key: 'insurer',
                        name: 'Страхователь',
                        img: '/img/insurence.png'
                    }
                ],
                token: null // for avtocad
            }
        },
        computed: {
            canBackStep: function () {
                let vm = this;

                let stepIndex = _.findIndex(this.steps, function (step) {
                    return step.key === vm.activeStep;
                });

                console.log(vm.activeStep);
                console.log(vm.steps);
                console.log(stepIndex);

                return vm.steps[stepIndex - 1];
            }
        },
        mounted: function () {
            this.data_min_start = this.minDateStartPolice;

            this.$watch('formData.driver_count', function () {
                if (this.formData.driver_count === 'unlimited') {
                    this.steps = _.remove(this.steps, function (step) {
                        return step.key !== 'owner';
                    });
                    this.steps[1].name = 'Собственник';
                    this.steps[1].key = 'owner';
                    this.steps[1].icon = 'id-badge';
                    this.activeStep = 'owner';
                } else {
                    this.steps.splice(2, 0, {
                        key: 'owner',
                        icon: 'id-badge',
                        name: 'Собственник',
                        img: '/img/owner.png'
                    });
                    this.steps[1].name = 'Водители';
                    this.steps[1].key = 'drivers';
                    this.steps[1].icon = 'users';
                    this.activeStep = 'drivers';
                }
            });
        },
        computed: {
            errorBanner: function () {
                for(var current in this.errors) {
                    if (this.errors[current] === true) {
                        return true;
                    }
                }
            }
        },
        methods: {
            isStepActive: function (step) {
                return this.activeStep === step.key;
            },
            sendMessage: function () {
                if (_.first(this.formData['phone']) === undefined) {
                    alert('Введите номер телефона!');
                    return false;
                }

                this.$http.post('/api/message', {phone: this.formData.phone}).then(function (response) {
                    console.log(response);
                    this.code.real_code = response.data.code;
                });

            },
            submitCode: function () {
                if (this.code.code === this.code.real_code) {
                    this.code.success = true;
                } else {
                    alert('Неверный код!');
                }
            },
            haveError: function (el) {
                return _.first(this.errors[el]);
            },
            goToStep: function (step) {
                this.activeStep = step.key;
            },
            isStepDisabled: function (step) {
                return !_.includes(this.completedSteps, step.key) && !this.isStepActive(step);
            },
            submitStep: function () {

                let vm = this;

                this.$http.post('/api/policy/validateStep/' + this.activeStep, this.formData).then(function () {

                    $(window).scrollTop(0);

                    vm.errors = [];

                    if (!_.includes(vm.completedSteps, vm.activeStep)) {
                        vm.completedSteps.push(vm.activeStep);
                    }

                    this.nextStep();

                }, function (error) {
                    $(window).scrollTop(0);
                    vm.errors = error.data.errors;
                });
            },
            submitFinalStep: function() {
                let vm = this;
                this.$http.post('/api/policy/validateStep/insurer', this.formData).then(function () {
                    vm.activeStep = 'final';
                }, function (error) {
                    $(window).scrollTop(0);
                    vm.errors = error.data.errors;
                });
            },
            backStep: function () {

                let vm = this;

                let stepIndex = _.findIndex(this.steps, function (step) {
                    return step.key === vm.activeStep;
                });

                this.activeStep = this.steps[stepIndex - 1].key;

            },
            nextStep: function () {

                let vm = this;

                let stepIndex = _.findIndex(this.steps, function (step) {
                    return step.key === vm.activeStep;
                });

                if (this.isCopyDriverToOwner === false && this.steps[stepIndex + 1].key === 'owner') {
                    this.isCopyDriverToOwner = true;
                    this.copyDriverToOwner();
                }

                this.activeStep = this.steps[stepIndex + 1].key;
            },
            isLastStep: function () {
                return _.last(this.steps).key === this.activeStep;
            },
            addDriver: function () {
                this.formData.drivers.push({});
                setTimeout(function () {
                    let selector = document.getElementsByClassName("datepickerVue");
                    let im = new Inputmask("99-99-9999");
                    im.mask(selector);
                },100);
            },
            removeDriver: function (index) {
                this.formData.drivers.splice(index, 1);
            },
            copyDriverToOwner: function() {
                let driver = this.formData.drivers[0];

                this.formData.owner.last_name = this.formData.owner.first_name = this.formData.owner.middle_name= this.formData.owner.dob = '' ;

                if (this.driver_owner_same) {
                    this.formData.owner.last_name = driver.last_name;
                    this.formData.owner.first_name = driver.first_name;
                    this.formData.owner.middle_name = driver.middle_name;
                    this.formData.owner.dob = driver.dob;
                }
            }
        }
    }

</script>
