<template>
    <div class="home-container policy-body">


        <div>
            <form @submit.prevent="submit">
                <div class="c-content c-content__flex policy-content__flex policy-title">
                    <div class="wrap-1">
                        <h3 class="c-content__h3 myagents-h3">Полисы</h3>
                        <a href="/policies/create" class="c-btn c-btn__pink add-sub">создать полис</a>
                    </div>
                    <div class="wrap-2">
                        <span class="sort">Сортировать:</span>
                        <div class="c-select">
                            <sui-dropdown
                                    class="c-select__input"
                                    placeholder="По дате"
                                    v-model="filter.sort"
                                    @click="filtered()"
                                    selection
                                    search
                                    :options="sortDate"
                            ></sui-dropdown>
                        </div>
                        <div class="icon-up__down">
                            <i
                                    style="cursor: pointer;"
                                    class="fas fa-long-arrow-alt-down"
                                    @click="setSortable('down')"
                            ></i>
                            <i
                                    style="cursor: pointer; display:none;"
                                    class="fas fa-long-arrow-alt-up"
                                    @click="setSortable('up')"
                            ></i>
                        </div>

                    </div>
                </div>
                <div class="statistics-table__filter payments-table_filter">
                    <h4 class="c-card__statistics--thead js-hideshow">Фильтр<i
                            class="fas fa-caret-up arrow-insurance"></i></h4>
                    <div class="c-card__statistics--tbody">
                        <div class="container">
                            <div class="row align-items-end">
                                <div class="col-2">
                                    <div class="c-field">
                                        <label class="c-field__label">Страховая компания</label>
                                        <div class="c-select">
                                            <sui-dropdown
                                                    class="c-select__input"
                                                    placeholder="Все"
                                                    v-model="filter.insurance"
                                                    selection
                                                    search
                                                    :options="insurances"
                                            ></sui-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2" v-if="user.parent_user_id == null">
                                    <div class="c-field">
                                        <label class="c-field__label">Субагенты</label>
                                        <div class="c-select">
                                            <sui-dropdown
                                                    class="c-select__input"
                                                    placeholder="Все"
                                                    v-model="filter.agents"
                                                    selection
                                                    search
                                                    :options="subagents"
                                            ></sui-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col col-mw">
                                    <label class="c-field__label">Период</label>
                                    <div class="c-select">
                                        <flat-pickr
                                                placeholder="В-те дату" class="c-input c-select__input datepickerVue"
                                                data-max-date="today" :config="configPicker" v-model="filter.from"
                                        ></flat-pickr>
                                    </div>
                                </div>
                                <div class="line-none"> -</div>-->
                                <div class="col col-mw">
                                    <label class="c-field__label">Период</label>
                                    <div class="c-select">
                                        <!--<flat-pickr
                                                placeholder="В-те дату" class="c-input c-select__input datepickerVue"
                                                data-max-date="today" :config="configPicker" v-model="filter.to"
                                        ></flat-pickr>-->
                                        <el-date-picker
                                                v-model="filter.date"
                                                type="daterange"
                                                class="c-select__input"
                                                align="center"
                                                unlink-panels
                                                range-separator="—"
                                                start-placeholder="Начало"
                                                end-placeholder="Конец"
                                                :picker-options="pickerOptions2">
                                        </el-date-picker>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="c-field">
                                        <label class="c-field__label">Статус полиса</label>
                                        <div class="c-select">
                                            <sui-dropdown
                                                    class="c-select__input"
                                                    placeholder="Оплачен"
                                                    v-model="filter.statuses"
                                                    selection
                                                    search
                                                    :options="statuses"
                                            ></sui-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-p">
                                    <div class="col">
                                        <label class="c-field__label--n">Период</label>
                                        <a class="c-btn c-btn--secondary" @click="resetFilter()">Сбросить фильтр</a>
                                    </div>
                                    <div class="col">
                                        <a class="c-btn c-btn__pink u-mt-medium btn-export__exel" @click="filtered()">
                                            <i class="fas fa-check"></i>Применить</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-b" v-if="polices.data">

                    <div class="wrap-pagination">
                        <div class="sort-polices">
                            <span class="sort-polices__text">Показать</span>
                            <div class="wrap-input__sort">
                                <input class="number-sort c-input" type="number" v-model="showPolices" v-on:keypress.enter.prevent="filtered()">
                                <div class="btn-add__count">
                                    <i class="fas fa-caret-up" v-on:click="showPolices += 10"></i>
                                    <i class="fas fa-caret-down" v-on:click="showPolices > 0 ? showPolices -= 10 : showPolices = 0"></i>
                                </div>
                            </div>

                            <span class="sort-polices__text">{{ currentItems }}</span> <span class="sort-polices__text">из</span> <span class="sort-polices__text">{{ totalItems }}</span>
                        </div>
                        <pagination
                                :data="polices"
                                :show-disabled="true"
                                :limit="1"
                                @pagination-change-page="getResults"
                        >
                            <span slot="prev-nav"><i class="fas fa-caret-left"></i></span>
                            <span slot="next-nav"><i class="fas fa-caret-right"></i></span>
                        </pagination>
                    </div>

                    <div class="col-12 c-table__scroll">
                        <div class="c-table-responsive@wide">
                            <table class="c-table table-js">

                                <thead class="c-table__head">
                                <div id="modal-toggle__col" class="modal-toggle__col modal-js__trans modal-js">
                                    <div class="modal-toggle__col--title">
                                        Отобразить колонки
                                    </div>
                                    <div class="c-choice c-choice--checkbox">
                                        <input type="checkbox" id="col-1" v-model="activeColumns" value="id" name="col-1" class="c-choice__input">
                                        <label for="col-1" class="c-choice__label">ID</label>
                                    </div>
                                    <div class="c-choice c-choice--checkbox">
                                        <input type="checkbox" id="col-2" v-model="activeColumns" value="insurer" name="col-2" class="c-choice__input">
                                        <label for="col-2" class="c-choice__label">Стахователь</label>
                                    </div>
                                    <div class="c-choice c-choice--checkbox">
                                        <input type="checkbox" id="col-3" v-model="activeColumns" value="number" name="col-3" class="c-choice__input">
                                        <label for="col-3" class="c-choice__label">Номер полиса</label>
                                    </div>
                                    <div class="c-choice c-choice--checkbox">
                                        <input type="checkbox" id="col-4" v-model="activeColumns" value="email" name="col-4" class="c-choice__input">
                                        <label for="col-4" class="c-choice__label">Контакты</label>
                                    </div>
                                    <div class="c-choice c-choice--checkbox">
                                        <input type="checkbox" id="col-5" v-model="activeColumns" value="date" name="col-5" class="c-choice__input">
                                        <label for="col-5" class="c-choice__label">Дата и время</label>
                                    </div>
                                    <div class="c-choice c-choice--checkbox">
                                        <input type="checkbox" id="col-6" v-model="activeColumns" value="premium" name="col-6" class="c-choice__input">
                                        <label for="col-6" class="c-choice__label">Премия</label>
                                    </div>
                                    <div class="c-choice c-choice--checkbox">
                                        <input type="checkbox" id="col-7" v-model="activeColumns" value="status" name="col-7" class="c-choice__input">
                                        <label for="col-7" class="c-choice__label">Статус</label>
                                    </div>
                                    <div class="c-choice c-choice--checkbox">
                                        <input type="checkbox" id="col-8" v-model="activeColumns" value="kv" name="col-8" class="c-choice__input">
                                        <label for="col-8" class="c-choice__label">КВ</label>
                                    </div>
                                    <div class="c-choice c-choice--checkbox">
                                        <input type="checkbox" id="col-9" v-model="activeColumns" value="print" name="col-9" class="c-choice__input">
                                        <label for="col-9" class="c-choice__label">Печать</label>
                                    </div>
                                    <div class="c-choice c-choice--checkbox">
                                        <input type="checkbox" id="col-10" v-model="activeColumns" value="reCalc" name="col-10" class="c-choice__input">
                                        <label for="col-10" class="c-choice__label">Перерасчет</label>
                                    </div>
                                </div>
                                <tr class="c-table__row c-table-bg">
                                    <th class="c-table__cell c-table__cell--head">

                                        <span class="c-choice c-choice--checkbox c-choice--checkbox__table">
                                            <input
                                                    id="user_get_all"
                                                    @click="selectAll"
                                                    type="checkbox"
                                                    class="input-tag c-choice__input c-choice__input--table">
                                            <label for="user_get_all" class="opt c-choice__label"></label>
                                        </span>
                                        <span></span>
                                    </th>
                                    <th class="c-table__cell c-table__cell--head" v-if="activeColumns.indexOf('id') !== -1"><span>№ <img class="close-coll" @click="removeColumn('id')" src="/img/icons/close-col.svg" alt="close"></span></th>
                                    <th class="c-table__cell c-table__cell--head" v-if="activeColumns.indexOf('insurer') !== -1"><span>Стахователь <img class="close-coll" @click="removeColumn('insurer')" src="/img/icons/close-col.svg" alt="close"></span></th>
                                    <th class="c-table__cell c-table__cell--head" v-if="activeColumns.indexOf('number') !== -1"><span>Номер полиса <img class="close-coll" @click="removeColumn('number')" src="/img/icons/close-col.svg" alt="close"></span></th>
                                    <th class="c-table__cell c-table__cell--head" v-if="activeColumns.indexOf('email') !== -1"><span>Контакты <img class="close-coll" @click="removeColumn('email')" src="/img/icons/close-col.svg" alt="close"></span></th>
                                    <th class="c-table__cell c-table__cell--head" v-if="activeColumns.indexOf('date') !== -1"><span>Дата и время <img class="close-coll" @click="removeColumn('date')" src="/img/icons/close-col.svg" alt="close"></span></th>
                                    <th class="c-table__cell c-table__cell--head" v-if="activeColumns.indexOf('premium') !== -1"><span>Премия <img class="close-coll" @click="removeColumn('premium')" src="/img/icons/close-col.svg" alt="close"></span></th>
                                    <th class="c-table__cell c-table__cell--head" v-if="activeColumns.indexOf('status') !== -1"><span>Статус <img class="close-coll" @click="removeColumn('status')" src="/img/icons/close-col.svg" alt="close"></span></th>
                                    <th class="c-table__cell c-table__cell--head" v-if="activeColumns.indexOf('kv') !== -1"><span>КВ <img class="close-coll" @click="removeColumn('kv')" src="/img/icons/close-col.svg" alt="close"></span></th>
                                    <th class="c-table__cell c-table__cell--head" v-if="activeColumns.indexOf('print') !== -1"><span>Печать <img class="close-coll" @click="removeColumn('print')" src="/img/icons/close-col.svg" alt="close"></span></th>
                                    <th class="c-table__cell c-table__cell--head" v-if="activeColumns.indexOf('reCalc') !== -1">
                                        <sui-dropdown
                                                class="c-select w-170 a-select__do--custom "
                                                placeholder="Действия"
                                                selection
                                                :options="actions"
                                                v-model="filter.actions"
                                                v-if="selectedUsers.length > 0"
                                        >
                                            <sui-dropdown-menu>
                                                <sui-dropdown-item>
                                                    <span style="color:black !important;" @click.prevent="policyDelete('all')">Удалить</span>
                                                </sui-dropdown-item>
                                            </sui-dropdown-menu>
                                        </sui-dropdown>
                                        <span v-else>Перерасчет <img class="close-coll" @click="removeColumn('reCalc')" src="/img/icons/close-col.svg" alt="close"></span>
                                    </th>
                                    <i data-modal="modal-toggle__col" class="c-sidebar__icon js-modal__check feather icon-settings"></i>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="c-table__row" v-for="police in polices.data" v-bind:id="'policy-'+police.id">
                                    <td class="c-table__cell " >
                                        <span class="c-choice c-choice--checkbox">
                                            <input
                                                    v-bind:id="police.id"
                                                    v-model="selectedUsers"
                                                    :value="police.id"
                                                    v-if="police.status == 'draft'"
                                                    @click="select"
                                                    type="checkbox"
                                                    class="input-tag c-choice__input">
                                            <label v-bind:for="police.id" class="opt c-choice__label"></label>
                                        </span>
                                    </td>
                                    <td class="c-table__cell a-all__text--weight" v-if="activeColumns.indexOf('id') !== -1">{{ police.id }}</td>
                                    <td class="c-table__cell" v-if="activeColumns.indexOf('insurer') !== -1">
                                        <div class="o-media">
                                            <div class="o-media__img u-mr-xsmall">
                                                <div class="c-avatar c-avatar--small">
                                                    <img v-if="police.insurance !== null" class="c-avatar__img"
                                                         :src="/img/+police.insurance+'_avatar.jpg'" alt="Jessica Alba">
                                                </div>
                                            </div>
                                            <div class="o-media__body" style="padding-top: 16px;"><span
                                                    class="polices-account__name">
                                              <a :href="'policies/show/'+police.id"><h6>{{ police.owner_full_name }}</h6></a></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="c-table__cell" v-if="activeColumns.indexOf('number') !== -1">{{ police.insurance_id ? police.insurance_id : '-' }}</td>
                                    <td class="c-table__cell" v-if="activeColumns.indexOf('email') !== -1">{{ police.email }}<br>{{ police.phone }}</td>
                                    <td class="c-table__cell" v-if="activeColumns.indexOf('date') !== -1">{{ police.policy_start_date|formatDate }}<br>{{
                                        police.policy_start_date|formatTime }}
                                    </td>
                                    <td class="c-table__cell c-pink a-all__text--weight" v-if="activeColumns.indexOf('premium') !== -1">{{ police.premium }} ₽</td>
                                    <td class="c-table__cell" v-if="activeColumns.indexOf('status') !== -1">
                                        <span :class="'status-'+police.status">
                                      {{ getStatusName(police.status) }}
                                          <button v-if="police.status == 'draft'" class="btn-remove__draft" @click.prevent="policyDelete(police.id)">
                                              <i class="far fa-trash-alt"></i>
                                          </button>
                                      </span>
                                    </td>
                                    <td class="c-table__cell" v-if="activeColumns.indexOf('kv') !== -1">{{ police.kv }} ₽</td>
                                    <td class="c-table__cell" v-if="activeColumns.indexOf('print') !== -1">
                                        <div class="c-select printTypeDiv drop-icon" v-if="police.status === 'success'">
                                            <select class="c-select__input" name="print"
                                                    @change="getPrintForm(police.id,'policy')">
                                                <option value="">Выберите форму</option>
                                                <option value="policy">Полис</option>
                                            </select>
                                            <i class="fas fa-sort-down"></i>
                                        </div>
                                        <div v-else>-</div>
                                    </td>
                                    <td class="c-table__cell" v-if="activeColumns.indexOf('reCalc') !== -1">
                                        <div class="c-select printTypeDiv">
                                            <a class="c-btn c-btn--success btn-recalc"
                                               :href="`policies/reCalc/${police.id}`">Перерасчет</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="wrap-pagination">
                        <div class="sort-polices">
                            <span class="sort-polices__text">Показать</span>
                            <div class="wrap-input__sort">
                                <input class="number-sort c-input" type="number" v-model="showPolices" v-on:keypress.enter.prevent="filtered()">
                                <div class="btn-add__count">
                                    <i class="fas fa-caret-up" v-on:click="showPolices += 10"></i>
                                    <i class="fas fa-caret-down" v-on:click="showPolices > 0 ? showPolices -= 10 : showPolices = 0"></i>
                                </div>
                            </div>

                            <span class="sort-polices__text">{{ currentItems }}</span> <span class="sort-polices__text">из</span> <span class="sort-polices__text">{{ totalItems }}</span>
                        </div>
                        <pagination
                                :data="polices"
                                :show-disabled="true"
                                :limit="1"
                                @pagination-change-page="getResults"
                        >
                            <span slot="prev-nav"><i class="fas fa-caret-left"></i></span>
                            <span slot="next-nav"><i class="fas fa-caret-right"></i></span>
                        </pagination>
                    </div>
                </div>
                <a v-if="polices.length > 0" :href="exportUrl"
                   class="c-btn c-btn--success u-mt-medium btn-export__exel"><i class="far fa-file-excel"></i>Экспорт в
                    excel</a>

            </form>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import rus from 'flatpickr/dist/l10n/ru';
    import moment from 'moment';
    import pagination from "laravel-vue-pagination";

    Vue.config.devtools = true;
    Vue.config.debug = true;
    import axios from 'axios'

    export default {
        props: {
            apiUrl: {
                type: String,
                default: ''
            },
            apiUrlDelete: {
                type: String,
                default: ''
            },
        },
        components: {
            flatPickr,
            pagination
        },
        data: function () {
            return {
                value7: '',
                pickerOptions2: {
                    shortcuts: [{
                        text: 'Сегодня',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime());
                            picker.$emit('pick', [start, end]);
                        }
                    },{
                        text: 'Вчера',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 );
                            picker.$emit('pick', [start, end]);
                        }
                    },
                        {
                            text: '7 дней',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', [start, end]);
                            }
                        }, {
                            text: '30 дней',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                                picker.$emit('pick', [start, end]);
                            }
                        }]
                },
                activeColumns:[
                    'id',
                    'insurer',
                    'reCalc',
                    'date',
                    'premium',
                    'status',
                    'kv',
                    'print'
                ],
                totalItems: 0,
                currentItems: '',
                showPolices: 50,
                selected: '',
                polices: {},
                statuses: [],
                selectedUsers: [],
                allSelected: false,
                subagents: [],
                actions: [],
                insurances: [],
                filters: {},
                sorts: {},
                date: {
                    from: null,
                    to: null,
                },
                configPicker: {
                    altFormat: "d-m-Y",
                    altInput: true
                },
                sortDate: [
                    {
                        key: 1,
                        text: 'По дате',
                        value: 'date'
                    },
                    {
                        key: 2,
                        text: 'По буквам',
                        value: 'words'
                    },
                ],
                filter: {
                    sortDate: null,
                    insurance: null,
                    subagent: null,
                    agents: null,
                    statuses: null,
                    from: null,
                    to: null,
                    date: null,
                    sort: 'id',
                    position: 'DESC',
                },
                user: {},
                exportUrl: null,
                cols: {
                    id: true,
                    insurer: true,
                    number: false,
                    contacts: false,
                    dt: true,
                    sum: true,
                    print: true,
                    status: true,
                    kv: true,
                    recalc: true,
                }
            };
        },
        watch: {
            showPolices: function() {
                if(this.showPolices > 500) {
                    this.showPolices = 500;
                }
            },
            activeColumns: {
                handler() {
                    localStorage['columns'] = this.activeColumns;
                },
                deep: true
            }
        },
        filters: {
            formatDate(value) {
                if (value) {
                    return moment(String(value)).format('DD-MM-YYYY');
                }
            },
            formatTime(value) {
                if (value) {
                    return moment(String(value)).format('hh:mm:ss');
                }
            },
            dateMask() {
                new Inputmask("99-99-9999");
            },
        },
        methods: {

            colsVisibility(colName) {
              this.cols[colName] = false;
            },

            policyDelete(id) {

                if(id == 'all') {
                    id = this.selectedUsers;
                }

                axios.post(this.apiUrlDelete, {id: id}).then(response => {
                    if(Array.isArray(id)) {
                        for(var i in id) {
                            document.querySelector('#policy-' + id[i]).remove();
                        }
                    } else {
                        document.querySelector('#policy-' + id).remove();
                    }

                    this.selectedUsers = [];
                });
            },
            selectAll: function (e) {
                this.selectedUsers = [];

                if (e.target.checked === true) {
                    for (let policy of this.polices.data) {
                        if (policy.status == 'draft') {
                            this.selectedUsers.push(policy.id);
                        }
                    }
                }
            },
            select: function () {
                this.allSelected = false;
            },
            setSortable(position) {
                this.filter.position = position;

                if (position === 'up') {
                    $('.fa-long-arrow-alt-up').hide();
                    $('.fa-long-arrow-alt-down').show();
                } else {
                    $('.fa-long-arrow-alt-up').show();
                    $('.fa-long-arrow-alt-down').hide();
                }

                this.filtered();
            },
            submit() {
                this.filtered();
            },
            setFilters() {
                this.filters.insurance = document.querySelector('.policy-insurances').value;
                this.filters.statuses = document.querySelector('.policy-statuses').value;
                this.filters.agents = document.querySelector('.policy-subagents').value;
                this.filters.from = document.querySelector('[name="from"]').value;
                this.filters.to = document.querySelector('[name="to"]').value;
                this.filters.date = document.querySelector('[name="date"]').value;
            },
            filtered(page = 1) {
                Vue.http.headers.common['X-CSRF-TOKEN'] = document.querySelector('[name="csrf-token"]').getAttribute('content');

                this.filter.perPage = this.showPolices;

                if(this.filter.date.length) {
                    this.filter.from = this.filter.date[0];
                    this.filter.to = this.filter.date[1];
                }

                axios.post(this.apiUrl+"?page=" + page, this.filter).then(response => {
                    this.loadData(response);
                });
            },
            sortable() {
                this.setFilters();
            },
            resetFilter() {
                this.filter = {};

                axios.post(this.apiUrl, this.filters).then(response => {
                    this.loadData(response);
                });
            },
            loadData: function (response) {
                this.polices = response.data.polices;
                this.statuses = response.data.statuses;
                this.subagents = response.data.subagents;
                this.insurances = response.data.insurances;
                this.user = response.data.user;
                this.exportUrl = response.data.exportUrl;
                this.currentItems = response.data.currentItems;
                this.totalItems = response.data.totalItems;
            },
            sortBy: function (sortKey) {
                this.reverse = (this.sortKey === sortKey) ? !this.reverse : false;

                this.sortKey = sortKey;
            },
            getResults(page = 1) {
                this.filtered(page);
            },
            getPrintForm: function (policyId, form) {
                window.open(`/policies/print/${policyId}/${form}`, '_blank');
            },
            getStatusName: function (status) {
                for (let item of this.statuses) {
                    if (item.key === status) {
                        return item.text;
                    }
                }
                return '';
            },
            removeColumn(columnName) {
                let index = this.activeColumns.indexOf(columnName);
                this.activeColumns.splice(index, 1);
            }
        },
        mounted: function() {
            if (localStorage['columns'] !== undefined && localStorage['columns'] != '') {
                this.activeColumns = localStorage['columns'].split(',');
            }
        },
        created: function () {
            Vue.http.headers.common['X-CSRF-TOKEN'] = document.querySelector('[name="csrf-token"]').getAttribute('content');

            this.filters.perPage = this.showPolices;

            axios.post(this.apiUrl, this.filters).then(response => {
                this.loadData(response);
            });
        }
    }
</script>
