<!--<template>-->
    <!--<radial-progress-bar :diameter="200"-->
                         <!--:completed-steps="completedSteps"-->
                         <!--:total-steps="totalSteps">-->
        <!--<p>Total steps: {{ totalSteps }}</p>-->
        <!--<p>Completed steps: {{ completedSteps }}</p>-->
    <!--</radial-progress-bar>-->
<!--</template>-->

<!--<script>-->
    <!--import RadialProgressBar from 'vue-radial-progress'-->

    <!--export default {-->
        <!--data () {-->
            <!--return {-->
                <!--completedSteps: 2,-->
                <!--totalSteps: 10,-->
                <!--diameter: 50-->
            <!--}-->
        <!--},-->

        <!--components: {-->
            <!--RadialProgressBar-->
        <!--}-->
    <!--}-->
<!--</script>-->