<template>
    <div>
        <input type="text" class="c-input vehicleDocumentTypesSerial ttu">
    </div>

</template>

<script>
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import rus from 'flatpickr/dist/l10n/ru';
    import MaskedInput from 'vue-masked-input' ;

    export default {
        components: {
            flatPickr,
            MaskedInput,

        },
        data: function () {
            return {
                vehicle_id: [],
                formData: {
                    insurancePeriod: null,
                    email: null,
                    phone: null,
                }
            }
        }
    }
</script>
