.container {
    overflow-y: scroll;
    max-height: 300px;
}

.cursor-pointer {
    cursor: pointer;
}
.statistic {
    margin: 1em 0;
    text-transform: uppercase;
    display: inline-block;
}

.statistic .value {
    font-size: 4em;
    line-height: 1em;
    text-align: center;
}

.statistic img {
    max-height: .8em;
    vertical-align: baseline;
}


.statistic .label {
    color: inherit;
    display: block;
    font-size: 1em;
    text-align: center;
}

.statistic + .statistic {
    margin-left: 1.5em;
}
.block_text_info i {
    color: #ff0d40;
    margin-right: 15px;
}

.sk-wave {
    margin: 40px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px; }
.sk-wave .sk-rect {
    background-color: #ec2a37;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
    animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
.sk-wave .sk-rect1 {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s; }
.sk-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
.sk-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
.sk-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
.sk-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }

@-webkit-keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4); }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1); } }

@keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4); }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1); }
}

#preloader {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 0;
    left: 0;
    vertical-align: middle;
    color: red;
    transform: translateY(-50%);
    opacity: 2.5;
}

.preloader-body {
    filter: blur(2px);
}
.hidden {
    display: none;
}