<template>
    <div>
        <div class="stocks-create">
            <div class="a-table__wrap">
                <div class="a-table__wrap--scroll">
                    <div class="a-table a-table__filter">
                        <div class="a-table__header table-header__js">
                        <span class="a-table__title--header">
                            Создать акцию
                        </span>
                        </div>
                        <div class="a-table__body a-table__body--filter table-body__js">
                            <div class="a-table__wrap--container wrap-container__1">
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Название
                                    </div>
                                    <input v-model="filter.name" placeholder="Имя" class="a-input w-495" type="text">
                                </div>
                                <div class="a-table__field a-table__field__last">
                                    <div class="a-field__label">
                                        Дата начала акции
                                    </div>
                                    <div class="wrap-flatpickr">
                                        <flat-pickr
                                                class="a-input a-select__date w-220 datepickerVue"
                                                data-max-date="today"
                                                :config="configPicker"
                                                v-model="filter.periodStart"
                                                placeholder="Дата"
                                        ></flat-pickr>
                                        <i class="fas flat-down fa-caret-down"></i>
                                    </div>

                                </div>
                                <div class="a-table__field a-table__field__last">
                                    <div class="a-field__label label-last">
                                        Дата конца акции
                                    </div>
                                    <div class="wrap-flatpickr wrap-flatpickr__last">
                                        <flat-pickr
                                                class="a-input a-select__date w-220 a-select__date--last datepickerVue"
                                                data-max-date="today"
                                                :config="configPicker"
                                                v-model="filter.periodEnd"
                                                placeholder="Дата"
                                        ></flat-pickr>
                                        <i class="fas flat-down fa-caret-down"></i>
                                    </div>

                                </div>
                            </div>
                            <div class="a-table__wrap--container wrap-container__2">

                                <div class="a-field__label">
                                    Текст акции
                                </div>
                                    <textarea v-model="filter.textStock" placeholder="Введите текст" class="a-input a-input__textarea"></textarea>

                            </div>
                            <div class="a-table__wrap--container wrap-container__3">
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Город
                                    </div>
                                    <div class="w-495">
                                        <multiselect
                                                :multiple="true"
                                                :taggable="true"
                                                v-model="value1"
                                                placeholder="Выберите город"
                                                label="name"
                                                deselectLabel=""
                                                selectLabel=""
                                                selectedLabel=""
                                                track-by="name"
                                                :clear-on-select="false"
                                                :options="optionsCity"
                                                :close-on-select="false"
                                                tag-placeholder=""
                                                :searchable="false"
                                        >
                                        </multiselect>
                                    </div>
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Страховая компания
                                    </div>
                                    <div class="w-286">
                                        <multiselect
                                                :multiple="true"
                                                :taggable="true"
                                                v-model="value2"
                                                placeholder="Все"
                                                label="name"
                                                track-by="name"
                                                :clear-on-select="false"
                                                :options="optionsI"
                                                :close-on-select="false"
                                                tag-placeholder=""
                                                :searchable="false"
                                                deselectLabel=""
                                                selectLabel=""
                                                selectedLabel=""
                                        >
                                        </multiselect>
                                    </div>
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Процентная ставка
                                    </div>
                                    <input v-model="filter.percent" placeholder="Процентная ставка" class="a-input w-220 placeholder-white__grey" type="number">
                                </div>
                                <div class="a-choice a-choice--checkbox a-tab__checkbox">
                                    <input type="checkbox" id="create-agent__important" name="create-agent__important" class="a-choice__input">
                                    <label for="create-agent__important" v-model="filter.see" class="a-choice__label">Видимый</label>
                                </div>
                                <div class="a-table__field">
                                    <a class="a-btn a-btn__pink"><i class="fas fa-check"></i>Создать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>


    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import Multiselect from 'vue-multiselect';



    export default {
        components: {
            flatPickr,
            Multiselect,

        },
        data: function () {
            return {
                configPicker: {
                    allowInput: true,

                    dateFormat: "d-m-Y, H:i",
                    enableTime: true,
                    time_24hr: true,
                },
                value1: [],
                value2: [],
                optionsI: [
                    {
                        name: 'Альфа Страхование',
                        code: 1 ,
                    },
                    {
                        name: 'Наско',
                        code: 2,
                    },

                ],
                optionsCity: [
                    {
                        name: 'Астрахань',
                        code: 3 ,
                    },
                    {
                        name: 'Москва',
                        code: 4,
                    },

                ],
                filter: {
                    city: null,
                    insurance: null,
                    name: null,
                    percent: null,
                    textStock: null,
                    periodStars: null,
                    periodEnd: null,
                    see: null,
                },
            }
        },
        methods: {
            resetFilter: function () {
                this.filter = {};
            },
            addTag (newTag) {
                console.log(newTag);
                const tag = {
                    name: newTag,
                    code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                };
                // this.options.push(tag)
                this.value.push(tag)
            }
        }
    }
</script>

