<template>
    <div>
        <div class="news stock">
            <div class="a-content__title">
                <span>Акции</span>
                <a href="/html/stock/stock-create" class="a-btn a-btn__pink a-btn__add--bets">Создать новую акцию</a>
            </div>
            <div class="a-table__wrap">
                <div class="a-table__wrap--scroll">
                    <div class="a-table a-table__all">
                        <div class="a-table__header">
                            <div class="table-col table-col__1">Id</div>
                            <div class="table-col table-col__2">Заголовок</div>
                            <div class="table-col">Текст</div>
                            <div class="table-col table-col__6">От</div>
                            <div class="table-col table-col__7">До</div>
                            <div class="table-col">Видимость</div>
                            <div class="table-col table-col__8"></div>
                        </div>
                        <div class="a-table__body">
                            <div
                                class="a-table__row a-table__row--flex"
                                v-for="stock in stocks.data"
                            >
                                <div class="table-col table-col__1">
                                    <span class="a-table__text--weight">{{  stock.id }}</span>
                                </div>
                                <div class="table-col table-col__2">
                                    <span class="">{{ stock.title }}</span>
                                </div>
                                <div class="table-col">
                                    <span
                                        class=""
                                        v-tooltip="{ html: 'tooltipContent-' + stock.id }"
                                    >Читать
                                        <i
                                            v-if="stock.text"
                                            class="fas fa-caret-down"
                                        ></i>
                                    </span>
                                </div>

                                <div class="table-col table-col__6">
                                    <span class="a-table__text--grey">
                                        {{ stock.from_time }}
                                    </span>
                                </div>
                                <div class="table-col table-col__7">
                                    <span class="a-table__text--grey">
                                        {{ stock.to_time }}
                                    </span>
                                </div>
                                <div class="table-col">
                                    <span
                                        class="a-all__text--green"
                                        v-if="stock.enabled"
                                    ><i class="fas fa-check"></i>{{ stock.enabled ? ' Да' : ' Нет' }}</span>

                                    <span class="a-all__text--pink" v-else>
                                        <svg class="close-svg" viewPort="0 0 12 12" version="1.1"
                                             xmlns="http://www.w3.org/2000/svg">
                                        <line x1="1" y1="11"
                                              x2="11" y2="1"
                                              stroke="#f16192"
                                              stroke-width="2"/>
                                        <line x1="1" y1="1"
                                              x2="11" y2="11"
                                              stroke="#f16192"
                                              stroke-width="2"/>
                                    </svg> Нет</span>
                                </div>
                                <div class="table-col table-col__8">
                                    <sui-dropdown
                                        class="a-select__input w-170 a-select__do"
                                        placeholder="Действия"
                                        selection
                                        :options="actions"
                                    >
                                        <sui-dropdown-menu>
                                            <sui-dropdown-item>
                                                <a :href="'/admin/stocks/edit/'+stock.id">Редактировать</a>
                                            </sui-dropdown-item>
                                        </sui-dropdown-menu>
                                    </sui-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-for="stock in stocks.data">
                <div
                    v-if="stock.text"
                    :id="'tooltipContent-' + stock.id" class="tooltipContent tooltipContent-news"
                >
                    <p class="toltip-text">
                        {{ stock.text }}
                    </p>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import Vue from 'vue';
    import pagination from 'laravel-vue-pagination';

    export default {
        data: function () {
            return {
                stocks: {},
                actions: [
                    {
                        key: 1,
                        text: 'Редактировать',
                        value: '1'
                    },
                ],
            }
        },
        methods: {
            loadData() {
                Vue.http.headers.common['X-CSRF-TOKEN'] = document.querySelector('[name="csrf-token"]').getAttribute('content');

                axios.post('stocks/ajax').then(response => {
                    this.stocks = response.data.stocks;
                });
            },
        },
        created: function () {
            this.loadData();
        }
    }
</script>