.el-picker-panel [slot=sidebar],
.el-picker-panel__sidebar
  top: -40px!important
  left: 0!important
  width: 100% !important
  display: flex!important
  flex-direction: row!important
  align-items: flex-start!important
.el-picker-panel__shortcut
  width: auto !important
.el-picker-panel__sidebar
  + .el-picker-panel__body
    margin-left: 0 !important

.el-input__inner
  width: 100% !important

.el-date-editor
  .el-range-separator
    line-height: 1.5!important
    padding: 0 !important

.el-input__inner
  border-radius: 50px !important
  border: 2px solid #d8dde7 !important
  background-color: #fff !important
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1) !important

.el-icon-date
  display: none !important

.el-date-table
  td.start-date,
  td.end-date
    span
      background-color: #7dc43f !important
      color: #fff!important

.el-date-table
  td.today
    span
      color: #7dc43f !important
.el-date-table
  td.available:hover
    color: #7dc43f !important

.el-date-table
  td.today.end-date
    span
      color: #ffffff !important
.el-date-table
  td.today.start-date
    span
      color: #fff !important
      &:hover
        color: #fff !important

.el-date-editor
  .el-range__close-icon
    display: none !important

.el-date-editor--daterange
  position: relative
  transition: .2s all ease-in-out
  &:before
    content: ''
    position: absolute
    right: 1em
    top: 56%
    transform: translateY(-50%)
    border: 4px solid transparent
    border-top: 4px solid black
    transition: .2s all ease-in-out
  &.is-active
    &:before
      content: ''
      top: 50%
      border: 4px solid transparent
      border-bottom: 4px solid black
      transition: .2s all ease-in-out


