@import url('https://fonts.googleapis.com/css?family=Exo+2:100,400,500,600,700,900&subset=cyrillic')

body
  font-family: 'Exo 2', sans-serif
  margin: 0
  padding: 0

*
  font-family: 'Exo 2', sans-serif
  box-sizing: border-box

p
  margin: 0
  padding: 0

.container-new
  max-width: 1351px
  padding: 0 20px
  margin: 0 auto
  position: relative

.section-head
  background-color: #26283b
  color: #fff

section
  overflow: hidden

.image-holder__logo
  padding-top: 19px

.main-new
  .h-btn
    display: block
    width: 100%
    height: 100%
    padding: 5px
    font-family: 'Exo 2', sans-serif
    border-radius: 34px
    border: none
    letter-spacing: 0.7px
    font-weight: 400
    text-align: center
    color: #fff
    outline: none

  .field-error
    color: #ed3f7c
    font-size: 14px
    text-align: center
    opacity: 0
    margin-bottom: 10px
    &.have-error
      opacity: 1!important

  .h-btn__pink
    background-color: #ed3f7c
    max-height: 70px
    font-size: 18px
    max-width: 337px
    height: 70px
    padding-bottom: 15px
    text-transform: uppercase
    font-weight: 700
    letter-spacing: 1.7px
    transition: .3s all ease
    &:hover
      border: 2px solid #ed3f7c
      background: transparent
      color: #ed3f7c

  .h-btn__dark
    width: 116px
    max-width: 116px
    max-height: 40px
    background-color: #3e4a63
    font-size: 14px
    border-radius: 34px

  .h-btn__link
    background: none
    border: none
    outline: none
    font-weight: 400
    font-size: 14px
    font-family: 'Exo 2', sans-serif
    letter-spacing: 0.7 pxнфкт
    color: #ed3f7c
    border-bottom: 1px dotted #ed3f7c
    padding: 0 0 2px 0

  .h-btn__transparent
    border: 2px solid #ed3f7c
    background: transparent
    max-width: 337px
    letter-spacing: 3px
    text-transform: uppercase
    font-weight: 700
    font-size: 16px
    color: #ed3f7c
    border-radius: 50px
    max-height: 72px
    height: 72px
    display: flex
    justify-content: center
    align-items: center
    transition: .3s all ease
    &:hover
      background-color: #ed3f7c
      border: none
      color: #fff

  .c-pink__new
    color: #ed3f7c

  .wrap-header
    display: flex
    flex-direction: row
    justify-content: space-between

  .central-text
    display: flex
    align-items: center
    margin-left: 3px

  .text-mw__233
    max-width: 233px
    width: 100%
    font-size: 16px
    line-height: 1.1
    margin-top: -5px
    font-weight: 400
    color: #fff
    font-family: 'Exo 2', sans-serif
    align-self: center

  .central-text__number
    color: #fff
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 2.4px
    font-size: 24px
    line-height: 1
    margin-right: 15px
    font-family: 'Exo 2', sans-serif

  .h-btn__box
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    .h-btn__dark
      margin-right: 16px

  .section-head
    height: 100%
    overflow: hidden

  .section-head__content
    max-width: 565px
    padding: 140px 0 135px 0
    display: flex
    flex-direction: column

  .title-dark__section
    color: #fff
    font-size: 40px
    font-weight: 700
    line-height: 50px
    text-transform: uppercase
    letter-spacing: 4px

  .text-dark__section
    font-size: 18px
    color: #fff
    line-height: 1.3
    font-weight: 700
    margin-bottom: 26px !important
    display: block

  .title-section__head
    margin-bottom: 50px

  .img-holder__absolute
    position: absolute
    left: 47.9%
    bottom: -18.1%
    right: -9%
    top: 0
    pointer-events: none
    display: flex
    align-items: flex-end

  .image-holder
    overflow: hidden
    position: relative
    text-align: center
    vertical-align: middle
    img
      object-fit: cover
      vertical-align: middle
      height: 100%
      width: 100%

  .wrap-items__section
    border-top: 1px solid #383b4f
    background-color: #26283b
    position: relative
    z-index: 1

    .container-new
      overflow: hidden
      position: relative

  .section-head__bottom--items
    height: 100%
    max-height: 124px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 27px 0 36px 0

  .bottom-item
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    font-weight: 700
    text-align: center

  .number-item
    color: #fff
    font-size: 37px
    line-height: 1

  .c-pink__fz
    color: #ed3f7c
    font-size: 24px

  .bottom-sub__text
    letter-spacing: 0.45px
    font-weight: 400
    font-size: 18px
    color: #80839c

  .container-presentation
    padding: 141px 20px 160px 20px
    max-width: 1350px

  .section-presentation
    background-color: #eceefe
    overflow: hidden

  .section-presentation__content
    //padding: 153px 0 160px 0
    max-width: 450px
    width: 100%

  .title-light__section
    font-size: 40px
    margin-bottom: 40px
    color: #26283b
    font-weight: 700
    line-height: 50px
    text-transform: uppercase
    letter-spacing: 4px
    max-width: 910px

  .title-white__section
    font-size: 44px
    margin-bottom: 90px
    color: #26283b
    font-weight: 700
    line-height: 50px
    text-transform: uppercase
    letter-spacing: 4.4px

  .img-holder__absolute--2
    left: 48.3%
    bottom: 0
    right: -19px

  .list-light__section
    margin-bottom: 51px
    padding-left: 35px
    li
      font-size: 18px
      font-weight: 700
      line-height: 36px
      color: #26283b
      display: block
      position: relative
      //margin-bottom: 15px
      &:after
        content: ''
        position: absolute
        left: -35px
        width: 16px
        height: 16px
        border: 3px solid #ed3f7c
        border-radius: 50%
        top: 10px

  .span-ml
    margin-left: 14px

  .section-insured__company
    background-color: #fff
    padding: 118px 0 189px 0

    .title-white__section
      text-align: center
      max-width: 952px
      margin: 0 auto
      margin-bottom: 101px
      line-height: 1.2
      padding-left: 4px

  .section-insured__content
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

  .item-insured
    text-align: center

  .item-insured__sub--title
    text-transform: uppercase
    font-size: 18px
    letter-spacing: 1.8px
    font-weight: 700
    color: #26283b

  .section-indepented__agent
    background-color: #26283b
    .h-btn__pink
      margin-bottom: 18px
  .container-new__indepented
    padding: 120px 20px 166px 20px
    max-width: 1349px

  .title-section__indepented
    max-width: 888px
    margin-bottom: 21px

  .img-holder__absolute--3
    bottom: 0
    right: -18.9px
    left: 48.3%

  .section-indepented__content
    max-width: 674px

  .section-indepented__text
    color: #fff
    font-size: 18px
    font-weight: 700
    line-height: 1.7
    margin-bottom: 74px !important
    display: block

  .section-indepented__text--sub
    font-size: 18px
    font-weight: 400
    color: #ffffff
    line-height: 1
    padding-left: 8px

  .section-earn__more
    background-color: #fff

  .img-holder__absolute--4
    left: 1.7%
    right: 46.9%
    bottom: 0

  .section-earn__content
    max-width: 662px
    margin-left: auto
    padding: 222px 0 249px 0

  .section-earn__text
    font-size: 18px
    color: #71798b
    font-weight: 700
    padding-left: 3px
    line-height: 30px

  .title-earn__section
    line-height: 53px
    margin-bottom: 14px
    letter-spacing: 4.2px

  .section-care__service
    background-color: #26283b
    padding: 98px 0 116px 0
    overflow: hidden
    .h-btn__pink
      margin-bottom: 12px

  .container-care__service
    overflow: visible

  .title-section__care
    max-width: 421px
    margin-bottom: 44px
    line-height: 1.2

  .section-care__text
    font-size: 18px
    color: #ffffff
    font-weight: 700
    line-height: 31px
    margin-bottom: 165px !important

  .section-care__content
    max-width: 626px

  .section-care_text--sub
    max-width: 410px
    font-size: 18px
    color: #ffffff
    font-weight: 400
    line-height: 24px

  .img-holder__absolute--5
    left: 51.1%
    bottom: -22.1%
    right: -8%

  .container-form__quetions
    padding: 194px 20px 151px 20px
    background-color: #fff
    .h-btn__pink
      max-width: 300px
      max-height: 62px
      font-size: 16px
      pointer-events: auto

  .section-form__content
    max-width: 660px
    margin-left: auto

  .title-form__section
    margin-bottom: 18px
    padding-left: 3px

  .form-holder__absolute--5
    bottom: -99px
    left: 3%
    right: 46.9%
    pointer-events: none

  .form-holder__bottom
    background-color: #dbdce8
    width: 550px
    height: 550px
    border-radius: 50%
    display: flex
    flex-direction: column
    align-items: center
    padding: 77px 0 64px 0
    pointer-events: none

  .form-bottom
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    max-width: 300px
    pointer-events: auto

  .form-new__input
    width: 100%
    max-width: 300px
    border-radius: 20px
    background-color: #fff
    border: none
    padding: 14px 22px
    color: #aaabb8
    margin-bottom: 20px
    font-size: 14px
    height: 40px
    outline: none
    &::placeholder
      color: #aaabb8
      font-size: 14px

  .form-new__mesege
    height: 120px
    width: 100%
    max-width: 300px
    border-radius: 20px
    color: #aaabb8
    border: none
    background-color: #fff
    font-size: 14px
    padding: 8px 22px
    resize: none
    margin-bottom: 30px
    &::placeholder
      color: #aaabb8
      font-size: 14px

  .g-recaptcha
    margin-bottom: 20px

  .footer-content__mobile
    display: none

  .new-footer
    background-color: #26283b
    height: 100%
    max-height: 154px
    overflow: hidden

    .image-holder__logo
      max-width: 172px
      padding: 0
    .h-btn__dark
      height: 40px
    .h-btn__box
      margin-bottom: 10px
    .central-text__number
      margin-bottom: 10px
      display: block
  .footer-content
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    padding: 37px 0 50px 0
  .sub-text
    font-size: 16px
    font-weight: 400
    line-height: 1
    color: #ffffff
    margin-bottom: 12px !important
    display: block
    text-align: left

  .sub-text__2
    font-size: 16px
    color: #747792
    font-weight: 400
    line-height: 1
    display: block
    text-align: left

  .footer-content__central
    text-align: center
    padding-left: 82px

  .privacy-policy
    color: #ffffff
    font-weight: 400
    letter-spacing: 0.7px
    font-size: 14px
    border-bottom: 1px dotted #fff
  .logo-header__new--mobile
    display: none
  .logo-header__new
    max-width: 163px

  .container-form__quetions
    max-width: 1391px

  .section-form__quetions
    background-color: #fff

  .mobile-img
    display: none
  .desk-img
    display: block

  .home-new__modal
    background-color: #fff
    border-radius: 8px
    padding: 61px 50px 63px 50px
    position: fixed
    top: 50%
    left: 50%
    right: 50%
    bottom: 50%
    transform: translate(-50%, -50%)
    width: 100%
    max-width: 449px
    height: 100%
    max-height: 454px
    display: none
    z-index: 9999
    .row-btn
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-between
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
      .h-btn__link
        border-bottom: 1px dotted
      .h-btn__pink
        height: 40px
        max-width: 141px
        font-size: 14px
        font-weight: 400
        letter-spacing: 0.7px
        text-transform: capitalize
        padding: 0
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center

      .c-choice
        width: 50%
        margin: 0
    .container-b
      display: block
      position: relative
      padding-left: 35px
      cursor: pointer
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      user-select: none
      font-size: 14px
      line-height: 1.3
      color: #242424
      font-weight: 400
      input
        position: absolute
        opacity: 0
        cursor: pointer
        height: 0
        width: 0
    .checkmark
      position: absolute
      top: 50%
      transform: translate(-50%, - 50%)
      left: 10px
      height: 19px
      width: 19px
      background-color: #fff
      border-radius: 50%
      border: 1px solid #c2c2c2

    .container-b
      &:hover input ~ .checkmark
        background-color: #ccc
      input:checked ~ .checkmark
        background-color: white

    .checkmark:after
      content: ""
      position: absolute
      display: none

    .container-b
      input:checked ~ .checkmark:after
        display: block
      .checkmark:after
        top: 0
        left: 0
        width: 17px
        height: 17px
        border-radius: 50%
        background-color: #ed3f7c

  .register-modal__new
    max-height: max-content
    max-width: 460px
    padding: 61px 50px 63px 47px
    .row-btn
      justify-content: flex-start
      .h-btn__pink
        margin-right: 30px
        line-height: 1
      .c-choice
        width: 100%
        .h-btn__link
          font-size: 16px
          padding: 0
      .c-choice__label
        line-height: 1
  .c-choice--checkbox
    .c-choice__input:checked + .c-choice__label::before
      line-height: 1.5
    .c-choice__label
      &.have-error
        &:before
          border-color: red


  .row-choice
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    max-width: 290px
    width: 100%
    margin: 0 auto
    margin-bottom: 40px

  .title-popup__new
    font-size: 36px
    font-weight: 700
    line-height: 1
    margin-bottom: 10px
    text-transform: uppercase
    letter-spacing: 3.6px
    color: #26283b
    text-align: center

  .close-new__modal
    position: absolute
    width: 12px
    height: 12px
    background-color: transparent
    border: none
    right: -22px
    top: -28px
    outline: none
    padding: 14px
    outline: none

  .close-new__modal:before, .close-new__modal:after
    position: absolute
    left: 15px
    content: ' '
    height: 16px
    width: 2px
    background-color: #fff

  .close-new__modal:before
    transform: rotate(45deg)

  .close-new__modal:after
    transform: rotate(-45deg)

  .popup-new__input
    border: 1px solid #afb0bf
    width: 100%
    max-width: 100%

  .popup-new__input--accept
    max-width: 140px
    &.close
      display: none
    &.open
      display: block
  .register-modal__new
    .row-btn__flex-j
      padding-left: 17px
      justify-content: space-between
      align-items: center
      margin-bottom: 20px !important
      input
        margin-bottom: 0

  .pass-recovery
    max-height: max-content
    .title-popup__new
      line-height: 1.3
    .row-btn
      justify-content: flex-start
      .h-btn__pink
        max-width: 191px
        margin-right: 30px
        text-transform: inherit

  .central-text__number
    &:hover
      color: #ed3f7c

  .contact-choice2
    display: none
  .contact-choice1
    display: none
  .open
    display: block
  .form-new__input,
  .form-new__mesege,
  .popup-new__input
    &.error
      border: 1px solid red

  @media (max-width: 1328px)
    .section-earn__content
      max-width: 49%

  @media (max-width: 1348px)
    .section-form__content
      max-width: 768px
      margin: 0 auto
      display: flex
      flex-direction: column
      align-items: center
    .form-holder__absolute--5
      left: auto
      right: auto
      bottom: auto
      position: relative
    .container-form__quetions
      padding: 100px 20px 70px 20px
      .section-earn__text
        margin-bottom: 20px !important
  @media (max-width: 1170px)
    .section-head__content
      max-width: 400px
      padding: 90px 0 75px 0
    .title-section__head
      font-size: 24px
      line-height: 30px
    .text-dark__section
      font-size: 15px
    .h-btn__pink
      height: 56px
      font-size: 14px
      max-height: 70px
      max-width: 262px
    .image-holder__logo--mobile
      max-width: 102px
      padding-top: 5px
    .logo-header__new--mobile
      display: block
    .central-text__number
      font-size: 14px
    .text-mw__233
      display: none
    .wrap-header
      padding-top: 15px
      position: relative
      z-index: 1
    .section-head__bottom--items
      max-height: 90px
      padding: 12px 0 15px 0
    .number-item
      font-size: 36px
    .container-presentation
      padding: 80px 20px 70px 20px
    .title-light__section
      font-size: 27px
      line-height: 35px
    .h-btn__transparent
      max-width: 300px
      height: 70px
      max-height: 60px
      font-size: 14px
    .section-presentation__content
      max-width: 390px
    .list-light__section
      li
        font-size: 16px
        line-height: 30px
    .section-insured__company
      .title-white__section
        font-size: 27px
        margin-bottom: 50px
    .section-insured__content
      align-items: flex-end
    .section-insured__company
      padding: 80px 0 90px 0
    .title-dark__section
      font-size: 27px
      line-height: 35px
      z-index: 1
      position: relative
    .section-indepented__text
      font-size: 15px
      line-height: 1.3
    .section-indepented__content
      max-width: 474px
    .section-indepented__text--sub
      font-size: 15px
    .container-new__indepented
      padding: 60px 20px 134px 20px
    .section-earn__content
      padding: 100px 0 149px 0
      max-width: 386px
    .title-white__section
      font-size: 27px
      line-height: 1.2
    .section-earn__text
      font-size: 15px
      line-height: 1.3
    .img-holder__absolute--4
      left: 1.7%
      right: 51.9%
    .section-care__service
      padding: 58px 0 66px 0
    .title-section__care
      margin-bottom: 15px
    .section-care__text,
    .section-care_text--sub
      font-size: 15px
      line-height: 1.3
    .section-care_text--sub
      max-width: 380px
    .footer-content__central
      padding-left: 0
    .logo-header__new
      max-width: 100px
    .sub-text,
    .sub-text__2
      font-size: 14px
  .terms-of__use2
    max-height: calc(100vh - 60px)
    width: 900px
    max-width: calc(100vw - 60px)
  .terms-of__use
    overflow-x: hidden
    padding-bottom: 30px
    padding-right: 10px
    p
      font-size: 14px
      display: block
      width: 100%
      margin-bottom: 10px !important
      &:last-child
        margin-bottom: 0 !important

  .wrap-scroll__popup
    overflow: auto
    height: 100%

  @media (max-width: 768px)
    .logo-header__new
      display: none
    .img-holder__absolute
      position: relative
      top: auto
      left: auto
      right: auto
      bottom: auto
    .desk-img
      display: none
    .mobile-img
      display: block
    .footer-content
      display: none
    .footer-content__mobile
      display: block
    .container-new
      max-width: 380px
    .section-head
      .h-btn__dark
        background: none
        border: none
        outline: none
        font-weight: 400
        font-size: 14px
        font-family: "Exo 2", sans-serif
        letter-spacing: 0.7px
        color: #ed3f7c
        border-bottom: 1px dotted #ed3f7c
        padding: 0 0 2px 0
        border-radius: 0
        width: auto
        height: auto
      .register
        background-image: url('/img/home-new/register.png')
        background-repeat: no-repeat
        color: transparent
        border: none
        width: 19px
        height: 16px
    .logo-header__new--mobile
      max-width: 102px
    .wrap-header
      align-items: center
      padding: 0
      margin-top: 15px
      height: 25px
    .image-holder__logo--mobile
      padding: 0
      margin-right: 18px
    .central-text__number
      letter-spacing: .35px
    .section-head__content
      padding: 54px 0 47px 0
      text-align: center
      align-items: center
      .title-section__head
        margin-bottom: 41px !important
      .title-dark__section
        order: 1
      .img-holder__absolute--1
        position: relative
        top: auto
        left: auto
        right: auto
        bottom: auto
        order: 2
        margin-right: -34px
      .h-btn__pink
        order: 3
        margin-top: -40px
        height: 48px
        max-width: 235px
        font-size: 14px
        font-weight: 700
        letter-spacing: 1.5px
        display: flex
        align-items: center
        justify-content: center
        padding: 0
        z-index: 1
        margin-bottom: 34px
      .text-dark__section
        order: 4
    .title-dark__section
      letter-spacing: 2.6px
      font-size: 23px
      line-height: 28px
      text-align: center
    .wrap-items__section
      border: none
    .section-head__bottom--items
      flex-direction: column
      max-height: 100%
      max-width: 225px
      margin: 0 auto
      align-items: center
      justify-content: center
      padding: 0 0 5px 0
    .bottom-sub__text
      font-size: 16px
      letter-spacing: 0.4px
    .c-pink__fz
      font-size: 18px
    .bottom-item
      margin-bottom: 60px
    .number-item
      margin-bottom: 3px
    .title-light__section
      font-size: 20px
      letter-spacing: 2px
      text-align: center
      line-height: 1.2
      margin-bottom: 29px !important
    .container-presentation
      padding: 58px 20px 54px 20px
    .list-light__section
      order: 1
      margin-bottom: 14px
      li
        font-size: 14px
        line-height: 1.2
        padding-bottom: 18px
    .section-presentation__content
      display: flex
      flex-direction: column
      align-items: center
      .h-btn__transparent
        order: 3
        height: 48px
        font-size: 14px
        letter-spacing: 1.3px
        max-width: 235px
      .img-holder__absolute--2
        order: 2
        margin-bottom: 20px
    .section-insured__company
      padding: 50px 0 101px 0
      .title-white__section
        font-size: 20px
        line-height: 1.2
        letter-spacing: 2px
        text-align: center
        margin-bottom: 20px !important
      .section-insured__content
        flex-direction: column
        max-width: 230px
        margin: 0 auto
      .item-insured__sub--title
        letter-spacing: 1.2px
        font-size: 13px
        margin-top: -26px
      .item-insured
        margin-bottom: 29px
    .container-new__indepented
      padding: 48px 20px 109px 20px
      .title-dark__section
        font-size: 20px
        letter-spacing: 1.9px
        line-height: 25px
      .section-indepented__text
        text-align: justify
        font-size: 14px
        line-height: 1.7
        order: 1
        margin-bottom: 27px !important
      .img-holder__absolute--3
        order: 2
      .h-btn__pink
        order: 3
        max-width: 235px
        height: 48px
        font-size: 14px
        letter-spacing: 1.4px
        margin-top: -43px
        z-index: 1
        margin-bottom: 20px
      .section-indepented__text--sub
        order: 4
        font-size: 14px
      .section-indepented__content
        display: flex
        flex-direction: column
        align-items: center
    .section-earn__content
      padding: 57px 0 84px 0
      .section-earn__text
        margin-bottom: 20px!important
        text-align: justify
    .title-white__section
      font-size: 20px
      text-align: center
    .section-earn__content
      display: flex
      flex-direction: column
      align-items: center
    .section-care__service
      padding: 58px 0 70px 0
      .section-care__text
        font-size: 14px
        line-height: 24px
        text-align: justify
        order: 2
        margin-bottom: 26px !important
      .title-section__care
        margin-bottom: 22px
      .section-care__content
        display: flex
        flex-direction: column
        align-items: center
      .title-section__care
        order: 1
      .h-btn__pink
        order: 4
        margin-top: -43px
        max-width: 235px
        letter-spacing: 1.4px
        height: 48px
        z-index: 1
        font-size: 14px
        margin-bottom: 16px
      .section-care_text--sub
        order: 5
        font-size: 14px
        line-height: 24px
        text-align: center
      .img-holder__absolute--5
        order: 3
    .container-form__quetions
      padding: 56px 20px 64px 20px
      .title-white__section
        font-size: 24px
        letter-spacing: 2.3px
        margin-bottom: 16px
      .section-earn__text
        font-size: 14px
        text-align: justify
        line-height: 23px
      .form-holder__bottom
        max-width: 69vw
        max-height: 69vw
        min-width: 300px
        min-height: 300px

      .form-new__input
        width: 40vw
      .form-new__mesege
        width: 40vw
        min-height: 60px
      .h-btn__pink
        height: 43px
        min-height: 43px
        max-width: 249px
        font-size: 14px
        letter-spacing: 2.26px
        padding: 0
        display: flex
        align-items: center
        justify-content: center
    .new-footer
      max-height: 100%
      text-align: center
    .footer-content__mobile
      display: flex
      flex-direction: column
      align-items: center
      padding: 32px 0 48px 0
      .h-btn__dark
        background: none
        border: none
        outline: none
        font-weight: 400
        font-size: 14px
        font-family: "Exo 2", sans-serif
        letter-spacing: 0.7px
        color: #ed3f7c
        border-bottom: 1px dotted #ed3f7c
        padding: 0 0 2px 0
        border-radius: 0
        width: auto
        height: auto
      .h-btn__link
        color: #fff
        border-color: #fff
      .logo-header__new
        display: block
        margin-bottom: 25px
      .h-btn__box
        width: 100%
        max-width: 173px
        justify-content: space-between
        margin-bottom: 30px
      .central-text__number
        font-size: 24px
        margin-right: 0
      .sub-text
        font-size: 14px
        text-align: center
        max-width: 226px
        margin: 0 auto
        line-height: 1.5
        margin-bottom: 10px !important
      .privacy-policy
        margin-bottom: 22px
      .sub-text__2
        font-size: 14px
        max-width: 226px
        margin: 0 auto
        text-align: center
        line-height: 1.2
    .terms-of__use
      .title-popup__new
        font-size: 20px
  @media (max-width: 616px)
    .container-form__quetions
      .form-holder__bottom
        padding: 55px 0 36px 0
        max-width: 95vw
        max-height: 95vw
      .form-new__input
        width: 54vw
        margin-bottom: 8px
      .form-new__mesege
        width: 54vw
  @media (max-width: 550px)
    .container-form__quetions
      .form-holder__bottom
        padding: 0 80px
        max-width: 130vw
        max-height: 130vw
        display: flex
        align-items: center
        justify-content: center
      .form-new__input,
      .form-new__mesege
        width: 100%
        max-width: 100%
      .form-bottom
        max-width: 450px
        //margin-bottom: 80px
  @media (max-width: 522px)
    .title-popup__new
      font-size: 34px
    .home-new__modal
      padding: 53px 29px 28px 21px
      max-width: calc(100% - 20px)
      margin: 0 auto
      .close-new__modal
        right: 3px
        top: 3px
        background-color: #000
        border-radius: 50%
        &:before,
        &:after
          left: 13px
          top: 25%
      .row-btn
        .h-btn__pink
          max-width: 125px
        .c-choice
          width: 61%
          .h-btn__link
            font-size: 13px
        .c-choice__input + .c-choice__label
          font-size: 13px
    .register-modal__new
      padding: 53px 15px 28px 15px
      .row-btn
        .c-choice__input + .c-choice__label
          font-size: 11px
        .c-choice
          .h-btn__link
            font-size: 11px

      .c-choice
        width: 100% !important

      .row-btn__flex-j
        padding-left: 0
        .h-btn__link
          font-size: 12px
    .pass-recovery
      .row-btn
        .h-btn__pink
          font-size: 13px
          max-width: 163px

  @media (max-width: 361px)
    .container-form__quetions
      .form-holder__bottom
        padding: 0 80px
        max-width: 140vw
        max-height: 140vw

  @media (max-width: 348px)
    .logo-header__new--mobile
      max-width: 78px
    .central-text__number
      font-size: 12px
    .section-head
      .h-btn__dark
        font-size: 12px
