.kv-body
  .c-content__h3
    margin-bottom: 40px
    font-size: 30px
  .box
    background-color: #fff
    padding: 20px 20px 65px 10px
    width: 100%
    max-width: 339px
    box-shadow: 0 -3px 38px rgba(0, 0, 0, 0.14)
    border-radius: 10px
    overflow: hidden
    position: relative
    margin: 0 20px 20px 0
    &:nth-child(4n)
      margin-right: 0

  .row-block__kv
    display: flex
    flex-direction: row
    flex-wrap: wrap

  .name-company
    color: #26283b
    font-size: 24px
    font-weight: 400

  .row-title
    margin-bottom: 20px
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center

  .row-content
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin-bottom: 5px
    padding-left: 8px

  .text-grey
    color: #6d7383
    font-size: 16px
    font-weight: 400
    max-width: 190px

  .bold
    color: #26283b
    text-transform: uppercase
    font-size: 18px
    font-weight: 700

  .info-kv
    margin-top: 25px
    color: #7dc43f
    font-size: 14px
    font-weight: 400
    padding: 0 25px 0 38px
    line-height: 1.4
    position: absolute
    bottom: 10px
    left: 10px
    .fa-info-circle
      position: absolute
      left: 8px
      top: 0
      font-size: 24px
      color: #7dc43f

  .img-company
    height: 52px
    max-width: 52px
    overflow: hidden
    width: 100%
    z-index: 2
    margin-right: 20px
    border-radius: 50%
    box-shadow: 3px 2px 6px 0 rgba(0, 0, 0, 0.14)
    img
      width: 100%
      object-fit: contain
      margin: 0 auto
      height: 100%


