.pagination
  width: auto
  text-align: right
  padding: 0
  align-items: center
  border-radius: 4px
  line-height: 1
  vertical-align: middle!important
  margin: 0
  & > li
    margin-right: 6px
    display: inline-block
    & > a
      padding: 4px 0
      width: 36px
      text-align: center
      border-radius: 4px
      overflow: hidden
      margin-right: 3px
      background-color: #fff!important
      span
        vertical-align: middle
        line-height: 1.1
      &:last-child
        margin-right: 0!important
  & > .active > a
    background-color: #7dc43f!important
    border-color: #7dc43f!important

  & > li:last-child > a,
  & > li:last-child > span,
  & > li:first-child > a,
  & > li:first-child > span
    background-color: transparent
    border: none
    height: 30px
    padding: 0
    width: 25px
    vertical-align: middle
    font-size: 19px
    color: #000
    & > a:hover
      background-color: transparent
      border: none
  & >.disabled > a:hover
    background-color: transparent
    border: none
    color: #000
  & >.disabled > a:focus
    background-color: transparent
    border: none
    color: #000
  & >.active > a:hover
    background-color: #b0e87e
    border-color: #b0e87e
  & >.active > a:focus
    background-color: #b0e87e
    border-color: #b0e87e

  .fas
    font-size: 18px
  .page-item
    .page-link
      color: #000
    &.disabled
      pointer-events: none
    &.active
      pointer-events: auto
      cursor: pointer

.sort-polices__text
  font-size: 14px
  color: #969bac
  letter-spacing: 0.35px
  font-weight: 400
  margin-right: 5px

.number-sort
  border-radius: 3px
  background-color: #ffffff
  height: 26px
  border: none
  padding: 8px 15px 8px 8px
  outline: none
  width: 100%
  margin-right: 5px


.wrap-pagination
  width: 100%
  display: flex
  justify-content: space-between
  z-index: 20
  position: relative
  align-items: center
  margin: 13px 0

.wrap-input__sort
  position: relative
  width: 100%
  max-width: 50px
  margin-right: 5px
  .btn-add__count
    position: absolute
    right: 0
    top: 0
    height: 100%
    .fas
      cursor: pointer
      font-size: 18px
      position: absolute
      right: 3px
    .fa-caret-up
      top: 0
    .fa-caret-down
      bottom: 0


.sort-polices
  display: flex
  flex-direction: row
  align-items: center
  padding-left: 15px

.policy-body
  .pagination
    padding: 0 13px