.pay-of__balance--body
  .c-content__h3
    padding: 0 0 0 18px
    margin-bottom: 40px

  .withdrawal-header
    height: 40px
    display: flex
    flex-direction: row
    align-items: center
    background-color: #26283b
    width: 100%
    padding: 0 21px
    span
      font-size: 16px
      font-weight: 400
      color: #ffffff
  .container-withdrawal
    border-radius: 10px
    box-shadow: 0 -3px 38px rgba(0, 0, 0, 0.14)
    background-color: #ffffff
    overflow: hidden
    width: 100%
    max-width: 799px

  .withdrawal-body
    padding: 26px 20px 30px 20px

  .fa-edit
    color: #b3b4c3
    cursor: pointer

  .row-withdrawal
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    max-width: 405px
    align-items: center
    margin-bottom: 30px
    span.bold
      color: #26283b
      font-size: 16px
      font-weight: 700

  .wrap-input
    position: relative
    width: 100%

  .input-copy,
  .input-with__pay
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1)
    border-radius: 20px
    border: 2px solid #d8dde7
    background-color: #ffffff
    height: 40px

  .copy-to
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1)
    border-radius: 18px
    background-color: #f16192
    position: absolute
    right: 2px
    top: 1px
    outline: none
    border: none
    width: 55px
    height: 37px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    i
      color: #fff

  .input-title
    font-size: 16px
    font-weight: 700
    color: #26283b
    margin-bottom: 10px
    line-height: 1.1
    padding-left: 20px

  .row-withdrawal__input
    margin-bottom: 30px

  .input-with__pay
    color: #f16192

  .p-money
    margin-right: 28px

  .text-grey
    color: #b3b4c3
    font-size: 14px
    line-height: 1.3
    letter-spacing: 0.35px