.support-body
  //position: relative

  .modal-new__message
    width: 100%
    max-width: 640px
    padding: 30px 20px
    background-color: #fff
    border-radius: 10px
    //overflow: hidden
    position: absolute
    box-shadow: 0 -3px 38px rgba(0, 0, 0, 0.14)
    top: 50%
    left: 50%
    z-index: -1
    transform: translate(-50%, -50%)
    opacity: 0
    pointer-events: none
    transition: 0.2s all ease-in-out
    .btn-close__modal
      position: absolute
      top: -11px
      display: inline-block
      width: 12px
      height: 12px
      right: -12px
      line-height: 1
      z-index: 9999
      cursor: pointer
      &:before
        content: ''
        width: 15px
        height: 2px
        position: absolute
        top: 0
        right: 0
        display: block
        background-color: #fff
        transform: rotate(45deg)
      &:after
        content: ''
        position: absolute
        top: 0
        right: 0
        width: 15px
        height: 2px
        display: block
        background-color: #fff
        transform: rotate(-45deg)
    .c-input__new
      background-color: #ffffff
      border: 2px solid #d8dde7
      border-radius: 20px
      box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1)
      padding: 8px 20px
      height: 40px
    .message-title
      color: #181926
      font-size: 30px
      font-weight: 400
      margin-bottom: 30px
      line-height: 1.3
      text-align: center
    .title-input
      color: #26283b
      font-size: 16px
      font-weight: 700
      margin-bottom: 13px
      line-height: 1
      padding-left: 20px
    .modal-new__row
      margin-bottom: 30px
      &.textarea
        margin-bottom: 15px
    .modal-new__row--file
      display: flex
      flex-direction: row
      justify-content: space-between
      margin-bottom: 30px
    .c-btn--success
      margin: 0 auto
      display: block
    textarea.c-input__new
      height: 112px
      border-radius: 10px

    &.open
      opacity: 1
      transition: 0.2s all ease-in-out
      z-index: 9999
      pointer-events: all
  h3
    padding-left: 20px
    margin: 0 50px 0 0
  .wrap-top__title
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    margin-bottom: 40px
  .add-sub
    box-shadow: none
    margin: 0

  .mess-img
    display: inline-block
    width: 22px
    height: 15px
    -webkit-background-size: cover
    background-size: cover
    position: relative
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='15' viewBox='0 0 22 15'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23969bac' d='M19.517-.002c.93 0 1.665.737 1.627 1.628v11.747c0 .892-.736 1.629-1.627 1.629H1.734a1.637 1.637 0 0 1-1.627-1.629V1.626c0-.891.736-1.628 1.627-1.628zm.697 13.22V2.712l-6.78 5.234zM1.773.968c-.349 0-.62.27-.697.581l8.871 6.9c.31.272.891.272 1.24 0l8.988-6.978a.71.71 0 0 0-.658-.504zm6.005 7.017L1.076 2.79v10.428zm11.739 6.125c.077 0 .116 0 .193-.039l-7.09-5.505-.852.66c-.31.27-.774.387-1.2.387-.427 0-.853-.116-1.202-.388l-.775-.62L1.58 14.07c.04.039.116.039.194.039z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center no-repeat
    transition: .1s all ease-in-out
    &.isHaveMess
      transition: .1s all ease-in-out
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='15' viewBox='0 0 22 15'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%2326283b' d='M19.517-.002c.93 0 1.665.737 1.627 1.628v11.747c0 .892-.736 1.629-1.627 1.629H1.734a1.637 1.637 0 0 1-1.627-1.629V1.626c0-.891.736-1.628 1.627-1.628zm.697 13.22V2.712l-6.78 5.234zM1.773.968c-.349 0-.62.27-.697.581l8.871 6.9c.31.272.891.272 1.24 0l8.988-6.978a.71.71 0 0 0-.658-.504zm6.005 7.017L1.076 2.79v10.428zm11.739 6.125c.077 0 .116 0 .193-.039l-7.09-5.505-.852.66c-.31.27-.774.387-1.2.387-.427 0-.853-.116-1.202-.388l-.775-.62L1.58 14.07c.04.039.116.039.194.039z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center no-repeat
      &:before
        content: attr(data-mess)
        right: -15px
        position: absolute
        width: 20px
        font-weight: 600
        height: 20px
        transition: .1s all ease-in-out
        line-height: 20px
        overflow: hidden
        z-index: 1
        text-align: center
        vertical-align: middle
        border-radius: 50%
        top: -13px
        font-size: 13px
        display: inline-block
        color: #fff
        background-color: #ed3f7c
  .support-col
    width: 100%

  .support-table
    border-radius: 10px

  .support-col__5
    .ui.selection.dropdown .menu
      width: calc(100% + 30px)

  .support-table__head
    padding: 0 20px
    background-color: #26283b
    height: 40px
    display: flex
    align-items: center
    .support-col__1
      padding-left: 0
    .support-col
      color: #fff
      font-size: 16px
      font-weight: 400

  .support-table__body
    background-color: #fff
    padding: 10px
    .support-col__2
      max-width: 1315px


  .support-row
    margin-bottom: 10px
    border-radius: 3px
    display: flex
    align-items: center
    padding: 8px 0
    height: 64px
    transition: .2s all ease-in-out
    cursor: pointer
    .support-col
      color: #26283b
      font-size: 16px

    &:last-child
      margin-bottom: 0
    &:nth-child(odd)
      background-color: #f2f2f3
    &:nth-child(even)
      background-color: #ecf8ff
    &:hover
      transition: .2s all ease-in-out
      background-color: #f16192
      .support-col__user
        display: none
      .mess-img
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='15' viewBox='0 0 22 15'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23fff' d='M19.517-.002c.93 0 1.665.737 1.627 1.628v11.747c0 .892-.736 1.629-1.627 1.629H1.734a1.637 1.637 0 0 1-1.627-1.629V1.626c0-.891.736-1.628 1.627-1.628zm.697 13.22V2.712l-6.78 5.234zM1.773.968c-.349 0-.62.27-.697.581l8.871 6.9c.31.272.891.272 1.24 0l8.988-6.978a.71.71 0 0 0-.658-.504zm6.005 7.017L1.076 2.79v10.428zm11.739 6.125c.077 0 .116 0 .193-.039l-7.09-5.505-.852.66c-.31.27-.774.387-1.2.387-.427 0-.853-.116-1.202-.388l-.775-.62L1.58 14.07c.04.039.116.039.194.039z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center no-repeat
      .support-col
        color: #fff!important
      .a-select__actions.ui.dropdown:not(.button)>.default.text
        color: #fff !important
        transition: .2s all ease-in-out
      .a-select__actions.ui.selection.dropdown
        border-bottom: 1px dotted #fff!important
        transition: .2s all ease-in-out
      .isHaveMess
        transition: .2s all ease-in-out
        &:before
          background-color: #ffffff
          color: #f16192

  .support-col__1
    max-width: 50px
    padding-left: 10px
    font-size: 18px

  .support-col__2
    max-width: 1300px
    font-size: 18px

  .support-col__3
    max-width: 170px

  .support-col__4
    max-width: 175px

  .support-col__5
    max-width: 125px

  .support-col__6
    max-width: 140px

  .support-col__7
    max-width: 175px
    font-size: 18px

  .bold
    font-weight: 700 !important

  .support-col__dt
    padding-right: 50px

  .supp-grey
    color: #6d7383 !important

.chat-support__body
  .s-btn__black
    background-color: #26283b
    border-radius: 50px
    height: 40px
    font-size: 16px
    font-weight: 700
    letter-spacing: 1.6px
    text-transform: uppercase!important
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    line-height: 1.3
    transition: .2s all ease-in-out
    &:before
      content: "\F30A"
      font-family: "Font Awesome 5 Free"
      vertical-align: middle
      font-size: 16px
      line-height: 1.2
      margin-right: 10px
      font-weight: 700
      color: #fff
    &:hover
      background-color: rgba(38, 40, 59, 0.68)
      transition: .2s all ease-in-out
  .s-btn__black
    margin-bottom: 40px
    margin-top: 20px
    max-width: 176px
  h3
    color: #f16192
    font-weight: 400
    font-size: 30px
    margin-bottom: 19px
  .table-chat
    box-shadow: 0 -3px 38px rgba(0, 0, 0, 0.14)
    border-radius: 10px
    background-color: #ffffff
    width: 100%
    height: auto
    max-height: 1000px
    overflow: hidden
  .chat-head
    background-color: #26283b
    padding: 11px 20px
    height: 46px
    span
      font-size: 16px
      font-weight: 400
      color: #ffffff
      line-height: 1

  .chat-body
    padding: 30px 9px

  .img-holder
    max-width: 40px
    max-height: 40px
    width: 100%
    height: 100%
    overflow: hidden
    border-radius: 50%
    img
      width: 100%
      object-fit: cover
      margin: 0 auto




  .user-avatar
    margin-right: 10px

  .wrapper-name__date
    display: flex
    margin-bottom: 5px
    align-items: center
    padding-top: 5px

  .name-user__message
    font-size: 16px
    font-weight: 400
    color: #26283b
    margin-right: 10px

  .date-send__message
    font-size: 14px
    font-weight: 400
    color: #6d7383

  .content-message
    padding: 15px 22px
    background-color: #f2f2f3
    border-radius: 3px
    height: auto
    overflow: hidden
    max-width: 1100px
    font-size: 16px
    line-height: 24px
    color: #6d7383


  .message
    display: flex
    flex-direction: row
    width: 100%
    margin-bottom: 30px
    &.messageSomeone
      justify-content: flex-end
      .content-message
        background-color: #ecf8ff

    &.messageYou
      justify-content: flex-start
      .content-message
        background-color: #f2f2f3

  .send-message__input
    min-height: 100px
    width: 100%
    padding: 15px 20px
    margin-bottom: 20px
    border: 2px solid #d8dde7
    background-color: #ffffff
    border-radius: 10px
    overflow: hidden
    position: relative
    resize: none
    font-size: 16px
    &::placeholder
      font-size: 16px
      color: #b3b4c3
      font-weight: 400
      line-height: 1

  .chat-send__message
    padding-left: 50px

  .wrap-btn__file
    display: flex
    width: 100%
    align-items: center
    justify-content: space-between

  .chat-viewport
    max-height: 500px
    margin-bottom: 10px
    overflow-y: auto
    padding: 0 5px
    padding-bottom: 20px


  input[type='file']
    display: none

  .file-info
    font-size: 0.9em

.browse-btn
  background: transparent
  color: #f16192
  padding: 5px 0 2px 0
  margin-left: 20px
  font-size: 16px
  border: none
  border-bottom: 1px dotted #f16192
  outline: none
  position: relative
  transition: .2s all ease-in-out
  &:before
    content: ''
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='18' viewBox='0 0 16 18'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23f16192' d='M3.791 17.613a3.511 3.511 0 0 1-2.488-5.995L9.2 3.738a2.395 2.395 0 0 1 3.379 0c.931.93.931 2.443 0 3.372L6.77 12.907a.592.592 0 0 1-.836 0 .589.589 0 0 1 0-.834l5.808-5.797a1.205 1.205 0 0 0-.854-2.057c-.322 0-.625.125-.854.353l-7.895 7.88a2.332 2.332 0 0 0 1.652 3.982c.625 0 1.212-.243 1.653-.683l8.08-8.065a3.434 3.434 0 0 0 1.016-2.447c0-.924-.36-1.793-1.015-2.446a3.476 3.476 0 0 0-4.903 0L2.63 8.773a.592.592 0 0 1-.835 0 .589.589 0 0 1 0-.833l5.992-5.981a4.66 4.66 0 0 1 6.575 0 4.604 4.604 0 0 1 1.361 3.28c0 1.24-.483 2.405-1.361 3.28L6.28 16.586a3.5 3.5 0 0 1-2.489 1.028z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center no-repeat
    display: inline-block
    -webkit-background-size: cover
    background-size: cover
    width: 16px
    height: 18px
    position: absolute
    left: -20px
    top: 50%
    transform: translateY(-50%)
    transition: .2s all ease-in-out
  &:hover
    color: rgba(241, 97, 146, 0.61)
    border-bottom: 1px dotted rgba(241, 97, 146, 0.61)
    transition: .2s all ease-in-out
    &:before
      background-size: cover
      width: 16px
      height: 18px
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='18' viewBox='0 0 16 18'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23f16192a6' d='M3.791 17.613a3.511 3.511 0 0 1-2.488-5.995L9.2 3.738a2.395 2.395 0 0 1 3.379 0c.931.93.931 2.443 0 3.372L6.77 12.907a.592.592 0 0 1-.836 0 .589.589 0 0 1 0-.834l5.808-5.797a1.205 1.205 0 0 0-.854-2.057c-.322 0-.625.125-.854.353l-7.895 7.88a2.332 2.332 0 0 0 1.652 3.982c.625 0 1.212-.243 1.653-.683l8.08-8.065a3.434 3.434 0 0 0 1.016-2.447c0-.924-.36-1.793-1.015-2.446a3.476 3.476 0 0 0-4.903 0L2.63 8.773a.592.592 0 0 1-.835 0 .589.589 0 0 1 0-.833l5.992-5.981a4.66 4.66 0 0 1 6.575 0 4.604 4.604 0 0 1 1.361 3.28c0 1.24-.483 2.405-1.361 3.28L6.28 16.586a3.5 3.5 0 0 1-2.489 1.028z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center no-repeat


.a-select__actions.ui.selection.dropdown
  padding: 0
  background-color: transparent
  border: none
  border-bottom: 1px dotted #26283b
  padding-bottom: 2px
  border-radius: 0
  height: auto
  box-shadow: none
  transition: .2s all ease-in-out
.a-select__actions.ui.selection.dropdown>.dropdown.icon
  right: -15px
  padding: 0
.a-select__actions.ui.selection.dropdown .menu > .item
  padding: 0.7rem 0.642857rem 1rem 0.742857rem !important
  font-size: 13px
  transition: .2s all ease-in-out
  .status-done
    color: #26283b
  .status-progress
    color: #7dc43f
  .status-new
    color: #ed3f7c
.a-select__actions.ui.dropdown:not(.button) > .default.text
  .status-done
   color: #26283b!important
  .status-progress
    color: #7dc43f !important
  .status-new
    color: #ed3f7c !important

.a-sidebar__link--support
  span
    position: relative
    &:before
      content: attr(support-message)
      position: absolute
      right: -27px
      top: 50%
      transform: translateY(-50%)
      background-color: #dd3838
      width: 20px
      height: 20px
      line-height: 1.5
      font-size: 12px
      border-radius: 50%
      overflow: hidden
      text-align: center
      display: none
    &.message
      &:before
        display: inline-block
@media (max-width: 1290px)
  .chat-support__body
    .content-message
      max-width: 680px


