p
  margin-bottom: 0!important
a
  text-decoration: none!important

@import url('https://fonts.googleapis.com/css?family=Exo+2:100,400,500,600,700,900&subset=cyrillic')

*
  &::-webkit-scrollbar
    width: 3px
    height: 5px
  &::-webkit-scrollbar-button
    display: none
  &::-webkit-scrollbar-track
    background-color: #999
  &::-webkit-scrollbar-track-piece
    background-color: #E4E9F5
  &::-webkit-scrollbar-thumb
    height: 50px
    background-color: #26283B
    border-radius: 3px
  &::-webkit-scrollbar-corner
    background-color: #E4E9F5
  &::-webkit-resizer
    background-color: #26283B


.o-page__content
  background-color: #E4E9F5
  &.close
    left: 45px
    opacity: 1
    text-shadow: none
    transition: .1s all ease
    font-size: inherit
    font-weight: inherit
    float: inherit
    line-height: inherit
    &:hover
      opacity: 1
    &:focus
      opacity: 1
  &.open
    left: 250px
body
  font-family: "Exo 2 ", sans-serif
*
  font-family: "Exo 2 ", sans-serif
.create-mw
  .container
    max-width: 100%

.c-sidebar
  border-right: 0
.c-navbar
  background-color: #343543
  padding: 20px 40px
  ul
    margin: 0
  .head-navbar__flex
    display: flex
    flex-direction: row
    align-items: center
    li
      display: inline-block
      margin-right: 40px
      position: relative
      .navbar-icons
        width: 30px
        height: auto
        margin-right: 10px
        vertical-align: middle
        object-fit: cover
        display: inline-block
      .c-sidebar__icon
        margin-right: 6px
        font-size: 28px
        vertical-align: middle
      a
        display: inline-block
        font-size: 0.875rem
        color: #9996A9
        &:hover
          color: #9996A9
          text-decoration: none
        &:visited
          color: #9996A9
          text-decoration: none

      .head-navbar__search
        background-color: #4D4E62
        border: 0
        outline: transparent
        border-radius: 20px
        height: 40px
        padding: 0 15px
        color: #9996A9
        width: 350px
        vertical-align: middle
        position: relative
        &::placeholder
          color: #9996A9

      .head-navbar__submit
        position: absolute
        top: 8px
        right: 11px
        background: url('/img/icons/search.png') no-repeat
        -webkit-background-size: cover
        background-size: cover
        border: 0
        outline: none
        width: 23px
        height: 23px
        cursor: pointer
.my-agents__inf
  position: relative
  &:before
    content: attr(data-info)
    position: absolute
    width: 20px
    height: 20px
    line-height: 20px
    overflow: hidden
    text-align: center
    vertical-align: middle
    border-radius: 50%
    font-size: 13px
    display: inline-block
    top: -10px
    left: 22px
    background-color: #ed3f7c
    color: #fff
    z-index: 1
.head-navbar
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  width: 100%
.head-items__last
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-end
  li
    margin-right: 35px
    &:last-child
      margin-right: 0
.tech-support__link
  color: #969bac
  font-size: 14px
  font-weight: 400
  display: inline-block
  position: relative
  padding-right: 36px
  &.empty
    &:after
      display: inline-block
  &:after
    content: attr(data-support)
    right: -14px
    position: absolute
    width: 20px
    height: 20px
    line-height: 20px
    display: none
    overflow: hidden
    z-index: 1
    text-align: center
    vertical-align: middle
    border-radius: 50%
    top: -17px
    font-size: 13px
    color: #fff
    background-color: #ed3f7c
  &:before
    content: ''
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='29' viewBox='0 0 30 29'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%239996a9' d='M29.836 14.5a14.39 14.39 0 0 1-4.251 10.25 14.428 14.428 0 0 1-10.265 4.247A14.43 14.43 0 0 1 5.057 24.75c-5.66-5.652-5.66-14.849 0-20.501A14.43 14.43 0 0 1 15.32.003c3.877 0 7.522 1.507 10.264 4.245A14.398 14.398 0 0 1 29.836 14.5zm-5.06-7.9l-4.12 4.114a6.543 6.543 0 0 1 0 7.57l4.12 4.115c3.82-4.556 3.82-11.243 0-15.8zM12.234 17.582a4.34 4.34 0 0 0 3.087 1.277 4.362 4.362 0 1 0-3.087-7.443 4.329 4.329 0 0 0-1.279 3.083 4.33 4.33 0 0 0 1.28 3.083zm3.087-15.398a12.245 12.245 0 0 0-7.91 2.87L11.53 9.17a6.502 6.502 0 0 1 3.79-1.213c1.38 0 2.69.428 3.791 1.213l4.12-4.115a12.246 12.246 0 0 0-7.91-2.87zM5.866 22.4l4.118-4.113A6.484 6.484 0 0 1 8.77 14.5c0-1.378.429-2.687 1.214-3.786L5.866 6.6c-3.822 4.556-3.822 11.243 0 15.8zm9.454 4.415c2.927 0 5.697-1.014 7.911-2.87l-4.12-4.115a6.502 6.502 0 0 1-3.79 1.213c-1.38 0-2.69-.43-3.791-1.213l-4.12 4.114a12.24 12.24 0 0 0 7.91 2.871z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center no-repeat
    -webkit-background-size: cover
    background-size: cover
    width: 30px
    height: 30px
    display: inline-block
    position: absolute
    right: -2px
    top: 50%
    transform: translateY(-50%)
  &:hover
    color: #969bac

.btn-notifications__img
  width: 30px
  height: 30px
  object-fit: contain
  vertical-align: middle
  position: relative
  display: block
.btn-notifications
  position: relative
  &:before
    content: attr(data-number)
    position: absolute
    width: 20px
    height: 20px
    line-height: 20px
    overflow: hidden
    z-index: 1
    text-align: center
    vertical-align: middle
    border-radius: 50%
    font-size: 13px
    display: inline-block
    top: -14px
    left: 16px
    background-color: #79BE3D
    color: #fff


.home-body
  .c-sidebar-row__flex
    margin-bottom: 40px


.c-sidebar-row__flex
  display: flex
  flex-direction: row
  margin-bottom: 50px
  flex-wrap: wrap
  margin-right: -10px
  .c-sidebar__item
    width: calc(20% - 12px)
    position: relative
    margin: 0 12px 12px 0
    max-width: 330px
    min-width: 230px

  .c-state-card
    width: 100%
    min-height: 200px
    background: #181926
    border-radius: 10px
    margin-bottom: 0
    display: flex
    flex-direction: column
    justify-content: flex-end
    text-align: center
    padding: 28px 30px
  .c-sidebar__item
    text-decoration: none
  .c-btn--success__create
    vertical-align: middle
    background-color: transparent
    font-size: 1vw
    font-weight: 700
    text-transform: uppercase
    color: #fff
    display: inline
    text-decoration: none
    &:before
      content: ''
      width: 2px
      height: 54px
      display: block
      background-color: #fff
      position: absolute
      top: calc(40% - 27px)
      right: calc(50% - 2px)
    &:after
      content: ''
      width: 54px
      height: 2px
      display: block
      background-color: #fff
      position: absolute
      top: calc(40% - 2px)
      right: calc(50% - 27px)

  .c-btn__create
    text-align: center
    width: 100%
    min-height: 200px
    background: #e45c8a
    box-shadow: 0 -3px 38px rgba(0, 0, 0, 0.14)

  .c-state-card__number
    font-size: 3vw
    font-weight: 700
    line-height: 1
    margin-bottom: 20px

  .c-state-card__title
    min-height: 55px
    margin-bottom: 0
    letter-spacing: 0.45px
    font-weight: 700
    font-size: 1vw

  .c-state-card__money
    font-size: 2vw
    font-weight: 700
    word-break: break-all
.modal-accept__code
  max-width: 500px
  width: auto
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  height: auto
  background-color: #fff
  border-radius: 10px
  padding: 50px
  display: none
  z-index: 999
  .paste-code
    display: none
  .accept-code__title
    font-size: 1rem
    text-align: center
    margin-bottom: 50px
  .accept-code__input
    border-radius: 50px
    outline: none
  .wrap-btn
    display: block
    text-align: center
  .modal-accept__code--close
    position: absolute
    top: 15px
    display: inline-block
    width: 20px
    height: 20px
    right: 15px
    line-height: 1
    &:before
      content: ''
      width: 15px
      height: 2px
      position: absolute
      top: 0
      right: 0
      display: block
      background-color: #000
      transform: rotate(45deg)
      opacity: .6
    &:after
      content: ''
      position: absolute
      top: 0
      right: 0
      opacity: .6
      width: 15px
      height: 2px
      display: block
      background-color: #000
      transform: rotate(-45deg)

.c-sidebar__local-modal, .modal-notifications, .modal-curators
  max-width: 1000px
  width: auto
  background-color: #FEC689
  position: relative
  border-radius: 10px
  margin-bottom: 20px
  padding: 0 20px
  display: none
  z-index: 1
  .local-modal__h4, .modal-notificationsl__h4
    font-weight: 700
    font-size: 0.875rem
  .local-modal__text, .modal-notifications__text
    line-height: 1.4
  .local-modal__generate
    position: relative
    padding: 7px 20px
    min-height: 70px
    z-index: 23
    &:after
      content: ''
      width: 100%
      height: 1px
      position: absolute
      bottom: 0
      left: 0
      right: 0
      background-color: #fff
      display: block
      opacity: .6
  .local-modal__info, .modal-notifications__info
    position: absolute
    top: 10px
    left: -10px
    color: #fff
    font-size: 20px
  .local-modal__info-text, .modal-notifications__info-text
    display: none
    position: absolute
    top: -25px
    left: 0
    background-color: aqua
    width: auto
    height: auto
    padding: 5px 20px
  .local-modal__info-hover, .modal-notificationsl__info-hover
    &:hover
      .local-modal__info-text, .modal-notifications__info-text
        display: inline-block

.c-sidebar__modal-close, .c-sidebar__none-close, .modal-notifications__close
  position: absolute
  top: 15px
  display: inline-block
  width: 20px
  height: 20px
  right: -12px
  line-height: 1
  &:before
    content: ''
    width: 15px
    height: 2px
    position: absolute
    top: 0
    right: 0
    display: block
    background-color: #fff
    transform: rotate(45deg)
    opacity: .6
  &:after
    content: ''
    position: absolute
    top: 0
    right: 0
    opacity: .6
    width: 15px
    height: 2px
    display: block
    background-color: #fff
    transform: rotate(-45deg)
.c-sidebar__none-close
  right: 10px
.dark-modal__kw
  .c-grey
    p
      max-width: 300px
.c-sidebar__brand
  height: 80px
  padding: 0.3125rem 5px 0.3125rem 30px
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.c-sidebar__link
  transition: background-color, border-left .15s ease-in-out
  padding: 1rem 10px 1rem 20px
  margin: 0
  &:hover
    background-color: #181725
    color: #fff
    transition: background-color .15s ease-in-out
  //border-left: 4px solid purple
  img
    margin: 0 20px 0 0
.c-sidebar__account
  padding: 20px
  display: flex
  font-family: "Lato", sans-serif
  flex-direction: row
  position: relative
  overflow: hidden
  color: #fff
  &:before
    content: ''
    background-image: url('/img/bg-left.png')
    filter: blur(10px)
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
  .account-img
    max-width: 70px
    height: 70px
    width: 100%
    border-radius: 50%
    overflow: hidden
    background-color: #fff
    z-index: 1
    img
      object-fit: contain
  .account-info
    z-index: 1
    padding: 5px 0 0 5px
  .account-email
    font-size: 13px
    text-overflow: ellipsis
    max-width: 130px
    white-space: nowrap
    overflow: hidden
    opacity: .7
    color: #fff
  .account-name
    font-weight: 700
    color: #fff
    position: relative
    display: inline-block
    width: 100%
    height: auto
    &:after
      content: ''
      position: absolute
      right: -10px
      top: 70%
      transform: translateY(-50%)
      border: 5px solid transparent
      cursor: pointer
      border-top: 6px solid #ffffff
    a
      color: #fff
      display: inline-block
      width: 100%
      line-height: 1.3
    &:hover
      color: #fff
    &:visited
      color: #fff
.c-sidebar__description
  padding: 10px 20px 10px 10px
  p
    font-size: 13px
    color: #969BAC
.head-items__last
  margin-right: 30px
.open-modal__balance
  position: relative
  &:after
    content: ''
    position: absolute
    right: -18px
    bottom: 1px
    border: 5px solid transparent
    border-top: 6px solid #ffffff
.c-sidebar__brand, .c-sidebar__body, .c-sidebar__footer, .c-sidebar__account
  background-color: #26283B
  border: 0

.modal-active
  display: block


.radial-progress-container
  width: 50px
.radial-progress-bar

  circle
    width: 50px

.c-table__head
  .c-table__cell--head
    color: #fff
    font-family: "Exo 2", sans-serif
    font-size: 16px
    padding: 10px 0 10px 15px
    &:first-child
      border-top-left-radius: 15px
    &:last-child
      border-top-right-radius: 15px
    span
      position: relative
      transition: .2s all ease-in-out
      .close-coll
        display: none
        position: absolute
        right: -24px
        top: -10px
        min-width: 24px
        padding: 7px
        transition: .2s all ease-in-out
      &:hover
        .close-coll
          transition: .2s all ease-in-out
          display: block
.c-avatar
  border-radius: 50%
  overflow: hidden
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.23)
  background-color: #fff
  img
    object-fit: cover

.c-table__row
  transition: .2s all ease-in-out
  &:nth-child(odd)
    background-color: #f2f2f3
  &:nth-child(even)
    background-color: #ecf8ff
  &:hover
    background-color: #f16192
    color: #fff!important
    transition: .2s all ease-in-out
    .c-table__cell,
    span,
    i,
    a,
    h6
      color: #fff!important
      transition: .2s all ease-in-out
    .btn-recalc
      background-color: #343543
    .fa-sort-down
      color: #000!important

.c-table-bg
  background-color: #26283b!important
  border-top: transparent
  border-left: transparent
  position: relative
  .c-sidebar__icon
    position: absolute
    right: 11px
    top: 15px
    color: #fff
    margin: 0


.c-select__input--create
  border-radius: 30px
  border: 2px solid #d8dde7

  color: #26283b
.c-select::after
  content: ''
  position: absolute
  left: 140px
  bottom: -19px
  border: 5px solid transparent
  border-top: 6px solid #26283b

.printTypeDiv::after
  top: 17px

.status-draft, .inner-cont, .polices-number
  color: #26283b
  letter-spacing: 1.4px
.status-paid, .status-draft, .status-decorated, .prize, .polices-number
  font-weight: 700
  letter-spacing: 0.4px
.prize
  color: #f16192
.status-policy__status
  .status-draft
    color: #f16192
    font-weight: 400

.polices-account__name
  h6
    color: #6d7383
    font-weight: 400
    letter-spacing: 0.4px
    text-transform: capitalize
.pl-3-desk
  padding-left: 20px
  color: #181926
  letter-spacing: 0.75px
  font-weight: 400
  font-family: 'Exo 2', sans-serif

.modal-notifications
  position: absolute
  top: 65px
  right: 20px
  max-width: 450px
  display: none
  width: auto
  background-color: #FEC689
  border-radius: 10px
  margin-bottom: 20px
  z-index: 999

.modal-notifications.open
  display: inline-block
.modal-notifications__none
  min-width: 250px
  min-height: 80px
  z-index: 999
  text-align: center
  vertical-align: middle
  display: flex
  align-items: center
  justify-content: center
.modal-notifications__close
  right: -12px
.modal-notifications__generate
  position: relative
  padding: 7px 20px
  &:after
    content: ''
    width: 100%
    height: 1px
    position: absolute
    bottom: 0
    left: 0
    right: 0
    background-color: #fff
    display: block
    opacity: .6
.c-sidebar__logo
  max-width: 100px
.c-sidebar-btn
  display: block
  vertical-align: middle
  color: #fff!important
  font-size: 25px!important
  opacity: .7

.o-page__sidebar
  transition: .2s all ease
  .c-sidebar__brand
    padding: 0.3125rem 20px 0.3125rem 20px
  &.open
    width: 250px
    transition: .2s all ease
    .c-sidebar__logo
      display: block

    .c-sidebar__account
      padding: 20px
    .account-img
      max-width: 70px
      max-height: 70px
    .account-info,
    .c-sidebar__description
      display: block
    .c-sidebar__brand
      padding: 0.3125rem 20px 0.3125rem 20px
  &.close
    width: 45px
    opacity: 1
    text-shadow: none
    transition: .1s all ease
    cursor: auto !important
    .c-sidebar__logo
      display: none
    .o-page__content
      left: 45px
    .account-img
      max-height: 20px
      max-width: 20px
    .account-info,
    .c-sidebar__description
      display: none
    .c-sidebar__body
      height: 100vh
    .c-sidebar__account
      padding: 5px 5px 5px 15px
    .c-sidebar__brand
      padding: 5px 5px 5px 10px
    .c-sidebar__link
      padding: 10px
    &:hover
      opacity: 1
    &:focus
      opacity: 1


.modal-curators.open
  display: inline-block
.modal-curators
  left: 500px

.little-modal
  background-color: #F16192
  display: none
  width: auto
  height: auto
  max-width: 100%
  border-radius: 10px
  position: absolute
  padding: 10px 15px
  left: 100px
  top: 155px
  z-index: 800
  a
    font-size: 14px
    display: inline-block
    font-weight: 600
    color: #fff
    &:hover
      color: #fff
    &:visited
      color: #fff
  .wrap-border__bottom
    border-bottom: 1px solid rgba(255, 255, 255, 0.23)
    &:last-child
      border-bottom: none
  .account-exit
    padding: 15px 7px 0 7px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
  .settings-account
    padding: 0 7px 3px 7px
.ttu
  text-transform: uppercase
.cpt
  text-transform: capitalize
.dark-modal
  display: none
  top: 65px
  left: 170px
  background-color: #181725
  z-index: 999
  .wrap-border__bottom
    padding: 10px 0
  .line-1, .line-2
    min-width: 300px
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-bottom: 10px
    padding: 0 5px
  h6
    color: #ffffff
    font-weight: 600
    font-size: 14px
    margin-bottom: 10px
    padding: 0 5px
  .c-pink
    white-space: nowrap
  p
    color: #fff
    font-size: 14px
    font-weight: 600
  .mw-260
    max-width: 260px

.dark-modal__kurator
  left: 570px
  .line-1, .line-2
    margin-bottom: 0
  .wrap-border__bottom
    padding: 10px 0 0 0
    .wrap-i
      font-family: "Font Awesome 5 Free"
      .fab
        margin-right: 5px
        font-size: 16px
  .item-1
    margin-bottom: 15px
    &:last-child
      border-bottom: none

.dark-modal__balance
  top: 55px
  left: auto
  right: 85px
  h6
    margin: 0

  .line-1, .line-2
    align-items: center
    margin: 0
  a
    text-decoration: dotted!important
    color: #f16192
    &:hover
      color: #f16192
    &:visited
      color: #f16192

.bg-owerlay
  position: fixed
  width: 100%
  height: 100%
  z-index: 700
  display: none
  background-color: rgba(0, 0, 0, 0.75)
.bg-owerlay2
  position: fixed
  width: 100%
  height: 100%
  z-index: 700
  display: none
  background-color: rgba(0, 0, 0, 0)
.openBg
  display: block
.ow-open
  display: block
.open
  display: inline-block



.c-card__change
  padding: 0!important
  box-shadow: none
  .steps-change
    padding: 20px
    border: 0
    background-color: #26273C
    border-top-left-radius: 15px!important
    border-top-right-radius: 15px!important
  .ui.attached.steps .step.active
    background-color: #F16192
    box-shadow: 4px 0 5px rgba(0, 0, 0, 0.23)
  .ui.attached.steps .step
    box-shadow: 4px 0 5px rgba(0, 0, 0, 0.23)
  .ui.attached.steps .step.disabled
    background-color: #383a51
    box-shadow: none
  .ui.attached.steps .step
    padding: 0.642857em 2em 0.642857em 6em
    border-radius: 2.285714rem
    background-color: #F16192
    &:first-child
      border-radius: 2.285714rem
      left: 0
      z-index: 4
      .step-plus
        vertical-align: middle
        font-size: 18px
        font-weight: 700
        text-transform: uppercase
        background-color: #F16192
        color: #fff
        display: inline-block
        width: 47px
        height: 46px
        border-radius: 50%
        position: absolute
        left: 0
        box-shadow: 4px 0 5px rgba(0, 0, 0, 0.23)
        &:before
          content: ''
          width: 1px
          height: 15px
          display: block
          background-color: #fff
          position: absolute
          top: calc(50% - 7px)
          right: calc(50% - 0px)
        &:after
          content: ''
          width: 15px
          height: 1px
          display: block
          background-color: #fff
          position: absolute
          top: calc(50% - 0px)
          right: calc(50% - 7px)
  .fas
    font-size: 32px!important
    color: #fff
$group-size: 4
$i: -50px
$z: 4
@mixin left()
  @for $i from 1 through 4
    .ui.attached.steps .step:nth-child(4n + #{$i})
      left: ($i * -50px)
@include left

.ui.attached.steps .step .title
  font-size: 18px!important
  letter-spacing: 0.45px
  font-weight: 700
  color: #fff!important


.ui.four.steps > .step
  width: 27.75%!important
.ui.steps .step.disabled
  border-right: 1px solid #a2a2a22e

.ui-form__change
  padding: 40px 20px 40px 20px
  .c-field__label
    font-weight: 700
    color: #26283b
    font-family: 'Exo 2', sans-serif
    padding: 0 18px
    margin-bottom: 10px
  .c-input
    border-radius: 2.285714rem
  .c-field
    display: inline-block

.c-select::after
  content: none

.ui.search.dropdown>.text
  letter-spacing: 0.4px
  font-weight: 400
  font-size: 16px
  font-family: 'Exo 2', sans-serif
  color: #26283b
.c-select__input
  color: #b3b4c3
.identificator-change, .category-change
  margin-bottom: 20px
.model-change
  margin-bottom: 0
.fz-28
  font-size: 28px
.c-pink
  color: #f16192!important
.c-grey
  color: grey!important
.c-blue
  color: #46c1fa!important
  font-size: 16px
  font-weight: 500!important

.c-choice--checkbox .c-choice__input + .c-choice__label::before
  vertical-align: middle
.c-choice--checkbox .c-choice__input:checked + .c-choice__label::before
  border: 0
  box-shadow: none
  background-color: #7dc43f
  font-size: 15px
  line-height: 1.3
  vertical-align: middle
.c-choice--radio .c-choice__input:checked + .c-choice__label::before
  border: 0
  box-shadow: none
  background-color: #7dc43f
  vertical-align: middle
.c-choice__input + .c-choice__label
  vertical-align: middle
.c-choice__input + .c-choice__label::before
  width: 20px
  min-width: 20px
  height: 20px
.c-btn--success
  background-color: #7dc43f
  border-radius: 50px
  height: 40px
  font-size: 16px
  font-weight: 700
  letter-spacing: 1.6px
  display: inline-block
  width: auto
  line-height: 1.3
  text-transform: uppercase
.addn-subagent
  display: block
  max-width: 280px
  margin-top: 30px
  .fa-check-circle
    color: #fff
    margin-right: 5px
.ui-form__change .c-field
  vertical-align: middle
.ui.steps .step:after
  opacity: 0
.o-line
  justify-content: flex-start
.u-inline-flex
  margin: 15px 0 25px 0
.status-h3__margin
  margin-bottom: 25px
.row-pl__padding
  padding-left: 18px
  margin-bottom: 35px
  .c-choice
    margin: 0
.c-btn__shange
  margin-top: 20px
.step-change__pl
  padding-left: 18px
  font-size: 16px
h5.step-change__pl
  margin-bottom: 15px
.mb-30
  margin-bottom: 30px
.c-btn__pink
  background-color: #f16192
  border-radius: 50px
  height: 40px
  font-size: 16px
  font-weight: 400
  letter-spacing: 0.35px
  display: inline-block
  width: auto
  line-height: 1.3
  text-transform: none
  .fas
    margin-right: 10px

.label-transparent
  color: transparent

.status-policy__change
  background-color: transparent
  box-shadow: none
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 20px 0 20px 20px
.status-policy__number
  color: #181926
  font-weight: 400
  font-size: 30px
  letter-spacing: 0.75px
.status-policy__number--pink
  text-transform: uppercase
.status-policy__row
  margin-right: 10px
  &:last-child
    margin-right: 0
.status-policy__status
  color: #26283b
  font-size: 16px
  font-weight: 700
  letter-spacing: 0.4px
  font-family: 'Exo 2', sans-serif
  margin-bottom: 0

.c-btn--black
  background-color: #26283b
  border-radius: 50px
  height: 40px
  font-size: 16px
  font-weight: 700
  letter-spacing: 1.6px
  text-transform: uppercase!important
  display: inline-block
  width: auto
  line-height: 1.3
  &:before
    content: "\F30A"
    font-family: "Font Awesome 5 Free"
    vertical-align: middle
    font-size: 16px
    line-height: 1.2
    margin-right: 10px
    font-weight: 700
    color: #fff

.c-btn--secondary
  background-color: transparent
  box-shadow: none
  color: #26283b
  font-size: 16px
  letter-spacing: 0.4px
  font-weight: 400
  &:before
    content: '\f2ed'
    font-family: "Font Awesome 5 Free"
    font-size: 16px
    font-weight: 400
    margin-right: 10px
  &:hover
    color: #f16192
    box-shadow: none

.c-btn__void
  padding: 0 0 3px 0
  border-radius: 0!important
  border-bottom: 1px dotted #26283b
  display: inline-block
  &:disabled
    background-color: transparent!important
    color: #99A5BD!important
  &:before
    content: ''
    margin: 0
  span
    position: relative
    &:before
      content: '\f2ed'
      font-family: "Font Awesome 5 Free"
      font-size: 16px
      font-weight: 400
      margin-right: 10px
      position: absolute
      left: -24px
      top: 65%
      transform: translateY(-50%)
  &:hover
    color: #f16192
    box-shadow: none

.c-btn__subscribe
  background-color: transparent
  box-shadow: none
  padding: 0 0 3px 0
  border-bottom: 1px dotted #26283b
  display: inline-block
  border-radius: 0
  &:disabled
    background-color: transparent!important
    color: #99A5BD!important
  &:hover
    background-color: transparent
    box-shadow: none
  &:before
    content: ''
    margin: 0
  span
    position: relative
    color: #26283b
    font-size: 16px
    letter-spacing: 0.4px
    font-weight: 400
    &:before
      content: ''
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%2326283b' d='M13.052 2.057v.867a2.05 2.05 0 0 1 1.975.53l.155.156c.387.388.6.903.6 1.45 0 .547-.211 1.06-.596 1.447l.01.01-.9.9-.01-.01-1.234 1.236v5.3c0 1.132-.92 2.052-2.05 2.052H2.267c-1.13 0-2.05-.92-2.05-2.052V2.057c0-1.132.92-2.052 2.05-2.052H11c1.13 0 2.05.92 2.05 2.052zm-1.273 7.86L9.458 12.24a.636.636 0 0 1-.287.165l-2.93.778a.635.635 0 0 1-.778-.778l.777-2.952a.637.637 0 0 1 .166-.289l4.825-4.814-.007-.007.555-.556v-1.73a.779.779 0 0 0-.778-.779H2.268a.779.779 0 0 0-.778.779v11.886c0 .43.349.779.778.779H11c.43 0 .778-.35.778-.779zM6.972 11.67l.81-.215-.595-.601zm6.415-5.164L12.13 5.25 7.754 9.618l1.256 1.269zm-.355-2.156l1.254 1.255a.773.773 0 0 0 .224-.545.774.774 0 0 0-.228-.55l-.155-.156a.778.778 0 0 0-1.095-.004z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center no-repeat
      width: 16px
      height: 16px
      -webkit-background-size: cover
      display: inline-block
      background-size: cover
      font-weight: 400
      margin-right: 10px
      position: absolute
      left: -24px
      top: 59%
      transform: translateY(-50%)



.status-policy__row
  .c-btn__void
    margin-right: 50px
  .c-btn__subscribe
    margin-right: 30px
  .c-btn--success
    margin-right: 30px
  .c-btn
    &:last-child
      margin-right: 0
.c-card__info
  padding: 0
  border-radius: 15px
  overflow: hidden
  .row
    padding: 8px 30px 8px 30px
    &:nth-child(odd)
      background-color: #ecf8ff
    &:nth-child(even)
      background-color: #fff
    .col-md-4
      font-weight: 600
    .col-md-8
      color: #6d7383
tbody
  .c-table__row
    border-bottom: 10px solid #fff
    border-top: 10px solid #fff
    .c-table__cell
      padding: 0.35rem 0 0.35rem 15.5px
      &:first-child
        border-left: 15px solid #fff
        border-radius: 25px 0 0 25px
        padding: 0.35rem 0 0.35rem 10px
        color: #26283b

      &:last-of-type
        border-right: 15px solid #fff
        border-radius: 0 25px 25px 0

.c-card__info--head, .c-card__statistics--thead
  padding: 10px 30px
  background-color: #26283b
  font-size: 16px
  position: relative
  margin-bottom: 0!important
  color: #ffffff!important
  font-weight: 700
  line-height: 1
  letter-spacing: 0.4px
  border-top-left-radius: 10px
  border-top-right-radius: 10px
.c-field__label--n
  opacity: 0
  color: transparent
  margin-bottom: 5px
  display: block
.line-none
  line-height: 3
  align-self: flex-end
.statistics-table__filter
  margin-bottom: 15px
  .c-card__statistics--tbody
    background-color: #fff
    padding: 20px 10px 20px 10px
  .c-card__statistics--rowf
    padding-top: 20px
  .c-card__statistics--blue
    &:last-child
      border-radius: 0 0 5px 5px
.policy-body,
.payments-body
  .col-mw
    max-width: 250px!important
    .ui-form__change .c-input, .c-select__input
      padding: 0.57857143em 0 0.67857143em 0.67857143em !important

  .c-table
    margin-bottom: 10px
  .row-p
    padding-right: 15px
    display: flex
  .policy-title
    margin: 31px 0 28px 0
  .wrap-2
    .icon-up__down
      margin-left: 10px
  .c-table__row:last-child
    border-bottom: 10px solid #fff
.align-items-end
  align-items: flex-end
.c-card__statistics--tbody
  background-color: #fff
  box-shadow: 0 -3px 38px rgba(0, 0, 0, 0.14)
  padding: 10px
  border-radius: 0 0 10px 10px
  .col
    align-self: flex-end
  .c-field__label
    padding-left: 20px
    color: #26283b
    line-height: 1
    margin: 0 0 9px 0
    letter-spacing: 0.4px
    font-size: 16px
    font-weight: 700
  .container
    padding-top: 0
    padding-bottom: 0
.remove-driver__step
  display: flex
  flex-direction: row
  justify-content: space-between
.c-card__statistics--rowf
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 30px 0 0 20px
  align-items: center
.c-card__statistics--reproduce
  display: flex
  align-items: center
  .fas
    line-height: 1
    color: #b3b4c3
    margin: 0 20px
    vertical-align: middle
    font-size: 18px
    &:hover
      color: #7dc43f
.payments-first__row
  .offset-m
    margin-left: 30.3%
.filter_active
  color: #7dc43f!important
.reproduce
  letter-spacing: 0.4px
  font-weight: 700
  font-size: 16px
  color: #26283b
.col-mw
  max-width: 200px!important
.ui.search.dropdown > .text
  white-space: nowrap



.c-content__h3
  padding-left: 20px
  margin-bottom: 40px
  padding-top: 20px
.statistics-table__statistics
  .c-card__statistics--tbody, .c-card__statistics--thead
    .col, .col-md-1
      text-align: center
  .c-card__statistics--tbody
    padding: 10px 5px
.payments-body
  .payments-table_your
    margin-bottom: 28px
    overflow: hidden
    &:last-child
      margin-bottom: 10px
  .c-card__statistics--tbody
    .col
      align-self: center
      font-family: "Exo 2", sans-serif
      text-align: left
  .statistics-table__statistics
    .c-card__statistics--tbody
      padding: 10px 5px
    .c-card__statistics--thead
      font-weight: 400
      .col
        text-align: left
  .col-262
    min-width: 265px
  .col-300
    min-width: 300px
  .mw-258
    max-width: 266px
  .btn-export__exel
    margin-top: 20px
  .tac
    text-align: center!important
    padding-left: 76px

  .statistic-other__row
    padding: 0
    margin: 0
.payment-title__flex
  display: flex
  justify-content: space-between
  align-items: flex-end
  padding-right: 20px
.child-title
  font-family: "Exo 2", sans-serif
  font-size: 14px
  color: #6d7383
  font-weight: 400
  letter-spacing: 0.35px
.c-card__statistics__row
  padding: 22px 28px
//&:nth-child(odd)
//  background-color: #f2f2f3
//&:nth-child(even)
//  background-color: #ecf8ff
.statistic-first__row, .statistic-your__row
  color: #f16192
  font-weight: 700
  font-size: 16px
  letter-spacing: 0.4px
.statistic-your__row
  color: #26283b

.btn-export__exel
  outline: none
  .far
    font-family: "Font Awesome 5 Free"
    margin-right: 10px
.c-btn__pdf
  letter-spacing: 1.6px !important
.ui.accordion .title:not(.ui)
  position: relative
.ui.accordion .title .dropdown.icon
  position: absolute
  right: 20px
  top: 30px
  color: #fff
.payments-table_filter
  .c-choice, .c-btn--secondary
    outline: none
    margin-bottom: 0
.payments-table_your
  .c-card__statistics--tbody
    background-color: #fff
    margin-bottom: 20px
    position: relative
    border-bottom-right-radius: 10px
    border-bottom-left-radius: 10px
    &:last-child
      margin-bottom: 0

.payments-table_filter
  .c-card__statistics--tbody
    padding: 20px 10px
.payments-first__row
  background-color: transparent!important
.statistic-other__row, .payments-first__row
  padding: 7px 0
.bgc-b
  background-color: #ecf8ff
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px
.home-container
  padding: 0 15px

.container
  min-height: calc(100vh - 192px)
  padding-left: 5px!important
  padding-right: 5px!important
  padding-top: 20px
  padding-bottom: 20px
.c-card__statistics--tbody
  .container
    min-height: auto
.scroll-home
  .container
    min-height: auto!important

.pr-15
  padding-right: 15px
.pl-20
  padding-left: 20px
  margin: 0
.money-up
  color: #7dc43f
.money-down
  color: #f16192
.bold
  font-weight: 700
.c-card__statistics--thead
  .fas
    position: absolute
    right: 20px
    top: 50%
    margin-top: -5px

.all-link
  color: #f16192
  padding-bottom: 2px
  border-bottom: 1px dotted #f16192

.btn-skip__step
  margin-bottom: 20px

.n-t
  pointer-events: none
.settings-table
  margin-bottom: 30px
  .c-card__statistics--tbody
    background-color: #fff
  .row
    margin: 15px 0
    font-weight: 700
    align-items: center
  .settings-label__3
    min-width: 250px
  input
    color: #26283b
    border-radius: 50px
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1)
    font-size: 1rem
    outline: none
    width: auto
    border: 2px solid #d8dde7
    padding: .578571em .9em .578571em .378571em
    background-color: transparent
    &:read-only
      border: none
      outline: none
      color: #6d7383
      box-shadow: none
  .edit, .edit-settings
    color: #b3b4c3
    margin-left: 10px
    &:hover
      color: #b3b4c3
    &:visited
      color: #b3b4c3
  .fa-check-circle
    color: #7dc43f
.settings-body
  .title-settings
    margin: 20px 0 15px 0
  .c-card__statistics--thead
    padding: 10px 20px
    border-radius: 10px 10px 0 0
  .settings-input
    height: 40px
  .div-1
    min-width: 200px
    padding-left: 15px
  .row-settings
    justify-content: flex-start
  .col-city
    height: auto
    .ui.search.dropdown > .text
      max-width: 250px
      white-space: pre-wrap
    .select__input, .ui.selection.dropdown
      max-width: 250px
      height: auto
  .more-row
    padding-left: 15px

.settings-inform__title
  color: #fff!important
  font-weight: 400
  letter-spacing: 0.4px
.settings-table--body
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px

  .c-choice__input + .c-choice__label
    line-height: 1.2
    color: #26283b
.wrap-img
  border-radius: 50%
  width: 198px
  height: 198px
  overflow: hidden
  margin: 0 auto
  position: relative
  &:after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-color: #000000b3
  a
    z-index: 2
  img
    object-fit: cover


.settings-row
  flex-wrap: wrap
.min-w
  min-width: 480px
.c-btn--danger
  border-radius: 50px
  font-size: 16px
  font-weight: 700
  text-transform: uppercase
  padding: 0.525rem 1.25rem
.c-btn_newsub
  background-color: #f16192
  border-radius: 50px
  height: 40px
  font-size: 16px
  font-weight: 400
  letter-spacing: 0.35px
  display: inline-block
  width: auto
  line-height: 1.3
  text-transform: none
  position: relative
  padding-left: 35px
  color: #fff
  &:before
    content: ''
    width: 1px
    height: 15px
    display: block
    background-color: #fff
    position: absolute
    top: calc(50% - 8px)
    left: 17px
  &:after
    content: ''
    width: 15px
    height: 1px
    display: block
    background-color: #fff
    position: absolute
    top: calc(50% - 1px)
    left: 10px

.myagents-h3
  margin-right: 25px
  padding-top: 0
.add-new__agent
  label
    display: inline-block
    padding-left: 15px
  input
    display: block
    width: 100%
  textarea
    border: 2px solid #d8dde7
    border-radius: 15px
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1)
    width: 100%
    height: 112px!important
    resize: none
    padding: 0.578571em 2.1em 0.578571em 0.67857143em
.title-new__agent
  padding-left: 20px
  margin: 15px 0 33px 0
.border-table
  border-radius: 10px
.toggle-row
  width: 100%
  padding: 10px 0 0 0
  border-bottom: 10px solid #fff
  cursor: pointer
  &:last-child
    border-bottom: none
  &:nth-child(odd)
    background-color: #ecf8ff
  &:nth-child(even)
    background-color: #f2f2f3
.toggle-row__body
  .row
    margin: 0

.toggle-children__head
  display: flex
  justify-content: space-between
  align-items: center
  p
    font-size: 24px
    font-weight: 400
    color: #26283b
    letter-spacing: 0.6px
.necessarily
  position: relative
  display: inline-block
  &:after
    content: '*'
    color: red
    font-size: 14px
    position: absolute
    top: 0
    right: -8px
.toggle-children__title
  text-align: left
.toggle-children__body
  padding-bottom: 10px
  input
    width: 100%
    background-color: #fff
    &::placeholder
      color: #b3b4c3
.cont-p
  width: 100%
  padding: 5px
.agents-form
  display: flex
  align-items: center
  .agents-input
    color: #26283b
    border-radius: 50px
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1)
    font-size: 1rem
    outline: none
    width: auto
    max-width: 150px
    border: 2px solid #d8dde7
    padding: .578571em .1em .578571em .67857143em
    background-color: transparent
    &:read-only
      border: none
      outline: none
      color: #6d7383
      box-shadow: none
  .edit
    color: #b3b4c3
    margin-left: 46px
    &:hover
      color: #b3b4c3
    &:visited
      color: #b3b4c3
  .fa-check-circle
    color: #7dc43f
.c-content__flex
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  margin-bottom: 20px
.myagents-h3
  margin: 0
.add-sub
  position: relative
  padding-left: 45px
  text-transform: uppercase
  font-size: 16px
  font-weight: 700
  letter-spacing: 1.6px
  margin-left: 25px
  &:before
    content: ''
    width: 1px
    height: 15px
    display: block
    background-color: #fff
    position: absolute
    top: calc(50% - 8px)
    left: 20px
  &:after
    content: ''
    width: 15px
    height: 1px
    display: block
    background-color: #fff
    position: absolute
    top: calc(50% - 1px)
    left: 13px
.policy-content__flex
  justify-content: space-between
  .wrap-1, .wrap-2
    display: flex
    flex-direction: row
    align-items: center
    .sort
      font-size: 14px
      font-weight: 400
      letter-spacing: 0.35px
      color: #6d7383
      margin-right: 10px
    .icon-up__down
      .fas
        color: #f16192
.disp-n
  display: none
.contain
  display: block
  position: relative
  padding-left: 35px
  color: #fff
  font-size: 24px
  cursor: pointer
  line-height: .7
  font-weight: 400
  letter-spacing: 0.6px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  vertical-align: middle
  input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0
.checkmark
  position: absolute
  top: 0
  left: 0
  height: 20px
  width: 20px
  background-color: #eee
  border-radius: 50%
.contain
  &:hover input ~ .checkmark
    background-color: #ccc
  input:checked ~ .checkmark
    background-color: #7dc43f
    border: 2px solid #fff

.checkmark:after
  content: ""
  position: absolute
  display: none

.contain
  input:checked ~ .checkmark:after
    display: block
  .checkmark:after
    top: 9px
    left: 9px
    width: 0
    height: 0
    border-radius: 50%
    background: transparent
.bank-card__head, .bank-yd__head, .bank-pp__head
  padding: 15px
  background-color: rgba(241, 97, 146, 0.44)
  display: flex
  justify-content: space-between
  align-items: center
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  .card
    width: 50px
    height: 31px
    object-fit: contain
    background-color: transparent
    border: none

.bank-card__head
  background-color: rgb(241, 97, 146)
.bank-yd__head
  background-color: #ffedf3
.bank-pp__head
  background-color: #f2f2f3
.bank-yd__head, .bank-card__head, .bank-pp__head
  &:hover
    background-color: #f16192
.bank-card__body, .bank-yd__body
  margin-bottom: 15px
.c-card__card--tbody
  padding-top: 15px
  background-color: #fff
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px

.bank-card__body
  background-color: #ecf8ff
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
  padding: 10px
  font-size: 16px
  line-height: 24px
  color: #26283b

.create-sub__body
  .settings-table
    .c-card__statistics--tbody
      padding: 5px
  .toggle-row
    border-radius: 3px
  .toggle-children__title
    margin: 10px 0
  .toggle-children__head
    border-bottom: 2px solid #fff
    padding: 9px 20px
  .input-title_nsub
    margin-bottom: 10px
    white-space: nowrap
  .settings-input
    height: 40px
    padding: 0.478571em 1.1em 0.578571em 0.67857143em
  .addn-subagent
    margin: 0 auto






.bank-yd__body
  background-color: #ffedf3

.bank-pp__body
  background-color: #f2f2f3
  margin-bottom: 0

.card-input
  margin-bottom: 30px
  vertical-align: middle
  input
    color: #26283b
    border-radius: 50px
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1)
    font-size: 1rem
    outline: none
    border: 2px solid #d8dde7
    padding: .578571em 2.1em .578571em .67857143em
    background-color: transparent
    display: inline-block
    width: 100%
    &::placeholder
      color: #b3b4c3
      font-size: 16px
      letter-spacing: 0.4px
      font-weight: 400
  label
    width: 100%
    padding-left: 20px
    font-size: 16px
    font-weight: 700
    letter-spacing: 0.4px
    color: #26283b
    display: block
    margin-bottom: 10px
  #card-inpt2
    max-width: 170px
    color: #f16192
    display: inline-block
  img
    vertical-align: middle
  .text-grey
    display: inline-block
    color: #b3b4c3
    letter-spacing: 0.35px
    font-weight: 400
    font-size: 14px
    max-width: 138px
    vertical-align: middle
    margin-left: 25px
.btn-export__money
  margin-bottom: 20px
  .fas
    margin-right: 5px
.underline
  text-decoration: underline
.form-yd, .form-pp
  display: none
  textarea
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1)
    border: 2px solid #d8dde7
    border-radius: 10px
    background-color: transparent
    outline: none
    resize: none
    height: 112px
    width: 100%
    max-width: 100%
    padding: 13px 21px
    &::placeholder
      color: #b3b4c3
      font-size: 16px
      letter-spacing: 0.4px
      font-weight: 400
.form-group
  margin-bottom: 0!important
.statistic-flex__filter
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: flex-start
  flex-wrap: wrap
.item
  border-radius: 15px
  padding: 22px 19px
  margin: 15px
  min-width: 353px
  width: 23%
  color: #fff
  box-shadow: 0 -3px 38px rgba(0, 0, 0, 0.14)
.item-all
  background-color: #f16192
  .statistic-row__flex
    margin-bottom: 25px
    &:last-child
      margin-bottom: 0
.item-you
  background-color: #26283b
  .statistic-row__flex
    margin-bottom: 25px
    &:last-child
      margin-bottom: 0
.item-sub
  background-color: #fff
  color: #26283b
  .statistic-row__flex
    margin-bottom: 25px
    &:last-child
      margin-bottom: 0
.statistic-h3__filter
  font-size: 35px
  font-weight: 700
  color: #ffffff
.statistic-h3__sub
  color: #26283b

.drop-icon
  position: relative
  .c-select__input
    color: #26283b
    option
      color: #26283b
  .fa-sort-down
    position: absolute
    top: 9px
    right: 13px
    color: #26283b
.c-card
  border-radius: 15px
.create-table__sub
  background-color: transparent
  .row
    margin-bottom: 30px
    font-weight: 700
    color: #26283b
  input
    color: #26283b
    border-radius: 50px
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1)
    font-size: 1rem
    outline: none
    width: auto
    border: 2px solid #d8dde7
    padding: .578571em 1.1em .578571em .67857143em
    background-color: #fff
    &:read-only
      border: none
      outline: none
      color: #6d7383
      box-shadow: none
.new-agg
  .statistics-table__statistics
    .settings-input
      min-width: 160px
.edit-table
  .settings-input
    min-width: auto
    &:read-only
      border: none
      outline: none
      color: #6d738387
      box-shadow: none
  .card-inpt2
    max-width: 170px
    color: #f16192
    display: inline-block
    &::placeholder
      color: #6d738387
      opacity: 0.6
    &:read-only
      //border: none
      outline: none
      color: #6d738387
      //box-shadow: none
      background-color: #fff
.card-input__flex
  display: flex
  flex-direction: row
  justify-content: space-between
  .collum
    width: 50%
    margin-right: 10px
    &:last-child
      margin-right: 0
    .card-inpt2
      width: 100%
      margin-bottom: 10px
      min-width: 100%
      max-width: 100%
      color: #6d738387
      &:last-child
        margin-bottom: 0
.c-card__card--tbody
  .edit-settings
    color: #b3b4c3
    margin-left: 10px
    margin-bottom: 20px
    display: inline-block

.c-table__scroll
  overflow-x: auto
  border-radius: 10px

.c-table__minw
  min-width: 1600px
.edit
  color: #b3b4c3
  margin-left: 10px
  &:hover
    color: #b3b4c3
  &:visited
    color: #b3b4c3
.fa-check-circle
  color: #7dc43f

.edit-sub
  .label-flex
    display: flex
    justify-content: flex-start
    align-items: center
    input
      &::placeholder
        color: #26283b
        font-weight: 700
.pl-15
  padding-left: 15px

.ui-form__change .c-input, .c-select__input, .ui.selection.dropdown
  border-radius: 50px
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1)
  font-size: 14px!important
  outline: none!important
  background-color: #fff
  border: 2px solid #d8dde7
  height: 40px
  padding: .57857143em 2.1em .67857143em .67857143em!important

//.c-select__input, .ui.selection.dropdown
//  padding: 0.67857143em 2.1em 1.978571em 0.67857143em !important
//  height: calc(40px - 2px)
.c-btn
  color: #fff !important
  font-family: "Exo 2", sans-serif
  line-height: 1.1
input
  color: #495057
  background-color: #fff
.col-number
  max-width: 50px!important
.col-mnw
  min-width: 150px
.a-select__do--custom.ui.selection.dropdown
  background-color: #f16192
  color: #fff
  border-color: #f16192 !important
  height: 32px !important
  padding: 4px 0 !important
  min-height: 28px
  text-align: center
  font-size: 16px
  font-weight: 700
  width: 153.7px
  .dropdown.icon:before
    content: '\f0d7'
  .dropdown.icon
    right: -1.7em
    font-size: 16px
    opacity: 1
    top: 50%
    transform: translateY(-50%)
    line-height: 1
    padding: 5px
    margin: 0
.a-select__do--custom.dropdown:not(.button) > .default.text
  color: #fff
.a-select__do--custom.ui.dropdown>.dropdown.icon:before
  content: none
.c-btn__skip
  font-size: 16px
  font-weight: 400
  letter-spacing: 0.35px
  display: inline-block
  width: auto
  color: #000!important
  text-transform: uppercase
  line-height: 1.3
  background-color: transparent
  box-shadow: none
.c-btn__back
  font-size: 16px
  font-weight: 400
  letter-spacing: 0.35px
  display: inline-block
  width: auto
  color: #000!important
  line-height: 1.3
  background-color: transparent
  box-shadow: none
  &:before
    content: '\f30a'
    font-family: "Font Awesome 5 Free"
    vertical-align: middle
    font-size: 16px
    line-height: 1.2
    margin-right: 10px
    font-weight: 700
input.settings-input
  max-width: 175px
  background-color: #fff
.status-policy .c-btn--secondary
  color: #000!important
.open-modal__balance
  color: #ffffff
  font-weight: 700
  margin-right: 20px
  &:hover
    color: #fff
  &:visited
    color: #ffffff
.balance
  color: #7f878e
  margin-right: 5px

.label-file
  position: absolute
  top: 50%
  left: 50%
  margin-top: -15px
  margin-left: -14px
  cursor: pointer
.c-btn__pink
  background-color: #f16192!important
  border-radius: 50px!important
  height: 40px!important
  text-transform: uppercase!important
  font-size: 16px!important
  color: #fff!important
  font-weight: 700!important
  letter-spacing: 0.35px!important
  display: inline-block!important
  width: auto!important
  line-height: 1.3!important
  // text-transform: none!important
  .fas
    margin-right: 10px!important
.c-btn__pink--reset
  line-height: 1.5!important
.c-card__statistics--btns
  .c-btn--secondary
    color: #26283b!important
.settings-table--body
  select.ui.dropdown
    max-width: 175px
.statistic-row__flex
  span
    word-break: break-all
.step
  .c-btn__pink
    min-width: 284px
.min-wz
  min-width: 294px!important
.wrap-img__step
  width: 52px
  height: 52px
  overflow: hidden
  margin-right: 21px
  border-radius: 50%
  box-shadow: 3px 2px 9px 0 rgba(0, 0, 0, 0.26)
  background-color: #fff
  img
    object-fit: cover
    width: 100%
    height: 100%
.c-card__end--step
  padding: 10px 10px 0 10px
  &:last-child
    padding: 10px 10px 10px 10px
.title-end__step
  font-size: 24px
  font-weight: 400
  letter-spacing: 0.6px
  color: #26283b
.c-step__label--n
  height: 28px!important
  margin-bottom: 20px
.row-end
  display: flex
  align-items: center
  flex-direction: row
  flex-wrap: wrap
  background-color: #ecf8ff
  padding: 17px 10px
.row-padding__flex
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  padding: 0 21px 0 21px
  .col-end__step
    &:first-child
      min-width: 155px
    .c-btn__pink
      .fa-check-circle:before
        color: #fff
.row-end__step
  padding-bottom: 15px
  &:last-child
    padding-bottom: 0
.c-card__end--step
  background-color: #fff
  box-shadow: none
  .c-btn__pink
    margin-bottom: 20px
    .fas
      margin-right: 9px
.ui.search.selection.dropdown>input.search
  padding: 0.678571em 2.1em 0.378571em .67857143em
.btn-step
  padding: 14px 21px 0 14px
.col-min
  min-width: 400px
  max-width: 438px!important
.col-md
  min-width: 800px

.c-card__statistics--blue
  background-color: #ecf8ff!important
  margin-bottom: 10px
  &:last-child
    margin-bottom: 0
.c-card__statistics--pink
  background-color: #ffedf3!important
  margin-bottom: 10px
  .row-end, .row-padding__flex
    background-color: #ffedf3
.wrap-body__c--card
  background-color: #fff
  padding: 10px
  border-radius: 0 0 5px 5px
  .c-card__statistics--tbody
    border-radius: 0
    padding: 0
  .error-insurer
    font-weight: 400
    font-size: 16px
    color: #e6203d
    padding: 12px 25px 12px 31px
    line-height: 1.2
    //min-height: 145px
  .load-insurance
    text-align: center
    padding: 10px 0
.border-step
  width: 95%
  margin: 0 auto
  height: 1px
  background-color: #fff
.btn-reload
  font-size: 16px
  border-bottom: 1px dotted #f16192
  padding-bottom: 3px
  margin-left: 75px
  display: inline-block
  position: relative
  line-height: 1
  margin-bottom: 20px
  &:before
    content: ''
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20'%3E%3Cdefs%3E%3Cpath id='cvtea' d='M1512.035 1011.228c-2.039 0-3.884-.8-5.252-2.093l.627-.37c.44-.257.436-.672-.009-.92l-3.056-1.716c-.446-.25-.816-.034-.828.48l-.072 3.569c-.01.513.338.722.778.462l.867-.508a9.539 9.539 0 0 0 9.799 2.553c1.917-.508.965-2.403-.02-2.002a7.592 7.592 0 0 1-2.834.545zm-1.908-14.912v-1.952c-3.737.753-6.677 3.676-7.44 7.384-.673 2.376 1.713 1.902 1.784.88.416-3.071 2.688-5.55 5.656-6.312zm3.95-.21c.451-.269.451-.706.001-.977l-3.136-1.883c-.45-.27-.813-.067-.81.456l.016 3.792c.002.522.37.728.822.46zm6.012 9.982l.99.57a9.394 9.394 0 0 0 .499-3.01 9.424 9.424 0 0 0-3.322-7.184c-.972-.87-2.403.079-1.486 1.238a7.553 7.553 0 0 1 2.9 5.948c0 .7-.105 1.378-.284 2.024l-.84-.493c-.437-.257-.786-.044-.777.474l.053 3.56c.01.519.373.736.816.486l3.07-1.737c.443-.25.448-.661.01-.918z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-1502 -993)'%3E%3Cuse fill='%23f16192' xlink:href='%23cvtea'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center no-repeat
    -webkit-background-size: cover
    background-size: cover
    width: 20px
    height: 21px
    left: -30px
    display: inline-block
    margin-right: 10px
    position: absolute
    top: 50%
    transform: translateY(-50%)

.btn-remove__draft
  display: inline-block
  border: none
  background: transparent
  outline: none

.btn-d
  display: block
.btn-w
  display: none
.c-card__change .ui.attached.steps .step
  min-width: 191px
.ui.attached.steps .step .title
  font-size: 1vw !important
.wrap-row
  padding: 5px
  border-radius: 3px
  margin-bottom: 10px
  &:last-child
    margin-bottom: 0
.min-wv
  min-width: 175px!important
.add-new__agent
  width: 100%!important
  min-width: 100%
  max-width: 100%
  label
    font-family: "Exo 2", sans-serif
.u-mt-custom
  margin-top: 30px
.payments-table_filter
  .c-btn--secondary
    color: #26283b!important
.recalc-body
  .relac-input
    color: #26283b
    border-radius: 50px
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1)
    font-size: 1rem
    outline: none
    width: auto
    border: 2px solid #d8dde7
    padding: 0.578571em 1.1em 0.578571em 0.67857143em
    background-color: #fff
    max-width: none
    min-width: 250px
    height: 30px


  .col-md-4
    min-width: 299px
  .adaptive-input
    min-width: auto
    max-width: 150px
  .ui.selection.dropdown
    min-width: 250px!important
    max-width: none!important
  .block_text_info
    i
      color: #212529
  .wrap-check
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    margin-right: 10px
    .checkbox
      margin-right: 10px
  .radio-check__type, .radio-check__label
    margin-right: 10px
  .col-md-8
    padding-left: 0
    .relac-input
      width: 100%

.datepicker
  left: 0!important
  opacity: 1!important
  z-index: 1!important
  width: 100% !important
  .datepicker-input
    border: none!important
    position: absolute!important
    top: 3px!important
    color: #252529!important
    font-weight: 400!important
  .form-control
    height: 35px!important
    padding: 0!important
    width: 80%!important
  .form-control:focus,
  .form-control:hover
    box-shadow: none!important
  .datepicker-wrapper
    top: 36px!important
.step
  .add-driver-btn
    line-height: 1.1!important
    min-width: 168px
    height: 35px!important
.statistic-other__row
  margin: 10px 0
  &:last-child
    margin-bottom: 0
.ui.dropdown .menu>.item
  width: 100%
  margin: 10px 0
.c-card__card--tbody
  .card_number
    min-width: 240px
.card-input__flex
  display: flex
  flex-direction: row
.wrap-card-input
  width: 50%
  display: flex
  align-items: center
  .card-inpt2
    max-width: 175px
    min-width: 150px
  .text-grey
    min-width: 158px
.title-card__input
  font-weight: 600
  display: block
  padding-left: 20px
.opacity-0
  opacity: 0
.p-money
  margin-left: 10px
.statistics-table__filter
  .c-card-withdraw
    background-color: #fff
    padding: 10px 5px
    .card-inpt2
      padding: 0.578571em 1.3em 0.578571em 0.67857143em
.c-sidebar__list
  li
    border-left: 4px solid transparent
    &:nth-child(1n)
      &:hover
        border-left: 4px solid #F16290
      &.active
        border-left: 4px solid #F16290
    &:nth-child(2n)
      &:hover
        border-left: 4px solid #EA6EF6
      &.active
        border-left: 4px solid #EA6EF6
    &:nth-child(3n)
      &:hover
        border-left: 4px solid #46C0FA
      &.active
        border-left: 4px solid #46C0FA
    &:nth-child(4n)
      &:hover
        border-left: 4px solid #8FD753
      &.active
        border-left: 4px solid #8FD753
    &.active
      border-left: 4px solid purple
.agents-body
  .statistic-other__row
    margin-top: 0
    margin-left: 0
  .c-card__statistics--tbody
    .col
      align-self: center
  .statistics-table__statistics
    .c-card__statistics--tbody, .c-card__statistics--thead
      .col
        text-align: left
  .col-243
    min-width: 243px
  .col-135
    min-width: 135px
  .myagents-title
    margin: 12px 0 28px 0
  .c-card__statistics__row
    background-color: transparent
  .btn-export__exel
    margin-top: 20px
.wrap-scroll__table
  overflow-x: auto
  width: 100%
  border-radius: 10px
  .payments-table_your
    width: 100%
    min-width: 1617px
    margin-bottom: 10px
  .c-card__statistics--tbody
    box-shadow: none
.a-all__text--weight
  font-weight: 700
.js-hideshow
  cursor: pointer
.edit-sub__body
  .c-card__statistics--thead
    min-height: 41px
    padding: 11px 30px
    font-weight: 400
    font-family: "Exo 2", sans-serif
    line-height: 1
  .create-table__sub input:read-only
    background-color: transparent
  .btn-all
    display: flex

  .c-btn--black
    margin-right: 30px
  .addn-subagent
    margin-top: 0
    margin-right: 30px
    max-width: 296px
  .c-btn--secondary
    color: #26283b!important

  .create-table__sub
    .row
      margin-bottom: 10px
  .settings-input
    height: 40px
    padding: 0.378571em 1.1em 0.578571em 0.67857143em
  .statistics-table__filter
    .c-card__statistics--tbody
      background-color: #fff
  .toggle-children__head
    border-bottom: 2px solid #fff
    padding: 9px 20px
  .settings-table
    .c-card__statistics--tbody
      padding: 5px 5px
  .toggle-children__title
    margin: 10px 0
  .input-title_nsub
    margin-bottom: 10px
    white-space: nowrap
  .settings-input
    height: 40px
.wrap-row
  &:nth-child(odd)
    background-color: #f2f2f3
  &:nth-child(even)
    background-color: #ecf8ff

.c-card__info--pink
  .c-card__info--head
    background-color: #f16192
  .c-field
    max-width: 350px
  .c-select__input
    color: #000
    &:focus
      border-color: #d8dde7
      font-size: inherit
    &::placeholder
      color: inherit
      font-size: inherit
  .ui.selection.dropdown>.dropdown.icon
    color: #000
    font-size: 15px
    line-height: 0.614286em
.ui-form__change
.c-input,
  .c-select__input
    color: #000
    font-size: 14px
.recalc-driver--close
  right: 0
  position: absolute
  top: 50%
  transform: translateY(-50%)
  .fa-times
    color: #fff!important
    font-size: 21px
    transition: .2s ease all
    line-height: 1

.table-js
  position: relative
  .a-select__do--custom.dropdown:not(.button) > .default.text
    padding-right: 17px
  .a-select__do--custom.ui.selection.dropdown .dropdown.icon
    right: 16px
  //.delete
  //  position: relative
  //  &:hover
  //    span
  //      position: relative
  //      &:before
  //        content: ''
  //        width: 10px
  //        height: 10px
  //        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23fff' d='M5.576 5.022l3.806-3.825a.398.398 0 0 0 0-.575.394.394 0 0 0-.573 0L5.003 4.446 1.196.622a.394.394 0 0 0-.572 0 .398.398 0 0 0 0 .575L4.43 5.022.624 8.846a.4.4 0 0 0 0 .576c.081.082.245.082.327.082.082 0 .245 0 .245-.082l3.807-3.825 3.806 3.825c.082.082.246.082.328.082.081 0 .245 0 .245-.082a.4.4 0 0 0 0-.576z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center no-repeat
  //        -webkit-background-size: cover
  //        background-size: cover
  //        position: absolute
  //        right: -15px
  //        cursor: pointer
  //        top: -3px
  //        color: red
.modal-toggle__col,
.modal-js__trans
  background-color: #26283b
  border-radius: 10px
  box-shadow: 0 -3px 38px rgba(0, 0, 0, 0.14)
  width: 100%
  max-width: 271px
  padding: 25px 20px
  position: absolute
  z-index: 999
  right: 10px
  display: none
  top: 7px
  &.open
    display: block
  .modal-toggle__col--title
    font-size: 16px
    color: #ffffff
    font-weight: 700
    margin-bottom: 20px
    border-bottom: 1px solid #343543
    padding-bottom: 10px
  .c-choice--checkbox
    margin-bottom: 8px
    &:last-child
      margin-bottom: 0
    .c-choice__label
      font-size: 16px
      font-weight: 700
      color: #ffffff
      &:hover
        color: #7dc43f
.js-modal__check
  cursor: pointer
@media (max-width: 1900px)
  .wrap-scroll__table
    max-width: 1600px
@media (max-width: 1220px)
  .settings-body
    .row-settings
      justify-content: space-between
      .div-1, .div-2
        width: 50%
@media (max-width: 1343px)
  .wrap-desk
    margin-top: 20px
@media (max-width: 1885px)
  .row-b
    padding-right: 15px

@media (max-width: 1479px)
  .c-sidebar-row__flex
    .c-sidebar__item
      width: calc(25% - 12px)

@media (max-width: 1238px)
  .c-sidebar-row__flex
    .c-sidebar__item
      width: calc(33.33% - 12px)

@media (max-width: 1450px)
  //.btn-d
    //display: none
  .btn-w
    display: block
  .c-step__label--n
    display: none
@media (max-width: 1685px)
  form.statusPolicy
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center

  .ui.selection.dropdown .menu>.item
    width: 100%!important
  //  padding: 5px 2px!important

  form.statusPolicy
    flex-wrap: wrap

@media (max-width: 1300px)
  .c-btn--secondary
    width: 100%
  .c-btn--statistic
    width: auto
  .edit-sub__body
    .c-btn--secondary
      width: auto

@media (max-width: 1650px)
  .c-navbar
    .head-navbar__flex
      li
        .head-navbar__submit
          width: 17px
          height: 16px
  .c-card__change
    .col-md-6
      min-width: 456px
    .col-md-3
      min-width: 215px
    .col-md-2
      min-width: 150px
    .col-md-1
      min-width: 81px


  form.statusPolicy
    display: flex
    // flex-wrap: wrap
    justify-content: center
    align-items: center
  .status-policy
    .u-mb-xsmall
      margin-right: 10px
  .c-navbar
    height: 81px
    .head-navbar__flex
      li

        a
          font-size: .8vw
        .navbar-icons
          width: 1.7vw
          max-width: 100px
          height: auto
        &:nth-child(3n)
          .navbar-icons
            width: 1.4vw
        .c-sidebar__icon
          font-size: 1.7vw
        .head-navbar__search
          width: 100%
          height: 30px
        .head-navbar__submitrIri0519

          top: 3px
    .head-items__last
      .balance, a
        font-size: .9vw
  //.btn-notifications__img
  //  width: 2.5vw
  //  max-width: 100px
  //  height: auto
  .align-items-center
    font-size: 0.8vw

@media (max-width: 1800px)
  .card-input__flex
    flex-direction: column
    .collum
      width: 100%
      margin-bottom: 5px
  .wrap-card-input
    width: 100%
    margin-bottom: 10px
  .model-change
    .row
      margin-bottom: 35px
    .row-pl__padding
      margin-bottom: 35px
  .identificator-change
    margin-bottom: 0
  .c-identificator
    height: 20px!important
  .u-inline-flex
    margin: 15px 0 15px 0
  .c-card__statistics--tbody
    .c-field__label, .c-field__label--n
      height: 48px
  .ui-form__change
    .c-field__label, .label-transparent
      height: 48px
  .c-select__input, .ui.selection.dropdown
    min-width: 75px
  .u-mt-custom
    margin-top: 53px!important

@media (max-width: 1200px)

  .ui-form__change .c-field__label, .ui-form__change .label-transparent
    height: 40px
    margin-bottom: 0
  .card-input__flex
    flex-direction: row
  .wrap-card-input
    width: 50%
    margin-bottom: 10px
  .step
    .c-btn__pink
      min-width: 333px
  .ui.four.steps > .step
    width: 30.75% !important
  .c-content__h3.opacity-0
    display: none
@media (max-width: 1099px)
  .c-navbar
    .head-navbar__flex
      li
        .navbar-icons,
        .c-sidebar__icon
          display: block
          margin: 0 auto
          text-align: center


.c-btn--secondary:disabled
  border-radius: 50px
.mb0
  margin-bottom: 0
input.c-input.c-select__input.datepickerVue.flatpickr-input
  border-radius: 50px
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1)
  font-size: 14px
  outline: none
  background-color: #fff
  border: 2px solid #d8dde7
  padding: 0.878571em 2.1em 0.978571em 0.67857143em !important
  height: 41px
  font-family: "Exo 2", sans-serif
  &::placeholder
    color: #b3b4c3
    font-size: 16px

.ui.active.selection.dropdown
  border-radius: 20px 20px 0 0!important

.ui.search.dropdown .menu
  z-index: 1
  border-radius: 25px 25px 0 0

.ui.selection.dropdown .menu>.item
  &:last-child
    margin-bottom: 0
    padding-bottom: 0

.ui.selection.active.dropdown, .ui.selection.active.dropdown .menu
  border-color: transparent!important
  &:hover
    border-color: transparent!important
.ui.search.active.selection.dropdown>input.search
  background-color: rgba(0,0,0,.05)!important
  border-radius: 50px
.ui.search.dropdown>input.search
  left: 0

.ui.dropdown .menu
  .item
    min-width: auto
.ui-form__change .c-input, .c-select__input, .ui.selection.dropdown
  line-height: 1.1

.ui.selection.dropdown .menu, .ui.search.dropdown .menu
  margin: 0 -2px
  min-width: calc(100% + 2px)
  width: calc(100% + 4px)
  border-radius: 0 0 15px 15px

.curator-not-found
  color: grey
  font-weight: 700
  .phone-curator-default
    font-weight: 900
    color: grey!important



.chart-viewport
  overflow-x: auto
  margin-bottom: 20px

.apexcharts-canvas
  //min-width: 1627px
  margin: 0 auto
  width: 100%

.apexcharts-svg
  overflow: unset !important

.wrap-chart
  position: relative

.apexcharts-grid
  max-height: 250px !important

#apexcharts-bar-area-0
  &:nth-child(1n)
    fill: #f16192
  &:nth-child(2n)
    fill: #46c1fa
  &:nth-child(3n)
    fill: #f6b46e
  &:nth-child(4n)
    fill: #90d852
  &:nth-child(5n)
    fill: #f6816e
  &:nth-child(6n)
    fill: #464afa

.body-statistics
  .c-content__h3
    padding-left: 0

.body-statistic
  .statistics-table__filter
    .c-card__statistics--tbody
      background-color: #ecf8ff
  .title-chart
    font-size: 16px
    font-weight: 400
    color: #ed3f7c
    margin-bottom: 40px
  .apexcharts-xaxis-label
    font-weight: 700
@media print
  .js-page-sidebar, .c-navbar, footer, .col-min, .btn-d
    display: none










@import "el-calendar"
@import "home-new"
@import "pagination"
@import "kv-page"
@import "support"
@import "pay-of-balance"

