<template>
    <div class="col col-min" style="padding-top: 48px;">
        <div class="statistics-table__filter">
            <h4 class="c-card__statistics--thead">Страховые компании</h4>
            <div class="wrap-body__c--card">
                <div class="c-card__statistics--tbody c-card__end--step c-card__statistics--blue"
                     v-bind:class="{'c-card__statistics--pink':(key + 1) % 2 === 0 }"
                     v-for="(insurance,key) in insurances">
                    <div class="row-end">
                        <div class="wrap-img__step">
                            <img :src="insurance.image" :alt="insurance.label">
                        </div>
                        <div class="title-end__step">{{ insurance.label }}</div>
                    </div>
                    <div class="border-step"></div>
                    <div class="kv" v-if="isNeedCalc === false">
                        <div v-if="insurance.isLoad">
                            <div class="row-end__step" v-if="!insurance.data.error">
                                <div class="row-padding__flex">
                                    <div class="col-end__step c-blue">
                                        Базовый тариф
                                    </div>
                                    <div class="col-end__step c-blue">
                                        KT
                                    </div>
                                    <div class="col-end__step c-blue">
                                        КБМ
                                    </div>
                                    <div class="col-end__step c-blue">
                                        КВС
                                    </div>
                                </div>
                                <div class="row-padding__flex">
                                    <div class="col-end__step bold">
                                        {{ insurance.data.tb }} <img src="/img/icons/p-money.png" alt="P"
                                                                     style="width: 10px; height: 11px; vertical-align: middle; display: inline-block;">
                                    </div>
                                    <div class="col-end__step">
                                        {{ insurance.data.kt }}
                                    </div>
                                    <div class="col-end__step">
                                        {{ insurance.data.kbm }}
                                    </div>
                                    <div class="col-end__step">
                                        {{ insurance.data.kvs }}
                                    </div>
                                </div>
                                <!--<div class="row-padding__flex">-->
                                <!--<div class="col-end__step c-blue">-->
                                <!--Страховая премия-->
                                <!--</div>-->
                                <!--<div class="col-end__step">-->
                                <!--<span class="bold">{{ insurance.data.premium }}</span><img src="/img/icons/p-money.png" alt="P" style="width: 10px; height: 11px; vertical-align: middle; display: inline-block;">-->
                                <!--</div>-->
                                <!--</div>-->
                            </div>
                            <div class="border-step"></div>
                            <div class="row-end__step" v-if="!insurance.data.error">
                                <div class="row-padding__flex">
                                    <div class="col-end__step ">
                                        Страховая премия <span class="bold">ОСАГО</span>
                                    </div>
                                    <div class="col-end__step bold">
                                        {{ insurance.data.premium }} <img src="/img/icons/p-money.png" alt="P"
                                                                          style="width: 10px; height: 11px; vertical-align: middle; display: inline-block;">
                                    </div>
                                </div>
                                <div class="row-padding__flex">
                                    <div class="col-end__step ">
                                        КВ <span class="bold">ОСАГО ({{ insurance.data.kv.percent }} {{ insurance.data.kv.type === 'rub' ? ' ₽' : '%' }})</span>
                                    </div>
                                    <div class="col-end__step c-pink bold">
                                        {{ insurance.data.kv.sum }} <img src="/img/icons/pp-pink.png" alt="P"
                                                                         style="width: 10px; height: 11px; vertical-align: middle; display: inline-block;">
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row-end__step">
                            <div class="row-padding__flex">
                            <div class="col-end__step ">
                            Страховая премия <span class="bold">НС</span>
                            </div>
                            <div class="col-end__step bold">
                            50 000 <img src="/img/icons/p-money.png" alt="P" style="width: 10px; height: 11px; vertical-align: middle; display: inline-block;">
                            </div>
                            </div>
                            <div class="row-padding__flex">
                            <div class="col-end__step ">
                            КВ <span class="bold">НС (20%)</span>
                            </div>
                            <div class="col-end__step c-pink bold">
                            800 <img src="/img/icons/pp-pink.png" alt="P" style="width: 10px; height: 11px; vertical-align: middle; display: inline-block;">
                            </div>
                            </div>
                            </div>-->

                            <!--<div class="row-end__step">-->
                            <!--<div class="row-padding__flex">-->
                            <!--<div class="col-end__step c-blue">-->
                            <!--КВ ({{ insurance.data.kv.percent }} {{ insurance.data.kv.type === 'rub' ? ' ₽' : '%' }})-->
                            <!--</div>-->
                            <!--<div class="col-end__step">-->
                            <!--<span class="c-pink bold">{{ insurance.data.kv.sum }}</span><img src="/img/icons/pp-pink.png" alt="P" style="width: 10px; height: 11px; vertical-align: middle; display: inline-block;">-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="row-end__step" v-if="!insurance.data.error">
                                <div class="row-padding__flex btn-step">
                                    <div class="col-end__step">
                                        <button :disabled="insurance.data.policyID === null"
                                                @click="drawUp(insurance.name,insurance.data.policyID)" type="button"
                                                class="c-btn c-btn__pink">
                                            <i class="fas fa-check-circle"></i>
                                            Оформить полис
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <div class="load-insurance bold">Загрузка подождите пожалуйста</div>
                        </div>
                    </div>
                     <!--ERROR NEW-->
                    <div class="error-insurer" v-if="insurance.data.error && insurance.isLoad" v-html="insurance.data.error">
                    </div>
                    <!--ERROR NEW-->
                </div>
            </div>

        </div>
        <a href="#" class="btn-reload c-pink" @click="calcInsurances(true)">Обновить</a>
    </div>
</template>

<script>
    export default {
        name: "CalcInsurances",
        props: ['value', 'formData'],
        data: () => {
            return {
                insurances: [
                    {
                        name: 'alpha',
                        label: 'АльфаСтрахование',
                        image: '/img/alpha-ins.png',
                        isLoad: false,
                        data: {}
                    },
                    /*{
                        name: 'nasko',
                        label: 'НАСКО',
                        image: '/img/nasko_avatar.jpg',
                        isLoad: false,
                        data: {}
                    },*/
                    {
                        name: 'rgs',
                        label: 'Росгосстрах',
                        image: '/img/rgs_avatar.jpg',
                        isLoad: false,
                        data: {}
                    },
                ],
                isNeedCalc: true,
            }
        },
        created: function () {
            this.$parent.$on('calcInsurances', this.calcInsurances);
        },
        methods: {
            updateValue: function (value) {
                this.$emit('input', value);
            },
            drawUp: function (insurance, policyID) {
                let url = `/api/policy/save/${this.formData.user_id}/${policyID}/${insurance}`;
                this.$http.post(url, {}).then(function (response) {
                    window.location = response.data.link;
                });
            },
            calcInsurances: function (reset = false) {
                let vm = this;

                for (let insurance of this.insurances) {

                    //if (reset) {
                        insurance.isLoad = false;
                    //}

                    this.$http.post('/api/policy/calc/' + insurance.name + `/${this.formData.user_id}`, this.formData).then(function (response) {

                        let insuranceIndex = _.findIndex(vm.insurances, function (insuranceItem) {
                            return insuranceItem.name === response.data.insurance;
                        });

                        vm.insurances[insuranceIndex].data = response.data;
                        vm.insurances[insuranceIndex].isLoad = true;
                        vm.insurances[insuranceIndex].data.error = '';

                        if(Array.isArray(vm.insurances[insuranceIndex].data.err)) {
                            var n = 0;

                            for(var i in vm.insurances[insuranceIndex].data.err) {
                                var err = vm.insurances[insuranceIndex].data.err[i];

                                if(err.is_show == 1) {
                                    n++;
                                    vm.insurances[insuranceIndex].data.error += n + '. ' + (err.custom ? err.custom : err.original) + "<br>";
                                }
                            }
                        }
                        else if(vm.insurances[insuranceIndex].data.err != '') {
                            if(vm.insurances[insuranceIndex].data.err.original !== undefined && vm.insurances[insuranceIndex].data.err.is_show == 1) {
                                vm.insurances[insuranceIndex].data.error = vm.insurances[insuranceIndex].data.err.custom ? vm.insurances[insuranceIndex].data.err.custom : vm.insurances[insuranceIndex].data.err.original;
                            }
                            else {
                                vm.insurances[insuranceIndex].data.error = vm.insurances[insuranceIndex].data.err;
                            }
                        }

                        if (insuranceIndex == 0) {
                            this.updateValue(vm.insurances[insuranceIndex].data.drivers);
                        }

                    }, function () {
                        let insuranceIndex = vm.insurances.indexOf(insurance);

                        vm.insurances[insuranceIndex].isLoad = true;
                        vm.insurances[insuranceIndex].data = {
                            premium: 0,
                            tb: 0,
                            kt: 0,
                            kbm: 0,
                            kvs: 0,
                            kv: {
                                percent: 0,
                                sum: 0,
                            },
                            policyID: null,
                            insurance: vm.insurances[insuranceIndex].name,
                            error: ''
                        };
                    });
                }
                this.isNeedCalc = false;
            }
        }
    }
</script>
