<template>
    <div>
        <div v-if="!specifyManually">
            <div class="row">
                <div class="col-md-3">
                    <div class="c-field">
                        <label class="c-field__label">Гос. номер авто</label>
                        <input class="c-input u-mb-small gosNumberField ttu"
                               v-bind:class="{ 'error-input ': errors.vehicle_plate_number }"
                               :disabled="formData.is_vehicle_plate_absent"
                               placeholder="A000AA" maxlength="6"
                               name="vehicle_plate_number"
                               onkeydown="if  (this.value.length === 6){

                               }"
                               v-model="formData.vehicle_plate_number">

                    </div>
                </div>
                <div class="col-md-1">
                    <div class="c-field">
                        <label class="c-field__label">Регион</label>
                        <input type="number" class="c-input u-mb-small regionNumberField"
                               v-bind:class="{ 'error-input': errors.vehicle_plate_region }"
                               :disabled="formData.is_vehicle_plate_absent" placeholder="777"
                               onkeydown="if (this.value.length === 3 && event.keyCode !== 8) return false;"
                               name="vehicle_plate_region" v-model="formData.vehicle_plate_region">
                    </div>
                </div>
            </div>
            <div class="btn-skip__step">
                Вы также можете <a class="all-link" href="#" @click="nextStep()">заполнить форму вручную</a>
            </div>
            <a class="c-btn c-btn--success c-btn--large" v-bind:class="{ 'disabled-link': disabled }" @click="detectVehicle()">Продолжить</a>

        </div>

        <div class="model-change" v-show="specifyManually">

            <!--<h3 class="u-text-center c-pink status-h3__margin">{{ detectorStatus }}</h3>-->

            <div class="row">
                <div class="col-md-4">
                    <div class="c-field">
                        <label class="c-field__label">Марка</label>

                        <div class="c-select u-mb-xsmall">
                            <sui-dropdown
                                    class="c-select__input"
                                    placeholder="Выберите марку"
                                    selection
                                    search
                                    v-bind:class="{ 'error-input': errors.make_id }"
                                    :options="makes"
                                    v-model="formData.make_id"
                            ></sui-dropdown>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="c-field">
                        <label class="c-field__label">Модель</label>
                        <div class="c-select u-mb-xsmall">
                            <sui-dropdown
                                    class="c-select__input"
                                    placeholder="Выберите модель"
                                    v-bind:class="{ 'error-input': errors.model_id }"
                                    selection
                                    search
                                    :options="models"
                                    v-model="formData.model_id"
                            ></sui-dropdown>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="c-field">
                        <label class="c-field__label">Год выпуска</label>

                        <div class="c-select u-mb-xsmall">
                            <sui-dropdown
                                    @change="thisYear"
                                    class="c-select__input"
                                    placeholder="Выберите год"
                                    v-bind:class="{ 'error-input': errors.vehicle_registration_year }"
                                    selection
                                    search
                                    :options="registrationYears"
                                    v-model="formData.vehicle_registration_year"
                            ></sui-dropdown>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="c-field">
                        <label class="c-field__label">Мощность, л.с</label>

                        <input class="c-input u-mb-small" v-bind:class="{ 'error-input': errors.power }" name="power"
                               placeholder="100" maxlength="5" v-model="formData.power">
                    </div>

                </div>

            </div>

            <div class="c-field category-change" v-if="formData.insurance === 'alpha'">
                <div class="row">
                    <div class="col-md-6">
                        <div class="c-field">
                            <label class="c-field__label">Категория</label>
                            <sui-dropdown
                                    class="c-select__input"
                                    placeholder="Выберите категорию"
                                    v-bind:class="{ 'error-input': errors.type }"
                                    selection
                                    :options="types"
                                    v-model="formData.type"
                            ></sui-dropdown>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="c-field">
                            <label class="c-field__label">Цель использования</label>
                            <sui-dropdown
                                    class="c-select__input"
                                    placeholder="Выберите цель использования"
                                    v-bind:class="{ 'error-input': errors.purpose }"
                                    selection
                                    :options="purposes"
                                    v-model="formData.purpose"
                            ></sui-dropdown>

                        </div>
                    </div>
                </div>
            </div>

            <div class="c-field identificator-change row-pl__padding">

                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <label class="u-mb-small c-field__label c-blue c-identificator">Идентификатор ТС</label>
                            <div  class="col-md-4 c-choice c-choice--radio"
                                  v-bind:class="{ 'active': currentCheck === type.key}"
                                  v-for="type in vehicleIdTypes">
                                <input class="c-choice__input"
                                       @click="currentCheck = type.key"
                                       :id="'vehicle_id_type_' + type.value"
                                       :value="type.value"
                                       v-bind:class="{ 'error-input': errors.vehicle_id_type }"
                                       name="vehicle_id_type"
                                       type="radio"
                                       v-model="formData.vehicle_id_type">

                                <label class="c-choice__label" :for="'vehicle_id_type_' + type.value">{{ type.name }}</label>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="c-field">
                            <label class="c-field__label">Номер</label>
                            <input class="c-input u-mb-small ttu VinValidField"
                                   v-bind:class="{ 'error-input': errors.vehicle_id }"
                                   name="vehicle_id1"
                                   v-show="currentCheck === 'check_1'"
                                   id="vehicle_id1" placeholder="AB1CDEFGHI5K12345" maxlength="17"
                                   v-model="formData.vehicle_id">

                            <input class="c-input u-mb-small ttu CarValidField"
                                   v-bind:class="{ 'error-input': errors.vehicle_id }"
                                   name="vehicle_id2"
                                   v-show="currentCheck === 'check_2'"
                                   id="vehicle_id2" placeholder="AB1CDEFGHI5K12345" maxlength="17"
                                   v-model="formData.vehicle_id">

                            <input class="c-input u-mb-small ttu ChassisValidField"
                                   v-bind:class="{ 'error-input': errors.vehicle_id }"
                                   name="vehicle_id3"
                                   v-show="currentCheck === 'check_3'"
                                   id="vehicle_id3" placeholder="AB1CDEFGHI5K12345" maxlength="17"
                                   v-model="formData.vehicle_id">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-pl__padding ">
                <h4 class="u-mb-small c-blue">Документ на автомобиль</h4>
                <div class="c-field">
                    <div class="row">
                        <div class="col-md-1 c-choice c-choice--radio" v-for="type in vehicleDocumentTypes">

                            <input class="c-choice__input ui search dropdown"
                                   :id="'vehicle_document_type_' + type.value"
                                   :value="type.value"
                                   name="vehicle_document_type"
                                   v-bind:class="{ 'error-input': errors.vehicle_document_type }"
                                   type="radio"
                                   v-model="formData.vehicle_document_type">

                            <label class="c-choice__label" :for="'vehicle_document_type_' + type.value">{{ type.name
                                }}</label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-2">
                    <div class="c-field">
                        <label class="c-field__label">Серия</label>
                        <input class="c-input u-mb-small vehicleDocumentTypesSerial ttu"

                               v-bind:class="{ 'error-input': errors.vehicle_document_serial }"
                               name="vehicle_document_serial" placeholder="XXXX" maxlength="4"
                               v-model="formData.vehicle_document_serial">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="c-field">
                        <label class="c-field__label">Номер</label>

                        <input type="number" class="c-input u-mb-small"
                               v-bind:class="{ 'error-input': errors.vehicle_document_number }"
                               name="vehicle_document_number" placeholder="123456"
                               tabindex="0"
                               onKeyDown="if (this.value.length === 6 && event.keyCode !== 8) return false;"
                               v-model="formData.vehicle_document_number"/>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="c-field">
                        <label class="c-field__label">Дата выдачи</label>
                        <cleave  v-bind:class="{ 'error-input': errors.vehicle_document_date }" class="c-input" v-model="formData.vehicle_document_date" :raw="false" :options="dateCleave" placeholder="В-те дату"></cleave>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="c-field">
                        <label class="c-field__label">Гос. номер авто</label>
                        <input class="c-input u-mb-small gosNumberField ttu" v-bind:class="{ 'error-input': errors.vehicle_plate_number }"
                               :disabled="formData.is_vehicle_plate_absent" placeholder="A000AA" maxlength="6"
                               name="vehicle_plate_number" v-model="formData.vehicle_plate_number">

                    </div>
                </div>
                <div class="col-md-1">
                    <div class="c-field">
                        <label class="c-field__label">Регион</label>
                        <input class="c-input u-mb-small" v-bind:class="{ 'error-input': errors.vehicle_plate_region }"
                               :disabled="formData.is_vehicle_plate_absent" placeholder="777" maxlength="4"
                               name="vehicle_plate_region" v-model="formData.vehicle_plate_region"
                               onkeydown="if (this.value.length === 4 && event.keyCode !== 8) return false;">

                    </div>
                </div>
            </div>

            <div class="row-pl__padding">
                <div class="c-field">
                    <div class="c-choice c-choice--checkbox">
                        <input type="checkbox"
                               class="c-choice__input"
                               id="is_vehicle_plate_absent"
                               name="is_vehicle_plate_absent"
                               @change="clearNumber"
                               v-bind:class="{ 'error-input': errors.is_vehicle_plate_absent }"
                               v-model="formData.is_vehicle_plate_absent">

                        <label class="c-choice__label" for="is_vehicle_plate_absent">Гос. номер отсутствует</label>
                    </div>
                </div>
                <div class="c-field">
                    <div class="c-choice c-choice--checkbox">
                        <input type="checkbox"
                               class="c-choice__input"
                               id="is_vehicle_use_trailer"
                               name="is_vehicle_use_trailer"
                               v-bind:class="{ 'error-input': errors.is_vehicle_use_trailer }"
                               v-model="formData.is_vehicle_use_trailer">

                        <label class="c-choice__label" for="is_vehicle_use_trailer">Используется с прицепом</label>
                    </div>
                </div>
            </div>

            <h4 class="u-mb-small c-field__label c-blue c-identificator">Диагностическая карта (Техосмотр)</h4>

            <div class="row">
                <div class="col-md-6">
                    <div class="c-field">
                        <label class="c-field__label">Номер карты</label>
                        <input class="c-input u-mb-small" type="number" v-bind:class="{ 'error-input': errors.diagnostic_number }"
                               onkeydown="if (this.value.length === 15 && event.keyCode !== 8) return false;"
                               name="diagnostic_number"
                               v-model="formData.diagnostic_number"
                               placeholder="580979">

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="c-field">
                        <label class="c-field__label">Дата окончания</label>
                        <cleave  v-bind:class="{ 'error-input': errors.diagnostic_until_date }" class="c-input" v-model="formData.diagnostic_until_date"  :raw="false" :options="dateCleave" placeholder="В-те дату"></cleave>

                    </div>
                </div>
            </div>

            <a class="c-btn c-btn--success c-btn--large c-btn__shange" @click="$emit('submit')">Продолжить</a>
        </div>
    </div>
</template>

<script>
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import rus from 'flatpickr/dist/l10n/ru';
    import MaskedInput from 'vue-masked-input' ;
    import Cleave from 'vue-cleave-component';

    export default {
        components: {
            flatPickr,
            MaskedInput,
            Cleave

        },
        data: function () {
            return {
                configPicker: {
                    allowInput: true,
                    dateFormat: "d-m-Y",
                    locale: rus
                },
                currentCheck: 'check_1',
                date: '',
                cleaveForm: {
                    date: null
                },
                dateCleave: {
                    date: true,
                    datePattern: ['d', 'm', 'Y'],
                    delimiter: '-',
                },
                vehicleIdTypes: [
                    {
                        name: 'VIN номер',
                        value: 'vin',
                        key: 'check_1'
                    },
                    {
                        name: 'Номер кузова',
                        value: 'body_number',
                        key: 'check_2'
                    },
                    {
                        name: 'Номер шасси',
                        value: 'chassis_number',
                        key: 'check_3'
                    }
                ],
                registrationYears: this.getYearsRange(),
                vehicleDocumentTypes: [
                    {
                        name: 'CTC',
                        value: 'sts'
                    },
                    {
                        name: 'ПТС',
                        value: 'pts'
                    }
                ],
                makes: [],
                models: [],
                types: [],
                purposes: [],
                specifyManually: false,
                detectorStatus: null,
                disabled: true
            }
        },
        props: ['formData', 'errors'],
        mounted: function () {
            this.$http.get('/api/car/makes?insurance=nasko').then(response => {
                this.makes = response.data;
            });
            this.$watch('formData.make_id', this.refreshModels);
            this.$watch('formData.model_id', this.selectModel);

            this.$watch('formData.diagnostic_until_date', () => {
                this.check_date('diagnostic_until_date');
            });

            this.$watch('formData.vehicle_document_date', () => {
                this.check_date('vehicle_document_date');
            });
            this.$watch('formData.vehicle_plate_number', () => {
                if ((this.formData.vehicle_plate_number).length !== 6 && (this.formData.vehicle_plate_region).length > 1) {
                    this.disabled = false;
                } else {
                    this.disabled = true;
                }
            })
        },
        methods: {
            refreshModels: function () {
                let vm = this;

                let indexOfMake = _.findIndex(this.makes, function (make) {
                    return make.key === vm.formData.make_id;
                });

                if(vm.makes[indexOfMake] !== undefined) {
                    vm.formData.makeName = vm.makes[indexOfMake].text;

                    this.$http.get('/api/car/makes/' + this.formData.make_id + '/models?insurance=nasko').then(response => {
                        vm.models = response.data;
                    });
                }
            },


            // check_date(key) {
            //     let dateTime = this.formData[key].split('-');
            //
            //     let day = dateTime[0];
            //     let month = dateTime[1];
            //     let year = dateTime[2];
            //
            //     // console.log(Number(dateTime[0]),Number(dateTime[1]),Number(dateTime[2]));
            //     console.log(typeof day, day, '-', month, '-', year);
            //     if (day.indexOf('_') === -1 && (Number(day) > 31 || Number(day) < 1)) {
            //         this.errors[key] = true;
            //     }
            //     if (month.indexOf('_') === -1 && (Number(month) > 12 || Number(month) < 1)) {
            //         this.errors[key] = true;
            //     }
            //     if (year.indexOf('_') === -1 && (Number(year) > 2019 || Number(year) < 1900)) {
            //         this.errors[key] = true;
            //     }
            //     this.$forceUpdate();
            // },
            // change_data(value) {
            //     let dateTime = value.split('-');
            //     // let splitingDate = dateTime.value();
            //     let day = dateTime[0];
            //     let month = dateTime[1];
            //     let year = dateTime[2];
            //     // console.log(Number(dateTime[0]),Number(dateTime[1]),Number(dateTime[2]));
            //
            //     console.log(typeof day, day, '-', month, '-', year);
            //     if (day.indexOf('_') === -1 && (Number(day) > 31 || Number(day) < 1)) {
            //
            //     }
            //     if (month.indexOf('_') === -1 && (Number(month) > 12 || Number(month) < 1)) {
            //         this.errors.push({})
            //     }
            //     if (year.indexOf('_') === -1 && (Number(day) > 2019 || Number(day) < 1900)) {
            //         this.errors.push({})
            //     }
            //
            // },


            selectModel: function () {
                let vm = this;

                let indexOfModel = _.findIndex(this.models, function (model) {
                    return model.key === vm.formData.model_id;
                });

                if(vm.models[indexOfModel] !== undefined) {
                    vm.formData.modelName = vm.models[indexOfModel].text;
                }
            },
            detectVehicle: function () {
                let vm = this;
                let exit = false;

                if (vm.formData.vehicle_plate_number.length !== 6 ) {
                    vm.errors.vehicle_plate_number = true;
                    exit = true;
                }

                if ((vm.formData.vehicle_plate_region).length < 2) {
                    vm.errors.vehicle_plate_region = true;
                    exit = true
                }

                if (exit === true) {
                    return;
                }

                window.preloader();
                this.specifyManually = true;

                // Н902РВ 48
                this.$http.post('/api/avtocode/getReport', {number: vm.formData.vehicle_plate_number + vm.formData.vehicle_plate_region})
                    .then(response => {
                        if (response.data.mark !== null) {
                            vm.formData.make_id = response.data.mark.id;
                            vm.formData.makeName = response.data.mark.name;
                        }

                        if (response.data.model !== null) {
                            vm.formData.model_id = response.data.model.id;
                            vm.formData.modelName = response.data.model.name;
                        }

                        vm.formData.vehicle_registration_year = (response.data.report.tech_data.year).toString();
                        vm.formData.power = Math.ceil(response.data.report.tech_data.engine.power.hp);

                        if (response.data.report.identifiers.vehicle.vin !== undefined) {
                            vm.formData.vehicle_id = response.data.report.identifiers.vehicle.vin;
                        }

                        if (response.data.report.identifiers.vehicle.sts !== undefined) {
                            vm.formData.vehicle_document_type = 'sts';
                            vm.formData.vehicle_document_serial = (response.data.report.identifiers.vehicle.sts).substring(0, 4);
                            vm.formData.vehicle_document_number = (response.data.report.identifiers.vehicle.sts).substring(4);
                        } else {
                            vm.formData.vehicle_document_type = 'pts';
                            vm.formData.vehicle_document_serial = (response.data.report.identifiers.vehicle.pts).substring(0, 4);
                            vm.formData.vehicle_document_number = (response.data.report.identifiers.vehicle.pts).substring(4);
                        }


                        window.preloader();
                    })
                    .catch(e => {
                        console.log(e);
                        window.preloader();
                        this.detectorStatus = 'Авто в базе не найдено. Введите данные вручную';
                    });

                return;
            },
            getYearsRange: function () {

                let yearsRange = _.range(moment().format('YYYY'), 1920);

                return _.map(yearsRange, function (year) {
                    return {
                        text: year.toString(),
                        key: year.toString(),
                        value: year.toString()
                    };
                })
            },
            clearNumber: function () {
                if (this.formData.is_vehicle_plate_absent === true) {
                    this.formData.vehicle_plate_number = null;
                    this.formData.vehicle_plate_region = null;
                }
            },
            thisYear: function () {
                console.log('> 3')
                if (this.formData.vehicle_registration_year.value - moment(date, 'YYYY') < 3){
                    console.log('< 3')
                } else {
                    console.log('> 3')
                }
            },
            nextStep: function () {
                this.specifyManually = true;
            }
        }
    }
</script>
