<template>
    <div>
        <div class="row u-mb-medium">
            <div class="col-md" id="print-block">
                <h4 class="checkData">Проверьте правильность введенных данных</h4>
                <div class="row block_text_info">
                    <div class="col-12">
                        <div class="c-card c-card__info" v-for="(person,key) in persons">
                            <h3 class="c-card__info--head">{{ person.label }}</h3>
                            <div class="row"></div>
                            <div class="row">
                                <div class="col-md-4">Фамилия:</div>
                                <div class="col-md-8 cpt">{{ person.data.last_name }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Имя:</div>
                                <div class="col-md-8 cpt">{{ person.data.first_name }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Отчество:</div>
                                <div class="col-md-8 cpt">{{ person.data.middle_name }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Дата рождения:</div>
                                <div class="col-md-8">{{ person.data.dob }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Серия паспорта:</div>
                                <div class="col-md-8">{{ person.data.personal_document_serial }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Номер паспорта:</div>
                                <div class="col-md-8">{{ person.data.personal_document_number }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Дата выдачи паспорта:</div>
                                <div class="col-md-8">{{ person.data.personal_document_date }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Кем выдан:</div>
                                <div class="col-md-8 cpt">{{ person.data.personal_document_issued_by }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Место рождения:</div>
                                <div class="col-md-8 cpt">{{ person.data.place_of_birth }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Адрес:</div>
                                <div class="col-md-8 cpt">{{ person.data.address.unrestricted_value }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Дом:</div>
                                <div class="col-md-8">{{ person.data.house }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Корпус:</div>
                                <div class="col-md-8">{{ person.data.address2 }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Квартира:</div>
                                <div class="col-md-8">{{ person.data.address3 }}</div>
                            </div>
                            <!--<div class="row" v-if="key === 1">-->
                            <!--<div class="col-md-4">Телефон:</div>-->
                            <!--<div class="col-md-8">{{ formData.phone }}</div>-->
                            <!--</div>-->
                            <!--<div class="row" v-if="key === 1">-->
                            <!--<div class="col-md-4">E-Mail:</div>-->
                            <!--<div class="col-md-8">{{ formData.email }}</div>-->
                            <!--</div>-->
                            <div class="row"></div>
                        </div>
                        <div class="c-card c-card__info"><h3 class="c-card__info--head">Информация о ТС </h3>
                            <div class="row"></div>
                            <div class="row">
                                <div class="col-md-4">Номер карты:</div>
                                <div class="col-md-8">{{ formData.diagnostic_number }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Срок действия до:</div>
                                <div class="col-md-8">{{ formData.diagnostic_until_date }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Водители:</div>
                                <div class="col-md-8"><span
                                        v-if="formData.driver_count === 'specified' ">1 и более</span><span v-else>Неограниченное количество</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">Марка:</div>
                                <div class="col-md-8">{{ formData.makeName }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Модель:</div>
                                <div class="col-md-8">{{ formData.modelName }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Мощность, л.с:</div>
                                <div class="col-md-8">{{ formData.power }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Дата выдачи документа:</div>
                                <div class="col-md-8">{{ formData.vehicle_document_date }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Документ на автомобиль:</div>
                                <div class="col-md-8">Серия: {{ formData.vehicle_document_serial }}, номер:
                                    {{formData.vehicle_document_number }}
                                </div>
                            </div>
                            <div class="row"></div>
                        </div>

                        <div class="c-card c-card__info"><h3 class="c-card__info--head"><span
                                v-if="formData.vehicle_document_type === 'sts' ">СТС</span><span v-else>ПТС</span></h3>
                            <div class="row"></div>
                            <div class="row">
                                <div class="col-md-4">Тип идентификаторп ТС:</div>
                                <div class="col-md-8">
                                    <span v-if="formData.vehicle_id_type === 'vin' ">VIN номер</span>
                                    <span v-else-if="formData.vehicle_id_type === 'body_number'">Номер кузова</span>
                                    <span v-else>Номер шасси</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Идентификатор ТС:</div>
                                <div class="col-md-8">{{ formData.vehicle_id }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Гос. номер авто:</div>
                                <div class="col-md-8">{{ formData.vehicle_plate_number }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Регион:</div>
                                <div class="col-md-8">{{ formData.vehicle_plate_region }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Год выпуска:</div>
                                <div class="col-md-8">{{ formData.vehicle_registration_year }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Гос. номер отсутствует:</div>
                                <div class="col-md-8">
                                    <span v-if="formData.is_vehicle_plate_absent">Да</span>
                                    <span v-else>Нет</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Используется с прицепом:</div>
                                <div class="col-md-8">
                                    <span v-if="formData.is_vehicle_use_trailer">Да</span>
                                    <span v-else>Нет</span>
                                </div>
                            </div>
                        </div>


                        <div v-if="formData.driver_count === 'specified'">
                            <div class="c-card c-card__info" v-for="(driver,key) in formData.drivers">
                                <h3 class="c-card__info--head">Водитель №{{ key + 1 }}</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        Водитель:
                                    </div>
                                    <div class="col-md-8 cpt fw bold cpt">{{ driver.last_name }} {{ driver.first_name }}
                                        {{ driver.middle_name }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">КБМ:</div>
                                    <div class="col-md-8 c-pink bold">{{ driver.kbm }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Дата рождения:</div>
                                    <div class="col-md-8">{{ driver.dob }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Водительское удостоверение:</div>
                                    <div class="col-md-8">Серия: {{ driver.document_serial }} номер: {{ driver.document_number }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Стаж с:</div>
                                    <div class="col-md-8">{{ driver.start_date }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="c-card c-card__info c-card__info--pink">
                            <h3 class="c-card__info--head">Сведения о полисе</h3>
                            <div class="row"></div>
                            <div class="row">
                                <div class="col-md-4">Дата начала о полисе</div>
                                <div class="col-md-8">
                                    <div class="c-field">
                                        <cleave v-model="formData.policy_start_date" class="c-input c-select__input"
                                                name="dob" :raw="false" :options="dateCleave"
                                                placeholder="В-те дату"></cleave>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row">
                                <div class="col-md-4">Период страхования</div>
                                <div class="col-md-8">
                                    <div class="c-field">
                                        <sui-dropdown
                                                class="c-select__input"
                                                placeholder="Период страхования"
                                                selection
                                                search
                                                :options="insurancePeriod"
                                                v-model="formData.insurancePeriod"
                                        ></sui-dropdown>
                                    </div>
                                </div>
                            </div>-->
                            <div class="row">
                                <div class="col-md-4">Email:</div>
                                <div class="col-md-8">
                                    <div class="c-field">
                                        <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                                               placeholder="mail@gmail.com"
                                               class="c-input c-select__input validateEmail"
                                               name="formData.email" v-model="formData.email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">Телефон:</div>
                                <div class="col-md-8">
                                    <div class="c-field">
                                        <the-mask masked="true" placeholder="+7-___-___-__-__"
                                                  class="c-input  c-select__input" v-model="formData.phone"
                                                  :mask="['+7-###-###-##-##']"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-d">
                        <a class="c-btn c-btn__back" @click="$emit('goBack')">Назад</a>
                        <span class="c-btn c-btn--black" @click="saveDraft()">Сохранить черновик</span>
                        <span class="c-btn c-btn--success" v-if="showCalcButton" @click="calcPrem()">Рассчитать</span>
                        <span class="c-btn c-btn__pink c-btn__pdf" @click="printPolicy()"><i class="far fa-file-pdf" style="color: #fff"></i>Сохранить PDF</span>
                    </div>

                </div>
            </div>
            <calc-insurances :formData="formData" v-model="drivers"></calc-insurances>
        </div>
    </div>
</template>

<script>
    import CalcInsurances from './CalcInsurances.vue';
    import Cleave from 'vue-cleave-component';
    import MaskedInput from 'vue-masked-input'

    export default {
        components: {
            CalcInsurances,
            Cleave,
            MaskedInput
        },
        data: () => {
            return {
                drivers: [],
                persons: [],
                insurancePeriod: [
                    {
                        text: '12 месяцев',
                        key: '12',
                        value: '12 month',
                    },
                    {
                        text: '11 месяцев',
                        key: '11',
                        value: '11 month',
                    },
                    {
                        text: '10 месяцев',
                        key: '10',
                        value: '10 month',
                    },
                    {
                        text: '9 месяцев',
                        key: '9',
                        value: '9 month',
                    },
                    {
                        text: '8 месяцев',
                        key: '8',
                        value: '8 month',
                    },
                    {
                        text: '7 месяцев',
                        key: '7',
                        value: '7 month',
                    },
                    {
                        text: '6 месяцев',
                        key: '6',
                        value: '6 month',
                    },
                    {
                        text: '5 месяцев',
                        key: '5',
                        value: '5 month',
                    },
                    {
                        text: '4 месяцев',
                        key: '4',
                        value: '4 month',
                    },
                    {
                        text: '3 месяца',
                        key: '3',
                        value: '3 month',
                    },
                    {
                        text: '2 месяца',
                        key: '2',
                        value: '2 month',
                    },
                    {
                        text: '1 месяц',
                        key: '1',
                        value: '1 month',
                    },
                ],
                showCalcButton: true,
                cleaveForm: {
                    date: null
                },
                dateCleave: {
                    date: true,
                    datePattern: ['d', 'm', 'Y'],
                    delimiter: '-',
                },
                formData: {
                    insurancePeriod: null,
                    email: null,
                    phone: null,
                }
            }
        },
        props: ['formData'],
        watch: {
            drivers: function (drivers) {
                for (let i in this.formData.drivers) {
                    for (let j in drivers) {
                        if (drivers[j].first_name === this.formData.drivers[i].first_name && drivers[j].last_name === this.formData.drivers[i].last_name && drivers[j].middle_name === this.formData.drivers[i].middle_name) {
                            this.formData.drivers[i].kbm = drivers[j].kbm;
                        }
                    }
                }
            }
        },
        mounted: function () {
            this.persons.push({
                label: 'Персональная информация о собственнике',
                data: this.formData.owner,
            });
            this.persons.push({
                label: 'Персональная информация о страхователе',
                data: this.formData.insurer_and_owner_same === "0" ? this.formData.insurer : this.formData.owner,
            });
        },
        methods: {
            printPolicy: function() {
                window.print();
            },
            calcPrem: function () {
                this.$emit('calcInsurances');
                this.showCalcButton = false;
            },
            saveDraft: function () {
                let vm = this;

                window.preloader();

                this.$http.post('/api/policy/createUpdatePolicy', this.formData).then(function (response) {

                    vm.errors = response.data.errors;

                    if (vm.errors.length < 1) {
                        window.location = response.data.link;
                    }

                    $(window).scrollTop(0);
                    window.preloader();
                });
            }
        },
    }
</script>
