<template>
    <div>
        <div id="overlay" @click="$emit('showModal',null)"></div>
        <div class="modal_div">
            <div class="modal_close" @click="$emit('showModal',null)"></div>
            <div id="content_info"></div>
            <div class="button-modal--view col-md-12">
                <span class="c-btn c-btn--secondary c-btn--large" @click="$emit('showModal',null)">Закрыть</span>
                <span class="c-btn c-btn--success c-btn--large" @click="$emit('submitForm')">Рассчитать</span>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .modal_div {
        width: 710px;
    }
    .button-modal--view span{
        margin:5px 5px 5px 0;
    }
    .button-modal--view {
        text-align: center;
        margin-left: 15px;
    }
</style>

<script>
    export default {
        data: () => {
            return {}
        },
        props: ['formData','active'],
        mounted: function () {
            this.$http.post('/api/show/info/policy',this.formData).then(response => {
                $('#content_info').html(response.data.view);
                this.$emit('preloader');
            });
        }
    }
</script>