<template>
    <div>
        <div id="overlay" @click="$emit('showModal')"></div>
        <div class="modal_div">
            <div class="modal_close" @click="$emit('showModal')"></div>
            <div class="content-holder">
                <h3>Выберите страховую компанию</h3>
                <div class="list">
                    <div class="item-list">
                        <label for="nasko">
                            <span class="image-holder button-image">
                                <img src="/img/nasko.png" alt="Оранта">
                            </span>
                            <div class="name">
                                <h4>НАСКО</h4>
                            </div>
                            <input @change="$emit('submitForm')" v-model="formData.insurance" type="radio" name="type" value="nasko" id="nasko">
                        </label>
                        <label for="alpha">
                            <span class="image-holder button-image">
                                <img src="/img/alpha.png" :class="{ 'grayscale':  disabledInsurance.alpha === 1 || formData.is_electronic === 0 }" alt="Оранта">
                            </span>
                            <div class="name">
                                <h4>Alpha</h4>
                            </div>
                            <input @change="$emit('submitForm')" v-model="formData.insurance" type="radio" name="type" value="alpha" id="alpha">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {}
        },
        mounted: function () {
            this.$emit('preloader');
        },
        props: ['active','disabledInsurance','formData'],
    }
</script>