<template>
    <div>
        <h5 class="step-change__pl c-blue">Паспортные данные</h5>

        <div class="row mb-30">

            <div class="col-md-3">
                <div class="c-field">
                    <label class="c-field__label">Фамилия</label>

                    <input placeholder="Иванов" v-bind:class="{ 'error-input': haveError(dataKey+'.last_name') }" class="c-input u-mb-small driversRusName cpt"
                           name="last_name" v-model="data.last_name">
                </div>

            </div>

            <div class="col-md-4">
                <div class="c-field">
                    <label class="c-field__label">Имя</label>

                    <input placeholder="Иван" v-bind:class="{ 'error-input': haveError(dataKey+'.first_name') }" class="c-input u-mb-small driversRusName cpt"
                           v-model="data.first_name">
                </div>

            </div>

            <div class="col-md-3">
                <div class="c-field">
                    <label class="c-field__label">Отчество</label>

                    <input placeholder="Иванович" v-bind:class="{ 'error-input': haveError(dataKey+'.middle_name') }" class="c-input u-mb-small driversRusName cpt"
                           name="middle_name" v-model="data.middle_name">
                </div>

            </div>

            <div class="col-md-2">
                <div class="c-field">
                    <label class="c-field__label">Дата рождения</label>
                    <cleave  v-bind:class="{ 'error-input': haveError(dataKey+'.dob') }" class="c-input" v-model="data.dob" name="dob" :raw="false" :options="dateCleave" placeholder="В-те дату"></cleave>
                </div>

            </div>
        </div>

        <div class="row mb-30">
            <div class="col-md-2">
                <div class="c-field">
                    <label class="c-field__label">Серия</label>

                    <input placeholder="XXXX"
                           type="number"
                           onKeyDown="if (this.value.length === 4 && event.keyCode !== 8) return false;"
                           v-bind:class="{ 'error-input': haveError(dataKey+'.personal_document_serial') }" class="c-input u-mb-small"
                           v-model="data.personal_document_serial">
                </div>

            </div>

            <div class="col-md-4">
                <div class="c-field">
                    <label class="c-field__label">Номер паспорта</label>

                    <input
                            onKeyDown="if (this.value.length === 6 && event.keyCode !== 8) return false;"
                            type="number"
                            placeholder="123456" v-bind:class="{ 'error-input': haveError(dataKey+'.personal_document_number') }" class="c-input u-mb-small"
                            v-model="data.personal_document_number">
                </div>

            </div>

            <div class="col-md-6">
                <div class="c-field">
                    <label class="c-field__label">Кем выдан</label>

                    <input placeholder="ОТДЕЛОМ УФМС РОССИИ ПО ВОРОНЕЖСКОЙ ОБЛАСТИ В ЛЕНИНСКОМ РА..." v-bind:class="{ 'error-input': haveError(dataKey+'.personal_document_issued_by') }" class="cpt c-input u-mb-small whoTake"
                           v-model="data.personal_document_issued_by">
                </div>

            </div>

            <div class="col-md-2">
                <div class="c-field">
                    <label class="c-field__label">Дата выдачи</label>
                    <cleave  v-bind:class="{ 'error-input': haveError(dataKey+'.personal_document_date') }" class="c-input" v-model="data.personal_document_date" name="dob" :raw="false" :options="dateCleave" placeholder="В-те дату"></cleave>

                </div>

            </div>

            <div class="col-md-3">
                <div class="c-field">
                    <label class="c-field__label">Место рождения</label>

                    <input placeholder="Воронеж" v-bind:class="{ 'error-input': haveError(dataKey+'.place_of_birth') }" class="c-input u-mb-small whoTake cpt"
                           v-model="data.place_of_birth">
                </div>

            </div>
        </div>

        <h5 class="step-change__pl c-blue">Адрес регистрации</h5>

        <div class="row mb-30">
            <div class="col-md-12">
                <div class="c-field">
                    <label class="c-field__label">Адрес</label>
                    <VueSuggestions
                            :model.sync="addresses"
                            :placeholder="'Начните вводить'"
                            class="c-input u-mb-small cpt"
                            :options="suggestionOptions"
                    >
                    </VueSuggestions>
                    <span class="error-h4" v-if="haveError(dataKey+'.address.data.street')">{{ haveError(dataKey+'.address.data.street') }}</span>
                </div>

            </div>
        </div>

        <div class="row mb-30">
            <div class="col-md-2">
                <div class="c-field">
                    <label class="c-field__label">Дом</label>

                    <input placeholder="36" v-bind:class="{ 'error-input': haveError(dataKey+'.house') }"  class="c-input u-mb-small" v-model="data.house">
                </div>

            </div>

            <div class="col-md-2">
                <div class="c-field">
                    <label class="c-field__label">Корпус</label>

                    <input placeholder="1" v-bind:class="{ 'error-input': haveError(dataKey+'.address2') }" class="c-input u-mb-small"
                           v-model="data.address2">
                </div>

            </div>

            <div class="col-md-2">
                <div class="c-field">
                    <label class="c-field__label">Квартира</label>

                    <input placeholder="101" v-bind:class="{ 'error-input': haveError(dataKey+'.address3') }" class="c-input u-mb-small"
                           v-model="data.address3">
                </div>
            </div>
        </div>

    </div>

</template>

<script>
    import flatPickr from 'vue-flatpickr-component';
    import VueSuggestions from 'vue-suggestions';
    import 'flatpickr/dist/flatpickr.css';
    import rus from 'flatpickr/dist/l10n/ru';
    import MaskedInput from 'vue-masked-input' ;
    import Cleave from 'vue-cleave-component';


    export default {
        props: ['data', 'dataKey', 'errors'],
        components: {
            flatPickr,
            VueSuggestions,
            MaskedInput,
            Cleave

        },
        data: function () {
            let vm = this;
            return {
                configPicker: {
                    allowInput: true,
                    dateFormat: "d-m-Y",
                    locale: rus
                },
                cleaveForm: {
                    date: null
                },
                dateCleave: {
                    date: true,
                    datePattern: ['d', 'm', 'Y'],
                    delimiter: '-',
                },
                addresses:[],
                suggestionOptions: {
                    token: '20131cc64a9d46aa2ea1d9437478bfcb1c1c66dc',
                    type: "ADDRESS",
                    scrollOnFocus: false,
                    triggerSelectOnBlur: false,
                    triggerSelectOnEnter: false,
                    addon: 'none',
                    onSelect (suggestion) {
                        vm.data.address = suggestion;
                        vm.data.postal_code = suggestion.data.postal_code ? suggestion.data.postal_code : null;
                        vm.data.postal_code = suggestion.data.postal_code ? suggestion.data.postal_code : null;
                        vm.data.house = suggestion.data.house ? suggestion.data.house : null;
                        vm.data.address3 = suggestion.data.flat ? suggestion.data.flat : null;
                    }
                },
            }
        },
        methods: {
            haveError: function (el) {
                return _.first(this.errors[el]);
            },
        }
    }
</script>
