<template>
    <div class="home-container policy-body">


        <div>
            <form @submit.prevent="submit">
                <div class="c-content c-content__flex policy-content__flex policy-title">
                    <div class="wrap-1">
                        <h3 class="c-content__h3 myagents-h3">Полисы</h3>
                        <a href="/policies/create" class="c-btn c-btn__pink add-sub">создать полис</a>
                    </div>
                    <div class="wrap-2">
                        <span class="sort">Сортировать:</span>
                        <div class="c-select">
                            <sui-dropdown
                                    class="c-select__input"
                                    placeholder="По дате"
                                    v-model="filter.sort"
                                    @click="filtered()"
                                    selection
                                    search
                                    :options="sortDate"
                            ></sui-dropdown>
                        </div>
                        <div class="icon-up__down">
                            <i
                                    style="cursor: pointer;"
                                    class="fas fa-long-arrow-alt-down"
                                    @click="setSortable('down')"
                            ></i>
                            <i
                                    style="cursor: pointer; display:none;"
                                    class="fas fa-long-arrow-alt-up"
                                    @click="setSortable('up')"
                            ></i>
                        </div>

                    </div>
                </div>
                <div class="statistics-table__filter payments-table_filter">
                    <h4 class="c-card__statistics--thead js-hideshow">Фильтр<i class="fas fa-caret-up arrow-insurance"></i></h4>
                    <div class="c-card__statistics--tbody">
                        <div class="container">
                            <div class="row align-items-end">
                                <div class="col-2">
                                    <div class="c-field">
                                        <label class="c-field__label">Страховая компания</label>
                                        <div class="c-select">
                                            <sui-dropdown
                                                    class="c-select__input"
                                                    placeholder="Все"
                                                    v-model="filter.insurance"
                                                    selection
                                                    search
                                                    :options="insurances"
                                            ></sui-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2" v-if="user.parent_user_id == null">
                                    <div class="c-field">
                                        <label class="c-field__label">Субагенты</label>
                                        <div class="c-select">
                                            <sui-dropdown
                                                    class="c-select__input"
                                                    placeholder="Все"
                                                    v-model="filter.agents"
                                                    selection
                                                    search
                                                    :options="subagents"
                                            ></sui-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-mw">
                                    <label class="c-field__label">Период</label>
                                    <div class="c-select">
                                        <flat-pickr
                                                placeholder="В-те дату" class="c-input c-select__input datepickerVue" data-max-date="today"  :config="configPicker" v-model="filter.from"
                                        ></flat-pickr>
                                    </div>
                                </div>
                                <div class="line-none"> - </div>
                                <div class="col col-mw">
                                    <label class="c-field__label--n">Период</label>
                                    <div class="c-select">
                                        <flat-pickr
                                                placeholder="В-те дату" class="c-input c-select__input datepickerVue" data-max-date="today"  :config="configPicker" v-model="filter.to"
                                        ></flat-pickr>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="c-field">
                                        <label class="c-field__label">Статус полиса</label>
                                        <div class="c-select">
                                            <sui-dropdown
                                                    class="c-select__input"
                                                    placeholder="Оплачен"
                                                    v-model="filter.statuses"
                                                    selection
                                                    search
                                                    :options="statuses"
                                            ></sui-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-p">
                                    <div class="col">
                                        <label class="c-field__label--n">Период</label>
                                        <a class="c-btn c-btn--secondary" @click="resetFilter()">Сбросить фильтр</a>
                                    </div>
                                    <div class="col">
                                        <a class="c-btn c-btn__pink u-mt-medium btn-export__exel" @click="filtered()">
                                            <i class="fas fa-check"></i>Применить</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-b">
                    <div class="col-12 c-table__scroll">
                        <div class="c-table-responsive@wide">
                            <table class="c-table">
                                <thead class="c-table__head">
                                <tr class="c-table__row c-table-bg">
                                    <th class="c-table__cell c-table__cell--head">№</th>
                                    <th class="c-table__cell  c-table__cell--head">Стахователь</th>
                                    <th class="c-table__cell c-table__cell--head">Номер полиса</th>
                                    <th class="c-table__cell c-table__cell--head">Контакты</th>
                                    <th class="c-table__cell c-table__cell--head">Дата и время</th>
                                    <th class="c-table__cell c-table__cell--head">Премия</th>
                                    <th class="c-table__cell c-table__cell--head">Статус</th>
                                    <th class="c-table__cell c-table__cell--head">КВ</th>
                                    <th class="c-table__cell c-table__cell--head">Печать</th>
                                    <th class="c-table__cell c-table__cell--head">Пересчет</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="c-table__row" v-for="police in polices">
                                    <td class="c-table__cell a-all__text--weight">{{ police.id  }}</td>
                                    <td class="c-table__cell">
                                        <div class="o-media">
                                            <div class="o-media__img u-mr-xsmall">
                                                <div class="c-avatar c-avatar--small">
                                                    <img v-if="police.insurance !== null" class="c-avatar__img" :src="/img/+police.insurance+'_avatar.jpg'" alt="Jessica Alba">
                                                </div>
                                            </div>
                                            <div class="o-media__body" style="padding-top: 16px;"><span class="polices-account__name">
                                              <a :href="'policies/show/'+police.id"><h6>{{ police.owner_full_name }}</h6></a></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="c-table__cell">{{ police.insurance_id ? police.insurance_id : '-' }}</td>
                                    <td class="c-table__cell">{{ police.email }}<br>{{ police.phone }}</td>
                                    <td class="c-table__cell">{{ police.policy_start_date|formatDate }}<br>{{ police.policy_start_date|formatTime }}</td>
                                    <td class="c-table__cell c-pink a-all__text--weight">{{ police.premium }} ₽</td>
                                    <td class="c-table__cell">
                                        <span :class="'status-'+police.status">{{ getStatusName(police.status) }}</span>
                                    </td>
                                    <td class="c-table__cell">{{ police.kv }} ₽</td>
                                    <td class="c-table__cell">
                                        <div class="c-select printTypeDiv drop-icon" v-if="police.status === 'success'">
                                            <select class="c-select__input" name="print" @change="getPrintForm(police.id,'policy')">
                                                <option value="" >Выберите форму</option>
                                                <option value="policy">Полис</option>
                                            </select>
                                            <i class="fas fa-sort-down"></i>
                                        </div>
                                        <div v-else>-</div>
                                    </td>
                                    <td class="c-table__cell">
                                        <div class="c-select printTypeDiv">
                                            <a class="c-btn c-btn--success btn-recalc" :href="`policies/reCalc/${police.id}`">Перерасчет</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <a v-if="polices.length > 0" :href="exportUrl" class="c-btn c-btn--success u-mt-medium btn-export__exel"><i class="far fa-file-excel"></i>Экспорт в excel</a>

            </form>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import rus from 'flatpickr/dist/l10n/ru';
    import moment from 'moment';

    Vue.config.devtools = true;
    Vue.config.debug = true;
    import axios from 'axios'

    export default {
        components: {
            flatPickr
        },
        data: function () {
            return {
                selected: '',
                polices: [],
                statuses: [],
                subagents: [],
                insurances: [],
                filters: {},
                sorts: {},
                date: {
                    from: null,
                    to: null,
                },
                configPicker: {
                    altFormat: "d-m-Y",
                    altInput: true
                },
                sortDate: [
                    {
                        key:1,
                        text:'По дате',
                        value:'date'
                    },
                    {
                        key:2,
                        text:'По буквам',
                        value:'words'
                    },
                ],
                filter: {
                    sortDate: null,
                    insurance: null,
                    subagent: null,
                    agents: null,
                    statuses: null,
                    from: null,
                    to: null,
                    sort: 'id',
                    position: 'DESC',
                },
                user: {},
                exportUrl: null
            };
        },
        filters: {
            formatDate(value) {
                if (value) {
                    return moment(String(value)).format('DD-MM-YYYY');
                }
            },
            formatTime(value) {
                if (value) {
                    return moment(String(value)).format('hh:mm:ss');
                }
            },
            dateMask() {
                new Inputmask("99-99-9999");
            },
        },
        methods: {
            setSortable(position) {
                this.filter.position = position;

                if (position === 'up') {
                    $('.fa-long-arrow-alt-up').hide();
                    $('.fa-long-arrow-alt-down').show();
                } else {
                    $('.fa-long-arrow-alt-up').show();
                    $('.fa-long-arrow-alt-down').hide();
                }

                this.filtered();
            },
            submit() {
                this.filtered();
            },
            setFilters() {
                this.filters.insurance = document.querySelector('.policy-insurances').value;
                this.filters.statuses = document.querySelector('.policy-statuses').value;
                this.filters.agents = document.querySelector('.policy-subagents').value;
                this.filters.from = document.querySelector('[name="from"]').value;
                this.filters.to = document.querySelector('[name="to"]').value;
            },
            filtered() {
                this.apiUrl = document.querySelector('.vue-component').getAttribute('data-url');
                Vue.http.headers.common['X-CSRF-TOKEN'] = document.querySelector('[name="csrf-token"]').getAttribute('content');

                axios.post(this.apiUrl, this.filter).then(response => {
                    this.loadData(response);
                });
            },
            sortable() {
                this.setFilters();
            },
            resetFilter() {
                this.filter = {};

                axios.post(this.apiUrl, this.filters).then(response => {
                    this.loadData(response);
                });
            },
            loadData: function (response) {
                this.polices = response.data.polices;
                this.statuses = response.data.statuses;
                this.subagents = response.data.subagents;
                this.insurances = response.data.insurances;
                this.user = response.data.user;
                this.exportUrl = response.data.exportUrl;
            },
            sortBy: function(sortKey) {
                this.reverse = (this.sortKey === sortKey) ? ! this.reverse : false;

                this.sortKey = sortKey;
            },
            getResults(page = 1) {
                axios.post(this.apiUrl + '?page=' + page).then(response => {
                    this.loadData(response);
                });
            },
            getPrintForm: function (policyId,form) {
                window.open(`/policies/print/${policyId}/${form}`,'_blank');
            },
            getStatusName: function (status) {
                for (let item of this.statuses) {
                    if (item.key === status) {
                        return item.text;
                    }
                }
                return '';
            },
        },
        created: function () {
            this.apiUrl = document.querySelector('.vue-component').getAttribute('data-url');

            Vue.http.headers.common['X-CSRF-TOKEN'] = document.querySelector('[name="csrf-token"]').getAttribute('content');

            axios.post(this.apiUrl, this.filters).then(response => {
                this.loadData(response);
            });
        }
    }
</script>
