$accent: #26283b

//@font-face
//  font-family: "Exo 2"
//  src : url("/public/fonts/Exo2/Exo2-Regular/Exo2-Regular.ttf")
//  src : url("/public/fonts/Exo2/Exo2-Regular/Exo2-Regular.otf")
//  src : url("/public/fonts/Exo2/Exo2-Regular/Exo2-Regular.woff")
//  src : url("/public/fonts/Exo2/Exo2-Regular/Exo2-Regular.eot")

@import url('https://fonts.googleapis.com/css?family=Exo+2:100,400,500,600,700,900&subset=cyrillic')
*
  &::-webkit-scrollbar
    width: 3px
    height: 5px
  &::-webkit-scrollbar-button
    display: none
  &::-webkit-scrollbar-track
    background-color: #999
  &::-webkit-scrollbar-track-piece
    background-color: #E4E9F5
  &::-webkit-scrollbar-thumb
    height: 50px
    background-color: #26283B
    border-radius: 3px
  &::-webkit-scrollbar-corner
    background-color: #E4E9F5
  &::-webkit-resizer
    background-color: #26283B

a
  text-decoration: none
p
  margin: 0
ul
  margin: 0
  padding: 0
  li
    list-style: none
    margin: 0
    padding: 0
body
  font-family: 'Exo 2', sans-serif

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0
input[type="number"]
  -moz-appearance: textfield
input[type="number"]:hover,
input[type="number"]:focus
  -moz-appearance: number-input
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0



// dpordown icon//

.ui.dropdown>.dropdown.icon
  font-size: 0.957143em
.ui.selection.dropdown>.delete.icon,
.ui.selection.dropdown>.dropdown.icon,
.ui.selection.dropdown>.search.icon
  padding: 0.616667em
// dpordown icon//

.ui.selection.dropdown, .a-input
  padding: 0.4em 2.1em 0.67857143em  0.678571em
//content for all pages//
.a-container
  padding: 0 21px 38px 21px
  background-color: #E3E9F6
  //overflow: hidden
.a-content__title
  font-size: 30px
  font-weight: 400
  color: #181926
  letter-spacing: 0.75px
  margin: 40px 20px
  line-height: 1
//content for all pages//


.wrapper-flex
  display: flex
  flex-direction: row
  font-family: 'Exo 2', sans-serif
.main-header
  background-color: #343543
.head-navbar
  display: flex
  align-items: center
  padding: 0 40px
  justify-content: space-between
.head-navbar__flex
  display: flex
  align-items: center
  padding: 20px 0
  height: 80px
  max-height: 80px
  overflow: hidden
.head-navbar__flex
  .admin-link
    display: inline-block
    font-size: 14px
    color: #9996A9
    text-decoration: none
    svg
      margin-right: 10px
    > *
      vertical-align: middle
      display: inline-block
.stat-circle
  width: 75px
  circle
    &.bg
      fill: none
      stroke: #f1f1f1
      stroke-width: 0.4
    &.progress
      fill: none
      stroke: #ff3a42
      stroke-width: 0.8
      stroke-dasharray: 51 51
      stroke-dashoffset: -51
      stroke-linecap: butt
    &.te
      fill: none
      stroke: #000
      stroke-width: 0.8
      stroke-dasharray: 100
      stroke-dashoffset: 2
      stroke-linecap: butt
  text
    font-size: 5px
    text-anchor: middle
    fill: #bbb
//search form//
.admin-form__search
  position: relative
.head-navbar__search
  background-color: #4D4E62
  border: 0
  outline: transparent
  border-radius: 20px
  height: 40px
  padding: 0 15px
  color: #9996A9
  width: 350px
  vertical-align: middle
  position: relative
  font-size: 16px
  &::placeholder
    color: #9996A9
    font-size: 16px
    line-height: 1.6
.head-navbar__submit
  position: absolute
  top: 8px
  right: 11px
  background: url(/img/icons/search.png) no-repeat
  background-size: cover
  border: 0
  outline: none
  width: 23px
  height: 23px
  cursor: pointer
//search form//

//modal notifications//
.modal-notifications
  position: absolute
  top: 65px
  right: 20px
  max-width: 450px
  display: none
  width: auto
  background-color: #FEC689
  border-radius: 10px
  margin-bottom: 20px
  z-index: 999
//modal notifications//

.btn-notifications
  position: relative
  &:before
    content: attr(data-number)
    position: absolute
    width: 20px
    height: 20px
    line-height: 20px
    overflow: hidden
    z-index: 1
    text-align: center
    vertical-align: middle
    border-radius: 50%
    font-size: 13px
    display: inline-block
    top: -10px
    left: 16px
    background-color: #79BE3D
    color: #fff

.content-wrapper
  margin: 0 0 0 300px
  width: calc(100vw - 300px)
  min-height: 100vh!important
  overflow: hidden
  background-color: #E3E9F6

.main-sidebar
  width: 300px
  min-width: 300px
  height: 10vh
  position: fixed
  top: auto
  left: auto
  z-index: 1
  padding: 0


//Sidebar//
.create-new__theme
  .main-sidebar
    background-color: #26283b
.a-sidebar__brand
  padding: 20px 20px
  display: flex
  flex-direction: row
  align-self: center
  justify-content: space-between
  height: 80px
  width: 100%

.a-sidebar
  display: flex
  flex-direction: column
  justify-content: space-between
body
  &.a-sidebar__close
    .main-sidebar
      width: 38px
      min-width: 38px
      .a-sidebar__logo
        display: none
      .a-sidebar__brand
        padding: 0 0 0 5px
      .a-sidebar__list
        li
          padding-left: 1px
      .a-sidebar__link
        padding: 0
        span
          display: none
        .icons-nav
          margin-right: 0
          margin-bottom: 5px
          width: 20px
      .account-img
        width: 20px
        height: 20px
      .a-sidebar__account
        height: 50px
        padding: 0 0 0 8px
        align-items: center
      .account-info
        display: none
    .content-wrapper
      margin: 0 0 0 38px
      width: calc(100vw - 38px)

.a-sidebar-btn
  align-self: center


.a-sidebar__account
  padding: 20px
  display: flex
  font-family: "Lato", sans-serif
  flex-direction: row
  position: relative
  overflow: hidden
  color: #fff
  height: 100px
  &:before
    content: ""
    background-image: url(/img/bg-left.png)
    -webkit-filter: blur(10px)
    filter: blur(10px)
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
.little-modal
  background-color: #F16192
  display: none
  width: auto
  height: auto
  max-width: 100%
  border-radius: 10px
  position: absolute
  padding: 10px 15px
  left: 125px
  top: 125px
  z-index: 2000
  a
    font-size: 14px
    display: inline-block
    font-weight: 600
    color: #fff
    &:hover
      color: #fff
    &:visited
      color: #fff
  .wrap-border__bottom
    border-bottom: 1px solid rgba(255, 255, 255, 0.23)
    &:last-child
      border-bottom: none
  .account-exit
    padding: 5px
    display: flex
    text-transform: uppercase
    flex-direction: row
    justify-content: space-between
    align-items: center
  .settings-account
    padding: 0 7px 3px 7px
.account-info
  z-index: 1
  padding: 10px 0 0 5px
.account-email
  font-size: 13px
  color: #969bac
  letter-spacing: 0.35px
  line-height: 1
.account-name
  font-weight: 700
  color: #fff
  position: relative
  font-family: "Lato", sans-serif
  line-height: 1
  margin-bottom: 10px
  &:after
    content: ""
    position: absolute
    left: 90px
    bottom: 0px
    border: 5px solid transparent
    border-top: 6px solid #ffffff
  a
    color: #ffffff!important
    font-size: 16px

.a-sidebar__list
  li
    border-left: 4px solid transparent
    transition: .4s all ease
    &.active
      background-color: #181926
      .a-sidebar__link
        span
          color: #fff
    &:hover
      background-color: #181926
      .a-sidebar__link
        span
          color: #fff
    &:nth-child(1n)
      &:hover
        border-left: 4px solid #F16290
      &.active
        border-left: 4px solid #F16290
    &:nth-child(2n)
      &:hover
        border-left: 4px solid #EA6EF6
      &.active
        border-left: 4px solid #EA6EF6
    &:nth-child(3n)
      &:hover
        border-left: 4px solid #46C0FA
      &.active
        border-left: 4px solid #46C0FA
    &:nth-child(4n)
      &:hover
        border-left: 4px solid #8FD753
      &.active
        border-left: 4px solid #8FD753
    &:nth-child(5n)
      &:hover
        border-left: 4px solid #dd3838
      &.active
        border-left: 4px solid #dd3838
    &:nth-child(6n)
      &:hover
        border-left: 4px solid #464afa
      &.active
        border-left: 4px solid #464afa
    &:nth-child(7n)
      &:hover
        border-left: 4px solid #dd3838
      &.active
        border-left: 4px solid #dd3838

.a-sidebar__link
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  padding: 10px 10px 10px 16px
  border-left: 3px solid transparent
  transition: .4s all ease
  overflow: hidden
  .icons-nav
    margin-right: 20px
  span
    font-size: 16px
    color: #969bac
    font-weight: 400
    letter-spacing: 0.4px
    transition: .4s all ease
//Sidebar//



//table//
.a-table
  //box-shadow: 0 -3px 38px rgba(0, 0, 0, 0.14)
  background-color: #ffffff
  border-radius: 10px
  width: 100%
  //overflow: hidden
  .a-table__header
    padding: 10px 20px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    cursor: pointer
    background-color: #26283b
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    color: #fff
  .a-table__body
    padding: 10px 10px
    display: flex
    align-items: flex-end
    flex-wrap: wrap
  .a-table__body--filter
    padding: 20px 10px

.c-sidebar-row__flex
  display: flex
  flex-direction: row
  margin-bottom: 36px
  .c-sidebar__item
    width: 25%
    position: relative
    margin: 0 25px 0 0
    &:last-child
      margin-right: 0
.c-state-card
  width: 100%
  min-height: 200px
  background: #181926
  border-radius: 10px
  margin-bottom: 0
  display: flex
  flex-direction: column
  justify-content: flex-end
  text-align: center
  padding: 28px 30px
  box-shadow: 0 -3px 38px rgba(0, 0, 0, 0.14)
  .c-sidebar__item
    text-decoration: none
  .c-btn--success__create
    vertical-align: middle
    background-color: transparent
    font-size: 18px
    font-weight: 700
    text-transform: uppercase
    color: #fff
    display: inline
    text-decoration: none
    &:before
      content: ''
      width: 2px
      height: 54px
      display: block
      background-color: #fff
      position: absolute
      top: calc(40% - 27px)
      right: calc(50% - 2px)
    &:after
      content: ''
      width: 54px
      height: 2px
      display: block
      background-color: #fff
      position: absolute
      top: calc(40% - 2px)
      right: calc(50% - 27px)

.a-table__title
  color: #181926
  font-size: 30px
  font-weight: 400
  letter-spacing: 0.75px
  line-height: 1
  padding-left: 21px
  margin-bottom: 18px
.a-table__title--header
  font-size: 16px
  font-weight: 400
  color: #fff
.a-table__wrap--scroll
  position: relative
  display: block
  width: 100%
  overflow-x: auto
  margin-bottom: -500px
  padding-bottom: 500px

.a-table__all
  width: 100%
  min-width: 1400px
  .a-table__header
    padding: 6px 20px
.c-btn__create
  text-align: center
  width: 100%
  min-height: 200px
  background: #e45c8a
  box-shadow: 0 -3px 38px rgba(0, 0, 0, 0.14)

.c-state-card__number
  font-size: 60px
  font-weight: 700
  line-height: 1
  color: #fff
  margin-bottom: 20px

.c-state-card__title
  min-height: 55px
  margin-bottom: 0
  letter-spacing: 0.45px
  font-weight: 700
  font-size: 18px
  color: #fff


//table-col//
.table-col
  max-width: 100px
  width: 100px
  display: flex
  align-items: center
  font-size: 16px
  line-height: 1.2
  word-break: break-word
  span
    font-weight: 400
    color: $accent
    font-size: 16px
    letter-spacing: 0.4px
    line-height: 1.2
  .a-table__text--pink
    color: #f16192
    font-weight: 700
  .a-table__text--weight
    font-weight: 700
  .a-table__text--grey
    color: #6d7383
  .a-table__text--green
    color: #7dc43f
.table-col__1
  min-width: 30px
  max-width: 35px
.table-col__8
  width: 140px
  max-width: 140px


//table-col//
.a-table__row
  margin-bottom: 9px
  min-height: 64px
  width: 100%
  padding: 2px 10px
  border-radius: 3px
  cursor: pointer
  transition: .3s all ease-in-out
  &:last-child
    margin-bottom: 0
  &:nth-child(odd)
    background-color: #f2f2f3
  &:nth-child(even)
    background-color: #ecf8ff
  &:hover
    background-color: #f16192
    transition: .3s all ease
    .table-col
      span
        transition: .3s all ease-in-out
        color: #fff!important
.a-table__row--flex
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 100%

.a-table__wrap--toggle
  margin-bottom: 10px
  &:nth-child(odd)
    .a-table__row
      background-color: #f2f2f3
  &:nth-child(even)
    .a-table__row
      background-color: #ecf8ff
  &:last-child
    margin-bottom: 0


.c-state-card__money
  font-size: 35px
  font-weight: 700
  word-break: break-all

.a-table__wrap--container
  display: flex
  margin-bottom: 20px
  align-items: flex-end
  &:last-child
    margin-bottom: 0
.a-table__field
  margin: 0 10px

.a-table__wrap--row
  width: 100%
  transition: .2s all ease-in-out
  &:hover
    .a-table__row
      background-color: #f16192
      transition: .2s all ease-in-out
      .table-col
        transition: .2s all ease-in-out
        color: #fff!important
        .a-select__input--green
          background-color: #343543
        span,
        .a-table__text--grey,
        .a-all__text--darknes
          color: #fff!important
          transition: .2s all ease-in-out

.a-table__wrap--toggle
  .a-table__row--child
    background-color: #fff
.a-table__wrap--toggle
  &:last-child
    .a-table__row--parent
      margin-bottom: 0

//table//

//table avatar//
.wrap-img
  width: 52px
  height: 52px
  overflow: hidden
  border-radius: 50%
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.23)
  background-color: #fff
  img
    object-fit: contain
    width: 100%
    height: 100%
//table avatar//


//dropdown//
.ui.search.selection.dropdown>input.search
  padding: 0.578571em 2.1em 0.67857143em 1.078571em

.ui.selection.dropdown, .a-input
  border-radius: 50px
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1)
  min-width: auto
  outline: none
  color: #26283b
  background-color: #fff
  border: 2px solid #d8dde7
  padding: 0.498571em 2.1em 0.67857143em  1.078571em
  height: 40px
  min-height: auto
  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  font-size: 16px
  &::placeholder
    color: #b3b4c3
    font-size: 16px
.ui.selection.dropdown .menu>.item
  font-size: 16px
  padding: .5rem 1.14285714rem
.a-select__input--green
  background-color: #7dc43f
  width: 98px
  height: 40px
  border: none
  box-shadow: none
  cursor: pointer
  position: relative
  padding: 0.47857143em 1.1em 0.67857143em 1.178571em
  .a-sum__sub
    color: #fff
    font-size: 16px
    font-weight: 700
  .fa-caret-down
    position: absolute
    top: 12px
    right: 10px
    color: #fff
//dropdown//

//data picker//
.a-select__date
  border-radius: 50px
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1)
  outline: none
  background-color: #fff
  border: 2px solid #d8dde7
  max-width: 192px
  height: 40px
  padding: 0.47857143em 1.7em 0.67857143em 1.178571em
  font-size: 16px
  &::placeholder
    color: #b3b4c3
    font-size: 16px
.a-select__date--register
  max-width: 286px
.wrap-flatpickr__last
  margin: 32px 0 0 15px
  display: inline-block
  &:before
    content: ''
    position: absolute
    left: -24px
    top: 20px
    width: 13px
    height: 2px
    background-color: #26283b
    display: inline-block
.wrap-flatpickr
  position: relative
  .flat-down
    position: absolute
    top: 14px
    right: 15px
    color: #000
    font-size: 15px
    line-height: 0.8

//data picker//

//field label//
.a-field__label
  padding-left: 20px
  color: #26283b
  letter-spacing: 0.4px
  font-size: 16px
  font-weight: 700
  display: block
  margin-bottom: 10px
.label-last
  padding-left: 35px
.w-126
  width: 126px
.w-140
  width: 140px
.w-160
  width: 160px
.w-166
  width: 166px
.w-170
  width: 170px
.w-148
  width: 148px
.w-220
  width: 220px
.w-246
  width: 246px
.w-266
  width: 266px
.w-286
  width: 286px
.w-362
  width: 362px
.w-369
  width: 369px
.w-419
  width: 419px
.w-495
  width: 495px
.w-605
  width: 605px
//field label//

//tooltip//
.vue-tooltip
  z-index: 999!important
  background-color: #fff !important
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.14)!important
  border-radius: 10px!important
  padding: 0!important
.toltip-title
  font-weight: 700
  color: #26283b
  font-size: 16px
  display: block
  margin-bottom: 15px
.toltip-text
  margin: 0
  padding: 0
  font-size: 16px
  color: #6d7383
  font-weight: 400
  display: block
.tooltipContent
  width: 228px
  height: auto
  padding: 31px 27px

//tooltip//
.datepicker
  left: 0!important
  opacity: 1!important
  z-index: 1!important
  width: 100% !important
  .datepicker-input
    border: none!important
    position: absolute!important
    top: 0!important
    color: #252529!important
    font-weight: 400!important
  .form-control
    height: 36px!important
    padding: 0!important
    width: 80%!important
  .form-control:focus,
  .form-control:hover
    box-shadow: none!important
  .datepicker-wrapper
    top: 36px!important
.wrap-calendar
  position: relative
  .flat-down
    position: absolute
    top: 14px
    right: 15px
    color: #000
    font-size: 15px
    line-height: 0.8
    z-index: 1
//btn//
.a-btn
  display: inline-block
  width: auto
  line-height: 1.7
  font-size: 16px
  color: #fff
  font-weight: 700
  letter-spacing: 1.6px
  font-family: 'Exo 2', sans-serif
  border-radius: 50px
  height: 40px
  text-transform: uppercase
  outline: none
  position: relative
  padding: 0.625rem 1.25rem
  max-width: 100%
  margin: 0
  cursor: pointer
  transition: all .4s ease
  min-width: 176px
  text-align: center
  border: none
  &:hover
    color: #fff
  &:focus
    color: #fff
  &:visited
    color: #fff
  &:active
    color: #fff
  i
    margin-right: 10px
    vertical-align: inherit
    font-size: 14px
    font-family: 'Font Awesome 5 Free'
.a-btn__pink
    background-color: #f16192
    &:hover
      background-color: #f1097f
    &:visited
      background-color: #f16192
    &:active
      background-color: #f16192
    &:focus
      background-color: #f16192

.a-btn__filter
  color: #26283b
  text-transform: initial
  padding: 0.625rem 0
  font-weight: 500
  letter-spacing: 0.4px
  &:hover
    color: #484a6c

.a-btn__export
  background-color: #7dc43f
  min-width: 222px
  letter-spacing: 1.6px
  &:hover
    background-color: #67c400

.a-btn__download
  color: #f16192
  font-size: 16px
  text-transform: capitalize
  transition: .3s ease
  text-decoration: none
  &:active
    color: #f1097f
  &:visited
    color: #f16192
  &:hover
    color: #f1097f
    text-decoration: underline

.a-btn__green
  background-color: #7dc43f
  &:hover
    background-color: #67c400
  &:active
    background-color: #7dc43f
  &:visited
    background-color: #7dc43f

.a-btn__black
  background-color: #26283b
  color: #fff
  text-transform: uppercase
  border: none
  &:active
    background-color: #26283b
  &:visited
    background-color: #26283b
  &:hover
    background-color: rgba(38, 40, 59, 0.76)
.a-btn__add--bets
  position: relative
  padding-left: 45px
  text-transform: uppercase
  font-size: 16px
  font-weight: 700
  letter-spacing: 1.6px
  &:hover
    background-color: #f1097f
  &:before
    content: ''
    width: 1px
    height: 15px
    display: block
    background-color: #fff
    position: absolute
    top: calc(50% - 8px)
    left: 20px
  &:after
    content: ''
    width: 15px
    height: 1px
    display: block
    background-color: #fff
    position: absolute
    top: calc(50% - 1px)
    left: 13px
//btn//

.a-table__filter
  margin-bottom: 30px
  margin-top: 10px
  min-width: 1535px

.table-col__owner, .table-col__num--polices
  text-transform: uppercase
.table-col__curator
  text-transform: capitalize
.table-col
  .wrap-img
    cursor: pointer
.link-num__polices
  letter-spacing: 0.4px
  font-weight: 400
  color: #26283b
  font-size: 16px
  &:hover
    color: #26283b
  &:visited
    color: #26283b
  &:active
    color: #26283b

//table agents//
.a-table__filter--agents
  .a-table__wrap--container
    margin-bottom: 0
.a-table__agents
  .agent-well__green
    color: #7dc43f
    font-size: 16px
    font-weight: 700
  .agent-not__done--black
    color: #6d7383
    font-size: 16px
  .table-col__flex--5
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    .a-table__text--grey
      &:first-child
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
        max-width: 140px
.a-table__agents
  .table-col__2
    max-width: 45px
  .table-col__5
    min-width: 140px
  .table-col__6
    width: 60px
  .table-col__12
    width: 150px
    max-width: 150px
.a-table__row--child
  .agents-pseudo__dropdown
    background-color: silver
    .a-sum__sub
      color: #fff
.agents-pseudo__dropdown.disabled
  background-color: #d8dde7
  i
    display: none
//table agents//

.a-select__do.dropdown:not(.button)>.default.text
  color: #26283b
  font-size: 16px

.a-select__do--custom.ui.selection.dropdown
  background-color: #f16192
  color: #fff
  border-color: #f16192 !important
  height: 38px !important
.a-select__do--custom.dropdown:not(.button) > .default.text  
  color: #fff
.a-select__do--custom.ui.dropdown>.dropdown.icon:before   
  content: none

//agents create//

.agetns-create__container
  width: 1570px
  min-width: 420px
  margin: 20px auto
  box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.14)
  border-radius: 10px 10px 10px 10px
  .flex-row
    margin: 0 0 30px -10px
  .a-choice__label
    color: #b3b4c3
  .ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text
    color: #6d7383
  .a-input::placeholder
    color: #6d7383
.tabs
  overflow: hidden
  background-color: #26283b
  padding: 10px 10px 0 10px
  border-radius: 10px 10px 0 0
  ul
    list-style-type: none
    margin-left: 20px
  .tab
    float: left
    cursor: pointer
    padding: 5px 38px
    transition: background-color 0.2s
    border-right: none
    width: auto
    height: 42px
    background-color: #26283b
    border-radius: 30px
    font-weight: bold
    margin-right: 10px
    color: #6d7383
    vertical-align: middle
    &:last-child
      margin-right: 0
    &:hover
      background-color: rgba(255, 255, 255, 0.11)
      color: #6d7383
    &.active
      background-color: #fff
      color: #26283b
      cursor: default
      border-radius: 20px 20px 0 0
      padding: 5px 38px 5px 38px
      height: 50px
.agents-tab__content
  .a-table__tab2
    .table-col__6
      max-width: 226px
      width: 226px
      img
        width: 30px
        margin-right: 5px
.agents-tab__content
  background-color: #fff
  padding: 20px 0 20px 20px
  border-radius: 0 0 10px 10px
  .wrap-flatpickr__last
    margin: 32px 0 0 10px
    &:before
      left: -21px
.flex-row
  margin: 0  -10px 30px -10px
  &:last-child
    margin-bottom: 0
.flex-tab__row
  display: flex
.flex-row__checkbox
  margin-bottom: 40px
  padding: 0 20px

.agents-tab__img
  max-width: 34px
  max-height: 31px
  display: inline-block
  vertical-align: middle

//agents create//

//checkbox//
.a-choice__input
    position: absolute
    width: 1px
    height: 1px
    margin: -1px
    padding: 0
    border: 0
    white-space: nowrap
    overflow: hidden
    clip: rect(0 0 0 0)
    -webkit-clip-path: inset(50%)
    clip-path: inset(50%)
    &:disabled
      .a-choice__input + .a-choice__label::before
        border: 2px solid #d8dde7
.a-choice__input + .a-choice__label::before
  display: inline-block
  position: relative
  top: 0
  margin: 0 15px 0 0
  -webkit-transition: all 0.3s
  transition: all 0.3s
  border: 1px solid #99A5BD
  background-color: #fff
  color: #fff
  line-height: 15px
  text-align: center
  content: ""
  visibility: visible
  width: 20px
  min-width: 20px
  height: 20px
  border-radius: 3px
  cursor: pointer
.a-choice--checkbox .a-choice__input:checked + .a-choice__label::before
  font-family: "Font Awesome 5 Free"
  content: "\f00c"
.a-choice--checkbox .a-choice__input + .a-choice__label::before
  vertical-align: middle
.a-choice--checkbox .a-choice__input:checked + .a-choice__label::before
  border: 0
  box-shadow: none
  background-color: #7dc43f
  font-size: 13px
  line-height: 1.7
  vertical-align: middle
  border-radius: 3px
.a-choice__label
  font-size: 16px
  font-weight: 400
  cursor: pointer
  color: #26283b
.a-tab__checkbox
  display: block
  width: 100%
  margin-bottom: 10px
  &:last-child
    margin-bottom: 0


.a-choice__input--table + .a-choice__label::before   
  background-color: transparent
//checkbox//

//agent tab info//
.a-admin__info
  width: 1570px
  padding: 18px 21px 16px 21px
  border-radius: 10px
  background-color: #ecf8ff

.a-admin__info--list
  display: flex
  flex-wrap: wrap
  li
    width: 50%
    list-style: disc inside
    font-size: 16px
    margin-bottom: 5px
    color: #f16192
    span
      color: #6d7383
//agent tab info//

//tab 2//
.row-no__records
  text-align: center
  background-color: #ecf8ff
  padding: 27px 0
  margin: 0 -10px 27px -10px
  span
    font-size: 16px
    color: #6d7383
    font-weight: 700
    border-radius: 3px
.agents-tab__content
  .a-table
    margin: 0 -10px 10px -10px
    box-shadow: none
  .table-col
    max-width: 210px
    width: 210px
  .table-col__1
    max-width: 35px
  .a-table__tab--header
    padding: 16px 10px
    background-color: #fff
    color: #26283b
    font-weight: 700
    cursor: auto
.flex-row__btn
  margin: 30px 0 0 0

//tab 2//

//tab 4//
.billing-info__wrap
  margin: -10px 0 0 -10px
  display: flex
.billing-info__item
  width: 382px
  height: 202px
  border-radius: 3px
  margin-right: 10px
  padding: 15px
  &:last-child
    border-right: 0
  &:nth-child(1n)
    background-color: #ecf8ff
  &:nth-child(2n)
    background-color: #ffedf3
  &:nth-child(3n)
    background-color: #f2f2f3
.billing-info__item--title
  font-size: 24px
  color: #26283b
  font-weight: 400
  line-height: 1
.billing-info__item--row
  display: flex
  justify-content: space-between
  align-items: flex-end
  margin-bottom: 40px
  height: 30px
  &:last-child
    margin-bottom: 0
.agents-tab__img
  max-width: 70px
  max-height: 29px
.number-card__title
  color: #b3b4c3
  margin-right: 5px
.number-card
  color: #181926
  font-size: 16px
  letter-spacing: 0.4px
.agents-tab__content
  .a-table__tab3
    margin-bottom: 0
//tab 4//


//widthraws//
.a-table__filter--widthraws
  .a-table__wrap--container
    flex-direction: column
    align-items: flex-start
    margin-bottom: 0
  .a-table__body--filter
    background-color: #ecf8ff
    border-radius: 0 0 10px 10px
    padding: 20px 20px
  .flex-row
    display: flex
.a-table__widthraws
  .table-col
    max-width: 190px
    width: 190px
  .table-col__1
    min-width: 30px
    max-width: 35px
  .a-table__row
    background-color: transparent
  .a-table__wrap--row
    margin-bottom: 10px
    transition: .2s all ease
    &:last-child
      margin-bottom: 0
    &:nth-child(odd)
      background-color: #f2f2f3
    &:nth-child(even)
      background-color: #ecf8ff
    &:hover
      background-color: #f16192
      .table-col
        transition: .2s all ease
        span
          color: #fff
          transition: .2s all ease
//widthraws//

//widthraws-create//
.widthraws-create
  max-width: 1120px
  .a-table__wc
    min-width: 1120px
  .title-num
    font-size: 30px
  .a-content__title
    display: flex
    align-items: center
    justify-content: space-between
    margin: 30px 0 27px 0
  .wrap-top__title
    color: #181926
    letter-spacing: 0.75px
    font-weight: 400
    line-height: 1
    margin-right: 33px
  .top-title__status
    font-size: 16px
  .flex-title
    display: flex
    align-items: flex-end
  .a-table__row
    display: flex
    width: 100%
    height: auto
    min-height: 30px
    padding: 0
    margin: 0
    &:nth-child(odd)
      background-color: #ecf8ff
    &:nth-child(even)
      background-color: #fff

  .a-table__body
    padding: 20px 0 10px 0
    overflow: hidden
  .a-table__col
    &:nth-child(odd)
      width: 500px
      padding: 3px 0 3px 20px
      overflow: hidden
      span
        font-weight: 700
        font-size: 16px
        line-height: 24px
    &:nth-child(even)
      width: 100%
      padding: 3px 0 3px 0
      overflow: hidden
      span
        color: #6d7383
        font-size: 16px
        line-height: 24px
        .a-all__text--green
          color: #7dc43f
          font-weight: 700
      .a-all__text--pink
        color: #f16192
      .a-all__text--dark
        color: #26283b
    .more-text
      display: block
      padding-right: 30px
@media (max-width: 1190px)
  .widthraws-create
    .flex-title
      align-items: flex-start
      flex-direction: column
    .wrap-top__title
      margin-bottom: 5px
//widthraws-create//

//bets//
.bets-create
  font-family: "Exo 2", sans-serif
  .a-table__wrap--container
    margin: 0
  .a-table__filter
    min-width: 1562px
  .a-table__wrap
    margin-bottom: 30px
    &:last-child
      margin-bottom: 0
  .a-content__title
    display: flex
    align-items: center
    margin: 35px 20px 25px 20px
    span
      margin-right: 50px
      line-height: 1
      font-family: 'Exo 2', sans-serif
  .table-col__8
    width: 482px
    max-width: 482px
  .a-select__do.dropdown:not(.button) > .default.text
    color: #6d7383
  .a-input::placeholder
    color: #6d7383
.bets-update
  .a-table__wrap--container
    margin-bottom: 20px
    &:last-child
      margin-bottom: 0
//bets//

//bets-create//
.bets-create
  .wrap-flatpickr__last
    margin: 0 0 0 15px
//bets-create//

//news//
.news
  .a-table__all
    min-width: 1100px
  .bets-create .a-select__do.dropdown:not(.button) > .default.text
    color: #26283b
  .a-table__header
    padding: 15px 20px
    justify-content: flex-start
  .a-content__title
    margin: 35px 20px 25px 20px
  .table-col__8
    width: 682px
    max-width: 682px
  .table-col
    max-width: 190px
    width: 190px
    .a-all__text--pink
      color: #f16192
    .a-all__text--green
      color: #7dc43f
  .table-col__2
    max-width: 450px
    width: 350px
  .close-svg
    width: 12px
    height: 12px
    margin-right: 5px
  .table-col__1
    min-width: 60px
    max-width: 60px
  .a-table__row--flex
    justify-content: flex-start
.tooltipContent-news
  width: 460px
  height: auto
  padding: 17px 21px
.vue-tooltip
  max-width: 460px!important
.read-news
  cursor: pointer
//news//

.tooltip-content
  padding: 5px 10px
  color: #fff
  background-color: #26283b
  border-radius: 10px

//news create//
.news-create
  .a-input
    &::placeholder
      color: #6d7383
  .a-content__title
    margin: 40px 20px 35px 20px
  .a-table
    .a-table__body--filter
      padding: 30px 10px 20px 10px
  .a-choice__label
    color: #b3b4c3
    vertical-align: center
  .a-table__wrap--container
    width: 100%
    margin-bottom: 30px
    &:last-child
      margin-bottom: 0
  .a-table__filter
    min-width: 772px
  .a-texarea
    width: 100%
    height: 134px
    border-radius: 10px
    resize: none
    &::placeholder
      color: #b3b4c3
  .a-table__field--area
    width: 100%
//news create//

//curators//
.curators
  .a-table__header
    padding: 15px 20px
  .table-col
    max-width: 200px
    width: 200px
  .table-col__1
    min-width: 30px
    max-width: 35px
  .table-col__8
    width: 320px
    max-width: 320px
//curators//

//curators create//
.curators-create
  .flex-row__btn
    margin: 0
  .a-table__wrap--container
    margin-bottom: 29px
//curators create//

//stock//
.stock
  .table-col__8
    max-width: 382px
    width: 382px
  .table-col__7, .table-col__6
    max-width: 150px
    width: 150px
  .table-col__2
    max-width: 250px
    width: 250px
  .a-content__title
    display: flex
    align-items: center
  .a-btn__add--bets
    margin-left: 50px
//stock//

//stocks-create//
.stocks-create

  .a-table__filter
    min-width: 1570px
  .a-field__label
    line-height: 1
  .wrap-container__1
    width: 498px
    flex-wrap: wrap
    .a-table__field
      margin-bottom: 30px
    .wrap-flatpickr__last
      margin: 0 0 0 15px
    .a-select__dateг
      max-width: 235px
  .wrap-container__2
    width: 1023px
    flex-wrap: wrap
    margin-bottom: 30px
  .a-input
    &::placeholder
      color: #6d7383
  .a-input__textarea
    width: 100%
    height: 134px
    border-radius: 10px
    resize: none
    margin-right: 10px
    &::placeholder
      color: #b3b4c3
  .a-table
    .a-table__body
      flex-wrap: wrap
      justify-content: space-between
      align-items: flex-start
      padding: 30px 10px 20px 10px
  .a-tab__checkbox
    margin-bottom: 5px
    margin-left: 30px
  .wrap-container__3
    justify-content: space-between
    width: 100%
    margin-bottom: 0
    .a-choice__label
      color: #b3b4c3
  .wrap-container__1
    .a-table__field__last
      margin-bottom: 0
  .w-220
    width: 226px
    max-width: 235px
  .a-table__field__last
    &:last-child
      margin-right: 0
  .a-select__do.dropdown:not(.button) > .default.text
    color: #6d7383
//stocks-create//



//admins//
.admins
  .a-content__title
    display: flex
    align-items: center
    margin: 35px 20px 25px 20px
    span
      line-height: 1
  .a-btn__add--bets
    margin-left: 50px
  .table-col
    max-width: 200px
    width: 200px
  .a-table__header
    padding: 14px 20px
  .table-col__1
    min-width: 30px
    max-width: 35px
//admins//

//admins create//
.admins-create
  .a-table__filter
    min-width: 1575px
  .wrap-container__1
    width: 100%
    .a-input
      width: 100%
    .a-table__field
      width: 50%
  .wrap-container__3
    display: flex
    justify-content: space-between
    width: 100%
//admins create//

.a-all__text--pink
  color: #f16192!important
.a-all__text--weight
  font-weight: 700!important
.a-all__text--dark
  color: #26283b!important
.a-all__text--darknes
  color: #181926!important
.a-all__text--green
  color: #7dc43f!important

.placeholder-white__grey.a-input::placeholder
  color: #b3b4c3
.placeholder-white__grey.a-select__do.dropdown:not(.button) > .default.text
  color: #b3b4c3

.ui.active.selection.dropdown
  border-radius: 20px 20px 0 0 !important
.ui.search.active.selection.dropdown > input.search
  background-color: rgba(0, 0, 0, 0.05) !important
  border-radius: 50px
.ui.selection.active.dropdown
  border-color: #ffffff!important
.ui.search.selection.dropdown > input.search
  padding: 0.678571em 2.1em 0.378571em 0.67857143em
.ui.selection.active.dropdown, .ui.selection.active.dropdown .menu
  margin: 0 0
  border-radius: 0 0 15px 15px

.ui.selection.dropdown .menu
  width: calc(100% + 4px)
  border-color: transparent!important
  top: 100%
  left: -2px
.ui.selection.dropdown .menu>.item
  padding: .7rem 1.14285714rem 1rem 1.14285714rem!important
  border-top: 1px solid #fafafa
  width: 100%
  margin: 10px 0
  border-radius: 15px


//.multiselect
//  border-radius: 50px
//  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1)
//  border: 2px solid #d8dde7


.multiselect
  position: relative
  border-radius: 50px
.input-tag
  cursor: pointer
  pointer-events: all
  color: $accent
.multiselect__tags
  cursor: pointer
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1)
  min-width: auto
  outline: none
  min-height: 40px
  color: #26283b
  border-radius: 50px!important
  padding: 3px 30px 0 3px!important
  background-color: #fff
  border: 2px solid #d8dde7!important
  font-size: 16px !important
  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  font-size: 16px
  &::placeholder
    color: #b3b4c3
    font-size: 16px
.multiselect--active
  .multiselect__input
    &::placeholder
      display: none
      color: transparent
//  .multiselect__tags
//    border-radius: 15px 15px 0 0
.multiselect__option
  &.multiselect__option--highlight
    background-color: #7dc43f!important
    &:hover
      background-color: #7dc43f!important
.multiselect
  &.multiselect--active
    .multiselect__tags
      border-radius: 15px 15px 0 0!important
//.multiselect__option, .multiselect__option--selected, .multiselect__option, .multiselect__option--highlight
//  background-color: #fff
//  color: $accent
//  &:after
//    content: none
//.multiselect__option--highlight
//  background-color: #fff
//  color: $accent
//.multiselect__option
//  padding: 7px 10px
//.multiselect__option.multiselect__option--highlight.multiselect__option--selected
//  color: #181926
//  &:after
//    content: none
.multiselect__content-wrapper
  border-radius: 0 0 15px 15px!important
.multiselect__select
  padding: 0!important
  &:before
    border-color: $accent transparent transparent!important
    color: $accent!important
.multiselect__tag
  background-color: #7dc43f!important
  padding: 6px 26px 4px 10px!important
  border-radius: 15px!important
  height: 30px!important
  margin-bottom: -2px!important
  width: 47%!important
  margin-right: 5px!important
.multiselect__tag-icon
  right: 4px
  &:hover
    background-color: transparent
  &:after
    content: "\D7"!important
    color: #ffffff!important
    font-size: 32px!important
  &:before
    content: "\D7"!important
    color: #ffffff!important
    font-size: 32px!important
    transform: rotate(95deg)!important
    position: absolute!important
    top: 4px!important
    right: -1px!important
.multiselect__placeholder
  padding-left: 0.67em
  margin-bottom: 8px
  padding-top: 3px
//.is-collapsed
//  display: none!important
//.multiselect--above
//  .multiselect__content-wrapper
//    max-height: 200px !important
//.a-table__main--page
//  .table-col__1
//    white-space: nowrap
//  .table-col__6, .table-col__9
//    width: 100%
//    max-width: 115px
//  .table-col__12
//    max-width: 108px
//    width: 108px
//.id
//  background-color: red
//.open
//  display: inline-block


.a-table__filter--widthraws
  .a-table__wrap--container
    width: 100%
  .flex-row
    align-items: flex-end
    justify-content: space-between
    width: 100%
    .wrap-field
      display: flex
      width: 100%
      &:last-child
        justify-content: flex-end
    .wrap-flatpickr    
      .a-field__label    
        position: absolute
        top: -32px
        white-space: nowrap

.bg-owerlay
  position: fixed
  width: 100%
  height: 100%
  display: none
  background-color: rgba(0, 0, 0, 0.75)
  &.openBg
    display: block
    z-index: 1000

.fa-caret-down
  transition: .3s all ease
.body-collaps
  border-radius: 10px
  transition: .2s all ease
  .fa-caret-down
    transition: .3s all ease
    transform: rotate(180deg)

.ui.active.selection.dropdown.a-select__do--custom
  border-color: #f16192 !important


.table-col__all
  justify-content: flex-end  
  padding-right: 40px
.a-table__row--other
  min-height: 39px
  position: relative
  &:before
    content: ''
    width: 34%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-color: #fff
.a-table__widthraws  
  .a-table__wrap--other  
    background-color: #ecf8ff !important  
.plus
  font-size: 27px !important
  color: #7dc43f   !important 
  align-self: center
  margin-right: 10px
.minus
  font-size: 27px !important
  color: #f16192   !important 
  align-self: center
  margin-right: 10px
.sub-agents__length
  color: #f16192 !important 
  font-weight: 700 !important 
  align-self: center

// info-page//

.c-card__info--head, .c-card__statistics--thead
  padding: 10px 30px
  background-color: #26283b
  font-size: 16px
  position: relative
  margin-bottom: 0!important
  color: #ffffff!important
  font-weight: 700
  line-height: 1
  letter-spacing: 0.4px
  border-top-left-radius: 10px
  border-top-right-radius: 10px

.c-card__info
  overflow: hidden
  border-radius: 0 0 5px 5px
  .row:nth-child(even)
    background-color: #fff
  .row:nth-child(odd)
    background-color: #ecf8ff
  .row
    padding: 8px 30px
    .col-md-4
      font-weight: 600
      font-size: 16px

.info-page
  .a-btn__black
    margin-top: 20px
    margin-left: -15px

.status-policy__number
  color: #181926
  font-weight: 400
  font-size: 30px
  letter-spacing: 0.75px
  font-family: "Exo 2 ",sans-serif
  padding: 20px 0 0 20px
.status-policy__number--pink
  text-transform: uppercase
// info-page//


@import "../../sass/_pagination"
@import "../../sass/_support"