<template>
    <div>
        <div class="bets-create curators-create">
            <div class="a-table__wrap">
                <div class="a-table__wrap--scroll">
                    <div class="a-table a-table__filter">
                        <div class="a-table__header table-header__js">
                        <span class="a-table__title--header">
                            Редактировать куратора
                        </span>
                        </div>
                        <div class="a-table__body a-table__body--filter table-body__js">
                            <div class="a-table__wrap--container">
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Имя
                                    </div>
                                    <input v-model="curator.first_name" placeholder="Имя" class="a-input w-369" type="text">
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Фамилия
                                    </div>
                                    <input v-model="curator.last_name" placeholder="Фамилия" class="a-input w-369" type="text">
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Email
                                    </div>
                                    <input v-model="curator.email" placeholder="Email" class="a-input w-369" type="email">
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Телефон
                                    </div>
                                    <masked-input placeholder="Телефон" class="a-input w-369" v-model="curator.phone" mask="\+\7-111-111-11-11" />
                                </div>
                            </div>
                            <div class="a-table__wrap--container">
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Новый пароль
                                    </div>
                                    <input placeholder="Пароль" v-model="password" class="a-input w-369" type="password" autocomplete="off" name="plainPassword">
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Подтверждение пароля
                                    </div>
                                    <input placeholder="Пароль" v-model="successConfirmation" class="a-input w-369" type="password">
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Агенты
                                    </div>
                                    <div class="w-369">
                                        <multiselect
                                                :multiple="true"
                                                :taggable="true"
                                                v-model="curator.agents"
                                                placeholder="Все"
                                                label="name"
                                                track-by="id"
                                                deselectLabel=""
                                                selectLabel=""
                                                selectedLabel=""
                                                :clear-on-select="false"
                                                :options="agents"
                                                :close-on-select="false"
                                                tag-placeholder=""
                                                :searchable="false"
                                        >
                                        </multiselect>
                                    </div>
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Страховые компании
                                    </div>
                                    <div class="w-369">
                                        <div>
                                            <multiselect
                                                    :multiple="true"
                                                    :taggable="true"
                                                    v-model="curator.insurance"
                                                    placeholder="Все"
                                                    label="lable"
                                                    track-by="code"
                                                    deselectLabel=""
                                                    selectLabel=""
                                                    selectedLabel=""
                                                    :clear-on-select="false"
                                                    :options="insurances"
                                                    :close-on-select="false"
                                                    tag-placeholder=""
                                                    :searchable="false"
                                            </multiselect>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-row flex-row__btn">
                                <div class="a-table__field">
                                    <a class="a-btn a-btn__pink" @click="updateCurator"><i class="fas fa-check"></i>Редактировать</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';
import MaskedInput from 'vue-masked-input';
import Multiselect from 'vue-multiselect';


export default {
    components: {
        flatPickr,
        MaskedInput,
        Multiselect
    },
    data: function () {
        return {
            configPicker: {
                allowInput: true,
                dateFormat: "d-m-Y"
            },
            value1: [],
            value2: [],
            curator: {},
            password: '',
            successConfirmation: '',
            insurances: [],
            agents: {},
            selectAgents: []
        }
    },
    mounted() {
        try {
            let self = this;

            (async function getUser() {
                await axios.get('/api/getAllInsurance')
                    .then(function (response) {
                        self.insurances = response.data;
                    });

                await axios.get('/api/agents')
                    .then(function (response) {
                        self.agents = response.data.agents;
                    });

                await axios.get('/api/curators/show/' + self.id)
                    .then(response => {
                        self.curator = response.data;
                    });

                let insurances = [];

                for (let insurance of self.curator.insurance) {

                    let insuranceIndex = _.findIndex(self.insurances, function (item) {

                        return item.name === insurance;
                    });

                    insurances.push({
                        code: insuranceIndex,
                        name: self.insurances[insuranceIndex].name,
                        lable: self.insurances[insuranceIndex].lable
                    });
                }

                let agents = [];

                for (let agent of self.curator.agents) {

                    let agentIndex = _.findIndex(self.agents, function (item) {
                        return item.id === agent.id;
                    });

                    agents.push({
                        id: agent.id,
                        name: agent.name,
                        last_name: agent.last_name,
                    });
                }

                let checkChecked = function (allList, myList) {
                    for (let count = 0; count < allList.length; count++) {
                        myList.forEach(function (currentValue) {
                            if (currentValue.name === allList[count].name) {
                                currentValue['checked'] = true;
                            }
                        });
                    }
                };

                checkChecked(insurances, self.insurances);
                checkChecked(agents, self.agents);

                self.curator.agents = agents;
                self.curator.insurance = insurances;
            })();
        } catch (error) {
            console.log(error);
        }
    },
    props: ['id'],
    methods: {
        resetFilter: function () {
            this.filter = {};
        },
        updateCurator: function () {
            if (this.password === this.successConfirmation || this.password === null) {
                this.$http.patch('/api/curators/update/' + this.id,{
                    'curator': this.curator,
                    'agents': this.curator.agents
                }).then(response => {
                    location.href = response.data.url
                });
            } else {
                console.log('Passwords do not match:(');
            }
        },
        checkChecked: function (allList, myList) {
            allList.forEach(function (currentValue, index) {
                if (currentValue.name ===myList[index]) {
                    currentValue['checked'] = true;
                }
            });
        }

    }
}
</script>

<style scoped>

</style>