<template>
    <div>
        <div class="bets-create curators">
            <div class="a-content__title">
                <span>Кураторы</span>
                <a href="/admin/curators/create" class="a-btn a-btn__pink a-btn__add--bets">Создать нового куратора</a>
            </div>
            <div class="a-table__wrap">
                <div class="a-table__wrap--scroll">
                    <div class="a-table a-table__all">
                        <div class="a-table__header">
                            <div class="table-col table-col__1">Id</div>
                            <div class="table-col">Имя</div>
                            <div class="table-col">Фамилия</div>
                            <div class="table-col">Телефон</div>
                            <div class="table-col">Email</div>
                            <div class="table-col table-col__8">Действия</div>
                        </div>
                        <div class="a-table__body">
                            <div class="a-table__row a-table__row--flex" v-for="curatorsTable in curators">
                                <div class="table-col table-col__1">
                                    <span class="a-table__text--weight">{{ curatorsTable.id}}</span>
                                </div>
                                <div class="table-col">
                                    <span>
                                        {{ curatorsTable.first_name}}
                                    </span>
                                </div>
                                <div class="table-col">
                                    <span class="">{{ curatorsTable.last_name}}</span>
                                </div>
                                <div class="table-col">
                                    <span class="a-table__text--grey">{{ curatorsTable.phone }}</span>
                                </div>
                                <div class="table-col">
                                    <span class="a-table__text--grey">{{ curatorsTable.email}}</span>
                                </div>
                                <div class="table-col table-col__">
                                    <sui-dropdown
                                            class="a-select__input w-170 a-select__do"
                                            placeholder="Действия"
                                            selection
                                            :options="actions"
                                            v-model="filter.actions"
                                            @click="goToEdit(curatorsTable.id)"
                                    ></sui-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>



    export default {
        name: "curators",
        data: function () {
            return {
                actions: [
                    {
                        key:1,
                        text:'Редактирование',
                        value:'1',
                    }
                ],
                filter: {
                    nameLastName: null,
                    city: null,
                    actions: null,
                },
                curators: []
            }
        },
        mounted () {
            this.$http.get('/api/curators/index').then(response => {
                this.curators = response.data;
            });
        },
        methods: {
            goToEdit: function (id) {
                switch (this.filter.actions) {
                    case "1": location.href = '/admin/curators/edit/' + id; break;
                }
            }
        }
    }
</script>