<template>
    <div>
        <div class="bets-create curators-create">
            <div class="a-table__wrap">
                <div class="a-table__wrap--scroll">
                    <div class="a-table a-table__filter">
                        <div class="a-table__header table-header__js">
                        <span class="a-table__title--header">
                            Создать куратора
                        </span>
                        </div>
                        <div class="a-table__body a-table__body--filter table-body__js">
                            <div class="a-table__wrap--container">
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Имя
                                    </div>
                                    <input v-model="filter.name" placeholder="Имя" class="a-input w-369" type="text">
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Фамилия
                                    </div>
                                    <input v-model="filter.lastName" placeholder="Фамилия" class="a-input w-369" type="text">
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Email
                                    </div>
                                    <input v-model="filter.email" placeholder="Email" class="a-input w-369" type="email">
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Телефон
                                    </div>
                                    <masked-input placeholder="Телефон" class="a-input w-369" v-model="filter.phone" mask="\+\7-111-111-11-11" />
                                </div>
                            </div>
                            <div class="a-table__wrap--container">
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Новый пароль
                                    </div>
                                    <input v-model="filter.pass" placeholder="Пароль" class="a-input w-369" type="password">
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Подтверждение пароля
                                    </div>
                                    <input v-model="filter.passSec" placeholder="Пароль" class="a-input w-369" type="password">
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Агенты
                                    </div>
                                    <div class="w-369">
                                        <multiselect
                                                :multiple="true"
                                                :taggable="true"
                                                deselectLabel=""
                                                selectLabel=""
                                                selectedLabel=""
                                                v-model="selectedAgents"
                                                placeholder="Все"
                                                label="name"
                                                track-by="name"
                                                :clear-on-select="false"
                                                :options="agents"
                                                :close-on-select="false"
                                                tag-placeholder=""
                                                :searchable="false"
                                        >
                                        </multiselect>
                                    </div>
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Страховые компании
                                    </div>
                                    <div class="w-369">
                                        <multiselect
                                                :taggable="true"
                                                v-model="selectedInsurances"
                                                placeholder="Все"
                                                label="lable"
                                                track-by="name"
                                                deselectLabel=""
                                                selectLabel=""
                                                selectedLabel=""
                                                :options="insurances"
                                                :close-on-select="false"
                                                :clear-on-select="false"
                                                :multiple="true"
                                                tag-placeholder=""
                                                :searchable="false"
                                        >
                                        </multiselect>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-row flex-row__btn">
                                <div class="a-table__field">
                                    <a class="a-btn a-btn__pink" @click="createCurator()"><i class="fas fa-check"></i>Создать</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import MaskedInput from 'vue-masked-input';
    import Multiselect from 'vue-multiselect'

    export default {
        components: {
            flatPickr,
            MaskedInput,
            Multiselect
        },
        data: function () {
            return {
                configPicker: {
                    allowInput: true,
                    dateFormat: "d-m-Y"
                },
                selectedAgents: [],
                selectedInsurances: [],
                filter: {
                    name: null,
                    LastName: null,
                    pass: null,
                    passSec: null,
                    email: null,
                    phone: null,
                    company: null,
                    agents: null,
                },
                agents: [],
                insurances: []
            }
        },
        created () {
            try {
                let self = this;

                (async function getUser() {
                    await axios.get('/api/getAllInsurance')
                        .then(function (response) {
                            self.insurances = response.data;
                        });

                    await axios.get('/api/agents')
                        .then(function (response) {
                            self.agents = response.data.agents;
                        });
                })();
            } catch (error) {
                console.log(error);
            }
        },
        methods: {
            resetFilter: function () {
                this.filter = {};
            },
            createCurator: function createCurator() {
                axios.post('/api/curators/store', {
                    first_name: this.filter.name,
                    last_name: this.filter.lastName,
                    email: this.filter.email,
                    phone: this.filter.phone,
                    password: this.filter.pass,
                    agents: this.selectedAgents,
                    insurance: this.selectedInsurances
                })
                .then(response => {
                    location.href = response.data.url
                })
            }
        }
    }
</script>

