<template>
    <div>
        <small class="c-field__message u-color-danger u-mb-small" v-if="errors[name]">
            <i class="fa fa-times-circle"></i>{{ getFirstError() }}
        </small>
    </div>
</template>

<script>
	export default {
		props: ['errors', 'name'],
        methods: {
			getFirstError: function () {
                return _.first(this.errors[this.name]);
			}
        }
	}
</script>
