<template>
    <div>
        <div class="bets-create">
            <div class="a-content__title">
                <span>Ставки</span>
                <a href="/admin/rates/create" class="a-btn a-btn__pink a-btn__add--bets">Создать новую ставку</a>
            </div>
            <div class="a-table__wrap">
                <div class="a-table__wrap--scroll">
                    <div class="a-table a-table__filter">
                        <div class="a-table__header table-header__js" v-bind:class="{'body-collaps' : collapsed }" v-on:click=" collapsed = !collapsed">
                        <span class="a-table__title--header">
                            Фильтр
                        </span>
                            <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="a-table__body a-table__body--filter table-body__js" v-bind:class="{'is-collapsed' : collapsed }">
                            <div class="a-table__wrap--container">
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Страховая компания
                                    </div>
                                    <multiselect
                                        :multiple="true"
                                        :taggable="true"
                                        v-model="filter.insurances"
                                        placeholder="Все"
                                        deselectLabel=""
                                        selectLabel=""
                                        selectedLabel=""
                                        label="name"
                                        track-by="name"
                                        :clear-on-select="false"
                                        :options="insurances"
                                        :close-on-select="false"
                                        tag-placeholder=""
                                        :searchable="false"
                                    >
                                    </multiselect>
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Город
                                    </div>
                                    <div class="w-419">
                                        <multiselect
                                            :multiple="true"
                                            :taggable="true"
                                            v-model="filter.cities"
                                            placeholder="Выберите город"
                                            label="name"
                                            track-by="name"
                                            deselectLabel=""
                                            selectLabel=""
                                            selectedLabel=""
                                            :clear-on-select="false"
                                            :options="cities"
                                            :close-on-select="false"
                                            tag-placeholder=""
                                            :searchable="false"
                                        >
                                        </multiselect>
                                    </div>
                                </div>
                                <div class="a-table__field">
                                    <a
                                        class="a-btn a-btn__pink"
                                        v-on:click="filtered()"
                                    ><i class="fas fa-check"></i>Применить</a>
                                </div>
                                <div class="a-table__field">
                                    <a class="a-btn a-btn__filter" @click="resetFilter()"><i class="far fa-trash-alt" ></i>Сбросить фильтр</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="a-table__wrap" v-if="ratesDefault.length > 0">
                <div class="a-table__wrap--scroll">
                    <div class="a-table__title">
                        Ставки по умолчанию
                    </div>
                    <div class="a-table a-table__all">
                        <div class="a-table__header">
                            <div class="table-col table-col__1">Id</div>
                            <div class="table-col">Страховая
                                компания</div>
                            <div class="table-col">Город</div>
                            <div class="table-col">От</div>
                            <div class="table-col">До</div>
                            <div class="table-col">Тип</div>
                            <div class="table-col">Значение</div>
                            <div class="table-col table-col__8"></div>
                        </div>
                        <div class="a-table__body">
                            <div
                                class="a-table__row a-table__row--flex"
                                v-for="rate in ratesDefault"
                            >
                                <div class="table-col table-col__1">
                                    <span class="a-table__text--weight">{{  rate.id }}</span>
                                </div>
                                <div class="table-col">
                                    <span class="wrap-img">
                                        <img
                                            v-tooltip="{ html: 'tooltipContent' }"
                                            :src="'/img/'+rate.insurance+'_avatar.jpg'"
                                            alt="avatar"
                                        >
                                    </span>
                                </div>
                                <div class="table-col">
                                    <span class="">{{ rate.cityName }}</span>
                                </div>
                                <div class="table-col">
                                    <span class="">{{ rate.from }}</span>
                                </div>
                                <div class="table-col">
                                    <span class="">{{ rate.to }}</span>
                                </div>
                                <div class="table-col">
                                    <span class="">{{ getTypeName(rate.type) }}</span>
                                </div>
                                <div class="table-col">
                                    <span class="">{{ rate.value }}</span>
                                </div>
                                <div class="table-col table-col__8">
                                    <sui-dropdown
                                        class="a-select__input w-170 a-select__do"
                                        placeholder="Действия"
                                        selection
                                        :options="actions"
                                        v-model="filter.actions"
                                    >
                                        <sui-dropdown-menu>
                                            <sui-dropdown-item>
                                                <a :href="'/admin/rates/edit/'+rate.id">Редактировать</a>
                                            </sui-dropdown-item>
                                        </sui-dropdown-menu>
                                    </sui-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="a-table__wrap" v-if="rates.length > 0">
                <div class="a-table__wrap--scroll">
                    <div class="a-table__title">
                        Индивидуальные ставки
                    </div>
                    <div class="a-table a-table__all">
                        <div class="a-table__header">
                            <div class="table-col table-col__1">Id</div>
                            <div class="table-col">Страховая
                                компания</div>
                            <div class="table-col">Город</div>
                            <div class="table-col">От</div>
                            <div class="table-col">До</div>
                            <div class="table-col">Тип</div>
                            <div class="table-col">Значение</div>
                            <div class="table-col table-col__8"></div>
                        </div>
                        <div class="a-table__body">
                            <div
                                class="a-table__row a-table__row--flex"
                                v-for="rate in rates"
                            >
                                <div class="table-col table-col__1">
                                    <span class="a-table__text--weight">{{  rate.id }}</span>
                                </div>
                                <div class="table-col">
                                    <span class="wrap-img">
                                        <img
                                            v-tooltip="getInsuranceName(rate.insurance)"
                                            :src="'/img/'+rate.insurance+'_avatar.jpg'"
                                            alt="avatar"
                                        >
                                    </span>
                                </div>
                                <div class="table-col">
                                    <span class="">{{ rate.cityName }}</span>
                                </div>
                                <div class="table-col">
                                    <span class="">{{ rate.from }}</span>
                                </div>
                                <div class="table-col">
                                    <span class="">{{ rate.to }}</span>
                                </div>
                                <div class="table-col">
                                    <span class="">{{ getTypeName(rate.type) }}</span>
                                </div>
                                <div class="table-col">
                                    <span class="">{{ rate.value }}</span>
                                </div>
                                <div class="table-col table-col__8">
                                    <sui-dropdown
                                        class="a-select__input w-170 a-select__do"
                                        placeholder="Действия"
                                        selection
                                        :options="actions"
                                        v-model="filter.actions"
                                    >
                                        <sui-dropdown-menu>
                                            <sui-dropdown-item>
                                                <a :href="'/admin/rates/edit/'+rate.id">Редактировать</a>
                                            </sui-dropdown-item>
                                        </sui-dropdown-menu>
                                    </sui-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>

    import Vue from 'vue';
    import Multiselect from 'vue-multiselect';

    export default {
        name: "bets",
        components: {
            Multiselect
        },
        data: function () {
            return {
                rates: {},
                ratesDefault: {},
                insurances: [],
                cities: {},
                types: [],
                collapsed: false,
                actions: [
                    {
                        key:1,
                        text:'Действие 1',
                        value:'1'
                    },
                    {
                        key:2,
                        text:'Действие 2',
                        value:'2'
                    }
                ],
                filter: {
                    nameLastName: null,
                    city: null,
                    actions: null,
                    insurances: null,
                    cities: [],
                },
            }
        },
        methods: {
            getTypeName: function(type) {
                return this.types[type];
            },
            filtered(page = 1) {
                Vue.http.headers.common['X-CSRF-TOKEN'] = document.querySelector('[name="csrf-token"]').getAttribute('content');

                var getDataUrl = document.querySelector('#rates-load-route').getAttribute('data-rates-route');

                axios.post(getDataUrl, this.filter).then(response => {
                    this.loadData(response);
                });
            },
            loadData: function (response) {
                this.rates = response.data.rates;
                this.ratesDefault = response.data.ratesDefault;
                this.insurances = response.data.insurances;
                this.cities = response.data.cities;
                this.types = response.data.types;
            },
            resetFilter: function () {
                this.filter = {};
                this.filtered();
            },
            getInsuranceName: function (insurance) {
                for (let insuranceItem of this.insurances) {
                    if (insuranceItem.code === insurance) {
                        return insuranceItem.name;
                    }
                }

                return null;
            }
        },
        created: function () {
            this.filtered();
        },
    }
</script>
