<template>
    <div>
        <div class="bets-create bets-update">
            <div class="a-table__wrap">
                <div class="a-table__wrap--scroll">
                    <div class="a-table a-table__filter">
                        <div class="a-table__header table-header__js">
                        <span class="a-table__title--header">
                            Редактировать ставку
                        </span>
                        </div>
                        <div class="a-table__body a-table__body--filter table-body__js">
                            <div class="a-table__wrap--container">
                                <div
                                    class="a-table__field"
                                    v-if="rateType == 'rate'"
                                >
                                    <div class="a-field__label">
                                        От
                                    </div>
                                    <input
                                        v-model="filter.from = rate.from"
                                        placeholder="От"
                                        class="a-input w-140"
                                        type="number"
                                    >
                                    <span v-if="!success && allerros.from" :class="['label label-danger']">{{ allerros.from[0] }}</span>
                                </div>
                                <div
                                    class="a-table__field"
                                    v-if="rateType == 'rate'"
                                >
                                    <div class="a-field__label label-last">
                                        До
                                    </div>
                                    <input
                                        v-model="filter.to = rate.to"
                                        placeholder="До"
                                        class="a-input w-140"
                                        type="number"
                                    >
                                    <span v-if="!success && allerros.to" :class="['label label-danger']">{{ allerros.to[0] }}</span>
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Тип
                                    </div>
                                    <sui-dropdown
                                        class="a-select__input w-140 a-select__do"
                                        placeholder="Тип"
                                        selection
                                        :options="types"
                                        v-model="filter.type = rate.type"
                                    ></sui-dropdown>
                                    <span v-if="!success && allerros.type" :class="['label label-danger']">{{ allerros.type[0] }}</span>
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Значение
                                    </div>
                                    <input
                                        v-model="filter.value = rate.value"
                                        placeholder="Значение"
                                        class="a-input w-266"
                                        type="number"
                                    >
                                    <span v-if="!success && allerros.value" :class="['label label-danger']">{{ allerros.value[0] }}</span>
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Страховые компании
                                    </div>
                                    <sui-dropdown
                                        class="a-select__input w-369"
                                        placeholder="Выберите страховую"
                                        selection
                                        :options="insurances"
                                        v-model="filter.insurance = rate.insurance"
                                    ></sui-dropdown>
                                    <span v-if="!success && allerros.insurance" :class="['label label-danger']">{{ allerros.insurance[0] }}</span>
                                </div>
                                <div
                                    class="a-table__field"
                                    v-if="filter.agents.length == 0"
                                >
                                    <div class="a-field__label">
                                        Город
                                    </div>
                                    <div
                                        class="col-md-1 col-sm-1"
                                        style="padding-left: 0px;"
                                    >
                                        <VueSuggestions
                                            :model.sync="address = city"
                                            placeholder="Выберите город"
                                            class="a-input w-266 relac-input relac-input-max"
                                            :options="suggestionOptions"
                                        >
                                        </VueSuggestions>
                                    </div>

                                    <span v-if="!success && allerros.city" :class="['label label-danger']">{{ allerros.city[0] }}</span>
                                </div>

                            </div>
                            <div class="a-table__wrap--container">
                                <div
                                        class="a-table__field"
                                        v-if="!filter.city_id && rateType == 'rate'"
                                >
                                    <div class="a-field__label">
                                        Агенты
                                    </div>
                                    <div class="w-266">
                                        <multiselect
                                                :multiple="true"
                                                :taggable="true"
                                                v-model="filter.agents"
                                                placeholder="Все"
                                                label="name"
                                                track-by="name"
                                                :clear-on-select="false"
                                                :options="agents"
                                                deselectLabel=""
                                                selectLabel=""
                                                selectedLabel=""
                                                :close-on-select="false"
                                                tag-placeholder=""
                                                :searchable="false"
                                        >
                                        </multiselect>
                                    </div>
                                </div>
                                <div class="a-table__field">
                                    <a
                                            class="a-btn a-btn__pink"
                                            v-on:click="onUpdate()"
                                    ><i class="fas fa-check"></i>Сохранить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    import Vue from 'vue';
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import Multiselect from 'vue-multiselect';
    import VueSuggestions from 'vue-suggestions';

    export default {
        name: "bets-update",
        components: {
            flatPickr,
            Multiselect,
            VueSuggestions,
        },
        props: {
            url: {
                type: String,
                default: ''
            }
        },
        data: function () {
            let vm = this;
            return {
                rate: {},
                insurances: [],
                cities: [],
                types: [],
                agents: [],
                updateUrl: null,
                allerros: {},
                success: true,
                rateType: 'rate',
                city: {},
                filter: {
                    from: null,
                    to: null,
                    type: null,
                    value: 0,
                    city_id: null,
                    address: null,
                    insurance: null,
                    agents: [],

                    rate_type: 'rate',
                },
                address: null,
                suggestionOptions: {
                    token: '20131cc64a9d46aa2ea1d9437478bfcb1c1c66dc',
                    type: "ADDRESS",
                    scrollOnFocus: false,
                    triggerSelectOnBlur: false,
                    triggerSelectOnEnter: false,
                    addon: 'none',
                    onSelect (suggestion) {
                        vm.filter.city_id = suggestion.data.kladr_id;
                        vm.filter.address = suggestion.value;
                    }
                },
            }
        },
        methods: {
            loadData() {
                Vue.http.headers.common['X-CSRF-TOKEN'] = document.querySelector('[name="csrf-token"]').getAttribute('content');

                axios.post(this.url, this.filter).then(response => {
                    this.insurances = response.data.insurances;
                    this.cities = response.data.cities;
                    this.types = response.data.types;
                    this.agents = response.data.agents;
                    this.updateUrl = response.data.updateUrl;

                    this.rate = response.data.rate;
                    this.city = response.data.city;
                });
            },
            onUpdate: function() {
                Vue.http.headers.common['X-CSRF-TOKEN'] = document.querySelector('[name="csrf-token"]').getAttribute('content');

                axios.post(this.updateUrl, this.filter).then(response => {
                    this.allerros = {};

                    window.location.href = '/admin/rates';
                }).catch((error) => {
                    this.allerros = error.response.data.errors;
                    this.success = false;
                });
            },
            addTag (newTag) {
                console.log(newTag);
                const tag = {
                    name: newTag,
                    code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                };
                // this.options.push(tag)
                this.value.push(tag)
            }
        },
        created: function () {
            this.loadData();

            //this.rateType = document.querySelector('#rates-update-route').getAttribute('data-rate-type');
        }
    }
</script>

