<template>
    <div class="home-container chat-support__body">
        <div>
            <a :href="backUrl" class="c-btn s-btn__black a-btn">назад</a>
            <h3>{{chat.titleQuestions}}</h3>
            <div class="table-chat">
                <div class="chat-head">
                    <span>{{chat.numberOfMessages}} сообщений</span>
                </div>
                <div class="chat-body">
                    <div class="chat-viewport"  >
                        <div v-for="message in chat.messages" class="message message-you" v-bind:class="{'messageSomeone': message.messageSomeone}">
                            <a class="user-avatar" href="#">
                                <div class="img-holder">
                                    <img :src="message.userAvatar" :alt="message.userName">
                                </div>
                            </a>
                            <div class="wrapper-message">
                                <div class="wrapper-name__date">
                                    <a class="name-user__message">
                                        {{message.userName}}
                                    </a>
                                    <span class="date-send__message">{{message.date}}</span>
                                </div>
                                <div class="content-message">
                                    {{message.messageText}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-send__message">
                        <textarea type="text" class="c-input send-message__input" placeholder="Введите сообщение" v-model="message"></textarea>
                        <div class="wrap-btn__file">
                            <div class="input-file">
                                <input name="files[]" id="real-input" ref="myFiles" class="inputfile" type="file" multiple>
                                <button class="browse-btn">
                                    Прикрепить файлы
                                </button>
                            </div>
                            <button class="c-btn c-btn--success a-btn a-btn__green" @click="sendMessage()">Отправить</button>
                        </div>
                    </div>
                </div>
            </div>
            <a :href="backUrl" class="c-btn s-btn__black a-btn">назад</a>
        </div>
    </div>
</template>

<script>

    import axios from 'axios'

    export default {
        components: {
        },
        props: {
            backUrl: {
                type: String,
                default: ''
            },
            apiSendUrl: {
                type: String,
                default: ''
            },
            apiUrl: {
                type: String,
                default: ''
            },
        },
        data: function () {
            return {
                message: '',
                chat: {
                    titleQuestions: '',
                    numberOfMessages: 0,
                    messages: [],
                }
            };
        },
        methods: {
            sendMessage: function() {
                if(this.message) {
                    axios.post(this.apiSendUrl, {message: this.message}).then(response => {
                        this.chat = response.data.chat;
                        this.message = '';

                        setTimeout(function () {
                            document.querySelector('.chat-viewport').scrollTo(document.querySelector('.message').offsetTop, 6000);
                        }, 500);
                    });
                }
            },
            loadData: function() {
                axios.post(this.apiUrl).then(response => {
                    this.chat = response.data.chat;

                    setTimeout(function () {
                        document.querySelector('.chat-viewport').scrollTo(document.querySelector('.message').offsetTop, 6000);
                    }, 500);
                });
            }
        },
        mounted() {
            this.loadData();
        }

    }
</script>

