<template>
    <div class="home-container support-body">
        <div>
            <div id="modal-new__message" class="modal-new__message modal-js__trans modal-js">
                <div class="btn-close__modal"></div>
                <div class="message-title">
                    Создать новое обращение
                </div>
                <div class="modal-new__row">
                    <div class="title-input">
                        Тема
                    </div>
                    <input v-model="newChat.subject" type="text" class="c-input c-input__new" placeholder="Введите название">
                </div>
                <div class="modal-new__row textarea">
                    <div class="title-input">
                        Комментарий
                    </div>
                    <textarea v-model="newChat.message"  class="c-input c-input__new" placeholder="Введите текст"></textarea>
                </div>
                <div class="modal-new__row--file">
                    <span></span>
                    <button class="browse-btn">
                            Прикрепить файлы
                        </button>
                </div>
                <button class="c-btn c-btn--success" @click="createNewChat()">Отправить</button>
            </div>
            <div v-if="isAdmin"  class="a-content__title">Обращения</div>
            <div v-else class="wrap-top__title">
                <h3 >Тех. Поддержка</h3>
                <button data-modal="modal-new__message" class="c-btn c-btn__pink add-sub js-modal__check">создать Новое обращение</button>
            </div>

            <div class="wrap-pagination">
                <div class="sort-polices">
                    <span class="sort-polices__text">Показать</span>
                    <div class="wrap-input__sort">
                        <input class="number-sort c-input"  type="number" v-model="perPage" v-on:keypress.enter="getResults()">
                        <div class="btn-add__count">
                            <i class="fas fa-caret-up" v-on:click="perPage += 10"></i>
                            <i class="fas fa-caret-down" v-on:click="perPage > 0 ? perPage -= 10 : perPage = 0"></i>
                        </div>
                    </div>

                    <span class="sort-polices__text">{{ fromItems }}-{{ toItems }}</span><span class="sort-polices__text">из</span> <span class="sort-polices__text">{{ totalItems }}</span>
                </div>
                <pagination
                        :data="collection.chats"
                        :show-disabled="true"
                        :limit="1"
                        @pagination-change-page="getResults"
                >
                    <span slot="prev-nav"><i class="fas fa-caret-left"></i></span>
                    <span slot="next-nav"><i class="fas fa-caret-right"></i></span>
                </pagination>
            </div>

            <div class="support-table">
                <div class="support-table__head">
                    <div class="support-col support-col__1">№</div>
                    <div v-if="isAdmin" class="support-col support-col__7">Имя</div>
                    <div class="support-col support-col__2">Тема обращения</div>
                    <div class="support-col support-col__3">Сообщения</div>
                    <div class="support-col support-col__4">Дата и время</div>
                    <div v-if="isAdmin" class="support-col support-col__5">Статус</div>
                    <div v-if="isAdmin" class="support-col support-col__6">Действие</div>
                </div>

                <div class="support-table__body">
                    <a v-for="item in collection.chats.data" @click.prevent="openChat(item)" class="support-row" >
                        <div class="support-col support-col__1 bold">{{ item.id }}</div>
                        <div v-if="isAdmin" class="support-col support-col__user support-col__7 bold">{{ item.name }}</div>
                        <div class="support-col support-col__2">{{ item.subject }}</div>
                        <div class="support-col support-col__3">
                            <span class="mess-img" :data-mess="'+' + item.unread" v-bind:class="{'isHaveMess': item.unread}">
                            </span>
                        </div>
                        <div class="support-col support-col__4 supp-grey support-col__dt">{{item.dt}}</div>
                        <div v-if="isAdmin" class="support-col support-col__5">
                            <div class="c-select printTypeDiv drop-icon">
                                <sui-dropdown
                                        :class="{'a-select__actions': true, 'status-done': item.status === 3,'status-progress':item.status === 2,'status-new':item.status === 1}"
                                        placeholder="Действия"
                                        selection
                                        :options="collection.statuses"
                                        @click.prevent="changeStatus(item)"
                                        v-model="item.status"
                                >
                                </sui-dropdown>
                            </div>
                        </div>
                        <div v-if="isAdmin" class="support-col support-col__6">
                            <sui-dropdown
                                    class="a-select__input a-select__do"
                                    placeholder="Действия"
                                    selection
                            >
                                <sui-dropdown-menu>
                                    <sui-dropdown-item>
                                        <a :href="item.url">Просмотреть</a>
                                    </sui-dropdown-item>
                                </sui-dropdown-menu>
                            </sui-dropdown>
                        </div>
                    </a>
                </div>
            </div>

            <div class="wrap-pagination">
                <div class="sort-polices">
                    <span class="sort-polices__text">Показать</span>
                    <div class="wrap-input__sort">
                        <input class="number-sort c-input"  type="number" v-model="perPage" v-on:keypress.enter="getResults()">
                        <div class="btn-add__count">
                            <i class="fas fa-caret-up" v-on:click="perPage += 10"></i>
                            <i class="fas fa-caret-down" v-on:click="perPage > 0 ? perPage -= 10 : perPage = 0"></i>
                        </div>
                    </div>

                    <span class="sort-polices__text">{{ fromItems }}-{{ toItems }}</span> <span class="sort-polices__text">из</span> <span class="sort-polices__text">{{ totalItems }}</span>
                </div>
                <pagination
                        :data="collection.chats"
                        :show-disabled="true"
                        :limit="1"
                        @pagination-change-page="getResults"
                >
                    <span slot="prev-nav"><i class="fas fa-caret-left"></i></span>
                    <span slot="next-nav"><i class="fas fa-caret-right"></i></span>
                </pagination>
            </div>
        </div>
    </div>
</template>

<script>

    import axios from 'axios'
    import flatPickr from 'vue-flatpickr-component';
    import pagination from 'laravel-vue-pagination';
    import 'flatpickr/dist/flatpickr.css';
    import Multiselect from 'vue-multiselect';

    export default {
        components: {
            flatPickr,
            Multiselect,
            pagination
        },
        props: {
            apiCreateUrl: {
                type: String,
                default: ''
            },
            apiStatusUrl: {
                type: String,
                default: ''
            },
            apiUrl: {
                type: String,
                default: ''
            },
            isAdmin: {
                type: Boolean,
                default: false
            },
        },
        data: function () {
            return {
                newChat: {
                    subject: '',
                    message: ''
                },
                collection: {
                    chats: {},
                    statuses: [],
                },
                status: 1,
                totalItems: 0,
                fromItems: 0,
                toItems: 0,
                perPage: 10,
            };
        },
        watch: {
            perPage: function() {
                if(this.perPage > 500) {
                    this.perPage = 500;
                }
            }
        },
        methods: {
            createNewChat: function() {
                if(this.newChat.subject && this.newChat.message) {
                    axios.post(this.apiCreateUrl, this.newChat).then(response => {
                        if (response.data.redirect) {
                            window.location = response.data.redirect;
                        }
                    });
                }
            },
            openChat: function(item) {
                window.location=item.url;
            },
            getResults: function (page = 1) {
                if(this.perPage > 0) {
                    this.loadData(page);
                }
            },
            changeStatus: function(item) {
                axios.post(this.apiStatusUrl+'/'+item.id, {status: item.status}).then(response => {
                    //this.collection = response.data;
                });
            },
            loadData: function(page = 1) {
                axios.post(this.apiUrl+'?page='+page, {perPage: this.perPage}).then(response => {
                    this.collection = response.data;

                    if(this.collection.chats.data.length) {
                        this.totalItems = response.data.chats.total;
                        this.fromItems = response.data.chats.from;
                        this.toItems = response.data.chats.to;
                    }
                });
            }
        },
        mounted() {
            this.loadData();
        }
    }
</script>
