<template>
    <div>
        <div class="home-container body-statistic">
            <div class="row">
                <div class="col-md-12">
                    <div class="c-content">
                        <h3 class="c-content__h3">Статистика</h3>
                    </div>
                    <div class="statistics-table__filter">
                        <h4 class="c-card__statistics--thead">Фильтр</h4>
                        <div class="c-card__statistics--tbody">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col col-mnw">
                                        <div class="c-field">
                                            <label class="c-field__label">Страховая компания</label>
                                            <div class="c-select">
                                                <sui-dropdown
                                                        class="c-select__input"
                                                        placeholder="Все"
                                                        v-model="filter.insurance"
                                                        selection
                                                        search
                                                        :options="insurances"
                                                ></sui-dropdown>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col col-mnw" v-if="user.is_opportunity_sub_agent === 1">
                                        <div class="c-field">
                                            <label class="c-field__label">Субагенты</label>

                                            <div class="c-select ">
                                                <sui-dropdown
                                                        class="c-select__input"
                                                        placeholder="Все"
                                                        v-model="filter.agents"
                                                        selection
                                                        search
                                                        :options="subagents"
                                                ></sui-dropdown>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col col-mnw">
                                        <label class="c-field__label">Период</label>
                                        <div class="c-select">
                                            <el-date-picker
                                                    v-model="filter.date"
                                                    type="daterange"
                                                    class="c-select__input"
                                                    align="center"
                                                    unlink-panels
                                                    range-separator="—"
                                                    start-placeholder="Начало"
                                                    end-placeholder="Конец"
                                                    :picker-options="pickerOptions2">
                                            </el-date-picker>
                                        </div>
                                    </div>
                                    <div class="col col-mnw">
                                        <div class="c-field">
                                            <label class="c-field__label ">Номер полиса</label>

                                            <div class="c-select ">
                                                <input
                                                        v-model="filter.number"
                                                        class="c-input c-select__input"
                                                        placeholder="ХХХХХХХХХ"
                                                        maxlength="4"
                                                >
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col col-mnw">
                                        <div class="c-field">
                                            <label class="c-field__label">Статус полиса</label>

                                            <div class="c-select">
                                                <sui-dropdown
                                                        class="c-select__input"
                                                        placeholder="Оплачен"
                                                        v-model="filter.statuses"
                                                        selection
                                                        search
                                                        :options="statuses"
                                                ></sui-dropdown>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col col-mnw">
                                        <div class="c-field">
                                            <label class="c-field__label">Населенный пункт</label>

                                            <div class="c-select">
                                                <sui-dropdown
                                                        class="c-select__input"
                                                        placeholder="Все"
                                                        v-model="filter.city"
                                                        selection
                                                        search
                                                        :options="cities"
                                                ></sui-dropdown>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="c-card__statistics--rowf">
                                    <div class="c-card__statistics--reproduce">
                                        <div class="reproduce">Отображать</div>
                                        <a href="#" class="filters filters-line" @click.prevent="setView('row')">
                                            <i class="fas fa-list-ul" :class="{filter_active:activeView === 'row'}"></i>
                                        </a>
                                        <a href="#" class="filters filters-coube" @click.prevent="setView('grid')">
                                            <i class="fas fa-th-large" :class="{filter_active:activeView === 'grid'}"></i>
                                        </a>
                                    </div>
                                    <div class="c-card__statistics--btns">
                                        <a class="c-btn c-btn--secondary c-btn--statistic" @click="resetFilter()">Сбросить фильтр</a>
                                        <a class="c-btn c-btn__pink " @click="filtered()"><i class="fas fa-check"></i>Применить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="statistics-table__statistics" v-if="activeView === 'row'">
                        <div class="c-card__statistics--thead">
                            <div class="row align-items-center">
                                <div class="col-md-1 offset-md-3"><span v-if="user.is_opportunity_sub_agent === 1">Количество субагентов</span></div>
                                <div class="col">Количество оформленных полисов</div>
                                <div class="col">Сумма страховых премий по оформленным полисам</div>
                                <div class="col">Средняя цена одного полисa</div>
                                <div class="col" v-if="user.is_opportunity_sub_agent === 1">Доход субагента</div>
                                <div class="col">Мой доход</div>
                            </div>
                        </div>
                        <div class="c-card__statistics--tbody">
                            <div class="container">
                                <div class="wrap-row">
                                    <div
                                        class="row c-card__statistics__row statistic-first__row"
                                        v-if="statistics && statistics.total"
                                    >
                                        <div class="col-md-3">Всего</div>
                                        <div class="col-md-1" v-if="user.is_opportunity_sub_agent === 1">{{ statistics.total.countSubAgents }}</div>
                                        <div class="col">{{ statistics && statistics.total ?  statistics.total.count_success_policies : '' }}</div>
                                        <div class="col">{{ statistics &&  statistics.total ? statistics.total.sum_success_policies_premium : '0.00' }} р.</div>
                                        <div class="col">{{ statistics.total.avg_policies_premium }} р.</div>
                                        <div class="col" v-if="user.is_opportunity_sub_agent === 1">{{ statistics.total.income }} р.</div>
                                        <div class="col">{{ statistics.total.my_income }} р.</div>
                                    </div>
                                </div>


                                <div class="wrap-row" v-if="user.is_opportunity_sub_agent === 1">
                                    <div
                                        class="row c-card__statistics__row statistic-your__row"
                                        v-if="user"
                                    >
                                        <div class="col-md-3">Вы</div>
                                        <div class="col-md-1">{{ user.countSubAgents }}</div>
                                        <div class="col">{{ user ? user.count_success_policies : '' }}</div>
                                        <div class="col">{{ user ? user.sum_success_policies_premium : '0.00' }} р.</div>
                                        <div class="col">{{ user.avg_policies_premium }} р.</div>
                                        <div class="col"></div>
                                        <div class="col">{{ user.my_income }} р.</div>
                                    </div>
                                </div>

                                <div class="wrap-row" v-for="subAgent in statistics.subAgents" v-if="user.is_opportunity_sub_agent === 1">
                                    <div
                                        class="row c-card__statistics__row"
                                        v-if="subAgent"
                                    >
                                        <div class="col-md-3">{{ subAgent.name }} {{ subAgent.last_name }}</div>
                                        <div class="col-md-1">{{ subAgent.countSubAgents }}</div>
                                        <div class="col">{{ subAgent ? subAgent.count_success_policies : '' }}</div>
                                        <div class="col">{{ subAgent ? subAgent.sum_success_policies_premium : '0.00' }} р.</div>
                                        <div class="col">{{ subAgent.avg_policies_premium }} р.</div>
                                        <div class="col">{{ subAgent.income }} р.</div>
                                        <div class="col">{{ subAgent.my_income }} р.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" v-if="activeView === 'grid'">
                <div class="col-12">
                    <div class="statistic-flex__filter">
                        <div class="item item-all">
                            <h3 class="statistic-h3__filter">Всего</h3>
                            <div class="statistic-row__flex row" v-if="statistics && statistics.total && user.is_opportunity_sub_agent === 1">
                                <div class="col-8">Количесвто субагентов</div>
                                <div class="col-4"><span class="bold">{{ statistics.total.countSubAgents }}</span></div>
                            </div>
                            <div class="statistic-row__flex row">
                                <div class="col-8">Количество
                                    оформленных полисов</div>
                                <div class="col-4"><span class="bold">{{ statistics && statistics.total ? statistics.total.count_success_policies : '' }}</span></div>
                            </div>
                            <div class="statistic-row__flex row">
                                <div class="col-8">Сумма страховых премий
                                    по оформленным полисам</div>
                                <div class="col-4"><span class="bold">{{ statistics && statistics.total ? statistics.total.sum_success_policies_premium : '' }}</span></div>
                            </div>
                            <div class="statistic-row__flex row">
                                <div class="col-8">Средняя цена одного полис</div>
                                <div class="col-4"><span class="bold">{{ statistics.total.avg_policies_premium }}</span></div>
                            </div>
                            <div class="statistic-row__flex row" v-if="user.is_opportunity_sub_agent === 1">
                                <div class="col-8">Доход субагента</div>
                                <div class="col-4"><span class="bold">{{ statistics.total.income }}</span></div>
                            </div>
                            <div class="statistic-row__flex row">
                                <div class="col-8">Мой доход</div>
                                <div class="col-4"><span class="bold">{{ statistics.total.my_income }} р.</span></div>
                            </div>
                        </div>

                        <div class="item item-you" v-if="user && user.is_opportunity_sub_agent === 1">
                            <h3 class="statistic-h3__filter">Вы</h3>
                            <div class="statistic-row__flex row">
                                <div class="col-8">Количесвто субагентов</div>
                                <div class="col-4"><span class="bold">{{ user.countSubAgents }}</span></div>
                            </div>
                            <div class="statistic-row__flex row">
                                <div class="col-8">Количество
                                    оформленных полисов</div>
                                <div class="col-4"><span class="bold">{{ user ? user.count_success_policies : '' }}</span></div>
                            </div>
                            <div class="statistic-row__flex row">
                                <div class="col-8">Сумма страховых премий
                                    по оформленным полисам</div>
                                <div class="col-4"><span class="bold">{{ user ? user.sum_success_policies_premium : '' }}</span></div>
                            </div>
                            <div class="statistic-row__flex row">
                                <div class="col-8">Средняя цена одного полис</div>
                                <div class="col-4"><span class="bold">{{ user.avg_policies_premium }}</span></div>
                            </div>
                            <div class="statistic-row__flex row">
                                <div class="col-8">Доход субагента</div>
                                <div class="col-4"><span class="bold"></span></div>
                            </div>
                            <div class="statistic-row__flex row">
                                <div class="col-8">Мой доход</div>
                                <div class="col-4"><span class="bold">{{ user.income }} р.</span></div>
                            </div>
                        </div>

                        <div
                            class="item item-sub" v-for="subAgent in statistics.subAgents"
                            v-if="subAgent && user.is_opportunity_sub_agent === 1"
                        >
                            <h3 class="statistic-h3__filter statistic-h3__sub">{{ subAgent.name }} {{ subAgent.last_name }}</h3>
                            <div class="statistic-row__flex row">
                                <div class="col-8">Количесвто субагентов</div>
                                <div class="col-4"><span class="bold">{{ subAgent.countSubAgents }}</span></div>
                            </div>
                            <div class="statistic-row__flex row">
                                <div class="col-8">Количество
                                    оформленных полисов</div>
                                <div class="col-4"><span class="bold">{{ subAgent ? subAgent.count_success_policies : '' }}</span></div>
                            </div>
                            <div class="statistic-row__flex row">
                                <div class="col-8">Сумма страховых премий
                                    по оформленным полисам</div>
                                <div class="col-4"><span class="bold">{{ subAgent ? subAgent.sum_success_policies_premium : '0.00' }} р.</span></div>
                            </div>
                            <div class="statistic-row__flex row">
                                <div class="col-8">Средняя цена одного полис</div>
                                <div class="col-4"><span class="bold">{{ subAgent ? subAgent.avg_policies_premium : '0.00' }} р.</span></div>
                            </div>
                            <div class="statistic-row__flex row">
                                <div class="col-8">Доход субагента</div>
                                <div class="col-4"><span class="bold">{{ subAgent.income }} р.</span></div>
                            </div>
                            <div class="statistic-row__flex row">
                                <div class="col-8">Мой доход</div>
                                <div class="col-4"><span class="bold">{{ subAgent.my_income }} р.</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a :href="url_params" class="c-btn c-btn--success u-mt-medium btn-export__exel" v-if="user"><i class="far fa-file-excel"></i>Экспорт в excel</a>

        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import moment from 'moment';
    import axios from 'axios';

    Vue.config.devtools = true;
    Vue.config.debug = true;


    export default {
        components: {
            flatPickr,
        },
        data: function () {
            return {
                pickerOptions2: {
                    shortcuts: [{
                        text: 'Сегодня',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime());
                            picker.$emit('pick', [start, end]);
                        }
                    },{
                        text: 'Вчера',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 );
                            picker.$emit('pick', [start, end]);
                        }
                    },
                        {
                        text: '7 дней',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '30 дней',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                statuses: [],
                subagents: [],
                insurances: [],
                filters: {},
                sorts: {},
                date: {
                    from: null,
                    to: null,
                },
                configPicker: {
                    altFormat: "d-m-Y",
                    altInput: true
                },
                activeView: 'row',
                filter: {
                    city: null,
                    sortDate: null,
                    insurance: null,
                    agents: null,
                    statuses: null,
                    from: null,
                    to: null,
                    date: null,
                    number: null,
                },
                statistics: {
                    totals: {},
                    subAgents: [],
                },
                cities: [],
                user: {},
                totals: {},
                url_params: '',
            };
        },
        filters: {
            formatDate(value) {
                if (value) {
                    return moment(String(value)).format('DD-MM-YYYY');
                }
            },
            formatTime(value) {
                if (value) {
                    return moment(String(value)).format('hh:mm:ss');
                }
            },
            dateMask() {
                new Inputmask("99-99-9999");
            },
        },
        methods: {
            setFilters() {
                this.filters.insurance = document.querySelector('.policy-insurances').value;
                this.filters.statuses = document.querySelector('.policy-statuses').value;
                this.filters.agents = document.querySelector('.policy-subagents').value;
                this.filters.from = document.querySelector('[name="from"]').value;
                this.filters.to = document.querySelector('[name="to"]').value;
            },
            filtered() {
                this.apiUrl = document.querySelector('.vue-component').getAttribute('data-url');
                Vue.http.headers.common['X-CSRF-TOKEN'] = document.querySelector('[name="csrf-token"]').getAttribute('content');

                if(this.filter.date.length) {
                    this.filter.from = this.filter.date[0];
                    this.filter.to = this.filter.date[1];
                }

                axios.post(this.apiUrl, this.filter).then(response => {
                    this.loadData(response);
                });
            },
            sortable() {
                this.setFilters();
            },
            resetFilter() {
                this.filter = {};

                axios.post(this.apiUrl, this.filters).then(response => {
                    this.loadData(response);
                });
            },
            loadData: function (response) {
                this.cities = response.data.cities;
                this.statuses = response.data.statuses;
                this.subagents = response.data.subagents;
                this.insurances = response.data.insurances;
                this.url_params = response.data.url_params;

                this.statistics = response.data.statistics;
                this.user = this.statistics.user;
            },
            sortBy: function(sortKey) {
                this.reverse = (this.sortKey === sortKey) ? ! this.reverse : false;

                this.sortKey = sortKey;
            },
            getResults(page = 1) {
                axios.post(this.apiUrl + '?page=' + page).then(response => {
                    this.loadData(response);
                });
            },
            setView: function (view) {
                this.activeView = view;
            },
        },
        mounted: function () {

            this.apiUrl = document.querySelector('.vue-component').getAttribute('data-url');
            Vue.http.headers.common['X-CSRF-TOKEN'] = document.querySelector('[name="csrf-token"]').getAttribute('content');

            axios.post(this.apiUrl, this.filters).then(response => {
                this.loadData(response);
            });
        }
    }
</script>
