<template>
    <div>
        <div class="home-container agents-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="c-content c-content__flex myagents-title">
                        <h3 class="c-content__h3 myagents-h3">Мои агенты</h3><a href="/agents/create" class="c-btn c-btn__pink add-sub">новый
                        субагент</a>
                    </div>
                    <div class="statistics-table__filter payments-table_filter">
                        <h4 class="c-card__statistics--thead js-hideshow">Фильтр<i class="fas fa-caret-up arrow-insurance"></i></h4>
                        <div class="c-card__statistics--tbody bgc-b">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="c-field">
                                            <label class="c-field__label">Нселенный пункт</label>
                                            <div class="c-select">
                                                <sui-dropdown
                                                        class="c-select__input"
                                                        placeholder="Все"
                                                        v-model="filter.city"
                                                        selection
                                                        search
                                                        :options="cities"
                                                ></sui-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-mw">
                                        <label class="c-field__label">Период</label>
                                        <div class="c-select">
                                            <flat-pickr
                                                    placeholder="В-те дату"
                                                    class="c-input c-select__input datepickerVue" data-max-date="today"
                                                    :config="configPicker" v-model="filter.from"
                                            ></flat-pickr>
                                        </div>
                                    </div>
                                    <div class="line-none"> -</div>
                                    <div class="col col-mw">
                                        <label class="c-field__label--n">Период</label>
                                        <div class="c-select">
                                            <flat-pickr
                                                    placeholder="В-те дату"
                                                    class="c-input c-select__input datepickerVue" data-max-date="today"
                                                    :config="configPicker" v-model="filter.to"
                                            ></flat-pickr>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="c-field">
                                            <label class="c-field__label">Ставка КВ</label>
                                            <div class="c-select">
                                                <sui-dropdown
                                                        class="c-select__input"
                                                        placeholder="10%"
                                                        v-model="filter.formRate"
                                                        selection
                                                        search
                                                        :options="rates"
                                                ></sui-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="line-none"> -</div>
                                    <div class="col">
                                        <div class="c-field">
                                            <label class="c-field__label opacity-0">Нселенный пункт</label>
                                            <div class="c-select">
                                                <sui-dropdown
                                                        class="c-select__input"
                                                        placeholder="13%"
                                                        v-model="filter.toRate"
                                                        selection
                                                        search
                                                        :options="rates"
                                                ></sui-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <a class="c-btn c-btn__pink u-mt-custom btn-export__exel" @click="filtered()">
                                            <i class="fas fa-check"></i>Применить</a>
                                    </div>
                                    <div class="col">
                                        <div class="c-field">
                                            <label class="c-field__label opacity-0">Нселенный пункт</label>
                                            <a class="c-btn c-btn--secondary" @click="resetFilter()">Сбросить фильтр</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-scroll__table">
                        <div class="statistics-table__statistics payments-table_your">
                            <div class="c-card__statistics--thead js-hideshow">

                                <div class="row align-items-center">
                                    <div class="col col-number">№</div>
                                    <div class="col-2">Ф.И.О субагента</div>
                                    <div class="col col-number">КВ</div>
                                    <div class="col col-243">Населенный пункт</div>
                                    <div class="col-1 col-135">Дата рег-и</div>
                                    <div class="col col-243">Телефон</div>
                                    <div class="col col-243">E-mail</div>
                                    <div class="col-1">Статус</div>
                                    <div class="col">Комментарий</div>
                                </div>
                                <i class="fas fa-caret-up arrow-insurance"></i>
                            </div>
                            <div class="c-card__statistics--tbody" >
                                <div class="container">
                                    <div class="wrap-row" v-for="(agent, key) in agents">
                                        <div class="row c-card__statistics__row statistic-other__row"
                                             >
                                            <div class="col col-number a-all__text--weight">{{ key+1 }}</div>
                                            <div class="col col-2 a-all__text--weight   ">({{ agent.name }} {{ agent.last_name }})</div>
                                            <div class="col col-number"><span class="c-pink a-all__text--weight">{{ agent.balance }}</span>
                                            </div>
                                            <div class="col col-243"><span class="c-grey">{{ agent.city ? agent.city.name : '' }}</span>
                                            </div>
                                            <div class="col-1"><span class="c-grey">{{ agent.created_at }}</span></div>
                                            <div class="col col-243"><span>{{ agent.phone }}</span></div>
                                            <div class="col col-243"><span class="c-grey">{{ agent.email }}</span></div>
                                            <div class="col-1"><span
                                                    class="money-up">{{ statusName(agent.status) }}</span></div>
                                            <div class="col">
                                                <form class="agents-form">
                                                    <input class="agents-input" type="text" :value="agent.comment"
                                                           readonly>
                                                    <a class="edit" :href="'agents/'+agent.id+'/edit'"><i
                                                            class="fas fa-edit"></i></a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <a :href="url_params" class="c-btn c-btn--success btn-export__exel"
                       v-if="agents.length > 0"><i class="far fa-file-excel"></i>Экспорт в excel</a>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import rus from 'flatpickr/dist/l10n/ru';
    import moment from 'moment';
    import axios from 'axios';

    Vue.config.devtools = true;
    Vue.config.debug = true;


    export default {
        components: {
            flatPickr
        },
        data: function () {
            return {
                configPicker: {
                    altFormat: "d-m-Y",
                    altInput: true
                },
                filter: {
                    city: null,
                    from: null,
                    to: null,
                    formRate: null,
                    toRate: null,
                },
                agents: [],
                cities: [],
                rates: [],
                statusesNames: null,
                url_params: '',
            };
        },
        filters: {
            formatDate(value) {
                if (value) {
                    return moment(String(value)).format('DD-MM-YYYY');
                }
            },
            formatTime(value) {
                if (value) {
                    return moment(String(value)).format('hh:mm:ss');
                }
            },
            dateMask() {
                new Inputmask("99-99-9999");
            },
        },
        methods: {
            submit() {
                this.filtered();
            },
            setFilters() {
                this.filters.insurance = document.querySelector('.policy-insurances').value;
                this.filters.statuses = document.querySelector('.policy-statuses').value;
                this.filters.agents = document.querySelector('.policy-subagents').value;
                this.filters.from = document.querySelector('[name="from"]').value;
                this.filters.to = document.querySelector('[name="to"]').value;
            },
            filtered() {
                this.apiUrl = document.querySelector('.vue-component').getAttribute('data-url');
                Vue.http.headers.common['X-CSRF-TOKEN'] = document.querySelector('[name="csrf-token"]').getAttribute('content');

                axios.post(this.apiUrl, this.filter).then(response => {
                    this.loadData(response);
                });
            },
            sortable() {
                this.setFilters();
            },
            resetFilter() {
                this.filter = {};

                axios.post(this.apiUrl, this.filters).then(response => {
                    this.loadData(response);
                });
            },
            loadData: function (response) {
                this.cities = response.data.cities;
                this.agents = response.data.agents;
                this.rates = response.data.rates;

                this.statusesNames = response.data.statusesNames;
                this.url_params = response.data.url_params;
            },
            sortBy: function (sortKey) {
                this.reverse = (this.sortKey === sortKey) ? !this.reverse : false;

                this.sortKey = sortKey;
            },
            statusName(status) {
                return this.statusesNames[status];
            },
            getResults(page = 1) {
                axios.post(this.apiUrl + '?page=' + page).then(response => {
                    this.loadData(response);
                });
            }
        },
        mounted: function () {
            this.apiUrl = document.querySelector('.vue-component').getAttribute('data-url');
            Vue.http.headers.common['X-CSRF-TOKEN'] = document.querySelector('[name="csrf-token"]').getAttribute('content');

            axios.post(this.apiUrl, this.filter).then(response => {
                this.loadData(response);
            });
        }
    }
</script>
