<template>
    <div>
        <div class="admins-create">
            <div class="a-table__wrap">
                <div class="a-table__wrap--scroll">
                    <div class="a-table a-table__filter">
                        <div class="a-table__header table-header__js">
                        <span class="a-table__title--header">
                            Редавктирование администратора
                        </span>
                        </div>
                        <div class="a-table__body a-table__body--filter table-body__js">
                            <div class="a-table__wrap--container wrap-container__1">
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Email
                                    </div>
                                    <input
                                        v-model="filter.email = user.email"
                                        placeholder="kulbij@gmail.com"
                                        class="a-input w-495"
                                        type="email"
                                    >
                                    <span v-if="!success && allerros.email" :class="['label label-danger']">{{ allerros.email[0] }}</span>
                                </div>
                                <!--<div class="a-table__field">
                                    <div class="a-field__label">
                                        Пароль
                                    </div>
                                    <input
                                        v-model="filter.password"
                                        placeholder="Пароль"
                                        class="a-input w-495"
                                        type="password"
                                    >
                                    <span v-if="allerros.password" :class="['label label-danger']">{{ allerros.password[0] }}</span>
                                </div>-->

                            </div>
                            <div class="a-table__wrap--container wrap-container__2">
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Имя
                                    </div>
                                    <input
                                        v-model="filter.name = user.name"
                                        placeholder="Имя"
                                        class="a-input w-369"
                                        type="text"
                                    >
                                    <span v-if="allerros.name" :class="['label label-danger']">{{ allerros.name[0] }}</span>
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Фамилия
                                    </div>
                                    <input
                                        v-model="filter.last_name = user.last_name"
                                        placeholder="Фамилия"
                                        class="a-input w-369"
                                        type="text"
                                    >
                                    <span v-if="allerros.last_name" :class="['label label-danger']">{{ allerros.last_name[0] }}</span>
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Телефон
                                    </div>
                                    <input
                                        v-model="filter.phone = user.phone"
                                        placeholder="Телефон"
                                        class="a-input w-369"
                                        type="text"
                                    >
                                    <span v-if="allerros.phone" :class="['label label-danger']">{{ allerros.phone[0] }}</span>
                                </div>
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Город
                                    </div>
                                    <sui-dropdown
                                        class="a-select__input w-369"
                                        placeholder="Выберите город"
                                        selection
                                        search
                                        :options="cities"
                                        v-model="filter.city_id = user.city_id"
                                    ></sui-dropdown>
                                    <span v-if="allerros.city_id" :class="['label label-danger']">{{ allerros.city_id[0] }}</span>
                                </div>
                            </div>
                            <div class="a-table__wrap--container wrap-container__3">
                                <div class="a-table__field">
                                    <div class="a-field__label">
                                        Роль
                                    </div>
                                   <div class="w-369">
                                       <multiselect
                                        :value="selectedRoles"
                                        @input="updateValueRoles"

                                        :multiple="true"
                                        :taggable="true"
                                        placeholder="Выберите роль"
                                        label="name"
                                        track-by="name"
                                        :clear-on-select="false"
                                        :options="roles"
                                        :close-on-select="false"
                                        tag-placeholder=""
                                        :searchable="false"
                                       >
                                           <template
                                                slot="option"
                                                slot-scope="props"
                                            >
                                                <span
                                                    class="a-choice a-choice--checkbox"
                                                >
                                                    <input
                                                        class="input-tag a-choice__input"
                                                        :id="'city-'+props.option.code"
                                                        type="checkbox"

                                                        :checked="checkAdminRoles(props.option.code)"
                                                    >
                                                    <label
                                                        class="opt a-choice__label"
                                                        :for="'city-'+props.option.code"
                                                    >{{ props.option.name }}</label>
                                                </span>

                                            </template>
                                       </multiselect>
                                       <span v-if="allerros.roles" :class="['label label-danger']">{{ allerros.roles[0] }}</span>
                                   </div>
                                </div>
                                <div class="a-table__field">
                                    <a
                                            class="a-btn a-btn__pink" style="background-color: silver;"
                                            v-on:click="onChangePass()"
                                    ><i class="fas fa-check"></i>Изменить пароль</a>
                                    <a
                                        class="a-btn a-btn__pink"
                                        v-on:click="onUpdate()"
                                    ><i class="fas fa-check"></i>Сохранить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import Vue from 'vue';
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import Multiselect from 'vue-multiselect';

    export default {
        components: {
            flatPickr,
            Multiselect,

        },
        props: {
            changePassUrl: {
                type: String,
                default: ''
            }
        },
        data: function () {
            return {
                user: {},
                cities: [],
                allerros: {},
                success: true,
                roles: [],
                selectedRoles: [],

                configPicker: {
                    allowInput: true,
                    dateFormat: "d-m-Y"
                },
                value: [],
                optionsCity: [
                    {
                        name: 'Астрахань',
                        code: 3 ,
                    },
                    {
                        name: 'Москва',
                        code: 4,
                    },

                ],
                filter: {
                    email: null,
                    password: null,
                    name: null,
                    last_name: null,
                    phone: null,
                    city_id: null,
                    roles: [],
                },
            }
        },
        methods: {
            updateValueRoles: function(value) {
                this.selectedRoles = value;
            },
            checkAdminRoles: function(role) {
                for (var index = 0; index <= (this.selectedRoles.length - 1); index++) {
                    if (this.selectedRoles[index]['code'] == role) {
                        return 'checked';
                    }
                }

                return '';
            },
            loadData() {
                Vue.http.headers.common['X-CSRF-TOKEN'] = document.querySelector('[name="csrf-token"]').getAttribute('content');

                var getDataUrl = document.querySelector('#admins-edit-route').getAttribute('data-admins-edit-route');

                axios.post(getDataUrl, this.filter).then(response => {
                    this.user = response.data.user;
                    this.cities = response.data.cities;

                    this.roles = response.data.roles;
                    this.selectedRoles = response.data.selectedRoles;

                    this.updateUrl = response.data.updateUrl;
                });
            },
            onChangePass: function() {
                axios.post(this.changePassUrl).then(response => {
                    alert('Пароль успешно изменен и выслан на указанную почту.');
                    this.allerros = {};
                }).catch((error) => {
                    this.allerros = error.response.data.errors;
                    this.success = false;
                });
            },
            onUpdate: function() {
                axios.post(this.updateUrl, this.filter).then(response => {
                    this.user = response.data.user;
                    this.allerros = {};
                }).catch((error) => {
                    this.allerros = error.response.data.errors;
                    this.success = false;
                });
            },
            addTag (newTag) {
                console.log(newTag);
                const tag = {
                    name: newTag,
                    code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                };
                // this.options.push(tag)
                this.value.push(tag)
            }
        },
        mounted: function () {
            this.$watch('selectedRoles', function () {
                this.filter.roles = this.selectedRoles;
            });
        },
        created: function () {
            this.loadData();
        }
    }
</script>

