<template>
    <div>
        <div class="admins">
            <div class="a-content__title">
                <span>Администраторы</span>
                <a href="/admin/admins/create" class="a-btn a-btn__pink a-btn__add--bets">Создать нового администратора</a>
            </div>
            <div class="a-table__wrap">
                <div class="a-table__wrap--scroll">
                    <div class="a-table a-table__all">
                        <div class="a-table__header">
                            <div class="table-col table-col__1">Id</div>
                            <div class="table-col">Email</div>
                            <div class="table-col">Город</div>
                            <div class="table-col">Имя</div>
                            <div class="table-col">Фамилия</div>
                            <div class="table-col">Телефон</div>
                            <div class="table-col">Роль</div>
                            <div class="table-col">Зарегистрирован</div>
                            <div class="table-col"></div>
                        </div>
                        <div class="a-table__body">
                            <div
                                class="a-table__row a-table__row--flex"
                                v-for="admin, key in admins.data"
                            >
                                <div class="table-col table-col__1">
                                    <span class="a-table__text--weight">{{  key + 1 }}</span>
                                </div>
                                <div class="table-col">
                                    <span>{{ admin.email }}</span>
                                </div>
                                <div class="table-col">
                                    <span class="a-all__text--darknes">{{  admin.city_name }}</span>
                                </div>
                                <div class="table-col">
                                    <span class="a-all__text--darknes">{{ admin.name }}</span>
                                </div>
                                <div class="table-col">
                                    <span class="a-all__text--darknes">{{ admin.last_name }}</span>
                                </div>

                                <div class="table-col">
                                    <span class="a-all__text--darknes">
                                        {{ admin.phone }}
                                    </span>
                                </div>
                                <div class="table-col">
                                    <span class="a-all__text--weight">
                                        {{ admin.role }}
                                    </span>
                                </div>
                                <div class="table-col">
                                    <span class="a-table__text--grey">{{ admin.created_at }}</span>
                                </div>
                                <div class="table-col">
                                    <sui-dropdown
                                        class="a-select__input w-170 a-select__do"
                                        placeholder="Действия"
                                        selection
                                        :options="actions"
                                        v-model="filter.actions[admin.id]"
                                    >
                                        <sui-dropdown-menu>
                                            <sui-dropdown-item>
                                                <a :href="'/admin/admins/edit/'+admin.id">Редактировать</a>
                                            </sui-dropdown-item>
                                        </sui-dropdown-menu>
                                    </sui-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <pagination
                    :data="admins"
                    :show-disabled="true" :limit="10"
                    @pagination-change-page="getResults"
                >
                    <span slot="prev-nav">&lt; Previous</span>
                    <span slot="next-nav">Next &gt;</span>
                </pagination>
            </div>
        </div>
    </div>
</template>

<script>
    
    import Vue from 'vue';
    import pagination from 'laravel-vue-pagination';

    export default {
        name: "administrators",
        components: {
            pagination,
        },
        data: function () {
            return {
                admins: {},
                actions: [
                    {
                        key: 1,
                        text: 'Редактировать',
                        value: '1'
                    },
                ],
                admins1: [
                    {
                        id: 1,
                        email: 'kulbij@gmail.com',
                        city: 'Абаза',
                        name: 'ярослав ясв вфыв',
                        lastName: 'Смит',
                        number: '38097833231',
                        role: 'superadministrator',
                        dateRegister: '2018-11-07 21:00',
                    },
                    {
                        id: 2,
                        email: 'kulbij@gmail.com',
                        city: 'Абаза',
                        name: 'ярослав ясв вфыв',
                        lastName: 'Смит',
                        number: '38097833231',
                        role: 'superadministrator',
                        dateRegister: '2018-11-07 21:00',
                    },
                    {
                        id: 3,
                        email: 'kulbij@gmail.com',
                        city: 'Абаза',
                        name: 'ярослав ясв вфыв',
                        lastName: 'Смит',
                        number: '38097833231',
                        role: 'superadministrator',
                        dateRegister: '2018-11-07 21:00',
                    },
                    {
                        id: 4,
                        email: 'kulbij@gmail.com',
                        city: 'Абаза',
                        name: 'ярослав ясв вфыв',
                        lastName: 'Смит',
                        number: '38097833231',
                        role: 'superadministrator',
                        dateRegister: '2018-11-07 21:00',
                    }
                ],
                filter: {
                    nameLastName: null,
                    city: null,
                    actions: null,
                    News: null,
                    textNews: null,
                    actions: [],
                },
            }
        },
        methods: {
            getPaymentMethod: function(method) {
                for (var index = 0; index <= (this.paymentMethods.length - 1); index ++) {
                    if (this.paymentMethods[index]['code'] == method) {
                        return this.paymentMethods[index]['name'];
                    }
                }

                return '';
            },
            getWithdrawStatus: function(statuse) {
                for (var index = 0; index <= (this.statuses.length - 1); index ++) {
                    if (this.statuses[index]['code'] == statuse) {
                        return this.statuses[index]['name'];
                    }
                }

                return '';
            },
            loadData(page = 1) {
                Vue.http.headers.common['X-CSRF-TOKEN'] = document.querySelector('[name="csrf-token"]').getAttribute('content');

                var getDataUrl = document.querySelector('#admins-load-route').getAttribute('data-admins-route');

                axios.post(getDataUrl + '?page=' + page, this.filter).then(response => {
                    this.admins = response.data.admins;
                });
            },
            getResults: function (page = 1) {
                this.loadData(page);
            },
        },
        created: function () {
            this.loadData();
        }
    }
</script>