<template>
    <div>
        <div class="news-create">
            <div class="a-content__title">
                <span>Создать новость</span>
            </div>
            <div class="a-table__wrap--scroll">
                <div class="a-table a-table__filter">
                <div class="a-table__header">
                   <span class="a-table__title--header">
                    Создать Новость
                </span>
                </div>
                <div class="a-table__body a-table__body--filter">
                    <div class="a-table__wrap--container">
                        <div class="a-table__field">
                            <div class="a-field__label">
                                Заголовок
                            </div>
                            <input v-model="filter.newsTitle" placeholder="Заголовок новости" class="a-input w-605"
                                   type="text">
                        </div>
                        <div class="a-table__field">
                            <div class="a-choice a-choice--checkbox a-tab__checkbox">
                                <input v-model="filter.newsVisible" type="checkbox" id="create-agent__important" name="create-agent__important"
                                       class="a-choice__input">
                                <label for="create-agent__important" class="a-choice__label">Видимый</label>
                            </div>
                        </div>
                        <div class="a-table__field">
                            <div class="a-field__label">
                                От
                            </div>
                            <div class="wrap-flatpickr">
                                <flat-pickr
                                        class="a-input a-select__date w-170 datepickerVue"
                                        data-max-date="today"
                                        :config="configPicker"
                                        v-model="filter.periodStart"
                                        placeholder="От"
                                ></flat-pickr>
                                <i class="fas flat-down fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="a-table__field">
                            <div class="a-field__label">
                                До
                            </div>
                            <div class="wrap-flatpickr">
                                <flat-pickr
                                        class="a-input a-select__date w-170 a-select__date--last datepickerVue"
                                        data-max-date="today"
                                        :config="configPicker"
                                        v-model="filter.periodEnd"
                                        placeholder="До"
                                ></flat-pickr>
                                <i class="fas flat-down fa-caret-down"></i>
                            </div>
                        </div>
                    </div>
                    <div class="a-table__wrap--container">
                        <div class="a-table__field a-table__field--area">
                            <div class="a-field__label">
                                Текст новости
                            </div>
                            <textarea v-model="filter.newsText" placeholder="Введите текст" class="a-input a-texarea" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="a-table__wrap--container">
                        <div class="a-table__field">
                            <a class="a-btn a-btn__pink"><i class="fas fa-check"></i>Создать</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>

    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';

    export default {
        components: {
            flatPickr,
        },
        name: "news-create",
        data: function () {
            return {
                configPicker: {
                    allowInput: true,
                    dateFormat: "d-m-Y",

                },
                filter: {
                    newsTitle: null,
                    newsText: null,
                    newsVisible: null,
                    periodStart: null,
                    periodEnd: null,
                },
            }
        }
    }
</script>

