<template>
    <div>
        <div class="news bets-create">
            <div class="a-content__title">
                <span>Новости</span>
                <a href="/html/news/news-create" class="a-btn a-btn__pink a-btn__add--bets">Создать новость</a>
            </div>
            <div class="a-table__wrap">
                <div class="a-table__wrap--scroll">
                    <div class="a-table a-table__all">
                        <div class="a-table__header">
                            <div class="table-col table-col__1">Id</div>
                            <div class="table-col table-col__2">Заголовок</div>
                            <div class="table-col">Текст</div>
                            <div class="table-col">Видимость</div>
                            <div class="table-col table-col__8"></div>
                        </div>
                        <div class="a-table__body">
                            <div class="a-table__row a-table__row--flex" v-for="newsTable in News">
                                <div class="table-col table-col__1">
                                    <span class="a-table__text--weight">{{ newsTable.id}}</span>
                                </div>
                                <div class="table-col table-col__2">
                                    <span class="">{{ newsTable.title}}</span>
                                </div>
                                <div class="table-col">
                                    <span class="read-news" v-tooltip="{ html: 'tooltipContent' }">Читать <i
                                            class="fas fa-caret-down"></i></span>
                                </div>
                                <div class="table-col">
                                    <span class="a-all__text--green" v-if="newsTable.visibility"><i
                                            class="fas fa-check"></i> Да</span>
                                    <span class="a-all__text--pink" v-else>
                                        <svg class="close-svg" viewPort="0 0 12 12" version="1.1"
                                             xmlns="http://www.w3.org/2000/svg">
                                        <line x1="1" y1="11"
                                              x2="11" y2="1"
                                              stroke="#f16192"
                                              stroke-width="2"/>
                                        <line x1="1" y1="1"
                                              x2="11" y2="11"
                                              stroke="#f16192"
                                              stroke-width="2"/>
                                    </svg> Нет</span>
                                </div>
                                <div class="table-col table-col__8">
                                    <sui-dropdown
                                            class="a-select__input w-170 a-select__do"
                                            placeholder="Действия"
                                            selection
                                            :options="actions"
                                            v-model="filter.actions"
                                    ></sui-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tooltipContent" class="tooltipContent tooltipContent-news">
                <p class="toltip-text">
                    {{textNews.text}}
                </p>
            </div>
        </div>

    </div>
</template>

<script>


    export default {
        data: function () {
            return {
                actions: [
                    {
                        key: 1,
                        text: 'Редактировать',
                        value: '1'
                    },
                ],
                News: [
                    {
                        id: 1,
                        title: 'Главная навость',
                        visibility: true,
                    },
                    {
                        id: 2,
                        title: 'Не самая важная навость',
                        visibility: false,
                    },
                    {
                        id: 3,
                        title: 'Не самая важная навость',
                        visibility: true,
                    },
                    {
                        id: 4,
                        title: 'Не самая важная навость',
                        visibility: false,
                    }
                ],
                textNews: {
                    text: 'Текст новости. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do\n' +
                    '                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud\n' +
                    '                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in\n' +
                    '                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'
                },
                filter: {
                    nameLastName: null,
                    city: null,
                    actions: null,
                    News: null,
                    textNews: null,
                },
            }
        },
    }
</script>