<template>
    <div>
        <div class="row"></div>
        <div class="row">
            <div class="col-md-4">Фамилия:</div>
            <input v-bind:class="{ 'error-input': haveError(dataKey+'.last_name') }" name="full_name" type="text" v-model="data.last_name" class="relac-input">
        </div>
        <div class="row">
            <div class="col-md-4">Имя:</div>
            <input v-bind:class="{ 'error-input': haveError(dataKey+'.first_name') }" name="full_name" type="text" v-model="data.first_name" class="relac-input">
        </div>
        <div class="row">
            <div class="col-md-4">Отчество:</div>
            <input v-bind:class="{ 'error-input': haveError(dataKey+'.middle_name') }" name="full_name" type="text" v-model="data.middle_name" class="relac-input">
        </div>
        <div class="row">
            <div class="col-md-4">Дата рождения:</div>
            <masked-input class="relac-input c-input" v-bind:class="{ 'error-input': haveError(dataKey+'.dob') }" v-model="data.dob" mask="11-11-1111" type="text" />
        </div>
        <div class="row">
            <div class="col-md-4">Серия паспорта:</div>
            <input v-bind:class="{ 'error-input': haveError(dataKey+'.personal_document_serial') }" name="full_name" type="text" v-model="data.personal_document_serial" class="relac-input">
        </div>
        <div class="row">
            <div class="col-md-4">Номер паспорта:</div>
            <input v-bind:class="{ 'error-input': haveError(dataKey+'.personal_document_number') }" name="full_name" type="text" v-model="data.personal_document_number" class="relac-input">
        </div>
        <div class="row">
            <div class="col-md-4">Дата выдачи паспорта:</div>
            <masked-input class="relac-input c-input" v-bind:class="{ 'error-input': haveError(dataKey+'.personal_document_date') }" v-model="data.personal_document_date" mask="11-11-1111" type="text" />
        </div>
        <div class="row">
            <div class="col-md-4">Кем выдан:</div>
            <div class="col-md-8">
                <input v-bind:class="{ 'error-input': haveError(dataKey+'.personal_document_issued_by') }" name="full_name" type="text" v-model="data.personal_document_issued_by" class="relac-input">
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">Место рождения:</div>
            <input v-bind:class="{ 'error-input': haveError(dataKey+'.place_of_birth') }" name="full_name" type="text" v-model="data.place_of_birth" class="relac-input">
        </div>
        <div class="row">
            <div class="col-md-4">Адрес:</div>
            <div class="col-md-8" style="padding-left: 0;">
                <VueSuggestions
                        :model="addresses"
                        :placeholder="'Начните вводить'"
                        v-bind:class="{ 'error-input': haveError(dataKey+'.address') || haveError(dataKey+'.street') }"
                        class="relac-input relac-input-max"
                        :options="suggestionOptions"
                >
                </VueSuggestions>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Дом:</div>
            <input name="full_name" type="text" v-bind:class="{ 'error-input': haveError(dataKey+'.house') }" v-model="data.house" class="relac-input">
        </div>
        <div class="row">
            <div class="col-md-4">Корпус:</div>
            <input name="full_name" type="text" v-bind:class="{ 'error-input': haveError(dataKey+'.address2') }" v-model="data.address2" class="relac-input">
        </div>
        <div class="row">
            <div class="col-md-4">Квартира:</div>
            <input name="full_name" type="text" v-bind:class="{ 'error-input': haveError(dataKey+'.address3') }" v-model="data.address3" class="relac-input">
        </div>
        <!--<div class="row" v-if="dataKey === 'insurer'">-->
            <!--<div class="col-md-4">Телефон:</div>-->
            <!--<input name="full_name" type="text" v-bind:class="{ 'error-input': haveError(dataKey+'.phone') }" v-model="phone" class="relac-input">-->
        <!--</div>-->
        <!--<div class="row" v-if="dataKey === 'insurer'">-->
            <!--<div class="col-md-4">E-Mail:</div>-->
            <!--<input placeholder="mail@gmail.com" name="full_name" type="text" v-bind:class="{ 'error-input': haveError(dataKey+'.email') }" v-model="email" class="relac-input">-->
        <!--</div>-->
        <div class="row"></div>
    </div>
</template>

<script>
    import VueSuggestions from 'vue-suggestions';
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import rus from 'flatpickr/dist/l10n/ru';
    import MaskedInput from 'vue-masked-input' ;

    export default {
        components: {
            VueSuggestions,
            flatPickr,
            MaskedInput,
        },
        data: function () {
            let vm = this;
            return {
                configPicker: {
                    allowInput: true,
                    dateFormat: "d-m-Y",
                    locale: rus
                },
                addresses: vm.data.address !== null ? vm.data.address.value : '',
                suggestionOptions: {
                    token: '20131cc64a9d46aa2ea1d9437478bfcb1c1c66dc',
                    type: "ADDRESS",
                    scrollOnFocus: false,
                    triggerSelectOnBlur: false,
                    triggerSelectOnEnter: false,
                    addon: 'none',
                    onSelect (suggestion) {
                        vm.data.address = suggestion;
                        vm.addresses = suggestion.value;
                        vm.data.postal_code = suggestion.data.postal_code ? suggestion.data.postal_code : null;
                        vm.data.house = suggestion.data.house ? suggestion.data.house : null;
                        vm.data.address3 = suggestion.data.flat ? suggestion.data.flat : null;
                    }
                },
            }
        },
        props: ['data','errors','dataKey'],
        methods:{
            haveError: function (el) {
                return _.first(this.errors[el]);
            },
        }
    }
</script>
