<template>
    <div>
        <div class="home-container recalc-body">
            <div class="row u-mb-medium " style="margin-bottom: 0 !important;">
                <div class="col-md">
                    <h4 class="checkData">Проверьте правильность введенных данных</h4>
                    <div v-if="Object.keys(errors).length" class="c-alert c-alert--danger u-mb-small">
                            <span class="c-alert__icon">
                              <i class="feather icon-slash"></i>
                            </span>

                        <div class="c-alert__content">
                            <h4 class="c-alert__title">Ошибка!</h4>
                            <p>Исправьте ошибки в форме и повторите попытку</p>
                        </div>
                    </div>
                    <div class="row block_text_info">
                        <div class="col-12">
                            <div class="c-card c-card__info" v-for="(person,key) in persons">
                                <h3 class="c-card__info--head">{{ person.label }}</h3>
                                <person :errors="errors"
                                        :data="formData[person.keyForm]"
                                        :dataKey="key === 1 ? 'insurer' : 'owner'"
                                />
                            </div>
                            <div class="c-card c-card__info"><h3 class="c-card__info--head">Информация о ТС </h3>
                                <div class="row"></div>
                                <div class="row">
                                    <div class="col-md-4">Номер карты:</div>
                                    <input v-bind:class="{ 'error-input': haveError('diagnostic_number') }"
                                           name="full_name" type="text" v-model="formData.diagnostic_number"
                                           class="relac-input">
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Срок действия до:</div>
                                    <masked-input class="relac-input c-input"
                                                  v-bind:class="{ 'error-input': haveError('diagnostic_until_date') }"
                                                  v-model="formData.diagnostic_until_date" mask="11-11-1111"
                                                  type="text"/>

                                </div>
                                <div class="row">
                                    <div class="col-md-4">Водители:</div>
                                    <div class="wrap-check">
                                        <input id="specified" value="specified" name="driver_count"
                                               class="radio-check__type" type="radio" v-model="formData.driver_count">
                                        <label for="specified" class="radio-check__label mb0">1 и более</label>
                                    </div>

                                    <div class="wrap-check">
                                        <input id="unlimited" value="unlimited" name="driver_count"
                                               class="radio-check__type" type="radio" v-model="formData.driver_count">
                                        <label for="unlimited" class="radio-check__label mb0">Неограниченное
                                            количество</label>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-4">Марка:</div>

                                    <sui-dropdown
                                            class="relac-input"
                                            placeholder="Выберите марку"
                                            selection
                                            search
                                            v-bind:class="{ 'error-input': haveError('make_id') }"
                                            :options="makes"
                                            v-model="formData.make_id"
                                    ></sui-dropdown>

                                </div>
                                <div class="row">
                                    <div class="col-md-4">Модель:</div>
                                    <sui-dropdown
                                            class="relac-input"
                                            placeholder="Выберите модель"
                                            selection
                                            search
                                            v-bind:class="{ 'error-input': haveError('model_id') }"
                                            :options="models"
                                            v-model="formData.model_id"
                                    ></sui-dropdown>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Мощность, л.с:</div>
                                    <input name="full_name" type="text"
                                           v-bind:class="{ 'error-input': haveError('power') }" v-model="formData.power"
                                           class="relac-input">
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Дата выдачи документа:</div>
                                    <masked-input class="c-input relac-input"
                                                  v-bind:class="{ 'error-input': haveError('vehicle_document_date') }"
                                                  v-model="formData.vehicle_document_date" mask="11-11-1111"
                                                  type="text"/>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Документ на автомобиль номер:</div>
                                    <input name="full_name" type="text"
                                           v-bind:class="{ 'error-input': haveError('vehicle_document_number') }"
                                           v-model="formData.vehicle_document_number" class="relac-input">
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Документ на автомобиль серия:</div>
                                    <input name="full_name" type="text"
                                           v-bind:class="{ 'error-input': haveError('vehicle_document_serial') }"
                                           v-model="formData.vehicle_document_serial" class="relac-input">
                                </div>
                                <div class="row"></div>
                            </div>

                            <div class="c-card c-card__info"><h3 class="c-card__info--head">
                                <span v-if="formData.vehicle_document_type === 'sts' ">СТС</span>
                                <span v-else>ПТС</span>
                            </h3>
                                <div class="row"></div>
                                <div class="row">
                                    <div class="col-md-4">Тип идентификаторп ТС:</div>
                                    <div v-for="type in vehicleIdTypes">
                                        <input
                                                :id="'vehicle_id_type_' + type.value"
                                                class="radio-check__type"
                                                :value="type.value"
                                                name="vehicle_id_type"
                                                type="radio"
                                                v-model="formData.vehicle_id_type">
                                        <label :for="'vehicle_id_type_' + type.value" class="radio-check__label">{{
                                            type.name }}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Идентификатор ТС:</div>
                                    <input name="full_name" type="text" v-model="formData.vehicle_id"
                                           v-bind:class="{ 'error-input': haveError('vehicle_id') }"
                                           class="relac-input">
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Гос. номер авто:</div>
                                    <input name="full_name" type="text" v-model="formData.vehicle_plate_number"
                                           v-bind:class="{ 'error-input': haveError('vehicle_plate_number') }"
                                           class="relac-input">
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Регион:</div>
                                    <input name="full_name" type="text" v-model="formData.vehicle_plate_region"
                                           v-bind:class="{ 'error-input': haveError('vehicle_plate_region') }"
                                           class="relac-input">
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Год выпуска:</div>
                                    <sui-dropdown
                                            class="relac-input"
                                            placeholder="Выберите год"
                                            v-bind:class="{ 'error-input': haveError('vehicle_registration_year') }"
                                            selection
                                            :options="registrationYears"
                                            v-model="formData.vehicle_registration_year"
                                    ></sui-dropdown>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Гос. номер отсутствует:</div>
                                    <div class="wrap-check">
                                        <input id="is_vehicle_plate_absent" class="checkbox" type="checkbox"
                                               v-model="formData.is_vehicle_plate_absent">
                                        <label for="is_vehicle_plate_absent" class="mb0">{{
                                            formData.is_vehicle_plate_absent ? 'Да' : 'Нет'}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Используется с прицепом:</div>
                                    <div class="wrap-check">
                                        <input id="is_vehicle_use_trailer" class="checkbox" type="checkbox"
                                               v-model="formData.is_vehicle_use_trailer">
                                        <label for="is_vehicle_use_trailer" class="mb0">{{
                                            formData.is_vehicle_use_trailer ? 'Да' : 'Нет'}}</label>
                                    </div>

                                </div>
                            </div>
                            <div v-if="formData.driver_count === 'specified'">
                                <div class="c-card c-card__info" v-for="(driver,key) in formData.drivers">
                                    <h3 class="c-card__info--head">Водитель №{{ key + 1 }} <a
                                            class="c-close recalc-driver--close" v-if="key !== 0"
                                            @click="removeDriver(key)"><i class="fas fa-times"></i></a></h3>
                                    <div class="row">
                                        <div class="col-md-4">Фамилия</div>
                                        <input v-bind:class="{ 'error-input': haveError('drivers.' + key + '.last_name') }"
                                               name="full_name" type="text" v-model="driver.last_name"
                                               class="relac-input ">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">Имя:</div>
                                        <input v-bind:class="{ 'error-input': haveError('drivers.' + key + '.first_name') }"
                                               name="first_name" type="text" v-model="driver.first_name"
                                               class="relac-input">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">Отчество:</div>
                                        <input v-bind:class="{ 'error-input': haveError('drivers.' + key + '.middle_name') }"
                                               name="middle_name" type="text" v-model="driver.middle_name"
                                               class="relac-input">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">Дата рождения:</div>
                                        <masked-input class="c-input relac-input"
                                                      v-bind:class="{ 'error-input': haveError('drivers.' + key + '.dob') }"
                                                      v-model="driver.dob" mask="11-11-1111" type="text"/>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">КБМ:</div>
                                        <span>{{ driver.kbm }}</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">Водительское удостоверение:</div>
                                        <div class="">

                                            <span>Серия:</span>
                                            <input type="text"
                                                   v-bind:class="{ 'error-input': haveError('drivers.' + key + '.document_serial') }"
                                                   v-model="driver.document_serial" class="relac-input adaptive-input">


                                            <span>номер:</span> <input
                                                v-bind:class="{ 'error-input': haveError('drivers.' + key + '.document_number') }"
                                                type="text" v-model="driver.document_number"
                                                class="relac-input adaptive-input">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">Стаж с:</div>
                                        <masked-input class="c-input relac-input"
                                                      v-bind:class="{ 'error-input': haveError('drivers.' + key + '.start_date') }"
                                                      v-model="driver.start_date" mask="11-11-1111" type="text"/>
                                    </div>
                                </div>
                                <a class="c-btn c-btn__pink mb-30 add-driver-btn" v-if="formData.drivers.length < 5"
                                   @click="addDriver()">Добавить водителя</a>
                            </div>
                        </div>
                    </div>


                    <div class="c-card c-card__info">
                        <h3 class="c-card__info--head">
                            <span>Сведения о полисе</span>
                        </h3>
                        <div class="row">
                            <div class="col-md-4">Дата начала полиса:</div>
                            <masked-input type="text" class="c-input relac-input" v-model="formData.policy_start_date"
                                          mask="11-11-1111"/>
                        </div>
                        <div class="row">
                            <div class="col-md-4">E-mail:</div>
                            <input type="text" class="c-input relac-input" v-model="formData.email"/>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Телефон:</div>
                            <input name="fdas" type="text" v-model="formData.phone" class="relac-input input-phone"/>
                        </div>
                    </div>

                </div>
                <calc-insurances :formData="formData" v-model="drivers"></calc-insurances>
            </div>
            <span class="c-btn c-btn--black" @click="updatePolicy()">Сохранить черновик</span>
            <span class="c-btn c-btn--success" v-if="showCalcButton" @click="calcPremium()">Рассчитать</span>
        </div>
    </div>
</template>

<script>
    import CalcInsurances from '../PolicyCreateForm/CalcInsurances.vue';
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import rus from 'flatpickr/dist/l10n/ru';
    import Person from './Person.vue';
    import MaskedInput from 'vue-masked-input' ;

    export default {
        components: {
            CalcInsurances,
            flatPickr,
            Person,
            MaskedInput,
        },
        data: () => {
            return {
                drivers: [],
                configPicker: {
                    allowInput: true,
                    dateFormat: "d-m-Y",
                    locale: rus
                },
                errors: [],
                persons: [],
                showCalcButton: true,
                isLoadData: false,
                formData: {},
                makes: [],
                models: [],
                registrationYears: [],
                vehicleIdTypes: [
                    {
                        name: 'VIN номер',
                        value: 'vin'
                    },
                    {
                        name: 'Номер кузова',
                        value: 'body_number'
                    },
                    {
                        name: 'Номер шасси',
                        value: 'chassis_number'
                    }
                ],
                suggestionOptions: {
                    token: '20131cc64a9d46aa2ea1d9437478bfcb1c1c66dc',
                    type: "ADDRESS",
                    scrollOnFocus: false,
                    triggerSelectOnBlur: false,
                    triggerSelectOnEnter: false,
                    addon: 'none',
                    onSelect(suggestion, event) {
                        console.log(event.target.value)
                    }
                },
            }
        },
        props: ['policyid', 'makeid', 'phone'],
        watch: {
            drivers: function (drivers) {
                for (var i in this.formData.drivers) {
                    for (var j in drivers) {
                        if (drivers[j].first_name == this.formData.drivers[i].first_name && drivers[j].last_name == this.formData.drivers[i].last_name && drivers[j].middle_name == this.formData.drivers[i].middle_name) {
                            this.formData.drivers[i].kbm = drivers[j].kbm;
                        }
                    }
                }
            }
        },
        created: function () {
            window.preloader();
            let vm = this;

            vm.registrationYears = vm.getYearsRange();

            this.$http.get('/api/car/makes?insurance=nasko').then(response => {
                vm.makes = response.data;
            });

            this.$http.get('/api/car/makes/' + vm.makeid + '/models?insurance=nasko').then(response => {
                vm.models = response.data;
            });

            let url = `/policies/reCalc/${this.policyid}/formData`;

            this.$http.get(url, {}).then(function (response) {

                vm.formData = response.data.formData;
                vm.formData.insurer = window.clone(vm.formData.insurer_and_owner_same === "0" ? vm.formData.insurer : vm.formData.owner);

                vm.persons.push({
                    label: 'Персональная информация о собственнике',
                    keyForm: 'owner',
                });
                vm.persons.push({
                    label: 'Персональная информация о страхователе',
                    keyForm: 'insurer',
                });

                vm.isLoadData = true;

                window.preloaderOff();
            });

            this.$watch('formData.make_id', this.refreshModels);

        },
        methods: {
            calcPremium: function () {
                let vm = this;
                window.preloader();

                this.$http.post('/api/policy/checkAllRules', this.formData).then(function (response) {
                    vm.errors = response.data.errors;

                    if (vm.errors.length < 1) {
                        vm.$emit('calcInsurances');
                        vm.showCalcButton = false;
                    }

                    $(window).scrollTop(0);
                    window.preloader();
                });
            },
            haveError: function (el) {
                return _.first(this.errors[el]);
            },
            refreshModels: function () {
                let vm = this;

                this.$http.get('/api/car/makes/' + this.formData.make_id + '/models?insurance=nasko').then(response => {
                    vm.models = response.data;
                });
            },
            getYearsRange: function () {

                let yearsRange = _.range(moment().format('YYYY'), 1920);

                return _.map(yearsRange, function (year) {
                    return {
                        text: year.toString(),
                        key: year.toString(),
                        value: year.toString()
                    };
                })
            },
            addDriver: function () {
                this.formData.drivers.push({});
            },
            removeDriver: function (index) {
                this.formData.drivers.splice(index, 1);
            },
            updatePolicy: function () {
                let vm = this;

                window.preloader();
                console.log(this.policyid);

                this.$http.post('/api/policy/createUpdatePolicy/' + this.policyid, this.formData).then(function (response) {

                    vm.errors = response.data.errors;

                    if (vm.errors.length < 1) {
                        window.location = response.data.link;
                    }

                    $(window).scrollTop(0);
                    window.preloader();
                });
            }
        }
    }
</script>

